// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    orange,
  secondary:  #4caf50,
  danger:     #f44336,
  light:      #f4f4f4,
  dark:       #222,
  clr-blue:#00bcd4,
  grey:#EEEEEE,
  clr-orange:#ff9800,
  green:green,
  light-orange:#ffc107,
  sky-blue:#00BCD4
);

$clr-white:#ffffff;
$clr-black:#191919;
$margn5:5px;
$fontSize10:10px;
$font0:0px;
$size:10%;


$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;
ion-label
{
  color:color($colors,dark) !important;
}
.red
{
  color: color($colors, danger) !important;
}
.green
{
  color: color($colors, green) !important;
}
.grey
{
  color: color($colors, grey) !important;
}
.dark
{
  color: color($colors, dark) !important;
}
.greyBg
{
  background:color($colors, grey) !important;
}
.sky-blue
{
  color: color($colors, sky-blue) !important;
}

.font-size12 p
{
  font-size:$fontSize10 + 2;
}
.clr-orange
{
  color: color($colors, clr-orange) !important;
}
.bg-grey
{
  background-color:color($colors, grey) !important;
}
.white-bg
{
  background-color: $clr-white !important;
}

ion-segment
{
  .segment-button
  {
    color: color($colors, primary) !important;
  }
  .segment-button.segment-activated
  {
    color: $clr-white !important;
    background-color: color($colors, dark) !important;
  }
}
.SitesScrollCon
{
  .scroll-item
  {
    background: transparent;
    border-radius: 3px;
    min-width: 120px;
    min-height: 60px;
    box-shadow: none;
    border: 1px solid #ffc107;
    padding:0;
  }
  .scroll-item.severity
  {
    min-width: 70px;
    min-height: 40px;
    p.siteName
    {
      width: 65px;
    }
  }
  p.siteName
  {
    width: 110px;
    padding-top: 10px !important;
    font-size: 10px !important;
  }
}
.CreateTicketPage
{
  button.button-md-primary, button.button-ios-primary
  {
    border: 1px solid color($colors, primary) !important;
    background: color($colors, light-orange) !important;
  }
  .form-group
  {
    .form-control
    {
      border: 1px solid color($colors, grey) !important;
      height: 40px;
      /* padding-left: 10px; */
      padding-left: 10px;
      background-image: none !important;
      border-radius:3px;
    }
    .form-control.commentsTxt
    {
      height: 70px;
    }
    label.control-label
    {
      padding-left: 10px;
    }

  }
  .form-group.is-focused
  {
    .form-control
    {
      border: 1px solid color($colors, light-orange) !important;
    }
  }
  .form-group.label-floating.is-focused label.control-label
  {
    padding-left: 0 !important;
  }

}


button.button-md-primary,button.button-ios-primary
{
  border: 1px solid color($colors, primary) !important;
  background: color($colors, primary) !important;
}
button.button-md-primary p.siteName
{
  color: $clr-white !important;
}
.InitFeedbackCon
{
  background: $clr-white;
}
.bg-white
{

  .scroll-content
  {
    background: $clr-white !important;

    ion-label
    {
      color: $clr-black !important;
    }


  }

}

.bg-orange
{

  .scroll-content
  {
    background: color($colors, primary) !important;

    .SplashLoader
    {
      height: 100%;
      display: flex;
      img
      {
        margin:0 auto;
      }
    }

  }

}
.bg-white
{
  .LogoTop
  {
    text-align: center;
    padding-top: 70px;
  }
  .SplashLoader
  {
    text-align: center;
    padding-top: 20px;
  }
}
.border-TB-dashed
{
  border-bottom: 1px dashed color($colors, grey) !important;
  border-top: 1px dashed color($colors, grey) !important;
}
.border-btm-dashed
{
  border-bottom: 1px dashed color($colors, grey) !important;
}
.border-btm-dotted
{
  border-bottom: 1px dotted color($colors, grey) !important;
}
.bottom-border
{
  border-bottom: 1px solid color($colors, grey) !important;
}


.MainExpenseContainer
{
  ion-card
  {
    width:100%;
    box-shadow: none;
    .posCirclesCon
    {
      position: absolute;
      padding-left: 10px;
      bottom: -22px;
      span.circles
      {
        padding: 10px;
        border-radius: 50%;
        background: #eee;
      }
    }
    ion-card-content
    {
      border-top: 1px dashed #ccc;
      margin-top: 15px;
      padding-top: 5px !important;

      ion-item
      {
        padding-left: 0 !important;

        h2
        {
          text-align: left;
        }
        ion-note
        {
          font-weight: 400;
        }
        ion-note.dark
        {
          color: color($colors,dark) !important;
        }
        ion-icon.CircleIcon
        {
          border: 1px solid #ccc;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 23px;
          color: color($colors, primary);
        }
        .item-inner
        {
          ion-label
          {
            text-transform: capitalize;
            text-align: left;
          }
          margin-left: 0px !important;
        }


      }


    }

  }
  ion-card-header
  {
    font-weight: 400;
  }


}



//header title alignment


ion-header
{
  ion-navbar
  {
    ion-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 50px 1px;
      width: 100%;
      height: 100%;
      text-align: center;
      .toolbar-title
      {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

}

ion-buttons, .bar-button-menutoggle,.back-button
{
  z-index: 99;
}


//icons with grey circle

ion-list
{
  ion-item
  {
    ion-icon.CircleIcon {
      border: 1px solid #ccc;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 23px;
      color: color($colors, primary);
    }
  }
}




.MainExpenseContainer.transactionPage
{

  ion-card
  {
    ion-item
    {
      border-bottom: 1px dotted #dfdfdf;
      ion-label
      {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }


}







// Margin Adjus

.margin-top5
{
  margin-top:$margn5 !important;
}
.margin-top3
{
  margin-top:$margn5 - 2  !important;
}
.margin-left-0{
  margin-left:$font0 !important;
}
.margin-right-0
{
  margin-right:$font0 !important;
}
.width100
{
  width:$size+90 !important;
}


scanqr
{
  ion-content.content-md
  {
    background: transparent !important;
  }
  ion-content
  {
    background: transparent !important;

    .fixed-content
    {
      background: transparent !important;
    }
  }

}

scanQR-Asset{

  ion-content.content-md
  {
    background: transparent !important;
  }
  ion-content
  {
    background: transparent !important;

    .fixed-content
    {
      background: transparent !important;
    }
  }

}

ion-app.md
{
  background: transparent !important;
}
.FeedBackContainer
{

  .CheckboxList
  {
    ion-item
    {
      ion-label
      {
        text-align: left;
        line-height: 16px;
      }
      ion-checkbox
      {
        margin-right: 5px !important;
      }

    }





  }


}

.card-calendar
{
  .fc-view-container
  {
    .fc-widget-content
    {
      .fc-scroller.fc-day-grid-container
      {
        height: auto !important;
      }
    }
  }


  //.card-calendar .fc-toolbar {
  //  text-align: center !important;
  //  paddig-top:0px !important;
  //  padding-left:0px !important;
  //  padding-right:0px !important;
  //}
  //.card-calendar .fc .fc-toolbar > * > * {
  //  float: left;
  //  margin-left: 73px !important;
  //  margin-top:5px !important;
  //}
  //.fc .fc-toolbar>*> :first-child {
  //  margin-left: 0px !important;
  //  margin-right: 135px !important;
  //}
  //.fc-toolbar .fc-left {
  //  margin-bottom:0px !important;
  //}

}

.cardListCon
{
  .card
  {
    width: 100%;
    margin-bottom: 0 !important;
    .card-header
    {
      padding: 10px;
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 14px;
      border-bottom: 1px dotted color($colors, grey);
    }
    .card-content
    {
      padding: 10px;
      color: #808080;
    }
  }


}



.jobOverdueCon
{

  ion-card
  {
    ion-card-header
    {
      color: color($colors, danger);
      border-bottom:1px dotted color($colors, danger) !important;
    }
    ion-card-content
    {
      span
      {
        color: color($colors, danger);
      }
    }
  }


}

.jobCompletedCon
{
  ion-card
  {
    ion-card-header
    {
      color: color($colors, green);
      border-bottom:1px dotted color($colors, green) !important;
    }
    ion-card-content
    {
      span
      {
        color: color($colors, green);
      }
    }
  }
}

.jobNormalCon
{
  ion-card
  {
    ion-card-header
    {
      color: color($colors, dark);
      border-bottom:1px dotted color($colors, grey) !important;
    }
    ion-card-content
    {
      span
      {
        color: color($colors, dark);
      }
    }
  }
}




.border-btm-blk{
  border-bottom:1px solid #a7a1a1 !important
}

.form-group label.control-label{
  color: #000;
}

image-viewer ion-header
{
  display: none !important;
}

.sidebar .nav li:hover>a
{
  //background-color: transparent !important;
}
.text-input-md
{
  margin:0px !important;
}
.sidebar .sideMenuList .navList li a:focus
{
  background: color($colors, primary) !important;
}

ion-input
{
  border-bottom:1px solid #ccc !important;
}

.titleText
{
  font-weight: 400;
  /* border-bottom: 1px dashed #EEEEEE; */
  background: #fff;
  padding: 15px 0;
  margin: 10px auto;
  font-size: 16px;
  width: 95%;
  border-radius: 5px;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.timeline-wrapper {
  background-color: #e9eaed;
  color: #141823;
  padding: 20px;
  border: 1px solid #ccc;
}

.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto;
  max-width: 472px;
  min-height: 200px;
}

.animated-background {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.background-masker {
  background: #fff;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.outlined .background-masker {
  border: 1px solid #ddd;
}

.outlined:hover .background-masker {
  border: none;
}

.outlined:hover .background-masker:hover {
  border: 1px solid #ccc;
  z-index: 1;
}

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}

.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
  width: auto;
  left: 300px;
  right: 0;
}

.background-masker.subheader-right {
  left: 230px;
}

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.content-top {
  height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 60px;
  height: 8px;
}

.background-masker.content-second-line {
  top: 68px;
}

.background-masker.content-second-end {
  left: 420px;
  top: 74px;
}

.background-masker.content-third-line {
  top: 82px;
}

.background-masker.content-third-end {
  left: 300px;
  top: 88px;
}

.indent-padding{
  padding-right: 5px;
  padding-left: 5px;
}

.create-padding{
  padding: 5px;
}

.q-mail-round{
  width: 10% !important;
  height: 70% !important;
  border-radius: 50% !important;
  /* border: 1px solid #ff9800; */
}
.no-border{
  border : none !important;
}
.asset-padding{
  padding: 5px !important;
}

.new-card-md{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12) !important;
}

.scroll-card{
  margin: 5px 0 0px 0 !important;
  border-radius: 0px !important;
}

.scroll-heading{
  font-weight: 400;
}
.selece-client{
  font-weight: 500;
}

.no-data{
    ion-card img {
      width: 100% !important;
      height:100px !important;
    }
    ion-card-content {
      padding: 0px 32px !important;
      position: relative !important;
      vertical-align: center !important;
    }
    .card-md
    {
      width:100% !important;
    }

}
.todate-align{
  text-align: left;
  border-left: 1px solid #dfdfdf;
}

.cards-header{
  border-bottom: 1px dotted #dfdfdf;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


