<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{siteDetail.name}}</ion-title>
  </ion-navbar>

      <!--<ion-scroll scrollX="true" style="width:355px;height:50px">-->
    <ion-segment [(ngModel)]="categories" color="clr-blue" class="segmnt margin-auto">
        <ion-segment-button value="detail">
            Detail
        </ion-segment-button>
        <ion-segment-button value="jobs" (click)="getJobs(false)">
            Jobs
        </ion-segment-button>
        <ion-segment-button value="quotation">
            Quotation
        </ion-segment-button>
        <ion-segment-button value="employee" (click)="getEmployee(false)" *ngIf="userType === 'ADMIN' || userType === 'FACILITYMANAGER' || userType === 'SUPERVISOR' || userType === 'CLIENT'">
            Employee
        </ion-segment-button>
    </ion-segment>
      <!--</ion-scroll>-->


</ion-header>

<ion-content class="cardListCon">

  <div [ngSwitch]="categories">
    <ion-list *ngSwitchCase="'detail'">

      <ion-card class="new-card-md">
        <ion-card-header>
          Site Name
        </ion-card-header>
        <ion-card-content>
          {{siteDetail.name}}
        </ion-card-content>
      </ion-card>

      <ion-card class="new-card-md">
        <ion-card-header>
          Client Name
        </ion-card-header>
        <ion-card-content>
          {{siteDetail.projectName}}
        </ion-card-content>
      </ion-card>

      <ion-card class="new-card-md">
        <ion-card-header>
          Address
        </ion-card-header>
        <ion-card-content>
          {{siteDetail.address}}
        </ion-card-content>
      </ion-card>

      <ion-card class="new-card-md">
        <ion-card-header>
          Address Co-ordinates
        </ion-card-header>
        <ion-card-content>
          {{siteDetail.addressLat}},{{siteDetail.addressLng}}
        </ion-card-content>
      </ion-card>


    </ion-list>
    <ion-list *ngSwitchCase="'jobs'" class="align-center">
      <ion-refresher (ionRefresh)="doRefresh($event,job)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div  class="white-bg" *ngFor="let job of jobs" >
        <div *ngIf="jobs?.length<0">
          <ion-card>
            <ion-card-content>
              No Jobs
            </ion-card-content>
          </ion-card>
        </div>
        <div class="padding-left16 padding-top5">
          <ion-row class="margin0">

            <ion-col col-2 class="ver-center">
              <button ion-button clear color="primary" class="icon-round ion-circle-icons"
                      [ngClass]="{'icon-round-red' : (job.status == 'OVERDUE'),
                                                          'icon-round-green' : (job.status == 'COMPLETED'),
                                                          'icon-round-blue' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}">
                <ion-icon name="ios-construct-outline" class="fnt-24"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-8 class="padding-left5">
              <div class="border-btm padding-bottom5 ln-ght20" text-capitalize>
                <p text-left class="margin0">{{job.title}}</p>
                <p text-left class="margin0">{{job.employeeName}}</p>
                <p text-left class="margin0">{{job.siteProjectName}} - {{job.siteName}}</p>
              </div>
            </ion-col>
            <ion-col col-2 class="padding-left0 ver-center">
              <div class="padding-bottom5">
                <button ion-button clear color="primary" (click)="open(slidingItem, item ,count)">
                  <i class="material-icons">more_horiz</i>
                </button>
              </div>
            </ion-col>
            <!--
            <ion-col col-1>
                <p (click)="open(ItemSliding,Item)">f</p>
            </ion-col>
            -->

          </ion-row>
        </div>
        <ion-item-sliding #slidingItem>

          <ion-item #item class="item-fnt padding-left0" >
            <!--<div class="padding-left16">-->

            <div text-capitalize >
              <ion-row class="margin0">
                <ion-col col-6 class="padding-right5">
                  <div *ngIf="job.status =='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.actualStartTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                  <div *ngIf="job.status !='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.plannedStartTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <div *ngIf="job.status =='COMPLETED'">
                    <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.actualEndTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                  <div *ngIf="job.status !='COMPLETED'">
                    <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.plannedEndTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <!--</div>-->
          </ion-item>

          <ion-item-options (click)="close(slidingItem)">
            <div>
              <button has-permission="JobView" ion-button clear color="primary"><ion-icon name="md-eye" class="fnt-24" (click)="viewJob(job)"></ion-icon></button>
            </div>
            <!--<div>-->
              <!--<button ion-button clear color="clr-blue"><ion-icon name="md-create" class="fnt-24"></ion-icon></button>-->
            <!--</div>-->
            <div>
              <button has-permission="JobEdit" ion-button clear color="secondary" *ngIf="job.status !='COMPLETED'" (click)="compeleteJob(job)"><ion-icon name="md-checkmark-circle" class="fnt-24"></ion-icon></button>
            </div>
            <!--<div>-->
              <!--<button ion-button clear color="danger"><ion-icon name="md-close-circle" class="fnt-24"></ion-icon></button>-->
            <!--</div>-->
          </ion-item-options>
        </ion-item-sliding>


      </div>
      <ion-infinite-scroll *ngIf="jobPage<jobsTotalPages"  (ionInfinite)="doJobInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-list>
    <ion-list *ngSwitchCase="'quotation'">

      <ion-row class="margin0 white-bg border-btm padding10 paddding-top20" (click)="gotoDraftedQuotation()">
        <ion-col col-2 class="ver-center">
          <div class="q-round ver-center">
            <button ion-button clear color="primary" class="q-round icon-round-orange">
              <ion-icon name="mail" class="fnt-24"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col col-9 class="padding-left10">
          <div>
            <p text-left class="fnt-18 margin-bottom5">Drafted</p>
          </div>
          <div>
            <span class="clr-green padding-right2">(</span><span class="clr-orange">{{draftedQuotationsCount}}</span><span class="clr-green padding-left2">)</span>
          </div>
        </ion-col>
        <ion-col col-1 class="ver-center">
          <ion-icon class="primary-clr fnt-24" name="ios-arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="margin0 white-bg border-btm padding10" (click)="gotoSubmittedQuotation()">
        <ion-col col-2 class="ver-center">
          <div class="q-round ver-center">
            <button ion-button clear color="primary" class="q-round icon-round-blue">
              <ion-icon name="arrow-round-forward" class="fnt-24"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col col-9 class="padding-left10">
          <div>
            <p text-left class="fnt-18 margin-bottom5">Submitted</p>
          </div>
          <div>
            <span class="clr-green padding-right2">(</span><span class="clr-blue">{{submittedQuotationsCount}}</span><span class="clr-green padding-left2">)</span>
          </div>
        </ion-col>
        <ion-col col-1 class="ver-center">
          <ion-icon class="primary-clr fnt-24" name="ios-arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="margin0 white-bg border-btm padding10" (click)="gotoApprovedQuotation()">
        <ion-col col-2 class="ver-center">
          <div class="q-round ver-center">
            <button ion-button clear color="primary" class="q-round icon-round-green">
              <ion-icon name="checkmark" class="fnt-24"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col col-9 class="padding-left10">
          <div>
            <p text-left class="fnt-18 margin-bottom5">Approved</p>
          </div>
          <div>
            <span class="clr-green padding-right2">(</span><span class="green">{{approvedQuotationsCount}}</span><span class="clr-green padding-left2">)</span>
          </div>
        </ion-col>
        <ion-col col-1 class="ver-center">
          <ion-icon class="primary-clr fnt-24" name="ios-arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="margin0 white-bg border-btm padding10" (click)="gotoArchivedQuotation()">
        <ion-col col-2 class="ver-center">
          <div class="q-round ver-center">
            <button ion-button clear color="primary" class="q-round icon-round-red">
              <i class="material-icons">archive</i>
            </button>
          </div>
        </ion-col>
        <ion-col col-9 class="padding-left10">
          <div>
            <p text-left class="fnt-18 margin-bottom5">Archieved</p>
          </div>
          <div>
            <span class="clr-green padding-right2">(</span><span class="clr-red">{{archivedQuotationsCount}}</span><span class="padding-left2">)</span>
          </div>
        </ion-col>
        <ion-col col-1 class="ver-center">
          <ion-icon class="primary-clr fnt-24" name="ios-arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list *ngSwitchCase="'employee'">
      <ion-refresher (ionRefresh)="doRefresh($event,employee)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

        <ion-item *ngFor="let emp of employee;let i of index" class="bottom-border emp" >
            <ion-avatar item-start *ngIf="emp.enrolled_face">
                <img  [src]="emp.enrolled_face" >
            </ion-avatar>
            <p *ngIf="!emp.enrolled_face && first(emp.name)"></p>
            <ion-avatar item-start *ngIf="!emp.enrolled_face" class="emp-round">
                <p class="margin-auto">{{firstLetter}}</p>
            </ion-avatar>
            <p text-left class="fnt-wt">{{emp.name}}</p>
        </ion-item>
    </ion-list>

  </div>

</ion-content>
