<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{siteDetail.name}}</ion-title>
  </ion-navbar>

      <ion-scroll scrollX="true" style="width:355px;height:50px">
    <ion-segment [(ngModel)]="categories" color="clr-blue">
        <ion-segment-button value="detail">
            Detail
        </ion-segment-button>
        <ion-segment-button value="jobs" (click)="getJobs(false)">
            Jobs
        </ion-segment-button>
        <ion-segment-button value="quotation">
            Quotation
        </ion-segment-button>
        <ion-segment-button value="employee" (click)="getEmployee(false)">
            Employee
        </ion-segment-button>
    </ion-segment>
      </ion-scroll>


</ion-header>

<ion-content>

  <div [ngSwitch]="categories">
    <ion-list *ngSwitchCase="'detail'">
          <ion-row class="margin0 white-bg padding10">
            <ion-col col-6 class="label-on-left">Site Name</ion-col>
            <ion-col col-6>
              <p text-right>{{siteDetail.name}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left">Client Name</ion-col>
            <ion-col col-6>
              <p text-right>{{siteDetail.projectName}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left">Address</ion-col>
            <ion-col col-6>
              <p text-right>{{siteDetail.address}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left">Address Co-ordinates</ion-col>
            <ion-col col-6>
              <p text-right>{{siteDetail.addressLat}},{{siteDetail.addressLng}}</p>
            </ion-col>
          </ion-row>

        

    </ion-list>
    <ion-list *ngSwitchCase="'jobs'" class="align-center">
      <ion-refresher (ionRefresh)="doRefresh($event,job)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-item-sliding *ngFor="let job of jobs">

        <ion-item class="item-fnt padding-left0" >
          <div class="padding-left16">
            <ion-row>
              <ion-col col-2 class="">
                <button ion-button clear color="primary" class="icon-round"
                        [ngClass]="{'icon-round-red' : (job.status == 'OVERDUE'),
                                                          'icon-round-green' : (job.status == 'COMPLETED'),
                                                          'icon-round-blue' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}">
                  <ion-icon name="ios-construct-outline" class="fnt-24"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-10 class="padding-left5">
                <div class="border-btm padding-bottom5 ln-ght20" text-capitalize>
                  <p text-left>{{job.title}}</p>
                  <p text-left>{{job.employeeName}}</p>
                  <p text-left>{{job.siteProjectName}} - {{job.siteName}}</p>
                </div>
              </ion-col>
            </ion-row>
            <div text-capitalize >

              <ion-row class="margin0">
                <ion-col col-6 class="padding-right5">
                  <div *ngIf="job.status =='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.actualStartTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                  <div *ngIf="job.status !='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.plannedStartTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <div *ngIf="job.status =='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.actualEndTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                  <div *ngIf="job.status !='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.plannedEndTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                </ion-col>
              </ion-row>




            </div>
          </div>
        </ion-item>

        <ion-item-options>
          <button ion-button clear color="primary"><ion-icon name="md-eye" class="fnt-24"></ion-icon></button>
          <button ion-button clear color="clr-blue"><ion-icon name="md-create" class="fnt-24"></ion-icon></button>
          <button ion-button clear color="secondary" *ngIf="job.status !='COMPLETED'"><ion-icon name="md-checkmark-circle" class="fnt-24"></ion-icon></button>
          <button ion-button clear color="danger"><ion-icon name="md-close-circle" class="fnt-24"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
    <ion-list *ngSwitchCase="'quotation'">
      <ion-refresher (ionRefresh)="doRefresh($event,attendance)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="row padding0 margin0 white-bg">
        <ion-col col-12 class="padding-top0">
          <div class="table-responsive table-sales">

            <table class="table fnt-18">
              <tbody>
              <tr (click)="gotoDraftedQuotation()">
                <td>Drafted</td>
                <td class="text-right">
                  <span class="clr-orange padding-right2">(</span>{{draftedQuotationsCount}}<span class="clr-orange padding-left2">)</span>
                </td>
                <td class="text-right">
                  <ion-icon class="primary-clr padding-left5 fnt-12" name="arrow-forward"></ion-icon>
                </td>
              </tr>
              <tr (click)="gotoSubmittedQuotation()">
                <td>Submitted</td>
                <td class="text-right">
                  <span class="clr-orange padding-right2">(</span>{{submittedQuotationsCount}}<span class="clr-orange padding-left2">)</span>
                </td>
                <td class="text-right">
                  <ion-icon class="primary-clr padding-left5 fnt-12" name="arrow-forward"></ion-icon>
                </td>
              </tr>
              <tr (click)="gotoApprovedQuotation()">
                <td>Approved</td>
                <td class="text-right">
                  <span class="clr-orange padding-right2">(</span>{{approvedQuotationsCount}}<span class="clr-orange padding-left2">)</span>
                </td>
                <td class="text-right">
                  <ion-icon class="primary-clr padding-left5 fnt-12" name="arrow-forward"></ion-icon>
                </td>
              </tr>
              <tr (click)="gotoArchivedQuotation()">
                <td>Archieved</td>
                <td class="text-right">
                  <span class="clr-orange padding-right2">(</span>{{archivedQuotationsCount}}<span class="clr-orange padding-left2">)</span>
                </td>
                <td class="text-right">
                  <ion-icon class="primary-clr padding-left5 fnt-12" name="arrow-forward"></ion-icon>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ion-col>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'employee'">
      <ion-refresher (ionRefresh)="doRefresh($event,employee)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

        <ion-item *ngFor="let emp of employee;let i of index" class="bottom-border emp" >
            <ion-avatar item-start *ngIf="emp.enrolled_face">
                <img  [src]="emp.enrolled_face" >
            </ion-avatar>
            <p *ngIf="!emp.enrolled_face && first(emp.name)"></p>
            <ion-avatar item-start *ngIf="!emp.enrolled_face" class="emp-round">
                <p class="margin-auto">{{firstLetter}}</p>
            </ion-avatar>
            <p text-left class="fnt-wt">{{emp.name}}</p>
        </ion-item>
    </ion-list>

  </div>

</ion-content>
