<div  ng-init="loadPageTop();loadUsers()" >
    <div class="col-md-6">
        <div >
            <div class="card">
                <form id="TypeValidation" class="form-horizontal" action="" method="">
                    <!--                <div class="card-header card-header-text" data-background-color="rose">-->
                    <!--                    <h4 class="card-title">Employee Details</h4>-->
                    <!--                </div>-->

                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            Search User
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="row" style="margin-top: 15px">
                            <label class="col-sm-3 onBoarding-label-on-left">Search User</label>
                            <div class="col-sm-7">
                                <ui-select ng-model="userDetails" on-select="loadUserDetails(userDetails)" >
                                    <ui-select-match placeholder="Select Users..." >{{userDetails.firstName}}
                                        <a   ng-click="clearUsers($event)" ng-show="userDetails.firstName" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
                                             class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
                                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
                                    </ui-select-match>
                                    <ui-select-choices repeat="user in allUsers | filter: $select.search" ng-click="" null-option="allClients" loose-null>

                                        <span ng-bind-html="user.firstName | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="" style="float:left;">
                                <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" ><i class="material-icons">search</i><div class="ripple-container" ></div></a>
                            </div>
                        </div>
                    </div>
                    <!--                <div class="card-footer text-center">-->
                    <!--                    <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>-->
                    <!--                </div>-->
                </form>
            </div>
        </div>
        <div >
            <div class="card">
                <form id="hierarchy" class="form-horizontal" action="" method="">
                    <!--                <div class="card-header card-header-text" data-background-color="rose">-->
                    <!--                    <h4 class="card-title">Employee Details</h4>-->
                    <!--                </div>-->

                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            Configure
                        </div>
                    </div>

                    <div class="card-content">

                        <div class="container">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="row" ng-controller="MainCtrl">
                                  <div class="col-lg-6">
<!--                                    <h1>Hierarchy Selector</h1>-->
<!--                                    <hr>-->
                                    <hierarchy-search dataset="list"></hierarchy-search>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                    </div>
                    <!--                <div class="card-footer text-center">-->
                    <!--                    <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>-->
                    <!--                </div>-->
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <form id="UserDetails" class="form-horizontal" action="" method="">
                <!--                <div class="card-header card-header-text" data-background-color="rose">-->
                <!--                    <h4 class="card-title">Employee Details</h4>-->
                <!--                </div>-->

                <div class="panel panel-default" >
                    <div class="panel-heading">
                        User Details
                    </div>
                </div>

                <div class="card-content">

                    <div class="row">

                    </div>

                    <div style="margin-left: 10%" class="table-responsive" ng-show="showUserDetails">
                        <table class="table">

                            <tbody>

                            <tr>

                                <td>User ID</td>
                                <td>{{userDetails.id}}</td>

                            </tr>
                            <tr>

                                <td>Firstname</td>
                                <td>{{userDetails.firstName}}</td>

                            </tr>
                            <tr>

                                <td>Lastname</td>
                                <td>{{userDetails.lastName}}</td>

                            </tr>
                            <tr>

                                <td>Role</td>
                                <td>{{userDetails.userRoleName}}</td>

                            </tr>
                            <tr>

                                <td>Email</td>
                                <td>{{userDetails.email}}</td>

                            </tr>


                            </tbody>
                        </table>
                    </div>

                    <div ng-show="!showUserDetails">
                        <div class="card card-pricing card-plain">
                            <div class="content">
                                <div class="icon">
                                    <!--<i class="fas fa-ticket-alt" style="font-size: 40px"></i>-->
                                    <i class="material-icons">devices_other</i>
                                </div>
                                <h3 class="card-title">User Details will be loaded here</h3>
                            </div>
                        </div>
                    </div>




                </div>
                <!--                <div class="card-footer text-center">-->
                <!--                    <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>-->
                <!--                </div>-->
            </form>
        </div>
    </div>
</div>
