<div  ng-init="loadPageTop();loadUsers();loadgetSapBusinessCategories();" >
    <div class="">
        <div >
            <div class="card">
                <form id="TypeValidation" role="form" class="form-horizontal" ng-submit="getUserDetails(empCode)">
                    <!--                <div class="card-header card-header-text" data-background-color="rose">-->
                    <!--                    <h4 class="card-title">Employee Details</h4>-->
                    <!--                </div>-->

                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            Search User
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="row" style="margin-top: 15px">
                            <label class="col-sm-3 onBoarding-label-on-left">Search User</label>
                            <div class="col-sm-7">

                                <div class="form-group label-floating">
                                    <input class="form-control" ng-model="empCode" type="text" name="empCode" required />
                                </div>
                            </div>
                            <div class="" style="float:left;">
                                <a ng-click="getUserDetails(empCode)"  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" ><i class="material-icons">search</i><div class="ripple-container" ></div></a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div >
            <div class="card">
                <!--            <form id="UserDetails" class="form-horizontal" action="" method="">-->
                <!--                <div class="card-header card-header-text" data-background-color="rose">-->
                <!--                    <h4 class="card-title">Employee Details</h4>-->
                <!--                </div>-->

                <div class="panel panel-default" >
                    <div class="panel-heading">
                        User Details
                    </div>
                </div>

                <div class="card-content">

                    <div class="row">

                    </div>

                    <div style="margin-left: 10%" class="table-responsive" ng-show="showUserDetails">
                        <table class="table">

                            <tbody>

                            <tr>

                                <td>User ID</td>
                                <td>{{userDetails.id}}</td>

                            </tr>
                            <tr>

                                <td>Firstname</td>
                                <td>{{userDetails.firstName}}</td>

                            </tr>
                            <tr>

                                <td>Lastname</td>
                                <td>{{userDetails.lastName}}</td>

                            </tr>
                            <tr>

                                <td>Role</td>
                                <td>{{userDetails.userRoleName}}</td>

                            </tr>
                            <tr>

                                <td>Email</td>
                                <td>{{userDetails.email}}</td>

                            </tr>


                            </tbody>
                        </table>
                    </div>

                    <div ng-show="!showUserDetails">
                        <div class="card card-pricing card-plain">
                            <div class="content">
                                <div class="icon">
                                    <!--<i class="fas fa-ticket-alt" style="font-size: 40px"></i>-->
                                    <i class="material-icons">devices_other</i>
                                </div>
                                <h3 class="card-title">User Details will be loaded here</h3>
                            </div>
                        </div>
                    </div>




                </div>
                <!--                <div class="card-footer text-center">-->
                <!--                    <button type="submit" class="btn btn-rose btn-fill">Validate Inputs</button>-->
                <!--                </div>-->
                <!--            </form>-->
            </div>
        </div>

    </div>
    
    <div class="card">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Configure
                </div>
            </div>

            <div class="card-content">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div id="onBoarding" > 
                                     <ul class="nested-checkbox-list">
                                        <nested-check-box ng-repeat="item in sapBusinessCategoriesList" item="item"></nested-check-box> 
                                     </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-rose btn-fill" ng-click="saveDetails()">Save</button>
                <div class="ripple-container"></div>
            </div>
    </div>


</div>
