<div ng-init="loadEmployee()" >
    <div class="col-md-5">
<!--        Client Details Card-->
        <div class="card">
            <form id="TypeValidation" class="form-horizontal" action="" method="">
<!--                <div class="card-header card-header-text" data-background-color="rose">-->
<!--                    <h4 class="card-title">Employee Details</h4>-->
<!--                </div>-->

                <div class="panel panel-default" >
                    <div class="panel-heading">
                        Client Details
                    </div>
                </div>



                <div class="card-content">
                    <div class="table-responsive">
                        <table class="table">

                            <tbody>

                            <tr>

                                <td class="col-sm-4">Project Code<span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.projectCode}}</td>

                            </tr>
                            <tr>

                                <td class="col-sm-4">Description <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.projectDescription  }}</td>

                            </tr>

                            <tr>

                                <td class="col-sm-4">WBS Id <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.wbsId}}</td>

                            </tr>
                            <tr>

                                <td class="col-sm-4">Description <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.wbsDescription  }}</td>

                            </tr>
                            <tr>

                                <td class="col-sm-4">Designation No<span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.position  }}</td>

                            </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </form>
        </div>

<!--        Address Details Card-->
        <div class="card">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        Address Details
                    </div>
                </div>
                <div class="card-content">
                    <div class="row" style="margin-top: 15px">
                        <div class="table-responsive">
                            <table class="table">
                            <tbody class="">
                                <tr>
                                    <td class="col-sm-4">Mobile Number <span class="red-star">*</span></td>
                                    <td class="col-sm-8">{{employee.mobile}}</td>
                                </tr>

                                <tr>
                                    <td class="col-sm-4">Emergency Contact No.</td>
                                    <td class="col-sm-8">{{employee.emergencyContactNumber}}</td>
                                </tr>

                                    <tr>
                                        <td class="col-sm-4">Present Address <span class="red-star">*</span></td>
                                        <td class="col-sm-8">{{employee.presentAddress}}</td>
                                    </tr>

                                    <tr>
                                        <td class="col-sm-4">City <span class="red-star">*</span></td>
                                        <td class="col-sm-8">{{employee.presentCity}}</td>
                                    </tr>

                                    <tr>
                                        <td class="col-sm-4">State <span class="red-star">*</span></td>
                                        <td class="col-sm-8">{{employee.presentState}}</td>
                                    </tr>

                                <tr>
                                    <td class="col-sm-4">Permanent Address <span class="red-star">*</span></td>
                                    <td class="col-sm-8">{{employee.permanentAddress}}</td>
                                </tr>

                                <tr>
                                    <td class="col-sm-4">City <span class="red-star">*</span></td>
                                    <td class="col-sm-8">{{employee.permanentCity}}</td>
                                </tr>

                                <tr>
                                    <td class="col-sm-4">State <span class="red-star">*</span></td>
                                    <td class="col-sm-8">{{employee.permanentState}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <label>Address Proof Image <span class="red-star">*</span></label>
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img ng-if="addressproofImageUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{addressproofImageUrl}} alt="...">
                                    <img ng-if="!addressproofImageUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        </div>

<!--        Previous Employer Details Card-->
        <div class="card">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Previous Employer Details
                </div>
            </div>

            <div class="card-content">
                <div class="row" style="margin-top: 15px">

                    <div class="table-responsive">
                        <table class="table">
                            <tbody class="">
                            <tr>
                                <td class="col-sm-4">Employer</td>
                                <td class="col-sm-8">{{employee.employer}}</td>
                            </tr>
                            <tr>
                                <td class="col-sm-4">Designation</td>
                                <td class="col-sm-8">{{employee.previousDesignation}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>
        </div>
    </div>


<div>
    <div class="col-md-7">
<!--        Employee Details Card-->
        <div class="card">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Employee Details
                </div>
            </div>
            <div class="card-content">
                <div class="row" style="margin-top: 15px">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody class="">
                            <tr>
                                <td class="col-sm-4">Name <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.name}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Last Name <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.lastName}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Code <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.empId}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Father Name <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.fatherName}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Mother Name <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.motherName}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Gender <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.gender}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Marital Status <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.maritalStatus}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">D.O.B <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.dob}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">D.O.J <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.doj}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Religion <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.religion}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Blood Group <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.bloodGroup}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Personal Identification Mark 1</td>
                                <td class="col-sm-8">{{employee.personalIdentificationMark1}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Personal Identification Mark 2</td>
                                <td class="col-sm-8">{{employee.personalIdentificationMark2}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Education Qualification <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.educationalQulification}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Board / Institute <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.boardInstitute}}</td>
                            </tr>

                            <tr>
                                <td class="col-sm-4">Adhar Card Number <span class="red-star">*</span></td>
                                <td class="col-sm-8">{{employee.adharCardNumber}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

<!--        Nominee Details Card -->
        <div class="card">

                <div class="panel panel-default" >
                    <div class="panel-heading">
                        Nominee Details
                    </div>
                </div>

                <div class="card-content">
                    <div class="row" style="margin-top: 15px">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody class="">
                                    <tr>
                                        <td class="col-sm-4">Nominee Name <span class="red-star">*</span></td>
                                        <td class="col-sm-8">{{employee.nomineeName}}</td>
                                    </tr>

                                    <tr>
                                        <td class="col-sm-4">Relationship <span class="red-star">*</span></td>
                                        <td class="col-sm-8">{{employee.nomineeRelationship}}</td>
                                    </tr>

                                    <tr>
                                        <td class="col-sm-4">Contact No. <span class="red-star">*</span> </td>
                                        <td class="col-sm-8">{{employee.nomineeContactNumber}}</td>
                                    </tr>

                                    <tr>
                                        <td class="col-sm-4">Percentage <span class="red-star">*</span></td>
                                        <td class="col-sm-8">{{employee.percentage}}</td>
                                    </tr>


                                </tbody>
                            </table>
                </div>

                </div>
            </div>
        </div>

<!--        Bank Details Card-->
        <div class="card">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        Bank Details
                    </div>
                </div>

                <div class="card-content">
                    <div class="row" style="margin-top: 15px">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody class="">
                                <tr>
                                    <td class="col-sm-4">Account Number <span class="red-star">*</span></td>
                                    <td class="col-sm-8">{{employee.accountNumber}}</td>
                                </tr>

                                <tr>
                                    <td class="col-sm-4">IFSC Code <span class="red-star">*</span></td>
                                    <td class="col-sm-8">{{employee.ifscCode}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <label>Bank Passbook Image <span ng-if="employee.newEmployee" class="red-star">*</span></label>
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img ng-if="bankPassBookImageUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{bankPassBookImageUrl}} alt="...">
                                        <img ng-if="!bankPassBookImageUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </div>

    </div>

</div>

<div class="row">
<!--    Documents upload Card-->
    <div class="col-md-12">
        <div class="card">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Documents
                </div>
            </div>

            <div class="card-content">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <label>Adharcard Front Image <span class="red-star">*</span></label>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img ng-if="adharCardFrontUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{adharCardFrontUrl}} alt="...">
                                <img ng-if="!adharCardFrontUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <label>Adharcard Back Image <span class="red-star">*</span></label>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img ng-if="adharCardBackUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{adharCardBackUrl}} alt="...">
                                <img ng-if="!adharCardBackUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <label>Fingerprint Left Image 
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img ng-if="fingerprintLeftUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{fingerprintLeftUrl}} alt="...">
                                <img ng-if="!fingerprintLeftUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <label>Fingerprint Right Image 
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img ng-if="fingerprintrightUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{fingerprintrightUrl}} alt="...">
                                <img ng-if="!fingerprintrightUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <label>Driving License Image 
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img ng-if="drivingLicenseUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{drivingLicenseUrl}} alt="...">
                                <img ng-if="!drivingLicenseUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <label>Voter Id Image 
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img ng-if="voterIdUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{voterIdUrl}} alt="...">
                                <img ng-if="!voterIdUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <label>Pancard Image 
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img ng-if="pancardUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" ng-src={{pancardUrl}} alt="...">
                                <img ng-if="!pancardUrl" style="width: 100% !important; height: 100% !important; border-radius: 0px" src="../../assets/img/image_placeholder.jpg" alt="...">
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
    <p ng-if="!employee.verified && !enableApproval" class="txt-align-rgt">Please enter all mandatory fields and upload mandatory images to approve employee</p>

</div>

<div class="txt-align-rgt">

    <button class="btn btn-default close-button-right b10" type="button" ng-click="conform('back')" id="close-button-right">
        Back
    </button>

    <button class="btn btn-success ld ld-over-inverse" type="button" ng-if="!employee.verified && enableApproval" ng-click="conform('approve')" id="close-button-right">
        Approve Employee
    </button>

</div>
