<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="init();loadProjects();">
    <div class="">

        <div class="row">
            <div class="col-mod-12">
                <!--<div class="alert alert-success" ng-show="success">-->
                    <!--<strong>Quotation saved!</strong>-->
                <!--</div>-->

                <!--<div class="alert alert-danger" ng-show="error">-->
                    <!--<strong>Quotation Not Saved!</strong> Please try again later.-->
                <!--</div>-->
                <!--<div class="alert alert-danger" ng-show="errorQuotationExists">-->
                    <!--<strong>Quotation already registered!</strong> Please choose another one.-->
                <!--</div>-->
            </div>
            <div class="col-md-12">
                <label><span class="red-star">*</span> Mandatory Field</label>
                <div class="form-container table-container">
                    <form ng-show="!success" name="form" role="form" novalidate
                          ng-submit="saveFeedbackMapping()"  class="form-horizontal">

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="card formcard">

                                    <div class="card-content">

                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="form-group">
                                                    <label class="control-label">Client<span class="red-star">*</span> </label>
                                                    <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control " name="client" ng-model="selectedProject"  ng-change="loadSites()"  ng-options="project as project.name for project in projects" required>
                                                        <option value="">Select Client...</option>
                                                    </select>
                                                     <div ng-show="form.$submitted || form.client.$touched">
                                                        <div
                                                            ng-show="form.client.$dirty || form.site.$invalid">

                                                            <p class="help-block" style="color:maroon"
                                                               ng-show="form.client.$error.required">
                                                                Required
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="form-group">
                                                    <label class="control-label">Site<span class="red-star">*</span> </label>
                                                    <!--<input type="text" class="form-control"-->
                                                    <!--ng-model="selectedRole"-->
                                                    <!--uib-typeahead="role as role.name for role in userRoles | filter:$viewValue | limitTo:5"-->
                                                    <!--name="UserRole" ng-minlength="5" ng-maxlength="50" autofocus-->
                                                    <!--required >-->
                                                    <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control " ng-model="selectedSite" name="site" ng-change="loadBlocks();loadFeedbackMasters();" ng-options="site as site.name for site in sites" required>
                                                        <option value="">Select Site...</option>
                                                    </select>
                                                    <div ng-show="form.$submitted || form.site.$touched">
                                                        <div
                                                            ng-show="form.site.$dirty || form.site.$invalid">

                                                            <p class="help-block" style="color:maroon"
                                                               ng-show="form.site.$error.required">
                                                                Required
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="form-group">
                                                    <label class="control-label">Block<span class="red-star">*</span> </label>
                                                    <!--<input type="text" class="form-control"-->
                                                    <!--ng-model="selectedRole"-->
                                                    <!--uib-typeahead="role as role.name for role in userRoles | filter:$viewValue | limitTo:5"-->
                                                    <!--name="UserRole" ng-minlength="5" ng-maxlength="50" autofocus-->
                                                    <!--required >-->
                                                    <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control" name="block" ng-model="selectedBlock" ng-change="loadFloors()"  ng-options="block as (block | uppercase) for  block in  blocks" required>
                                                        <option value="">Select Block...</option>
                                                    </select>
                                                    <div ng-show="form.$submitted || form.block.$touched">
                                                        <div
                                                            ng-show="form.block.$dirty || form.block.$invalid">

                                                            <p class="help-block" style="color:maroon"
                                                               ng-show="form.block.$error.required">
                                                                Required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="form-group">
                                                    <label class="control-label">Floor<span class="red-star">*</span> </label>
                                                    <!--<input type="text" class="form-control"-->
                                                    <!--ng-model="selectedRole"-->
                                                    <!--uib-typeahead="role as role.name for role in userRoles | filter:$viewValue | limitTo:5"-->
                                                    <!--name="UserRole" ng-minlength="5" ng-maxlength="50" autofocus-->
                                                    <!--required >-->
                                                    <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control " name="floor" ng-model="selectedFloor" ng-change="loadZones()"  ng-options="floor as (floor | uppercase) for floor in floors" required>
                                                        <option value="">Select Floor...</option>
                                                    </select>
                                                    <div ng-show="form.$submitted || form.floor.$touched">
                                                        <div
                                                            ng-show="form.floor.$dirty || form.floor.$invalid">

                                                            <p class="help-block" style="color:maroon"
                                                               ng-show="form.floor.$error.required">
                                                                Required
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="form-group">
                                                    <label class="control-label">Zone<span class="red-star">*</span> </label>
                                                    <!--<input type="text" class="form-control"-->
                                                    <!--ng-model="selectedRole"-->
                                                    <!--uib-typeahead="role as role.name for role in userRoles | filter:$viewValue | limitTo:5"-->
                                                    <!--name="UserRole" ng-minlength="5" ng-maxlength="50" autofocus-->
                                                    <!--required >-->
                                                    <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control " name="zone" ng-model="selectedZone"  ng-options="zone as (zone | uppercase) for zone in zones" required>
                                                        <option value="">Select Zone...</option>
                                                    </select>
                                                    <div ng-show="form.$submitted || form.zone.$touched">
                                                        <div
                                                            ng-show="form.zone.$dirty || form.zone.$invalid">

                                                            <p class="help-block" style="color:maroon"
                                                               ng-show="form.zone.$error.required">
                                                                Required
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-6 col-md-offset-3">
                                                <div class="form-group">
                                                    <label class="control-label">Feedback Name<span class="red-star">*</span> </label>
                                                    <!--<input type="text" class="form-control"-->
                                                    <!--ng-model="selectedRole"-->
                                                    <!--uib-typeahead="role as role.name for role in userRoles | filter:$viewValue | limitTo:5"-->
                                                    <!--name="UserRole" ng-minlength="5" ng-maxlength="50" autofocus-->
                                                    <!--required >-->
                                                    <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control " ng-model="selectedFeedback" name="feedback" ng-options="feedbackMaster as feedbackMaster.name for feedbackMaster in feedbackMasterList" required>
                                                        <option value="">Select feedback name...</option>
                                                    </select>
                                                    <div ng-show="form.$submitted || form.feedback.$touched">
                                                        <div
                                                            ng-show="form.feedback.$dirty || form.feedback.$invalid">

                                                            <p class="help-block" style="color:maroon"
                                                               ng-show="form.feedback.$error.required">
                                                                Required
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">

                                            <div class="col-md-9 txt-align-rgt">
                                                <div class="form-group">

                                                    <button class="btn btn-success ld ld-over-inverse" type="submit"
                                                            id="form-button-save" ng-disabled="form.$invalid || btnDisable">
                                                        <span class="btn-label"><i class="material-icons">check</i></span> Save
                                                    </button>
                                                    <button class="btn btn-danger" type="button"
                                                            ng-click="cancelFeedbackMapping()" id="cancel-button" ng-disabled="btnDisable">
                                                        <i class="material-icons">close</i> Cancel
                                                    </button>

                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='small-loading hidden' id='FormLoading'>Loading,
                            saving data...</div>

                        <div class="form-group">
                            <div id='report-error' class='report-div error bg-danger'
                                 style="display: none"></div>
                            <div id='report-success' class='report-div success bg-success'
                                 style="display: none"></div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>
