<div ng-init="init()">

    <!--<div class="row TopButtonsCon" >-->
    <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<h2 class="title" style="margin-bottom: 0px">Attendance</h2>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="col-md-12 txt-align-rgt">-->
    <!--<a class="download-btn" href="{{exportFile(0)}}">{{exportMsg(0)}}</a>-->
    <!--<button ng-click="refreshPage()" type="submit" class="btn btn-warning">-->
    <!--<i class="material-icons padding-right5">refresh</i>Reload-->
    <!--</button>-->
    <!--<button ng-show="attendancesData.length" type="button" class="btn btn-success" ng-click=exportAllData()>-->
    <!--<i class="material-icons">file_upload</i> Export</button>-->

    <!--</div>-->

    <!--</div>-->


    <div class="row FeedbackDashboardCon">
        <div class="col-md-12">


            <div class="card">

                <div class="card-content">

                		<div class="SearchTable">
                          <form name="searchForm"  ng-submit="search()" novalidate >

                            <table class=" no-padding-tblCon" border="0">
                                <tr class="filter-row gc-search-row">
                                    <td>
                                        <div class="form-group" style="padding-top: 20px" >

                                            <input id="dateFilterFrom" type="text" class="form-control datepicker border-bottom-input"   value={{now}} placeholder="From Date" />
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group" style="padding-top: 20px" >

                                            <input id="dateFilterTo" type="text" class="form-control datepicker border-bottom-input"   value={{now}} placeholder="To Date" />
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" style="padding-left: 10px">
                                            <label class="control-label">Client<span class="red-star">*</span> </label>

                                            <select class="form-control " ng-model="selectedProject"  ng-change="loadSites()"  ng-options="project as project.name for project in projects">
                                                <option value="">Select Client...</option>
                                            </select>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group">
                                            <label class="control-label">Site<span class="red-star">*</span> </label>
                                            <select class="form-control " ng-model="selectedSite"  ng-change="searchLocations();loadFeedbackMasters();" ng-options="site as site.name for site in sites">
                                                <option value="">Select Site...</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td align="right" width="24%">
                                        <div class="floatR form-group">
                                            <button type="submit" class="btn btn-circle blue-clr" ng-disabled="searchForm.$invalid">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button ng-show="attendancesData.length" type="button"  ng-click=exportAllData() class="btn btn-circle green-clr">
                                                <i class="material-icons">file_upload</i>
                                            </button>
                                            <button ng-click="refreshPage()" class="btn btn-circle orange-clr">
                                                <i class="material-icons">refresh</i>
                                            </button>
                                            <a class="download-btn" href="{{exportFile(0)}}">{{exportMsg(0)}}</a>

                                        </div>
                                    </td>
								</tr>
								<tr class="filter-row gc-search-row">


                                    <!-- td>
                                        <div class="form-group">
                                             <label class="control-label">Block<span class="red-star">*</span> </label>
                                             <select class="form-control " ng-model="selectedBlock" ng-change="loadFloors()"  ng-options="block as block for  block in  blocks">
                                                 <option value="">Please select Block...</option>
                                             </select>
                                         </div>
                                    </td>
                                     <td>
                                        <div class="form-group">
                                             <label class="control-label">Floor<span class="red-star">*</span> </label>
                                             <select class="form-control " ng-model="selectedFloor" ng-change="loadZones()"  ng-options="floor as floor for floor in floors">
                                                  <option value="">Please select Floor...</option>
                                              </select>
                                         </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                             <label class="control-label">Zone<span class="red-star">*</span> </label>
  											<select class="form-control " ng-model="selectedZone"  ng-options="zone as zone for zone in zones">
                                             	<option value="">Please select Zone...</option>
                                             </select>
                                         </div>
                                    </td-->

                                </tr>
                            </table>
                        </form>

                            <div class="TailsCon">


                                <div class="TailsContent" ng-controller="FeedbackController as vm">
                                    <ul class="blocksListCon">
                                        <li ng-repeat="item in filteredLocations track by $index" ng-show="(($index < (vm.page * vm.numRecords)) && ($index >= ((vm.page - 1) * vm.numRecords)))">
                                            <p class="blocktxt">
                                                <label>{{ item.block }}</label><br/>
                                                <label>{{item.floor}}</label><br/>
                                                <label>{{item.zone}}</label>
                                            </p>
                                        </li>
                                    </ul>

                                   <div class="clear"></div>
                                    <!--<div class="pos-abs next"><button ng-click="vm.next()"><i class="material-icons">keyboard_arrow_right</i></button></div>-->
                                    <!--<div class="pos-abs back"><button ng-click="vm.back()"><i class="material-icons">keyboard_arrow_left</i></button></div>-->
                                </div>



                            </div>

                         </div>


                 </div>
            </div>

            <div class="card">

                <div class="card-content">

                    <div class="row">

                        <div class="col-md-6">

                            <div class="row">

                                <div class="col-md-6">
                                    <h3>No of Feedbacks</h3>
                                </div>
                                <div class="col-md-6">
                                    <h3>{{feedbackReport.feedbackCount}}</h3>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="row">

                                <div class="col-md-6">
                                    <h3>Overall rating  </h3>
                                </div>
                                <div class="col-md-6">
                                    <!-- USE COMPONENT HERE-->

                                    <div class="RatingCon">

                                        <jk-rating-stars max-rating="5" rating="{{feedbackReport.overallRating}}" read-only="readOnly" >
                                        </jk-rating-stars>

                                    </div>




                                </div>

                            </div>

                        </div>


                    </div>

                </div>

            </div>

            <div class="card">

                <div class="card-content">

                    <div class="row">

                        <div class="col-md-6">

                            <h3>Weekly Feedbacks</h3>

                            <canvas id="line" class="chart chart-line" chart-data="data"
                                    chart-labels="labels" chart-series="series" chart-options="options"
                                    chart-dataset-override="datasetOverride" chart-colors="colors" chart-click="onClick">
                            </canvas>

                        </div>

                        <div style="" class="col-md-6">

                            <h3>Monthly Feedbacks</h3>

                            <canvas id="doughnut" class="chart chart-doughnut"
                                    chart-data="datas" chart-labels="label">
                            </canvas>

                        </div>

                    </div>

                </div>

            </div>


            <div class="card margin-TB-5 TableCard">

                <!--<div class="card-header card-header-icon" data-background-color="purple">-->
                <!--<i class="material-icons">assignment</i>-->
                <!--</div>-->
                <div class="card-content">
                    <!--<h4 class="card-title">DataTables.net</h4>-->


               <div class="table-responsive tablecard">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th>Question</th>
                                <th>Yes</th>
                                <th>No</th>
                                <th>Rating</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="questionRating in feedbackReport.questionRatings">
                                <td>{{questionRating.question}}</td>
                                <td>{{questionRating.yesCount}}</td>
                                <td>{{questionRating.noCount}}</td>
                                <td>{{questionRating.rating}}</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>



                    </div>



                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->

    <div class="card margin-TB-5 txt-align-center" ng-hide="feedbackList">

        <div class="card-content">

            <div class="" style="text-align:center;padding: 10px 0;">
                <div loader-css="ball-pulse"></div>
            </div>

            <h3>Please select a location to know the feedback</h3>

        </div>

    </div>


    <!-- <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-8 text-right">
            <ul class="pagination pagination-warning">

                <li class="paging-first" ID="first">
                    <a href="#" id="first" ng-click="first()">
                        <i id="first" class=" fa fa-step-backward"></i></a>
                </li>
                <li class="prev paging-previous" id="previous">
                    <a id="previous" href="#" ng-click="previous()"> prev</a>
                </li>

                <li ng-class="{active: number == pages.currPage}" class="paging" ng-repeat="number in numberArrays" ng-click="clickNextOrPrev(number)">
                    <a href="#" style="cursor:pointer">{{number}}</a>
                </li>
                <li class="next paging-next" id="next">
                    <a id="next" href="#" ng-click="next()" >next</a>
                </li>
                <li class="paging-last" id="last">
                    <a id="last" href="#" ng-click="last()"><i id="last" class="fa fa-step-forward"></i></a>
                </li>

            </ul>
        </div>

    </div> -->



</div>


