<div ng-init="initLoad()" >

    <!--<div class="row TopButtonsCon" >-->
    <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
    <!--&lt;!&ndash;<h2 class="title" style="margin-bottom: 0px">Attendance</h2>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="col-md-12 txt-align-rgt">-->
    <!--<a class="download-btn" href="{{exportFile(0)}}">{{exportMsg(0)}}</a>-->
    <!--<button ng-click="refreshPage()" type="submit" class="btn btn-warning">-->
    <!--<i class="material-icons padding-right5">refresh</i>Reload-->
    <!--</button>-->
    <!--<button ng-show="attendancesData.length" type="button" class="btn btn-success" ng-click=exportAllData()>-->
    <!--<i class="material-icons">file_upload</i> Export</button>-->

    <!--</div>-->

    <!--</div>-->

   <form name="searchForm"  novalidate >

    <div class="PrintDiv" id="printable">
        <div class="row FeedbackDashboardCon">
            <div class="col-md-12">


                <div class="card"  >

                    <div class="card-content">

                        <div class="SearchTable">

                                <table class=" no-padding-tblCon" border="0">
                                    <tr class="filter-row gc-search-row">
                                        <td width="15%">
                                            <div class="form-group pdng-top20" >
                                                <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                <input ng-model="selectedFromDate" id="dateFilterFrom" type="text" class="form-control datepicker border-bottom-input"   />
                                            </div>
                                        </td>

                                        <td width="15%">
                                            <div class="form-group pdng-top20"  >
                                                <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                <input ng-model="selectedToDate" id="dateFilterTo" type="text" class="form-control datepicker border-bottom-input"   />
                                            </div>
                                        </td>
                                        <td width="25%">
                                            <div class="form-group pad10px">
                                                <label class="control-label">Client</label>
                                                <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                <select class="form-control " ng-model="selectedProject"  ng-change="loadSites()"  ng-options="project as project.name for project in projects">
                                                    <option value="">Select Client...</option>
                                                </select>

                                            </div>
                                        </td>

                                        <td width="20%">
                                            <div class="form-group pad10px">
                                                <label class="control-label">Site</label>
                                                <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                <select class="form-control " ng-model="selectedSite"  ng-change="searchLocations();loadFeedbackMasters();" ng-options="site as site.name for site in sites">
                                                    <option value="">Select Site...</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td align="right" width="15%">
                                            <div class="floatR form-group">
                                                <button type="submit" class="btn btn-circle blue-clr" ng-disabled="searchForm.$invalid" ng-click="search()">
                                                    <i class="material-icons">search</i>
                                                </button>
                                                <button ng-show="attendancesData.length" type="button"  ng-click=exportAllData() class="btn btn-circle green-clr">
                                                    <i class="material-icons">file_upload</i>
                                                </button>
                                                <button ng-click="refreshPage()" class="btn btn-circle orange-clr">
                                                    <i class="material-icons">refresh</i>
                                                </button>
                                                <button ng-click="printPage();" class="btn btn-circle orange-clr">
                                                    <i class="material-icons">print</i>
                                                </button>
                                                <a class="download-btn" href="{{exportFile(0)}}">{{exportMsg(0)}}</a>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="filter-row gc-search-row">


                                        <!-- td>
                                            <div class="form-group">
                                                 <label class="control-label">Block<span class="red-star">*</span> </label>
                                                 <select class="form-control " ng-model="selectedBlock" ng-change="loadFloors()"  ng-options="block as block for  block in  blocks">
                                                     <option value="">Please select Block...</option>
                                                 </select>
                                             </div>
                                        </td>
                                         <td>
                                            <div class="form-group">
                                                 <label class="control-label">Floor<span class="red-star">*</span> </label>
                                                 <select class="form-control " ng-model="selectedFloor" ng-change="loadZones()"  ng-options="floor as floor for floor in floors">
                                                      <option value="">Please select Floor...</option>
                                                  </select>
                                             </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                 <label class="control-label">Zone<span class="red-star">*</span> </label>
                                                  <select class="form-control " ng-model="selectedZone"  ng-options="zone as zone for zone in zones">
                                                     <option value="">Please select Zone...</option>
                                                 </select>
                                             </div>
                                        </td-->

                                    </tr>
                                </table>

                                <div class="TailsCon">


                                    <div class="TailsContent">
                                        <ul class="blocksListCon">
                                           <li ng-repeat="item in filteredLocations" ng-class="item.zone == selectedZone ? 'active' : ''"> <a type="submit" ng-click="genZoneReport(item.projectId,item.siteId,item.block, item.floor,item.zone,searchForm)"  ng-show="(($index < (vm.page * vm.numRecords)) && ($index >= ((vm.page - 1) * vm.numRecords)))">{{ item.block }}<br/>{{item.floor}}<br/>{{item.zone}}</a></li>
                                        </ul>

                                        <div class="clear"></div>
                                        <!--<div class="pos-abs next"><button ng-click="vm.next()"><i class="material-icons">keyboard_arrow_right</i></button></div>-->
                                        <!--<div class="pos-abs back"><button ng-click="vm.back()"><i class="material-icons">keyboard_arrow_left</i></button></div>-->
                                    </div>



                                </div>

                        </div>


                    </div>
                </div>

                <div class="card">

                    <div class="card-content">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="row">

                                    <div class="col-md-6">
                                        <h3>No of Feedbacks</h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>{{feedbackReport.feedbackCount}}</h3>
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="row">

                                    <div class="col-md-6">
                                        <h3>Overall rating ({{averageRating}})</h3>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- USE COMPONENT HERE-->

                                        <!-- <div class="RatingCon"> -->
                                        <div class="average">

                                            <!-- <jk-rating-stars max-rating="5" rating="feedbackReport.overallRating" read-only="readOnly" >
                                            </jk-rating-stars> -->

                                            <average-star-rating ng-model="averageRating" max="5"></average-star-rating>



                                        </div>




                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                </div>

                <div class="card" >

                    <div class="card-content">

                        <div class="row">

                            <div class="col-md-6">

                                <h3>Feedback Comparison</h3>

                                <canvas id="line" class="chart chart-bar" chart-data="data"
                                        chart-labels="labels" chart-series="series" chart-dataset-override="datasetOverride" chart-colors="colors" chart-click="onClick">
                                </canvas>

                            </div>

                            <div style="" class="col-md-6">

                                <h3>Rating pattern</h3>

                                <canvas id="doughnut" class="chart chart-doughnut"
                                        chart-data="datas" chart-labels="label" chart-options="chartOptions" chart-legend = "true">
                                </canvas>

                            </div>

                        </div>

                    </div>

                </div>


                <div class="card margin-TB-5 TableCard">

                    <!--<div class="card-header card-header-icon" data-background-color="purple">-->
                    <!--<i class="material-icons">assignment</i>-->
                    <!--</div>-->
                    <div class="card-content">
                        <!--<h4 class="card-title">DataTables.net</h4>-->


                        <div class="table-responsive tablecard">
                            <table class="table table-striped">
                                <thead>
                                <tr>

                                    <th>Question</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                    <th>Rating</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="questionRating in feedbackReport.questionRatings">
                                    <td>{{questionRating.question}}</td>
                                    <td>{{questionRating.yesCount}}</td>
                                    <td>{{questionRating.noCount}}</td>
                                    <td>
                                        <div ng-repeat ="(key, value) in questionRating.rating">
                                            ({{value}}) <jk-rating-stars max-rating="5" rating="key" read-only="readOnly" ></jk-rating-stars>
                                        </div>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>



                        </div>



                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
  </form>


    <div class="card margin-TB-5 txt-align-center" ng-hide="feedbackListData">

        <div class="card-content">

            <div class="" style="text-align:center;padding: 10px 0;" ng-hide="feedbackListLoader">
                <div loader-css="ball-pulse"></div>
            </div>

            <h3>No feedbacks</h3>

        </div>

    </div>


    <!-- Pagination directive start -->

   <!--  <pagination-new></pagination-new> -->

    <!-- Pagination directive end -->



</div>


