page-home {
  expand-wrapper {
    transition: 0.2s linear;
  }

  .collapsed {
    height: 0 !important;
  }

  .s
  {
    overflow: auto;
    white-space: nowrap;
  }
  .v {

  }
.fnt-25-icon
{
  height: 32px !important;
  border: 0 !important;
  padding: 0 6px !important;
  font-size: 25px !important;
  -webkit-box-ordinal-group: 2 !important;
  order: 1 !important;
  min-width: 44px !important;
}


}
