page-home {
  expand-wrapper {
    transition: 0.2s linear;
  }

  .collapsed {
    height: 0 !important;
  }

  .s
  {
    overflow: auto;
    white-space: nowrap;
  }
  .v {

  }
.fnt-24
{
  font-size:24px !important;
}


}
