<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Rate Card</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-content">
                        <ion-row>
                            <ion-col col-12>
                                <ion-list radio-group  [(ngModel)]="rateCardDetails.type" class="margin0">
                                    <ion-item *ngFor="let type of rateCardTypes" class="padding-left0 inline-block width50" no-lines>
                                        <ion-label class="radio-label">{{type.name}}</ion-label>
                                        <ion-radio  value={{type.name}} (ionSelect)="rateCardUOM(type.uom)"></ion-radio>
                                    </ion-item>
                                </ion-list>
                            </ion-col>

                            <ion-col col-12>

                                <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'||eMsg=='title'}">
                                    <label class="control-label">Title</label>
                                    <input class="form-control" type="text" [(ngModel)]="rateCardDetails.title" id="title" name="title" #titl="ngModel" required [ngClass]="{'has-error': titl.errors || eMsg=='all'|| eMsg=='title'}">
                                    <div *ngIf="titl.errors && (titl.dirty || titl.touched)" class="error-msg">

                                    </div>

                                    <div *ngIf="titl.errors && (titl.untouched )" class="error-msg">

                                    </div>
                                </div>


                            </ion-col>

                            <ion-col col-12>
                                <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'||eMsg=='title'}">
                                    <label class="control-label">Cost</label>
                                    <input class="form-control" type="number" [(ngModel)]="rateCardDetails.cost" id="cost" name="cost" #cst="ngModel" required [ngClass]="{'has-error': cst.errors || eMsg=='all'|| eMsg=='cost'}">
                                    <div *ngIf="cst.errors && (cst.dirty || cst.touched)" class="error-msg">

                                    </div>

                                    <div *ngIf="cst.errors && (cst.untouched )" class="error-msg">

                                    </div>
                                </div>

                            </ion-col>

                            <ion-col col-12>
                                <div class="form-group ">
                                    <label class="control-label" *ngIf="uom">UOM</label>
                                    <input type="text" class="form-control" placeholder="UOM" [(ngModel)]="uom" disabled>
                                </div>
                            </ion-col>
                            <button has-permission="RateCardCreate" class="btn btn-warning pull-right margin-auto" (click)="createRateCard(rateCardDetails)" >Create</button>
                            <div class="clearfix"></div>
                        </ion-row>
                </div>
            </div>
        </div>
    </div>

</ion-content>
