
<div class="crud-form"
	data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="initLoad();loadingAuto();">
	<div class="" >
		<div class="row" >
			<!--<div class="col-md-12">

				<div class="alert alert-success" ng-show="success">
					<strong>User saved!</strong>
				</div>

				<div class="alert alert-danger" ng-show="error">
					<strong>User Not Saved!</strong> Please try again later.
				</div>
				<div class="alert alert-danger" ng-show="validationError">
					<strong>User Not Saved! {{validationErrorMsg}}.</strong>
				</div>
				<div class="alert alert-danger" ng-show="errorUserExists">
					<strong>User already registered!</strong> Please choose another
					one.
				</div>

			</div>
            <div class="col-md-8">
                &lt;!&ndash;<h2 class="title">Add User</h2>&ndash;&gt;
            </div>-->
			<div class="col-md-12">

				<div class="form-container table-container">
                    <label><span class="red-star">*</span> Mandatory Field</label>
					<form  name="form" role="form" novalidate
						ng-submit="conform('save')"  class="form-horizontal" autocomplete="off">

                       <div class="row">
                           <div class="col-md-12">
                               <div class="card formcard">
                                   <div class="card-content">

                                       <div class="row" ng-init="loadUserRoles()">

                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label class="control-label">User Role <span class="red-star">*</span> </label>
                                                   <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                   <!--<input type="text" class="form-control"-->
                                                           <!--ng-model="selectedRole"-->
                                                          <!--uib-typeahead="role as role.name for role in userRoles | filter:$viewValue | limitTo:5"-->
                                                          <!--name="UserRole" ng-minlength="5" ng-maxlength="50" autofocus-->
                                                          <!--required >-->
                                                   <select class="form-control " ng-model="selectedRole"  ng-options="role as (role.name | uppercase) for role in userRoles" required>
                                                       <option value="">Select Roles...</option>
                                                   </select>

                                                   <div ng-show="form.$submitted || form.UserRole.$touched">
                                                       <div ng-show="form.UserRole.$dirty || form.UserRole.$invalid">
                                                           <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                              ng-show="form.UserRole.$error.required">User Role is
                                                               required.
                                                           </p>

                                                       </div>
                                                   </div>

                                               </div>
                                           </div>
                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label class="control-label">Username <span class="red-star">*</span></label>
                                                   <input type="text" class="form-control" name="newUser"
                                                          ng-model="user.login"
                                                          ng-pattern="/^[A-Za-z0-9]*$/" ng-minlength="1"
                                                          ng-maxlength="10" required>
                                                   <div ng-show="form.$submitted || form.newUser.$touched">
                                                       <div ng-show="form.newUser.$dirty || form.newUser.$invalid">
                                                           <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                              ng-show="form.newUser.$error.required">
                                                               Username is required.</p>
                                                           <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                              ng-show="form.newUser.$error.minlength"
                                                              >Username is required to be at least
                                                               1 character.</p>
                                                           <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                              ng-show="form.newUser.$error.maxlength"
                                                              >Username cannot be longer than 10
                                                               characters.</p>
                                                           <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                              ng-show="form.newUser.$error.pattern">Username can only contain letters and digits.</p>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label class="control-label">Password <span class="red-star">*</span></label>
                                                   <input type="password" class="form-control"
                                                          name="newUserPassword" ng-model="user.password" ng-minlength=8
                                                          ng-maxlength="20" required>

                                                   <div ng-show="form.$submitted || form.newUserPassword.$touched">
                                                       <div ng-show="form.newUserPassword.$dirty || form.newUserPassword.$invalid">
                                                           <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                              ng-show="form.newUserPassword.$error.required">Password is
                                                               required.</p>
                                                           <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                              ng-show="form.newUserPassword.$error.minlength">Password is
                                                               required to be at least 8 characters.</p>
                                                           <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                              ng-show="form.newUserPassword.$error.maxlength">Password
                                                               cannot be longer than 20 characters.</p>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>

                                       </div>
                                       <div class="row">

                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label class="control-label">First Name<span class="red-star">*</span></label>
                                                   <input type="text" class="form-control InputTxtCaps" name="firstName"
                                                          ng-model="user.firstName" ng-minlength="5" ng-maxlength="50"  ng-pattern="/^[A-Za-z0-9\s&-/]*$/"
                                                          required>

                                                   <div ng-show="form.$submitted || form.firstName.$touched">
                                                       <div ng-show="form.firstname.$dirty || form.firstName.$invalid">
                                                           <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                              ng-show="form.firstName.$error.required"
                                                              translate-value-max="50">FirstName is required.
                                                           </p>
                                                           <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                              ng-show="form.firstName.$error.minlength"
                                                              translate-value-max="50">FirstName is required to be at
                                                               least 5 character.
                                                           </p>
                                                           <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                              ng-show="form.firstName.$error.maxlength"
                                                              translate-value-max="50">FirstName cannot be longer than
                                                               50 characters.
                                                           </p>
                                                           <p class="help-block" style="width:100%;z-index:1002;background:#fff;color:maroon"
                                                              ng-show="form.firstName.$error.pattern">
                                                               FirstName can only contain letters,numbers and space.
                                                           </p>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label class="control-label">Last Name</label>
                                                   <input type="text" class="form-control InputTxtCaps" name="lastName"
                                                          ng-model="user.lastName" ng-maxlength="50" ng-pattern="/^[A-Za-z0-9\s&-/]*$/">
                                                   <div ng-show="form.$submitted || form.lastName.$touched">
                                                       <div ng-show="form.lastName.$dirty || form.lastName.$invalid">
                                                           <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                              ng-show="form.lastName.$error.maxlength"
                                                              translate-value-max="50">LastName cannot be longer than
                                                               50 characters.
                                                           </p>
                                                           <p class="help-block" style="width:100%;z-index:1002;background:#fff;color:maroon"
                                                              ng-show="form.lastName.$error.pattern">
                                                               LastName can only contain letters,numbers and space.
                                                           </p>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                           <div class="col-md-4">
                                               <div class="form-group">
                                                   <label class="control-label">Email <span class="red-star">*</span></label>
                                                   <input type="email" class="form-control" name="email"
                                                          ng-model="user.email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-maxlength="50" required>

                                                   <div ng-show="form.$submitted || form.email.$touched">
                                                       <div ng-show="form.email.$invalid">
                                                           <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                              ng-show="form.email.$error.required">Email is required.</p>

                                                           <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                               ng-show="form.email.$error.pattern">
                                                                Email is invalid.
                                                            </p>

                                                           <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                              ng-show="form.email.$error.maxlength"
                                                              translate-value-max="255">Email cannot be longer than 50
                                                               characters.</p>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>

                                       </div>
                                       <div class="row">

                                           <div class="col-md-4" ng-init="loadMapableEmployees()">
                                               <div class="form-group " >
                                                   <label class="control-label">Employee</label>
                                                   <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                   <div>
                                                       <!--<input type="text" class="form-control" name='employeeName'-->
                                                              <!--ng-model="selectedEmployee"-->
                                                              <!--uib-typeahead="emp as emp.name for emp in employees | filter:$viewValue | limitTo:5"-->
                                                              <!--autocomplete="off" />-->

                                                       <select class="form-control " ng-model="selectedEmployee"  ng-options="emp as emp.name for emp in employees">
                                                           <option value="">Select Employees...</option>
                                                       </select>

                                                       <!-- <div ng-show="form.$submitted || form.employeeName.$touched">
                                                           <div
                                                               ng-show="form.employeeName.$dirty || form.employeeName.$invalid">

                                                           </div>
                                                       </div> -->
                                                   </div>
                                               </div>
                                               <!-- <div ng-show="loading">
                                                   <img src="../../../../assets/img/spinner.gif">
                                                   Loading Details, Please wait..
                                               </div> -->
                                           </div>

                                           <!-- <div class="col-md-4">
                                               <div class="form-group">
                                                   <label class="control-label">Profiles*</label>
                                                   <select class="form-control" data-style="select-with-transition" multiple title="Choose Authority" data-size="7" name="authority" multiple     ng-model="user.authorities"
                                                           ng-options="authority for authority in authorities track by authority" >
                                                   </select>
                                                   <div ng-show="form.$submitted || form.authority.$touched">
                                                       <p class="help-block" style="color: maroon"
                                                          ng-show="form.authority.$error.required">Please select a
                                                           profile.</p>
                                                   </div>
                                               </div>
                                           </div> -->
                                           <div class="col-md-4">
                                               <div class="form-group">

                                                   <div class="checkbox checkbox-inline">
                                                       <label>
                                                           <input id="activated" ng-model="user.activated" type="checkbox" name="activated"> Activated
                                                       </label>
                                                   </div>

                                                   <div class="checkbox checkbox-inline">
                                                       <label>
                                                           <input type="checkbox" id="emailSubscribed" name="emailSubscribed" ng-model="user.emailSubscribed" value="true" checked="user.emailSubscribed"> Notifications
                                                       </label>
                                                   </div>


                                               </div>
                                           </div>



                                       </div>

                                       <div class="row">

                                           <div class="col-sm-12 txt-align-rgt">
                                               <div class="form-group">
                                                   <!--<button class="btn btn-success" type="submit"-->
                                                           <!--id="form-button-save">-->
                                                      <!--<span class="btn-label">-->
                                            <!--<i class="material-icons">check</i>-->
                                        <!--</span> Save-->
                                                   <!--</button>-->

                                                   <button class="btn btn-success ld ld-over-inverse" ng-class="{'running':saveLoad}" ng-click="conform('save')" ng-disabled="form.$invalid || btnDisable"
                                                           type="submit" id="form-button-save" >
                                                       <span class="btn-label"><i class="material-icons">check</i></span> Save
                                                       <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                                                   </button>
                                                   <button class="btn btn-danger" type="button"
                                                           ng-click="conform('cancel')" ng-disabled="btnDisable" id="cancel-button">
                                                       <i class="material-icons">close</i>Cancel
                                                   </button>
                                               </div>
                                           </div>

                                       </div>

                                   </div>
                               </div>
                           </div>
                       </div>



						<!-- Start of hidden inputs -->
						<!-- End of hidden inputs -->

						<div class='small-loading hidden' id='FormLoading'>Loading,
							saving data...</div>

						<div class="form-group">
							<div id='report-error' class='report-div error bg-danger'
								style="display: none"></div>
							<div id='report-success' class='report-div success bg-success'
								style="display: none"></div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</div>
