<!--
  Generated template for the OfflineJobs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>offline-jobs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div  *ngIf="(!jobDetails || jobDetails.length == 0) && spinner" text-center>
      <ion-spinner name="circles"></ion-spinner>
    </div>


    <div text-center="" *ngIf="(!jobDetails || jobDetails.length == 0) && !spinner" margin-top>
      <ion-card text-center="">
        <ion-card-content>
          No Data found
        </ion-card-content>
      </ion-card>
    </div>

    <ion-refresher (ionRefresh)="doRefresh($event,'jobs')">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div  class="white-bg" *ngFor="let job of jobDetails" >
      <div class="padding-left16 padding-top5">
        <ion-row class="margin0">

          <ion-col col-2 class="ver-center">
            <button ion-button clear color="primary" class="icon-round ion-circle-icons"
                    [ngClass]="{'icon-round-red' : (job.status == 'OVERDUE'),
                                                          'icon-round-green' : (job.status == 'COMPLETED'),
                                                          'icon-round-blue' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}">
              <ion-icon name="ios-construct-outline" class="fnt-24"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-8 class="padding-left5">
            <div class="border-btm padding-bottom5 ln-ght20" text-capitalize>
              <p text-left class="margin0">{{job.title}}</p>
              <p text-left class="margin0">{{job.employeeName}}</p>
              <p text-left class="margin0">{{job.siteProjectName}} - {{job.siteName}}</p>
            </div>
          </ion-col>
          <ion-col col-2 class="padding-left0 ver-center">
            <div class="padding-bottom5">
              <button ion-button clear color="primary" (tap)="open(slidingItem, item ,count)">
                <i class="material-icons">more_horiz</i>
              </button>
            </div>
          </ion-col>
          <!--
          <ion-col col-1>
              <p (click)="open(ItemSliding,Item)">f</p>
          </ion-col>
          -->

        </ion-row>
      </div>

      <ion-item-sliding #slidingItem>

          <ion-item #item class="item-fnt padding-left0" >
            <!--<div class="padding-left16">-->

            <div text-capitalize >
              <ion-row class="margin0">
                <ion-col col-6 class="padding-right5">
                  <div *ngIf="job.status =='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.checkInDateTimeFrom | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                  <div *ngIf="job.status !='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.plannedStartTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <div *ngIf="job.status =='COMPLETED'">
                    <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.checkInDateTimeTo | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                  <div *ngIf="job.status !='COMPLETED'">
                    <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.plannedEndTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <!--</div>-->
          </ion-item>

          <ion-item-options class="ActionBtns" (click)="close(slidingItem)">
            <div>
              <button ion-button clear color="primary" (click)="viewJob(job)"><ion-icon name="md-eye" class="fnt-24 act-btn-view"></ion-icon></button>
            </div>
            <!--<div>-->
            <!--<button ion-button clear color="clr-blue"><ion-icon name="md-create" class="fnt-24"></ion-icon></button>-->
            <!--</div>-->
            <div>
              <button has-permission="JobsEdit" ion-button clear color="secondary" *ngIf="job.status !='COMPLETED'" (click)="compeleteJob(job)"><ion-icon name="md-checkmark-circle" class="fnt-24 act-btn-view"></ion-icon></button>
            </div>
            <!--<div>-->
            <!--<button ion-button clear color="danger"><ion-icon name="md-close-circle" class="fnt-24"></ion-icon></button>-->
            <!--</div>-->
          </ion-item-options>
        </ion-item-sliding>

    </div>
    <ion-infinite-scroll *ngIf="page<totalPages"  (ionInfinite)="doInfiniteAllJobs($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
