<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div ng-controller="SiteController" ng-init="initLoad();loadingStart();">


        <div class="col-md-8">
            <!--<h2 class="title">Add Site</h2>-->
        </div>


            <!--<div class="card-header" data-background-color="red">-->
                <!--<h4 class="title">Add Site</h4>-->
                <!--<p class="category"></p>-->
            <!--</div>-->

           <div class="cardsCon addSiteCon">
               <form ng-show="!success" name="form" role="form" novalidate
                     ng-submit="saveSite()">

                   <div class="row">

                       <div class="col-md-6">


                           <div class="panel panel-default">
                               <div class="panel-heading">Details</div>
                               <div class="panel-body">

                                   <div class="row">

                                       <div class="col-md-12">
                                           <div class="form-group" ng-init="loadProjectsList();">
                                               <!-- <label class="control-label">Client Name </label>

                                               <input type="text" class="form-control"   name='projectName'
                                                      ng-model="selectedProject" uib-typeahead="project as project.name for project in projects | filter:$viewValue | limitTo:5"
                                                      ng-minlength='2' ng-maxlength='50' ng-pattern="/^[A-Za-z0-9\s&-/]*$/"
                                                      autofocus  required autocomplete="off"/> -->

                                              <label class="control-label">Select Client</label>
                                                     <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control " ng-model="selectedProject"  ng-options="project as project.name for project in projectsList">
                                                        <option value="">Select Client...</option>
                                                    </select>
                                               <div ng-show="form.$submitted || form.projectName.$touched">
                                                   <div ng-show="form.projectName.$dirty || form.projectName.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.projectName.$error.required">
                                                           Client name is required.
                                                       </p>
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.projectName.$error.minlength">
                                                           Client name is required to be at least 2 character.
                                                       </p>
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.projectName.$error.maxlength">
                                                           Client name cannot be longer than 50 characters.
                                                       </p>
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.projectName.$error.pattern">
                                                           Client name can only contain letters, digits and space.
                                                       </p>
                                                   </div>
                                               </div>


                                           </div>
                                       </div>
                                       <div class="col-md-12">
                                           <div class="form-group">
                                               <label class="control-label">Site Name </label>
                                               <input id='siteName' ng-model="site.name" class='form-control'
                                                      name='siteName' type='text' value=""
                                                      ng-minlength=1 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus required/>
                                               <div ng-show="form.$submitted || form.siteName.$touched">
                                                   <div ng-show="form.siteName.$dirty || form.siteName.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.siteName.$error.required">
                                                           Site name is required.
                                                       </p>
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.siteName.$error.minlength">
                                                           Site name is required to be at least 5 character.
                                                       </p>
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.siteName.$error.maxlength">
                                                           Site name cannot be longer than 50 characters.
                                                       </p>
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.siteName.$error.pattern">
                                                           Site name can only contain letters, digits and space.
                                                       </p>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>

                                   </div>
                                   <div class="row">
                                       <div class="col-md-12">
                                           <div class="form-group ">
                                               <label class="control-label">Address </label>
                                               <input id='siteAddress' ng-model="site.address" class='form-control'
                                                      name='address' type='text' value=""
                                                      ng-minlength=1 autofocus required/>
                                               <div ng-show="form.$submitted || form.address.$touched">
                                                   <div ng-show="form.address.$dirty || form.address.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.address.$error.required">
                                                           Address is required.
                                                       </p>
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.address.$error.minlength">
                                                           Address to be at least 5 character.
                                                       </p>

                                                   </div>
                                               </div>



                                           </div>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-md-6">
                                           <div class="form-group">
                                               <label class="control-label">State</label>
                                               <input type="text" ng-model="site.state" class="form-control">
                                           </div>
                                       </div>
                                       <div class="col-md-6">
                                           <div class="form-group">
                                               <label class="control-label">Country</label>
                                               <input type="text" ng-model="site.country" class="form-control">
                                           </div>
                                       </div>
                                   </div>

                               </div>
                           </div>


                       </div>
                       <div class="col-md-6">


                           <div class="panel panel-default">
                               <div class="panel-heading">Location</div>
                               <div class="panel-body">

                                   <div class="row">
                                       <div class="col-md-6">
                                           <div class="form-group  ">
                                               <label class="control-label">Site Location (Latitude) </label>
                                               <input type="text" class="form-control"   name='latitude'
                                                      ng-model="site.addressLat" ng-minlength='2' ng-maxlength='50' required autocomplete="off"/>
                                               <div ng-show="form.$submitted || form.latitude.$touched">
                                                   <div ng-show="form.latitude.$dirty || form.latitude.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.latitude.$error.required">
                                                           Latitude is required.
                                                       </p>
                                                   </div>
                                               </div>


                                           </div>
                                       </div>

                                       <div class="col-md-6">
                                           <div class="form-group  ">
                                               <label class="control-label">Site Location (Longitude) </label>
                                               <input type="text" class="form-control"   name='siteLocation'
                                                      ng-model="site.addressLng" ng-minlength='2' ng-maxlength='50' required autocomplete="off"/>
                                               <div ng-show="form.$submitted || form.siteLocation.$touched">
                                                   <div ng-show="form.siteLocation.$dirty || form.siteLocation.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.siteLocation.$error.required">
                                                           Longitude is required.
                                                       </p>

                                                   </div>
                                               </div>


                                           </div>
                                       </div>

                                       <div class="col-md-6">
                                           <div class="form-group ">
                                               <label class="control-label">Geo Fence Radius (in Kms.) </label>
                                               <input type="text" class="form-control"   name='radius'
                                                      ng-model="site.radius"  required autocomplete="off"/>
                                               <div ng-show="form.$submitted || form.radius.$touched">
                                                   <div ng-show="form.radius.$dirty || form.radius.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.radius.$error.required">
                                                           Radius is required.
                                                       </p>

                                                   </div>
                                               </div>


                                           </div>
                                       </div>
                                   </div>

                               </div>
                           </div>


                       </div>

                   </div>
                   <div class="row">
                       <div class="col-md-6">
                           <div class="panel panel-default">
                               <div class="panel-heading">Shift Timings</div>
                               <div class="panel-body">

                                   <div class="row">
                   
									<div class="col-md-3">
				
				                        <!--<div class="form-group label-floating">-->
				                        <!--<label class="control-label">Date</label>-->
				                        <!--<input class="datepicker form-control" type="text" value="03/01/2018"/>-->
				
				                        <!--</div>-->
				
				                        <div class="form-group">
				                            <label class="label-control">From Time</label>
				                            <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
				                            <input type="text" class="form-control timepicker"  id="shiftFrom"  placeholder="{{shiftFrom | date:'hh:mm a'}}"/>
				
				                        </div>
				
				                    </div>
				                    <div class="col-md-3">
				
				                        <div class="form-group">
				                            <label class="label-control">To Time</label>
				                            <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
				                            <input type="text" class="form-control timepicker"  id="shiftTo"  placeholder="{{shiftTo | date:'hh:mm a'}}"/>
				
				                        </div>
				
				                    </div>    
				                    
				                    <div class="col-md-3">

			                            <button class="btn btn-success margn-top20" ng-click="addShiftItem($event)">
			                                <span class="btn-label">
			                                    <i class="material-icons">add</i>
			                                </span>
			                                Add
			                            </button>
			
			                        </div>               
                   				</div>
                   			</div>
                   			<div class="form-group">
	                            <label class="">Items</label>
	                            <ul class="listOfActions list-group">
	                                <li class="list-group-item justify-content-between" ng-repeat=" item in shiftItems" ng-bind-html-unsafe="item.text">
	                                    {{item.startTime}} - {{item.endTime}}
	                                    <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
	                                </li>
	
	                            </ul>
	
	                        </div>
                   		</div>		
                   		</div>
                   </div>

                   <div class="row">

                       <div class="col-md-12">


                           <button type="submit" ng-click="cancelSite()"
                                   id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                           <button type="submit" type="submit"
                                   id="form-button-save" ng-disabled="form.$invalid"  class="btn btn-success pull-right"><span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>Create site</button>

                           <div class="clearfix"></div>
                       </div>

                   </div>



               </form>
           </div>


    </div>

    <div class="">
        <div class="row">
            <div class="col-mod-12">
                <div class="alert alert-success" ng-show="success">
                    <strong>Site saved!</strong>
                </div>
                <div class="alert alert-danger" ng-show="errorSitesExists">
                    <strong>Site already registered!</strong> Please choose another one.
                </div>
                <div class="alert alert-danger" ng-show="error">
                    <strong>Site Not Saved!</strong> Please try again later.
                </div>
                <div class="alert alert-danger" ng-show="errorProject">
                    <strong>Invalid Client</strong> Please choose another one.
                </div>
            </div>
            <div class="col-md-12">



            </div>

        </div>
    </div>


</div>


<!--<div class="crud-form"-->
<!--data-unique-hash="a2ad475d60b22954085c657a73309b8f">-->
<!--<div class="container" ng-controller="SiteController">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->

<!--<div class="alert alert-success" ng-show="success">-->
<!--<strong>Site saved!</strong>-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="errorSitesExists">-->
<!--<strong>Site already registered!</strong> Please choose another one.-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="error">-->
<!--<strong>Site Not Saved!</strong> Please try again later.-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="errorProject">-->
<!--<strong>Invalid Project</strong> Please choose another one.-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<div class="titleCon">-->
<!--<h3>Add Site</h3>-->
<!--</div>-->

<!--<div class="form-container table-container">-->
<!--<form ng-show="!success" name="form" role="form" novalidate-->
<!--ng-submit="saveSite()" class="form-horizontal">-->

<!--<div class="form-group ">-->
<!--<label class="col-sm-3 control-label"> Site </label>-->
<!--<div class="col-sm-5">-->
<!--<input id='siteName' ng-model="site.name" class='form-control'-->
<!--name='siteName' type='text' value=""-->
<!--ng-minlength=1 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus required/>-->
<!--<div ng-show="form.$submitted || form.siteName.$touched">-->
<!--<div ng-show="form.siteName.$dirty || form.siteName.$invalid">-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.required">-->
<!--Site name is required.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.minlength">-->
<!--Site name is required to be at least 5 character.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.maxlength">-->
<!--Site name cannot be longer than 50 characters.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.pattern">-->
<!--Site name can only contain letters, digits and space.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> Country </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<input id='country' ng-model="site.country" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='country' type='text' value=""&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength=50&ndash;&gt;-->
<!--&lt;!&ndash;ng-pattern="/^[A-Za-z0-9\s&-/]*$/"/>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.country.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.country.$dirty || form.country.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.country.$error.maxlength">&ndash;&gt;-->
<!--&lt;!&ndash;Country cannot be longer than 50 characters.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.country.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Country can only contain letters and space.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> State </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<input id='state' ng-model="site.state" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='state' type='text' value=""&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength=50&ndash;&gt;-->
<!--&lt;!&ndash;/>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.state.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.state.$dirty || form.state.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.state.$error.maxlength">&ndash;&gt;-->
<!--&lt;!&ndash;State cannot be longer than 200 characters.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> Address </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<textarea id='siteName' ng-model="site.address"&ndash;&gt;-->
<!--&lt;!&ndash;class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='address'&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength='2500' >&ndash;&gt;-->
<!--&lt;!&ndash;</textarea>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.address.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.address.$dirty || form.address.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; <p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.siteName.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Project name can only contain letters, digits and space.&ndash;&gt;-->
<!--&lt;!&ndash;</p> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label">Start Date</label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;<input ng-model="site.startDate" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='startDate' datetime-picker="dd-MMM-yyyy HH:mm"&ndash;&gt;-->
<!--&lt;!&ndash;is-open="calendar.start"> <span&ndash;&gt;-->
<!--&lt;!&ndash;class="input-group-btn">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="openCalendar($event, 'start')">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-calendar"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.startDate.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.startDate.$dirty || form.startDate.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.startDate.$error.required">&ndash;&gt;-->
<!--&lt;!&ndash;Start Date is required.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.startDate.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Invalid Date Format&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label">End Date</label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;<input ng-model="site.endDate" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='endDate' datetime-picker="dd-MMM-yyyy HH:mm"&ndash;&gt;-->
<!--&lt;!&ndash;is-open="calendar.end" /> <span&ndash;&gt;-->
<!--&lt;!&ndash;class="input-group-btn">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="openCalendar($event, 'end')">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-calendar"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.endDate.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.endDate.$dirty || form.endDate.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.endDate.$error.required">&ndash;&gt;-->
<!--&lt;!&ndash;End Date is required.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.endDate.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Invalid Date Format&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->



<!--&lt;!&ndash; Start of hidden inputs &ndash;&gt;-->
<!--&lt;!&ndash; End of hidden inputs &ndash;&gt;-->

<!--<div class='small-loading hidden' id='FormLoading'>Loading,-->
<!--saving data...</div>-->

<!--<div class="form-group">-->
<!--<div id='report-error' class='report-div error bg-danger'-->
<!--style="display: none"></div>-->
<!--<div id='report-success' class='report-div success bg-success'-->
<!--style="display: none"></div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-offset-3 col-sm-7">-->
<!--<button class="btn btn-default btn-success b10" type="submit"-->
<!--id="form-button-save" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-check"></i> Save-->
<!--</button>-->
<!--<button class="btn btn-info b10" type="submit"-->
<!--id="save-and-go-back-button" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-rotate-left"></i> Save and go back to list-->
<!--</button>-->
<!--<button class="btn btn-default cancel-button b10" type="button"-->
<!--ng-click="cancelSite()" id="cancel-button">-->
<!--<i class="fa fa-warning"></i> Cancel-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
