<div class="crud-form ViewContentPageCon" ng-init="loadPageTop();">

    <div class="row">
        <div class="col-md-12">
            <div class="titleCon margn-btm-12">
                <h3>{{site.name | uppercase}}</h3>
            </div>


            <div class="panel panel-default" ng-init="loadSite()">
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Site Details</div>
                                <div class="panel-body" style="min-height: 310px;">

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td>{{site.id}}</td>
                                            </tr>
                                            <tr>
                                                <td>Client Name</td>
                                                <td  ng-if="site.projectName">{{site.projectName | uppercase}}</td>
                                            </tr>

                                            <tr ng-if="site.region">
                                                <td>Region</td>
                                                <td  ng-if="site.region">{{site.region | uppercase}}</td>
                                            </tr>

                                            <tr ng-if="site.branch">
                                                <td>Branch</td>
                                                <td  ng-if="site.branch">{{site.branch | uppercase}}</td>
                                            </tr>
                                            <tr>
                                                <td>Site Name</td>
                                                <td  ng-if="site.name"> {{site.name | uppercase}}</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td ng-if="site.address">{{site.address | capitalize}}</td>
                                            </tr>
                                            <tr>
                                                <td>State</td>
                                                <td>{{site.state}}</td>
                                            </tr>
                                            <tr>
                                                <td>Country</td>
                                                <td>{{site.country}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6">

                            <div class="panel panel-default">
                                <div class="panel-heading">Location Details</div>
                                <div class="panel-body" style="min-height: 310px;">

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>Site Location (Latitude)</td>
                                                <td>{{site.addressLat}}</td>
                                            </tr>
                                            <tr>
                                                <td>Site Location (Longitude)</td>
                                                <td>{{site.addressLng}}</td>
                                            </tr>
                                            <tr>
                                                <td>Geo Fence Radius (in Kms.)</td>
                                                <td>{{site.radius}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 col-lg-6">

                            <div class="panel panel-default">
                                <div class="panel-heading">Shift Timings Details</div>
                                <div class="panel-body" style="min-height: 250px;">

                                    <div class="table table-bordered">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>From Time</td>
                                                <td>To Time</td>
                                            </tr>
                                            <tr  ng-repeat=" item in shiftItems">
                                                <td>{{item.startTime | date:'hh:mm a'}}</td>
                                                <td>{{item.endTime | date:'hh:mm a'}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" align="center" ng-show="!shiftItems">No Shifts</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12 txt-align-rgt">
                            <button class="btn btn-default" type="button"
                                    ng-click="back('cancel')" id="close-button-right">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
