<div class="crud-form" ng-init="loadPageTop();">

    <div class="row">
        <div class="col-md-12">
            <div class="titleCon margn-btm-12">
                <h3>{{site.name}}</h3>
            </div>


            <div class="panel panel-default" ng-init="loadSite()">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-6 col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Site Details</div>
                                <div class="panel-body" style="min-height: 310px;">

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>ID</td>
                                                <td>{{site.id}}</td>
                                            </tr>
                                            <tr>
                                                <td>Client Name</td>
                                                <td class="TxtFirstCaps">{{site.projectName}}</td>
                                            </tr>
                                            <tr>
                                                <td>Site Name</td>
                                                <td class="TxtFirstCaps">{{site.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>{{site.address}}</td>
                                            </tr>
                                            <tr>
                                                <td>State</td>
                                                <td>{{site.state}}</td>
                                            </tr>
                                            <tr>
                                                <td>Country</td>
                                                <td>{{site.country}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6">

                            <div class="panel panel-default">
                                <div class="panel-heading">Location Details</div>
                                <div class="panel-body" style="min-height: 310px;">

                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>Site Location (Latitude)</td>
                                                <td>{{site.addressLat}}</td>
                                            </tr>
                                            <tr>
                                                <td>Site Location (Longitude)</td>
                                                <td>{{site.addressLng}}</td>
                                            </tr>
                                            <tr>
                                                <td>Geo Fence Radius (in Kms.)</td>
                                                <td>{{site.radius}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 col-lg-6">

                            <div class="panel panel-default">
                                <div class="panel-heading">Shift Timings Details</div>
                                <div class="panel-body">

                                    <div class="table table-bordered">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>From Time</td>
                                                <td>To Time</td>
                                            </tr>
                                            <tr  ng-repeat=" item in shiftItems">
                                                <td>{{item.startTime | date:'hh:mm a'}}</td>
                                                <td>{{item.endTime | date:'hh:mm a'}}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12 txt-align-rgt">
                            <button class="btn btn-default" type="button"
                                    ng-click="back('cancel')" id="close-button-right">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
