<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  
</head>
<style type="text/css">
	.container{
		padding:15px;
		font-size:16px;
		line-height:32px;
	}
	table{
		font-size:16px; 
	}
	p{
		text-indent: 50px;
	}
</style>
<body>
<div class="container">
    
    <h2>Declaration Form</h2>
    
    
	#foreach($para  in $paras)	
		<p>$para</p>
	#end
 
    <table cellpadding="5"  cellspacing="0" border="0" width="100%" style="margin-top:50px">
    	<tr>
    		<td width="50%"><b>Date</b> : $date</td>
    		<td style="text-align:right"><b>Place</b> : $employee.onboardedPlace </td>
    	</tr>
    	<tr>
    		<td width="50%"><b>Name</b> : $employee.fullName<br/><br/>
    		
    		<img src="$employeeDocuments" width="100" /> </td>
    		<td></td>
    	</tr>
    </table>
    
</div>
</body>
</html>
