<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div class="">

        <div class="row" ng-init="initLoad()">
            <div class="col-mod-12">
                <!--<div class="alert alert-success" ng-show="success">-->
                    <!--<strong>Quotation saved!</strong>-->
                <!--</div>-->

                <!--<div class="alert alert-danger" ng-show="error">-->
                    <!--<strong>Quotation Not Saved!</strong> Please try again later.-->
                <!--</div>-->
                <!--<div class="alert alert-danger" ng-show="errorQuotationExists">-->
                    <!--<strong>Quotation already registered!</strong> Please choose another one.-->
                <!--</div>-->
            </div>
            <div class="col-md-12">

                <div class="form-container table-container">
                    <form ng-show="!success" name="form" role="form" novalidate
                          ng-submit="saveRateCard()"  class="form-horizontal">

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="card formcard">

                                    <div class="card-content">
										<div class="row">
											<div class="col-md-12">
	                                           <div class="form-group">
	                                               <label class="control-label">Client</label>

	                                               <select class=" form-control " ng-model="selectedProject" ng-change="loadSites()" ng-options="project as project.name for project in projects" required>
                                                       <option value="">Please select Client...</option>
                                                   </select>
                                                   <div ng-show="form.$submitted || form.projectName.$touched">
                                                       <div ng-show="form.projectName.$dirty || form.projectName.$invalid">
                                                           <p class="help-block" style="color:maroon"
                                                              ng-show="form.projectName.$error.required">
                                                               Client name is required.
                                                           </p>
                                                           <p class="help-block" style="color:maroon"
                                                              ng-show="form.projectName.$error.minlength">
                                                               Client name is required to be at least 2 character.
                                                           </p>
                                                           <p class="help-block" style="color:maroon"
                                                              ng-show="form.projectName.$error.maxlength">
                                                               Client name cannot be longer than 50 characters.
                                                           </p>
                                                           <p class="help-block" style="color:maroon"
                                                              ng-show="form.projectName.$error.pattern">
                                                               Client name can only contain letters, digits and space.
                                                           </p>
                                                       </div>
                                                   </div>


	                                           </div>
	                                       </div>


										</div>
                                        <div class="row">

                                            <div class="col-md-12">
                                            	<div class="form-group">
                                                	<label class="control-label">Type</label>

                                                	<select ng-model="rateCard.type" ng-options="type as type.name for type in rateCardTypes" class="form-control" data-style="btn btn-primary btn-round" title="Select Type" data-size="7">
					                                	<option value="">Please select rate card type...</option>
					                            	</select>

                                                <!-- <select class="selectpicker" data-style="btn btn-primary" ng-model="rateCard.type" title="Single Select" data-size="7">
                                                    <option disabled selected>Choose Type</option>
                                                    <option value="material">Material</option>
                                                    <option value="labour">Labour</option>
                                                    <option value="service">Service</option>
                                                </select> -->
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
	                                         <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Name</label>
                                                    <input ng-model="rateCard.name" class='form-control' name='name' type='text' value=""
                                                           ng-minlength='2' ng-maxlength='50' autofocus required/>

                                                </div>
                                            </div>

                                        </div>

									<div class="row">
	                                        <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="control-label">UOM Type</label>
	                                                <select ng-model="rateCard.uom" ng-options="uom as uom for uom in uomTypes" class="form-control" data-style="btn btn-primary btn-round" title="Select UOM" data-size="7">
						                                <!-- <option value="{{action.id}}" ng-repeat="action in masterActions">{{action.name}}</option> -->
						                            </select>

                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">

                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="control-label"> Cost</label>
                                                    <input   class='form-control' ng-model="rateCard.cost" name='cost' type='number' value=""
                                                             ng-minlength='2' ng-maxlength='50' autofocus required/>

                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-12 txt-align-rgt">
                                                <div class="form-group">

                                                    <button class="btn btn-success" type="submit"
                                                            id="form-button-save" ng-disabled="form.$invalid || btnDisable">
                                                        <span class="btn-label"><i class="material-icons">check</i></span> Save
                                                    </button>
                                                    <button class="btn btn-danger" type="button"
                                                            ng-click="cancelRateCard()" id="cancel-button"  ng-disabled="btnDisable">
                                                        <i class="material-icons">close</i> Cancel
                                                    </button>

                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='small-loading hidden' id='FormLoading'>Loading,
                            saving data...</div>

                        <div class="form-group">
                            <div id='report-error' class='report-div error bg-danger'
                                 style="display: none"></div>
                            <div id='report-success' class='report-div success bg-success'
                                 style="display: none"></div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>
