<div class="crud-form"
	data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="loadPageTop();init();loadingAuto();loadQuotation();">
	<div class="">

		<div class="row">
			<!-- <div class="col-mod-12">
				<div class="alert alert-success" ng-show="success">
					<strong>Quotation saved!</strong>
				</div>

				<div class="alert alert-danger" ng-show="error">
					<strong>Quotation Not Saved!</strong> Please try again later.
				</div>
				<div class="alert alert-danger" ng-show="errorQuotationExists">
					<strong>Quotation already registered!</strong> Please choose
					another one.
				</div>
			</div> -->
			<div class="col-md-12">
				<!--<div class="titleCon">-->
				<!--<h3>Add Quotation</h3>-->
				<!--</div>-->
				<div class="form-container table-container AddQuotationContent">
					<form ng-show="!success" name="form" role="form" novalidate
						 class="form-horizontal">

						<div class="row">
							<div class="col-md-12">
								<div class="card formcard">

									<div class="card-content">


										<div class="row">

											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label">Title<span class="red-star">*</span></label>
													   <input
														id='quotationTitle' ng-model="quotation.title"
														class='form-control InputTxtCapsAll' name='quotationTitle' type='text'
														value="" ng-minlength='2' ng-maxlength='50'
														ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus required />
													<div
														ng-show="form.$submitted || form.quotationTitle.$touched">
														<div
															ng-show="form.quotationTitle.$dirty || form.quotationTitle.$invalid">
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationTitle.$error.required">Enter
																a valid Title.</p>
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationTitle.$error.minlength">
																Title should be atleast 2 Characters.</p>
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationTitle.$error.maxlength">
																Title cannot be longer than 50 characters.</p>
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationTitle.$error.pattern">Title
																can only contain letters, digits and space.</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="control-label">Description</label> <input
														id='quotationDescription' ng-model="quotation.description"
														class='form-control' name='quotationDescription'
														type='text' value="" ng-maxlength=50
														ng-pattern="/^[A-Za-z0-9\s&-/]*$/" />
													<div
														ng-show="form.$submitted || form.quotationDescription.$touched">
														<div
															ng-show="form.quotationDescription.$dirty || form.quotationDescription.$invalid">
															<p class="help-block" style="width:100%;z-index:996;background:#fff;color:maroon"
																ng-show="form.quotationDescription.$error.maxlength">
																Quotation Description cannot be longer than 250
																characters.</p>
															<p class="help-block" style="width:100%;z-index:998;background:#fff;color:maroon"
																ng-show="form.quotationDescription.$error.pattern">
																Quotation Description contain letters and space.</p>
														</div>
													</div>
												</div>
											</div>

										</div>
										<div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label class="control-label">Client</label>
                                                    <span class="red-star">*</span>
                                                    <div class="dropdown">

                                                        <span ng-show="!clientDisable && !SelectClient.selected" class="form-control-feedback d-sm-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>

		                                                <ui-select ng-model="SelectClient.selected"  name="projectName" ng-disabled="clientDisable" ng-required="true">
														  <ui-select-match placeholder="Select clients..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
														  <ui-select-choices repeat="SelectClient in SelectClients | filter: $select.search"  ng-click="loadDepSitesList(SelectClient.selected)">
														    <span ng-bind-html="SelectClient.name | highlight: $select.search"></span>
														  </ui-select-choices>
														</ui-select>
                                                        <div ng-show="form.$submitted || form.projectName.$touched">
                                                            <div ng-show="form.projectName.$dirty || form.projectName.$invalid">
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.projectName.$error.required">
                                                                    Client name is required.
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Site</label>
                                                    <span class="red-star">*</span>
                                                    <div class="dropdown" >
                                                        <span ng-show="!siteDisable && !SelectSite.selected" class="form-control-feedback d-sm-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>

		                                               <ui-select ng-model="SelectSite.selected"  name="siteName" ng-disabled="siteDisable || SelectSites.length == 0" ng-required="true">
														  <ui-select-match placeholder="Select sites..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
														  <ui-select-choices repeat="SelectSite in SelectSites | filter: $select.search" >
														    <span ng-bind-html="SelectSite.name | highlight: $select.search"></span>
														  </ui-select-choices>
														</ui-select>
                                                        <span ng-if="SelectSites.length == 0"><p class="error-msg margin0">No sites</p></span>
                                                        <div ng-show="form.$submitted || form.siteName.$touched">
                                                            <div ng-show="form.siteName.$dirty || form.siteName.$invalid">
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.siteName.$error.required">
                                                                    Site name is required.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" >

                                                        <label class="control-label">File</label>
                                                        <input type="file"
                                                               class="form-control" style="opacity:100;position:relative" file-model
                                                               ng-model="selectedImageFile"
                                                               name="ImageFile"
                                                        />

                                                </div>
                                            </div>

                                        </div>
									</div>
								</div>
							</div>
							<div class="col-md-12">



								<div class="panel panel-default TabsContainer">
									<!--<div class="panel-heading">Panel Heading</div>-->
									<div class="panel-body">


										<ul class="nav nav-pills nav-pills-warning">
											<li class="active"><a href=".pill2" data-toggle="tab"
												> <i
													class="material-icons">add</i> Service</a></li>
											<li class=""><a href=".pill3" data-toggle="tab"
												> <i
													class="material-icons">add</i>  Labour</a></li>
											<li class=""><a href=".pill1" data-toggle="tab"
												><i
													class="material-icons">add</i>Material</a></li>
											<li class=""><a href=".pill4" data-toggle="tab"
												>Summary</a></li>
										</ul>
										<div class="tab-content TabsContent" style="">

											<div class="tab-pane fade in active pill2" id="pill2">
												<div class="row">

													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">Service Name</label>
															<input ng-model="serviceName"
																class='form-control' name='serviceName' type='text' value=""
																ng-minlength='1' ng-maxlength='100'
																ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus  />

														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Quantity</label>
															<input id='serviceQty' ng-model="serviceQty"
																	class='form-control' name='serviceQty' type='text'
																	value="" ng-minlength='1' ng-maxlength='6'
																	ng-pattern="/[0-9]*/" autofocus  />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Cost(Fixed)</label>
															<input ng-model="serviceUnitPrice"
																class='form-control' name='serviceUnitPrice' type='text' value=""
																ng-minlength='1' ng-maxlength='5'
																ng-pattern="/[0-9]*/" autofocus  />

														</div>
													</div>
													<div class="col-md-3 margn-top10">
														<button class="btn btn-success" ng-click="addService()">
															<span class="btn-label"><i class="material-icons">check</i></span>
														</button>

													</div>



												</div>
												<div class="table-responsive tablecard">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>Type</th>
																<th>Name</th>
																<th>UOM</th>
																<th>Quantity</th>
																<th>Unit Price</th>
																<th>Cost</th>
																<th class="text-right">Actions</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="rcDetail in serviceRateCardDetails">
																<td>{{rcDetail.type}}</td>
																<td>{{rcDetail.title}}</td>
																<td>{{rcDetail.uom}}</td>
																<td>{{rcDetail.qty}}</td>
																<td>{{rcDetail.unitPrice}}</td>
																<td>{{rcDetail.cost}}</td>
																<td class="text-right"><a
																	ng-class="{active: $state.includes('admin')}"
																	has-permission="Quotation:Edit"
																	ng-click="removeService($index)"
																	onClick="$('#deleteModal').modal()"
																	data-target="#myModal"
																	class="btn btn-simple btn-danger"><i
																		class="material-icons">close</i></a></td>

															</tr>

														</tbody>
														<tfoot>
															<tr>
																<th></th>
																<th></th>
																<th>Total</th>
																<th>{{serviceTotalCost}}</th>
																<th></th>
															</tr>
														</tfoot>
													</table>
												</div>
											</div>
											<div class="tab-pane fade pill3" id="pill3">
												<div class="row">

													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">Labour Category</label>
															<input ng-model="labourCategory"
																class='form-control' name='labourCategory' type='text' value=""
																ng-minlength='1' ng-maxlength='100'
																ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus   />

														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Hours</label>
															<input id='labourQty' ng-model="labourQty"
																	class='form-control' name='labourQty' type='text'
																	value="" ng-minlength='1' ng-maxlength='6'
																	ng-pattern="/[0-9]*/" autofocus  />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Cost(Per Hr)</label>
															<input ng-model="labourUnitPrice"
																class='form-control' name='labourUnitPrice' type='text' value=""
																ng-minlength='1' ng-maxlength='5'
																ng-pattern="/[0-9]*/" autofocus  />

														</div>
													</div>
													<div class="col-md-3 margn-top10">
														<button class="btn btn-success" ng-click="addLabour()">
															<span class="btn-label"><i class="material-icons">check</i></span>
														</button>

													</div>



												</div>

												<div class="table-responsive tablecard">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>Type</th>
																<th>Name</th>
																<th>UOM</th>
																<th>Hours</th>
																<th>Unit Price</th>
																<th>Cost</th>
																<th class="text-right">Actions</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="rcDetail in labourRateCardDetails">
																<td>{{rcDetail.type}}</td>
																<td>{{rcDetail.title}}</td>
																<td>{{rcDetail.uom}}</td>
																<td>{{rcDetail.qty}}</td>
																<td>{{rcDetail.unitPrice}}</td>
																<td>{{rcDetail.cost}}</td>
																<td class="text-right"><a
																	ng-class="{active: $state.includes('admin')}"

																	ng-click="removeLabour($index)"
																	onClick="$('#deleteModal').modal()"
																	data-target="#myModal"
																	class="btn btn-simple btn-danger"><i
																		class="material-icons">close</i></a></td>

															</tr>
														</tbody>
														<tfoot>
															<tr>
																<th></th>
																<th></th>
																<th>Total</th>
																<th>{{labourTotalCost}}</th>
																<th></th>
															</tr>
														</tfoot>
													</table>
												</div>
											</div>
											<div class="tab-pane fade pill1" id="pill1">
												<div class="row">

													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">Material Name</label>
															<input ng-model="materialName"
																class='form-control' name='materialName' type='text' value=""
																ng-minlength='1' ng-maxlength='100'
																ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus   />

														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Quantity</label>
															<input id='materialQty' ng-model="materialQty"
																	class='form-control' name='materialQty' type='text'
																	value="" ng-minlength='1' ng-maxlength='6'
																	ng-pattern="/[0-9]*/" autofocus  />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Cost</label>
															<input ng-model="materialUnitPrice"
																class='form-control' name='materialUnitPrice' type='text' value=""
																ng-minlength='1' ng-maxlength='5'
																ng-pattern="/[0-9]*/" autofocus  />

														</div>
													</div>
													<div class="col-md-3 margn-top10">
														<button class="btn btn-success" ng-click="addMaterial()">
															<span class="btn-label"><i class="material-icons">check</i></span>
														</button>

													</div>



												</div>

												<div class="table-responsive tablecard">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>Type</th>
																<th>Name</th>
																<th>UOM</th>
																<th>Quantity</th>
																<th>Unit Price</th>
																<th>Cost</th>
																<th class="text-right">Actions</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="rcDetail in materialRateCardDetails">
																<td>{{rcDetail.type}}</td>
																<td>{{rcDetail.title}}</td>
																<td>{{rcDetail.uom}}</td>
																<td>{{rcDetail.qty}}</td>
																<td>{{rcDetail.unitPrice}}</td>
																<td>{{rcDetail.cost}}</td>
																<td class="text-right"><a
																	ng-class="{active: $state.includes('admin')}"

																	ng-click="removeMaterial($index)"
																	onClick="$('#deleteModal').modal()"
																	data-target="#myModal"
																	class="btn btn-simple btn-danger"><i
																		class="material-icons">close</i></a></td>

															</tr>
														</tbody>
														<tfoot>
															<tr>
																<th></th>
																<th></th>
																<th>Total</th>
																<th>{{materialTotalCost}}</th>
																<th></th>
															</tr>
														</tfoot>

													</table>
												</div>
											</div>
											<div class="tab-pane fade pill4" id="pill4">

												<div class="table-responsive tablecard SummaryCard">
													<table class="table">

														<tbody>
															<tr>
																<td>Service Total Cost</td>

																<td class="text-right">{{serviceTotalCost}}</td>

															</tr>
															<tr>
																<td>Labour Total Cost</td>

																<td class="text-right">{{labourTotalCost}}</td>

															</tr>
															<tr>
																<td>Material Total Cost</td>

																<td class="text-right">{{materialTotalCost}}</td>

															</tr>
														</tbody>
														<tfoot>
															<tr>

																<th>Total</th>
																<th class="text-right">{{totalCost}}</th>

															</tr>
														</tfoot>
													</table>
												</div>
											</div>
										</div>


										<div class="">

											<div class="row">

												<div class="col-md-12 txt-align-rgt">
													<div class="form-group">

														<!--<button class="btn btn-success" ng-click="saveQuotation('submit')"-->
															<!--id="form-button-save" ng-disabled="form.$invalid">-->
															<!--<span class="btn-label"><i class="material-icons">check</i></span>-->
															<!--Send-->
														<!--</button>-->
                                                        <button type="submit"  ng-click="conform('send','submit')"
                                                                ng-disabled="form.$invalid || quoteStatus || btnDisable"  class="btn btn-success ld ld-over-inverse pull-right"
                                                                ng-class="{'running':saveLoad}">
                                                            <span class="btn-label"><i class="material-icons">save</i></span> Send
                                                            <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                                                        </button>
														<!--<button class="btn btn-warning" ng-click="saveQuotation('edit')" ng-disabled="form.$invalid">-->
															<!--<span class="btn-label"><i class="material-icons">save</i></span>-->
															<!--Save Draft-->
														<!--</button>-->
                                                        <button type="submit"  ng-click="conform('save','edit')"
                                                                ng-disabled="form.$invalid || quoteStatus || btnDisable"  class="btn btn-warning ld ld-over-inverse pull-right"
                                                                ng-class="{'running':saveLoad}">
                                                            <span class="btn-label"><i class="material-icons">save</i></span> Save Draft
                                                            <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                                                        </button>
														<!--<button class="btn btn-danger" type="button"-->
															<!--ng-click="cancelQuotation()" id="cancel-button">-->
															<!--<i class="material-icons">close</i> Cancel-->
														<!--</button>-->
                                                        <button type="submit" ng-disabled="btnDisable" ng-click="conform('cancel','')" id="cancel-button"   class="btn btn-danger pull-right">
                                                            <i class="material-icons">close</i> Cancel
                                                        </button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class='small-loading hidden' id='FormLoading'>Loading,
							saving data...</div>

						<div class="form-group">
							<div id='report-error' class='report-div error bg-danger'
								style="display: none"></div>
							<div id='report-success' class='report-div success bg-success'
								style="display: none"></div>
						</div>

					</form>
				</div>

			</div>

		</div>
	</div>


</div>
