

<div class="row" ng-init="initLoad();">
    <div class="col-md-6 txt-align-lft">

        <!--<button class="btn btn-info add-btn margn-tb0" data-toggle="modal" data-target="#basicFilter" tabindex="0">-->
            <!--<i class="material-icons">filter_list</i> Basic Filter-->
            <!--<div class="ripple-container"></div>-->
        <!--</button>-->
        <!--<button class="btn btn-success add-btn margn-tb0" data-toggle="modal" data-target="#advancedFilter" tabindex="0">-->
            <!--<i class="material-icons">filter_list</i> Advanced Filter-->
            <!--<div class="ripple-container"></div>-->
        <!--</button>-->

        <button class="btn btn-success add-btn margn-tb0" ng-click="filterModal1()" tabindex="0">
            <i class="material-icons">filter_list</i>Filter
            <div class="ripple-container"></div>
        </button>
        <button class="btn btn-warning add-btn margn-tb0"  ng-click="refreshPage()" tabindex="0">
            <i class="material-icons">refresh</i> Clear filter
            <div class="ripple-container"></div>
        </button>
        <button class="btn btn-info  add-btn margn-tb0" ng-show="isDashboard"  ng-click="backToDashboard()" tabindex="0">
            <i class="material-icons">keyboard_return</i>Dashboard
            <div class="ripple-container"></div>
        </button>

    </div>
    <div class="col-md-6 txt-align-rgt">



        <button class="btn btn-success add-btn margn-tb0"  ui-sref="add-quotation" has-permission="Quotation:Create" ng-class="{active: $state.includes('admin')}" tabindex="0">
            <i class="material-icons">add</i> Add
            <div class="ripple-container"></div>
        </button>


    </div>
</div>
<div class="AppliedFilterCon" ng-show="!searchCriteria.findAll || localStorage">
            <span class="AppliedFilterTxtCon">
                <span
	            class="tag label label-info" style="margin-right: 10px"
	            ng-show="searchCriteras.projectId !=0 && searchCriteras.projectId !=null">
					Client: {{searchCriteras.projectName}}
			    </span>

			    <span class="tag label label-info" style="margin-right: 10px"
	                  ng-show="searchCriteras.regionId !=0 && searchCriteras.regionId !=null">
					Region: {{searchCriteras.region}}
				</span>
				 <span class="tag label label-info" style="margin-right: 10px"
		                  ng-show="searchCriteras.branchId !=0 && searchCriteras.branchId !=null">
				    Branch: {{searchCriteras.branch}}
				</span>

                <span class="tag label label-info" style="margin-right: 10px"
	                  ng-show="searchCriteras.siteId !=0 && searchCriteras.siteId !=null">
					Site: {{searchCriteras.siteName}}
			    </span>

			    <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.quotationCreatedDate">
                    Created From Date: {{searchCriteras.quotationCreatedDate | date:'dd/MM/yyyy'}}
                </span>
                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.toDate">
                    Created To Date: {{searchCriteras.toDate | date:'dd/MM/yyyy'}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.quotationTitle">
                    Title: {{searchCriteras.quotationTitle}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.quotationCreatedBy">
                    Created by: {{searchCriteras.quotationCreatedBy}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.quotationApprovedBy">
                    Approved By: {{searchCriteras.quotationApprovedBy}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.quotationStatus">
                    Status: {{searchCriteras.quotationStatus}}
                </span>
            </span>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="card margin-TB-5 tablecard appModuleCard">

            <div class="card-content">

                <div class="table-responsive">
                    <table class="table table-hover withSortingIcons">
                        <thead>
                        <tr>
                            <th width="7%">Id
                                <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('serialId')" ng-class="isActiveAsc == 'serialId' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('serialId')" ng-class="isActiveDesc == 'serialId' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th width="15%">Title
                                <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('title')" ng-class="isActiveAsc == 'title' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('title')" ng-class="isActiveDesc == 'title' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th width="15%">Client
                                <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('projectName')" ng-class="isActiveAsc == 'projectName' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('projectName')" ng-class="isActiveDesc == 'projectName' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th width="13%">Site
                                 <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('siteName')" ng-class="isActiveAsc == 'siteName' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('siteName')" ng-class="isActiveDesc == 'siteName' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th width="10%">Created By
                                <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('createdByUserName')" ng-class="isActiveAsc == 'createdByUserName' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('createdByUserName')" ng-class="isActiveDesc == 'createdByUserName' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <!-- <th>Submitted By</th>
                            <th>Approved By</th> -->
                            <th width="15%">Created Date
                              <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('createdDate')" ng-class="isActiveAsc == 'createdDate' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('createdDate')" ng-class="isActiveDesc == 'createdDate' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <!-- <th>Submitted On</th>
                            <th>Approved On</th> -->
                            <th width="10%">Status
                                <!-- <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('status')" ng-class="isActiveAsc == 'status' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('status')" ng-class="isActiveDesc == 'status' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span> -->
                            </th>
                            <th width="10%">Amount</th>
                            <th width="5%" class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="quotation in quotations">
                            <td>{{quotation.serialId}}</td>
                            <td>{{quotation.title | uppercase}}</td>
                            <td>{{quotation.projectName}}</td>
                            <td>{{quotation.siteName}}</td>
                            <td>{{quotation.createdByUserName}}</td>
                            <!-- <td>{{quotation.sentByUserName}}</td>
                            <td>{{quotation.approvedByUserName}}</td> -->
                            <td><label ng-bind="quotation.createdDate | date:'dd-MMM-yyyy hh:mm a'"/></td>
                            <!-- <td><label ng-bind="quotation.submittedDate | date:'dd-MMM-yyyy hh:mm a'"/></td>
                            <td><label ng-bind="quotation.approvedDate | date:'dd-MMM-yyyy hh:mm a'"/></td> -->
                            <td >
                            <button class="btn btn-success" ng-if="quotation.isApproved">Approved</button>
                            <button class="btn btn-success" ng-if="quotation.isRejected" style='background-color:red;'>Rejected</button>

                            <button class="btn btn-label"  ng-if="quotation.isArchived">Archived</button>
                            <button class="btn btn-info" ng-if="quotation.isDrafted">Pending</button>
                            <button class="btn btn-warning" ng-if="quotation.isSubmitted">Waiting for approval</button></td>
                            <td>{{quotation.grandTotal}} </td>
                            <td class="text-right hoverMe">

                                <a   title="View More Action"  class="btn btn-simple btn-info btn-icon like Viewmore"><i class="material-icons">more_vert</i></a>

                                <div class="HoverBx">

                                    <a name="View" ng-class="{active: $state.includes('admin')}"  has-permission="Quotation:View" ui-sref="view-quotation({ id: quotation._id })"  class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>

                                    <a name="Edit" ng-if="!quotation.isSubmitted && !quotation.isApproved" has-permission="Quotation:Edit"  ng-class="{active: $state.includes('admin')}"  ui-sref="edit-quotation({ id: quotation._id })"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>

                                    <!-- <a name="Approve Quotation" ng-if="quotation.isSubmitted" ng-class="{active: $state.includes('admin')}"  ng-click="approveQuotation(quotation)"  class="btn btn-simple btn-success"></a> -->
                                    <button  title="Approve" ng-if="quotation.isSubmitted && !quotation.isApproved"    data-toggle="modal" data-target="#approveQuotationModal" data-dismiss="#approveQuotationModal" ng-click="selectQuotation(quotation)"  class="btn btn-simple btn-info btn-icon like" ng-disabled="rejectOnBoardingLoader"> <i class="material-icons">
                                        offline_pin
                                    </i> </button>
                                    <button  title="Reject" ng-if="quotation.isSubmitted && !quotation.isApproved && !quotation.isRejected"    data-toggle="modal" data-target="#rejectQuotationModal" data-dismiss="#rejectQuotationModal" ng-click="selectQuotation(quotation)"  class="btn btn-simple btn-info btn-icon like" ng-disabled="rejectOnBoardingLoader">
                                        <i class="material-icons">highlight_off</i> </button>

                                        <!-- <button  title="Reject" ng-if="quotation.isSubmitted && !quotation.isApproved && !quotation.isRejected"    data-toggle="modal" data-target="#rejectQuotationModal" data-dismiss="#rejectQuotationModal" ng-click="selectQuotation(quotation)"  class="btn btn-simple btn-info btn-icon like">
                                            <i class="material-icons">highlight_off</i> </button> -->

                                            <!-- <button title="Reject" ng-if="quotation.isSubmitted && !quotation.isApproved && !quotation.isRejected"   href="javascript:void(0);" id="remarks"  onClick="$('#remarksModal').modal()"  data-toggle="modal" data-target="#rejectQuotationModal" data-dismiss="#rejectQuotationModal" ng-click="selectQuotation(quotation)"  class="btn btn-simple btn-info btn-icon like">
                                                <i class="material-icons">highlight_off</i> </button> -->
                                    
                                                <a name="Delete" ng-if="quotation.isApproved || quotation.isDrafted" ng-class="{active: $state.includes('admin')}" has-permission="Quotation:Delete"  ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>

                                    <!-- <button  has-permission="OnBoarding:Reject" class="btn btn-warning ld ld-over-inverse" type="button" href="javascript:void(0);" id="remarks"  onClick="$('#remarksModal').modal()" data-target="#approveQuotationModal" data-dismiss="#approveQuotationModal" ng-disabled="rejectOnBoardingLoader" >
                                        <span  ng-show="rejectOnBoardingLoader"><i class="fas fa-circle-notch fa-spin"></i></span>&nbsp;<i class="fas fa-check"></i>&nbsp; Reject         
                                    </button>  -->

                                </div>

                             </td>


                        </tr>



                        </tbody>
                    </table>
                </div>

                <div class="txt-align-center LoaderCon"  ng-hide="quotationsLoader">

                    <div class="pad-TB-30">
                        <div loader-css="ball-pulse"></div>
                        <h3 >Loading, please wait...</h3>
                    </div>

                </div>

                <div class="txt-align-center pad-TB-30 noDataCon" ng-show="noData">

                    <h3>No data Found</h3>

                </div>


            </div>
        </div>
    </div>
</div>

<!-- Pagination directive start -->

<pagination-new></pagination-new>

<!-- Pagination directive end -->

<!----------------------------suresh start------------------------------------->

<div class="modal fade" id="approveQuotationModal" tabindex="-1" role="dialog" aria-labelledby="approveQuotationModal" aria-hidden="true">
    <form name="approveForm" ng-submit="approveQuotation(quotation)" role="form" novalidate>
        <div class="modal-dialog modal-notice">
               

            <div class="modal-content">
            
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                            <h5 class="modal-title" id="remarkdsModal">Remarks<span class="red-star">*</span></h5>
                        </div>
                        <div class="modal-body" style="height:170px">
                                
                                    <div class="col-md-12">
                                        <input class="form-control border-bottom-input"  name="addRemark" ng-model="remarks" placeholder="Enter Remarks.." required>
                                        <div ng-show="approveForm.$submitted || approveForm.addRemark.$touched || approveForm.addRemark.$dirty">
                                            <div ng-show="approveForm.addRemark.$dirty || approveForm.addRemark.$invalid">
                                                <p class="help-block" style="color:maroon"
                                                   ng-show="approveForm.addRemark.$error.required">
                                                    Remarks is required.
                                                </p>
                            
                                            </div>
                                        </div>
                                    </div>
                            
                            
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-info " ng-disabled="remarkForm.$invalid" >Approve</button>
                                    </div>
                            
                               
                                </div>

            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="rejectQuotationModal" tabindex="-1" role="dialog" aria-labelledby="rejectQuotationModal" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="remarkdsModal">Remarks<span class="red-star">*</span></h5>
            </div>
            <div class="modal-body" style="height:170px">
    <form name="rejectForm" ng-submit="rejectQuotation(quotation)" role="form" novalidate>
       
        <div class="col-md-12">
            <input class="form-control border-bottom-input"  name="rejectRemark" ng-model="remarks" placeholder="Enter Remarks for Reject.." required>
            <div ng-show="rejectForm.$submitted || rejectForm.rejectRemark.$touched || rejectForm.rejectRemark.$dirty">
                <div ng-show="rejectForm.rejectRemark.$dirty || rejectForm.rejectRemark.$invalid">
                    <p class="help-block" style="color:maroon"
                       ng-show="rejectForm.rejectRemark.$error.required">
                        Remarks is required.
                    </p>

                </div>
            </div>
        </div>


        <div class="col-md-12">
            <button type="submit" class="btn btn-info " ng-disabled="remarkForm.$invalid" > Reject</button>
        </div>

    </form>
    </div>
    </div>
</div>
</div>
<!----------------------------suresh end------------------------------------->

<!-- BasicFilterModal -->
<!--<div class="modal fade BasicFilterModal FilterModalCon" id="basicFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<form name="searchForm"   novalidate >-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                        <!--<i class="material-icons">clear</i>-->
                    <!--</button>-->
                    <!--<h4 class="modal-title">Basic Filter</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->

                    <!--<div class="row">-->

                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<label class="label-control">Client</label>-->
                                    <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                    <!--<select class="form-control " ng-model="searchProject" ng-change="loadDepSites()" ng-options="project as project.name for project in projects">-->
                                        <!--<option value="">Select Client...</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="dropdown">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="label-control">Site</label>-->
                                    <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                    <!--<select class="form-control " ng-model="searchSite"  ng-options="site as site.name for site in sitesList">-->
                                        <!--<option value="">Select Site...</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->



                    <!--</div>-->

                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="submit" class="btn btn-success btn-simple" ng-click = "searchFilter1()" data-dismiss="modal" ng-disabled="searchForm.$invalid">Apply Filter</button>-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>&ndash;&gt;-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--  End Modal -->

<!-- AdvancedFilterModal -->
<!--<div class="modal fade AdvancedFilterModal FilterModalCon" id="advancedFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<form name="searchForm1"   novalidate >-->

                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                        <!--<i class="material-icons">clear</i>-->
                    <!--</button>-->
                    <!--<h4 class="modal-title">Advanced Filter</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->

                    <!--<div class="row">-->

                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<input type="text"-->
                                           <!--class="form-control border-bottom-input"-->
                                           <!--name="searchId"-->
                                           <!--placeholder="Id"-->
                                           <!--ng-pattern="/^[0-9]*$/"-->
                                           <!--ng-model="searchId"-->

                                    <!--/>-->

                                    <!--<div ng-show="searchForm1.$submitted || searchForm1.searchId.$touched">-->
                                        <!--<div ng-show="searchForm1.searchId.$dirty || searchForm1.searchId.$invalid">-->

                                            <!--<p class="help-block" style="color:maroon;"-->
                                               <!--ng-show="searchForm1.searchId.$error.pattern">-->
                                                <!--Quotation id only contain numbers.-->
                                            <!--</p>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<input type="text"-->
                                           <!--class="form-control border-bottom-input"-->
                                           <!--placeholder="Title"-->
                                           <!--ng-model="searchTitle"-->

                                    <!--/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<input type="text"-->
                                           <!--class="form-control searchable-input floatL border-bottom-input"-->
                                           <!--placeholder="Created By"-->
                                           <!--ng-model="searchCreatedBy"-->
                                    <!--/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="row">-->

                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<input type="text"-->
                                           <!--class="form-control searchable-input floatL border-bottom-input"-->
                                           <!--placeholder="Approved By"-->
                                           <!--ng-model="searchApprovedBy"-->

                                    <!--/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<input type="text"-->
                                           <!--class="form-control searchable-input floatL border-bottom-input"-->
                                           <!--placeholder="Status"-->
                                           <!--ng-model="searchStatus"-->
                                    <!--/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->

                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="submit" class="btn btn-success btn-simple" ng-click = "searchFilter()" data-dismiss="modal" ng-disabled="searchForm1.$invalid">Apply Filter</button>-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>&ndash;&gt;-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--  End Modal -->
<!-- Filter New -->

<div class="modal fade AdvancedFilterModal FilterModalCon" id="Filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="searchForm" role="form" ng-submit ="searchFilter()"  novalidate >

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapseOne" aria-expanded="true"
                                   aria-controls="collapseOne" class="collapsed">
                                    <h4 class="panel-title">
                                        Basic Filter <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseOne"
                                 class="panel-collapse collapse collapseOne in" role="tabpanel"
                                 aria-labelledby="headingOne" aria-expanded="true"
                                 style="height: 210px;">
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-xs-12 col-md-6 col-lg-6" >
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Client</label>
                                                    <span ng-show="clientFilterDisable"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                    <span ng-show="!clientFilterDisable && !client.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

				                                    <ui-select ng-model="client.selected"  on-select="loadDepSitesList(client.selected);loadRegionsList(client.selected.id)" ng-disabled="clientFilterDisable">
													  <ui-select-match placeholder="Select clients..."  >{{$select.selected.name}}
															<a   ng-click="clearProject($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
														   class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
														   <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
													  </ui-select-match>
													  <ui-select-choices repeat="client in clients | filter: $select.search" ng-click="loadDepSitesList(client.selected);loadRegionsList(client.selected.id)" null-option="allClients" loose-null>

													    <span ng-bind-html="client.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-6 col-lg-6">
				                            <div class="form-group" >

				                                    <div class="dropdown">
				                                        <label class="label-control">Region</label>
				                                        <span ng-show="regionSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                        <span ng-show="!regionSpin && !regionsListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

						                                <ui-select ng-model="regionsListOne.selected" on-select="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,'');loadBranchList(client.selected.id)"  ng-disabled="regionFilterDisable || regionsLists.length == 1">
														  <ui-select-match placeholder="Select region..." >{{$select.selected.name}}
														       <a   ng-click="clearRegion($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
															   class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
															   <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
														  </ui-select-match>
														  <ui-select-choices repeat="regionsListOne in regionsLists | filter: $select.search" ng-click="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,'');loadBranchList(client.selected.id)" null-option="allRegions" loose-null>
														    <span ng-bind-html="regionsListOne.name | highlight: $select.search"></span>
														  </ui-select-choices>
														</ui-select>
														<span ng-if="regionsLists.length == 1"><p class="error-msg margin0">No region</p></span>
				                                    </div>
				                            </div>
				                        </div>
                                   </div>

                                   <div class="row">
                                   		<div class="col-xs-12 col-md-6 col-lg-6">
                                   		   <div class="form-group" >
				                            <div class="dropdown">
				                                <label class="label-control">Branch</label>
				                                 <span ng-show="branchSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                 <span ng-show="!branchSpin && !branchsListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

					                                <ui-select ng-model="branchsListOne.selected"  on-select="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,branchsListOne.selected.name)" ng-disabled="branchFilterDisable || branchsLists.length == 1">
													  <ui-select-match placeholder="Select branch...">{{$select.selected.name}}
													           <a   ng-click="clearBranch($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
															   class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
															   <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
													  </ui-select-match>
													  <ui-select-choices repeat="branchsListOne in branchsLists | filter: $select.search" ng-click="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,branchsListOne.selected.name)" null-option="allRegions" loose-null>
													    <span ng-bind-html="branchsListOne.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
													<span ng-if="branchsLists.length == 1"><p class="error-msg margin0">No branch</p></span>
											 </div>
				                            </div>
				                        </div>


                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="label-control">Site</label>
                                                    <span ng-show="siteSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                    <span ng-show="!siteSpin && !sitesListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

				                                    <ui-select ng-model="sitesListOne.selected"  ng-disabled="siteFilterDisable || sitesLists.length == 1">
													  <ui-select-match placeholder="Select site..." >{{$select.selected.name}}
													      <a   ng-click="clearSite($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
														   class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
														   <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
													  </ui-select-match>
													  <ui-select-choices repeat="sitesListOne in sitesLists | filter: $select.search"  null-option="allSites" loose-null>
													    <span ng-bind-html="sitesListOne.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
													<span ng-if="sitesLists.length == 1"><p class="error-msg margin0">No sites</p></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h4 class="panel-title">
                                        Advanced Filter
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">

                                    <div class="row">

                                        <!-- <div class="col-xs-12 col-md-4">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           name="searchId"
                                                           placeholder="Id"
                                                           ng-pattern="/^[0-9]*$/"
                                                           ng-model="searchId"

                                                    />

                                                    <div ng-show="searchForm1.$submitted || searchForm1.searchId.$touched">
                                                        <div ng-show="searchForm1.searchId.$dirty || searchForm1.searchId.$invalid">

                                                            <p class="help-block" style="color:maroon;"
                                                               ng-show="searchForm1.searchId.$error.pattern">
                                                                Quotation id only contain numbers.
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Created From Date</label>
                                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                    <input type="text" class="form-control datepicker" onkeydown="return false" id="searchCreatedDate" placeholder="DD/MM/YYYY"  ng-model="searchCreatedDate" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Created To Date</label>
                                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                    <input type="text" class="form-control datepicker" onkeydown="return false" id="searchToDate" placeholder="DD/MM/YYYY"  ng-model="searchToDate" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <!-- <input type="text"
                                                           class="form-control searchable-input floatL border-bottom-input"
                                                           placeholder="Status"
                                                           ng-model="searchStatus"
                                                    /> -->
                                                    <label class="label-control">Select Status</label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control"  ng-model="searchStatus">
                                                    <option value="">SELECT STATUS</option>
                                                    <option value="Waiting for approval">WAITING FOR APPROVAL</option>
                                                    <option value="Pending">PENDING</option>
                                                    <option value="Approved">APPROVED</option>
                                                    <option value="Rejected">REJECTED</option>
                                                    <option value="Archived">ARCHIVED</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                            <div class="dropdown">
                                                 <div class="form-group" >
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           placeholder="Title"
                                                           ng-model="searchTitle"

                                                    />
                                                </div>
                                            </div>
                                     </div>
                                     <div class="col-xs-12 col-md-4">
                                             <div class="dropdown">
                                                 <div class="form-group" >
                                                   <input type="text"
                                                           class="form-control searchable-input floatL border-bottom-input"
                                                           placeholder="Created By"
                                                           ng-model="searchCreatedBy"
                                                    />
                                                </div>
                                            </div>
                                        </div>
	                                    <div class="col-xs-12 col-md-4">
	                                             <div class="dropdown">
	                                                <div class="form-group" >

	                                                    <input type="text"
	                                                           class="form-control searchable-input floatL border-bottom-input"
	                                                           placeholder="Approved By"
	                                                           ng-model="searchApprovedBy"

	                                                    />
	                                                </div>
	                                           </div>
	                                     </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal" >Cancel</button>
                    <button type="submit" class="btn btn-success btn-simple"  >Apply Filter</button>
                    <!--<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>-->
                </div>
            </form>
        </div>
    </div>
</div>


<!-- -->
