
<!--<div class="row TopButtonsCon">-->
    <!--<div class="col-md-8">-->
        <!--&lt;!&ndash;<h2 class="title">Quotation</h2>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="col-md-4 txt-align-rgt" ng-init="loadAllQuotations()">-->
        <!--<button ui-sref="add-quotation"  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" class="btn btn-success align-left"> <i class="material-icons padding-right5">add</i>ADD<div class="ripple-container"></div></button>-->
        <!--<button ng-click="refreshPage()" class="btn btn-warning align-left"> <i class="material-icons padding-right5">refresh</i>Reload<div class="ripple-container"></div></button>-->
    <!--</div>-->
<!--</div>-->

<div class="row" ng-init="initLoad()" >

    <div class="col-md-12">
        <div class="card margin-TB-5 tablecard appModuleCard">

            <div class="card-content">
                    <div class="row" ng-init="loadProjectsList();">
                        <div class="col-md-12">
                            <div class="card formcard">
                                <div class="card-content">

                                    <form name="searchForm" ng-submit="searchFilter()">

                                    <div class="row" >
                                        <div class="col-xs-12 col-md-2 pdng-top25">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           placeholder="Id"
                                                           ng-model="selectedId"

                                                            />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3 pdng-top25">
                                                <div class="form-group" >
                                                    <div class="dropdown">
                                                        <input type="text"
                                                               class="form-control border-bottom-input"
                                                               placeholder="Title"
                                                               ng-model="selectedTitle"

                                                               />
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                                <div class="form-group" >
                                                    <!-- <div class="dropdown">
                                                        <input type="text"
                                                               class="form-control border-bottom-input"
                                                               placeholder="Client"
                                                               ng-model="searchCriteria.projectName"
                                                               ng-value="searchCriteria.projectName"
                                                               />
                                                    </div> -->
                                                    <div class="dropdown">
                                                        <label class="label-control">Select Client</label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control " ng-model="selectedProject" ng-change="loadSites()" ng-options="project as project.name for project in projects" >
                                                            <option value="">Select Client...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group" >
                                                <!-- <div class="dropdown">
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           placeholder="Site"
                                                           ng-model="searchCriteria.siteName"
                                                           ng-value="searchCriteria.siteName"
                                                           />
                                                </div> -->
                                                    <div class="dropdown">
                                                        <label class="label-control">Select Site</label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control " ng-model="selectedSite" ng-change="loadEmployees()" ng-options="site as site.name for site in sites">
                                                            <option value="">Select Site...</option>
                                                        </select>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3 pdng-top25">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <input type="text"
                                                           class="form-control searchable-input floatL border-bottom-input"
                                                           placeholder="Created By"
                                                           ng-model="selectedCreatedBy"
                                                           />
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                    <div class="row">
                                         <div class="col-xs-12 col-md-2">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <input type="text"
                                                           class="form-control searchable-input floatL border-bottom-input"
                                                           placeholder="Submitted By"
                                                           ng-model="selectedSentBy"
                                                           />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <input type="text"
                                                           class="form-control searchable-input floatL border-bottom-input"
                                                           placeholder="Approved By"
                                                           ng-model="selectedApprovedBy"

                                                           />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <input type="text"
                                                           class="form-control searchable-input floatL border-bottom-input"
                                                           placeholder="Status"
                                                           ng-model="selectedStatus"
                                                           />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-6">
                                            <div class="floatR form-group">

                                                <button type="submit" class="btn btn-circle blue-clr">
                                                    <i class="material-icons">search</i>
                                                </button>
                                                <button ui-sref="add-quotation" has-permission="Quotation:Create"  ng-class="{active: $state.includes('admin')}"  class="btn btn-circle green-clr">
                                                    <i class="material-icons">add</i>
                                                </button>
                                                <button ng-click="refreshPage()" class="btn btn-circle orange-clr">
                                                    <i class="material-icons">refresh</i>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                     </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id
                                <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('id')" ng-class="isActiveAsc == 'id' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('id')" ng-class="isActiveDesc == 'id' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th>Title
                                <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('title')" ng-class="isActiveAsc == 'title' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('title')" ng-class="isActiveDesc == 'title' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th>Client
                               <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('client')" ng-class="isActiveAsc == 'client' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('client')" ng-class="isActiveDesc == 'client' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th>Site
                                 <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('site')" ng-class="isActiveAsc == 'site' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('site')" ng-class="isActiveDesc == 'site' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th>Created By
                                <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('createdBy')" ng-class="isActiveAsc == 'createdBy' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('createdBy')" ng-class="isActiveDesc == 'createdBy' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <!-- <th>Submitted By</th>
                            <th>Approved By</th> -->
                            <th>Created On
                              <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('createdOn')" ng-class="isActiveAsc == 'createdOn' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('createdOn')" ng-class="isActiveDesc == 'createdOn' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <!-- <th>Submitted On</th>
                            <th>Approved On</th> -->
                            <th>Status
                                <span class="sortingIcons">
                                    <span ng-click="columnAscOrder('status')" ng-class="isActiveAsc == 'status' ? 'active' : ''" >
                                        <i  class="fa fa-caret-up"></i>
                                    </span>
                                    <span ng-click="columnDescOrder('status')" ng-class="isActiveDesc == 'status' ? 'active' : ''">
                                         <i  ng-class="class" class="fa fa-caret-down"></i>
                                    </span>
                                </span>
                            </th>
                            <th>Amount</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="quotation in quotations">
                            <td>{{quotation.serialId}}</td>
                            <td>{{quotation.title}}</td>
                            <td>{{quotation.projectName}}</td>
                            <td>{{quotation.siteName}}</td>
                            <td>{{quotation.createdByUserName}}</td>
                            <!-- <td>{{quotation.sentByUserName}}</td>
                            <td>{{quotation.approvedByUserName}}</td> -->
                            <td><label ng-bind="quotation.createdDate | date:'dd-MMM-yyyy hh:mm a'"/></td>
                            <!-- <td><label ng-bind="quotation.submittedDate | date:'dd-MMM-yyyy hh:mm a'"/></td>
                            <td><label ng-bind="quotation.approvedDate | date:'dd-MMM-yyyy hh:mm a'"/></td> -->
                            <td ><button class="btn btn-success" ng-if="quotation.isApproved">Approved</button>
                            <button class="btn btn-label"  ng-if="quotation.isArchived">Archived</button>
                            <button class="btn btn-info" ng-if="quotation.isDrafted">Pending</button>
                            <button class="btn btn-warning" ng-if="quotation.isSubmitted">Waiting for approval</button></td>
                            <td>{{quotation.grandTotal}} </td>
                            <td class="text-right">
                                <a name="View" ng-class="{active: $state.includes('admin')}"  ui-sref="view-quotation({ id: quotation._id })"  class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>

                                <a name="Edit" ng-if="!quotation.isSubmitted && !quotation.isApproved" has-permission="Quotation:Edit"  ng-class="{active: $state.includes('admin')}"  ui-sref="edit-quotation({ id: quotation._id })"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>

                                <!-- <a name="Approve Quotation" ng-if="quotation.isSubmitted" ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ng-click="approveQuotation(quotation)"  class="btn btn-simple btn-success"></a> -->
                                <button  title="Approve" ng-if="quotation.isSubmitted && !quotation.isApproved"    data-toggle="modal" data-target="#approveQuotationModal" data-dismiss="#approveQuotationModal" ng-click="selectQuotation(quotation)"  class="btn btn-simple btn-info btn-icon like"> <i class="material-icons">
                                    offline_pin
                                </i> </button>
                                <button  title="Reject" ng-if="quotation.isSubmitted && !quotation.isApproved && !quotation.isRejected"    data-toggle="modal" data-target="#rejectQuotationModal" data-dismiss="#rejectQuotationModal" ng-click="selectQuotation(quotation)"  class="btn btn-simple btn-info btn-icon like"> <i class="material-icons">
                                    highlight_off
                                </i> </button>
                             </td>
                             <td>
                                <a name="Delete" ng-if="quotation.isApproved || quotation.isDrafted" ng-class="{active: $state.includes('admin')}"   ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                            </td>

                        </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card margin-TB-5 txt-align-center" ng-hide="quotations">

    <div class="card-content" ng-hide="quotations">
        <div class="" style="text-align:center;padding: 10px 0;" ng-hide="quotationsLoader">
            <div loader-css="ball-pulse"></div>
        </div>

        <h3>No data Found</h3>

    </div>

</div>

<div class="modal fade" id="approveQuotationModal" tabindex="-1" role="dialog" aria-labelledby="approveQuotationModal" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="isLeftModal">Approve Quotation ?</h5>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal" ng-click="approveQuotation(quotation)">Yes</button>
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectQuotationModal" tabindex="-1" role="dialog" aria-labelledby="rejectQuotationModal" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="isLeftModal">Reject Quotation ?</h5>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal" ng-click="rejectQuotation(quotation)">Yes</button>
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



   <!-- Pagination directive start -->

    <pagination-new></pagination-new>

    <!-- Pagination directive end -->
