
<div class="row TopButtonsCon">
    <div class="col-md-8">
        <!--<h2 class="title">Quotation</h2>-->
    </div>
    <div class="col-md-4 txt-align-rgt" ng-init="loadAllQuotations()">
        <button ui-sref="add-quotation"  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" class="btn btn-success align-left"> <i class="material-icons padding-right5">add</i>ADD<div class="ripple-container"></div></button>
        <button ng-click="refreshPage()" class="btn btn-warning align-left"> <i class="material-icons padding-right5">refresh</i>Reload<div class="ripple-container"></div></button>
    </div>
</div>

<div class="row" >

    <div class="col-md-12">
        <div class="card margin-TB-5 tablecard appModuleCard">

            <div class="card-content">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Created By</th>
                            <th>Submitted By</th>
                            <th>Approved By</th>
                            <th>Created On</th>
                            <th>Submitted On</th>
                            <th>Approved On</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="quotation in quotations">
                            <td>{{quotation.title}}</td>
                            <td>{{quotation.createdByUserName}}</td>
                            <td>{{quotation.submittedByUserName}}</td>
                            <td>{{quotation.approvedByUserName}}</td>
                            <td><label ng-bind="quotation.createdDate | date:'dd-MMM-yyyy hh:mm a'"/></td>
                            <td><label ng-bind="quotation.submittedDate | date:'dd-MMM-yyyy hh:mm a'"/></td>
                            <td><label ng-bind="quotation.approvedDate | date:'dd-MMM-yyyy hh:mm a'"/></td>
                            <td ng-if="quotation.isApproved"><button class="btn btn-success">Approved</button></td>
                            <td ng-if="quotation.isArchived"><button class="btn btn-label">Archived</button></td>
                            <td ng-if="quotation.isDrafted"><button class="btn btn-info">Drafted</button></td>
                            <td ng-if="quotation.isSubmitted"><button class="btn btn-warning">Submitted</button></td>
                            <td>{{quotation.grandTotal}} </td>
                            <td class="text-right">
                                <a name="View Quotation" ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="view-rateCard"  class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>
                                <a name="Edit Quotation"  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-quotation({ id: quotation._id })"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>
                                <a name="Approve Quotation"  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ng-click="approveQuotation(quotation)"  class="btn btn-simple btn-success"></a>
                                <button  title="Approve Quotation"   has-authority="ROLE_ADMIN"  data-toggle="modal" data-target="#approveQuotationModal" data-dismiss="#approveQuotationModal" ng-click="selectQuotation(quotation)"  class="btn btn-simple btn-info btn-icon like"> <i class="material-icons">done</i> </button>
                                <a name="Delete Quotation" ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                            </td>

                        </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card margin-TB-5 txt-align-center" ng-hide="quotations">

    <div class="card-content" ng-hide="quotations">
        <div class="" style="text-align:center;padding: 10px 0;">
            <div loader-css="ball-pulse"></div>
        </div>

        <h3>No data Found</h3>

    </div>

</div>

<div class="modal fade" id="approveQuotationModal" tabindex="-1" role="dialog" aria-labelledby="approveQuotationModal" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="isLeftModal">Approve Quotation ?</h5>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal" ng-click="approveQuotation(quotation)">Yes</button>
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



<div class="row">

    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
        <ul class="pagination pagination-warning">

            <li class="paging-first" ID="first">
                <a href="#" id="first" ng-click="first()">
                    <i id="first" class=" fa fa-step-backward"></i></a>
            </li>
            <li class="prev paging-previous" id="previous">
                <a id="previous" href="#" ng-click="previous()"> prev</a>
            </li>

            <li class="active">
                <a href="javascript:void(0);">{{pages.currPage}}</a>
            </li>
            <li class="next paging-next" id="next">
                <a id="next" href="#" ng-click="next()" >next</a>
            </li>
            <li class="paging-last" id="last">
                <a id="last" href="#" ng-click="last()"><i id="last" class="fa fa-step-forward"></i></a>
            </li>

        </ul>
    </div>

</div>
