
<div class="row">
    <div class="col-md-8">
        <h2 class="title">Rate Cards</h2>
    </div>
    <div class="col-md-4 txt-align-rgt">
        <button ui-sref="add-rateCard"  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" class="btn btn-success align-left"> <i class="material-icons padding-right5">add</i>ADD<div class="ripple-container"></div></button>
        <button ng-click="refreshPage()" class="btn btn-warning align-left"> <i class="material-icons padding-right5">refresh</i>Reload<div class="ripple-container"></div></button>
    </div>
</div>

<div class="row" >

    <div class="col-md-12">
        <div class="card margin-TB-5 tablecard appModuleCard">

            <div class="card-content">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Material</th>
                            <th>UOM type</th>
                            <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Labour</td>
                            <td>Muthu</td>
                            <td>200 </td>
                            <td>per hour</td>
                            <td class="text-right">
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  data-toggle="modal" data-target="#RightModal" class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-rateCard"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>
                                <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                            </td>

                        </tr>
                        <tr>
                            <td>Labour</td>
                            <td>Muthu</td>
                            <td>200 </td>
                            <td>per hour</td>
                            <td class="text-right">
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  data-toggle="modal" data-target="#RightModal" class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-rateCard"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>
                                <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                            </td>

                        </tr>

                        <tr>
                            <td>Labour</td>
                            <td>Muthu</td>
                            <td>200 </td>
                            <td>per hour</td>
                            <td class="text-right">
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  data-toggle="modal" data-target="#RightModal" class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-rateCard"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>
                                <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                            </td>

                        </tr>
                        <tr>
                            <td>Labour</td>
                            <td>Muthu</td>
                            <td>200 </td>
                            <td>per hour</td>
                            <td class="text-right">
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  data-toggle="modal" data-target="#RightModal" class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-rateCard"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>
                                <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                            </td>

                        </tr>
                        <tr>
                            <td>Labour</td>
                            <td>Muthu</td>
                            <td>200 </td>
                            <td>per hour</td>
                            <td class="text-right">
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  data-toggle="modal" data-target="#RightModal" class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-rateCard"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>
                                <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                            </td>

                        </tr>
                        <tr>
                            <td>Labour</td>
                            <td>Muthu</td>
                            <td>200 </td>
                            <td>per hour</td>
                            <td class="text-right">
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  data-toggle="modal" data-target="#RightModal" class="btn btn-simple btn-info"><i class="material-icons">remove_red_eye</i></a>
                                <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-rateCard"  class="btn btn-simple btn-success"><i class="material-icons">edit</i></a>
                                <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(site)"  onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                            </td>

                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card margin-TB-5 txt-align-center" ng-hide="users">

    <div class="card-content">

        <h3>No data Found</h3>

    </div>

</div>


<div class="row">

    <div class="col-md-6"></div>
    <div class="col-md-6 text-right">
        <ul class="pagination pagination-warning">

            <li class="paging-first" ID="first">
                <a href="#" id="first" ng-click="first()">
                    <i id="first" class=" fa fa-step-backward"></i></a>
            </li>
            <li class="prev paging-previous" id="previous">
                <a id="previous" href="#" ng-click="previous()"> prev</a>
            </li>

            <li class="active">
                <a href="javascript:void(0);">{{pages.currPage}}</a>
            </li>
            <li class="next paging-next" id="next">
                <a id="next" href="#" ng-click="next()" >next</a>
            </li>
            <li class="paging-last" id="last">
                <a id="last" href="#" ng-click="last()"><i id="last" class="fa fa-step-forward"></i></a>
            </li>

        </ul>
    </div>

</div>


<!-- Modal -->
<div class="modal right fade" id="RightModal" tabindex="-1" role="dialog" aria-labelledby="RightModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">View Quotation</h4>
            </div>

            <div class="modal-body">

                <div class="card">

                    <div class="card-content">

                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                <tr>

                                    <td>Type</td>
                                    <td>Service</td>

                                </tr>
                                <tr>

                                    <td>Title</td>
                                    <td>name</td>

                                </tr>
                                <tr>

                                    <td>Material Cost</td>
                                    <td>1200</td>

                                </tr>
                                <tr>

                                    <td>UOM Type</td>
                                    <td>per hour</td>

                                </tr>


                                </tbody>
                            </table>
                        </div>


                        <div class="row">

                            <div class="col-md-4 col-md-offset-4">
                                <button class="btn btn-default close-button-right b10" type="button"
                                        data-dismiss="modal">
                                    <i class="material-icons">keyboard_arrow_left</i> Back
                                </button>
                            </div>

                        </div>


                    </div>

                </div>


            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
