<div class="crud-form"
	data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="loadQuotation();init();loadingStart();">
	<div class="">

		<div class="row">
			<!-- <div class="col-mod-12">
				<div class="alert alert-success" ng-show="success">
					<strong>Quotation saved!</strong>
				</div>

				<div class="alert alert-danger" ng-show="error">
					<strong>Quotation Not Saved!</strong> Please try again later.
				</div>
				<div class="alert alert-danger" ng-show="errorQuotationExists">
					<strong>Quotation already registered!</strong> Please choose
					another one.
				</div>
			</div> -->
			<div class="col-md-12">
				<!--<div class="titleCon">-->
				<!--<h3>Add Quotation</h3>-->
				<!--</div>-->
				<div class="form-container table-container AddQuotationContent">
					<form ng-show="!success" name="form" role="form" novalidate
						 class="form-horizontal">

						<div class="row" ng-init="loadProjects();">
							<div class="col-md-12">
								<div class="card formcard">

									<div class="card-content">


										<div class="row">

											<div class="col-md-4">
												<div class="form-group">
													<label class="control-label">Title</label> <input
														id='quotationTitle' ng-model="quotation.title"
														class='form-control InputTxtCapsAll' name='quotationTitle' type='text'
														value="" ng-minlength='2' ng-maxlength='50'
														ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus required />
													<div
														ng-show="form.$submitted || form.quotationTitle.$touched">
														<div
															ng-show="form.quotationTitle.$dirty || form.quotationTitle.$invalid">
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationTitle.$error.required">Enter
																a valid Title.</p>
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationTitle.$error.minlength">
																Title should be atleast 2 Characters.</p>
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationTitle.$error.maxlength">
																Title cannot be longer than 50 characters.</p>
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationTitle.$error.pattern">Title
																can only contain letters, digits and space.</p>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<label class="control-label">Description</label> <input
														id='quotationDescription' ng-model="quotation.description"
														class='form-control' name='quotationDescription'
														type='text' value="" ng-maxlength=50
														ng-pattern="/^[A-Za-z0-9\s&-/]*$/" />
													<div
														ng-show="form.$submitted || form.quotationDescription.$touched">
														<div
															ng-show="form.quotationDescription.$dirty || form.quotationDescription.$invalid">
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationDescription.$error.maxlength">
																Quotation Description cannot be longer than 250
																characters.</p>
															<p class="help-block" style="color: maroon"
																ng-show="form.quotationDescription.$error.pattern">
																Quotation Description contain letters and space.</p>
														</div>
													</div>
												</div>
											</div>

										</div>
										<div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <!--<label class="control-label">Client</label>-->
                                                    <div class="dropdown">

                                                        <!--<input type="text" class="form-control" ng-model="selectedProject" name="projectName" ng-value="selectedProject.name"-->
                                                               <!--uib-typeahead="project as project.name for project in projects | filter:$viewValue | limitTo:5"-->
                                                               <!--ng-blur="loadSites()"-->
                                                               <!--ng-minlength=2 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/"  autocomplete="off" />-->
                                                        <select class=" form-control " id="project" ng-model="selectedProject" ng-change="loadSites()"   ng-options="project as project.name for project in projects track by project.id" required>
                                                            <option value=""></option>
                                                        </select>
                                                        <div ng-show="form.$submitted || form.projectName.$touched">
                                                            <div ng-show="form.projectName.$dirty || form.projectName.$invalid">
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.projectName.$error.required">
                                                                    Client name is required.
                                                                </p>
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.projectName.$error.minlength">
                                                                    Client name is required to be at least 2 character.
                                                                </p>
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.projectName.$error.maxlength">
                                                                    Client name cannot be longer than 50 characters.
                                                                </p>
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.projectName.$error.pattern">
                                                                    Client name can only contain letters, digits and space.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <!--<label class="control-label">Site</label>-->
                                                    <div class="dropdown" >
                                                        <!--<input ng-focus="loadSites()" type="text" class="form-control"  ng-model="selectedSite" name="siteName" ng-value="selectedSite.name"-->
                                                               <!--uib-typeahead="site as site.name for site in sites | filter:$viewValue | limitTo:5"-->
                                                               <!--ng-minlength=2 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/"  autocomplete="off" />-->

                                                        <select class="form-control " id="site" ng-model="selectedSite"  ng-options="site as site.name for site in sites track by site.id" required>
                                                            <option value=""></option>
                                                        </select>

                                                        <div ng-show="form.$submitted || form.siteName.$touched">
                                                            <div ng-show="form.siteName.$dirty || form.siteName.$invalid">
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.siteName.$error.required">
                                                                    Site name is required.
                                                                </p>
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.siteName.$error.minlength">
                                                                    Site name is required to be at least 2 character.
                                                                </p>
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.siteName.$error.maxlength">
                                                                    Site name cannot be longer than 50 characters.
                                                                </p>
                                                                <p class="help-block" style="color:maroon"
                                                                   ng-show="form.siteName.$error.pattern">
                                                                    Site name can only contain letters, digits and space.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 ">
                                                <button class="btn btn-primary" ng-if="(quotation.ticketId > 0)" ui-sref="view-ticket({id:quotation.ticketId,qid:quotation._id,status:2})">
                                                    <i class="material-icons">remove_red_eye</i>View Ticket</button>
                                                <button class="btn btn-primary" ng-if="(quotation.ticketId > 0) && ticketStatus != 'Closed'"  has-permission="Ticket:Close" ng-click="closeTicket(quotation.ticketId)"   onClick="$('#closeTicket').modal()" data-target="#myModal" >
                                                    <i class="material-icons">remove_red_eye</i>Close Ticket</button>
                                                <a ng-if="(quotation.ticketId > 0) && ticketStatus == 'Closed'" ng-class="{active: $state.includes('admin')}" class="btn btn-simple btn-info">Ticket# {{quotation.ticketId}} Closed </a>
                                            </div>

									</div>
									</div>
								</div>


							</div>
							<div class="col-md-12">



								<div class="panel panel-default TabsContainer">
									<!--<div class="panel-heading">Panel Heading</div>-->
									<div class="panel-body">


										<ul class="nav nav-pills nav-pills-warning">
											<li class="active"><a href=".pill4" data-toggle="tab"  ng-click="actionsShow()"
												>Summary</a></li>
											<li class=""><a href=".pill2" data-toggle="tab" ng-click="actionsShow()"
												> <i
													class="material-icons" >add</i>  Service</a></li>
											<li class=""><a href=".pill1" data-toggle="tab" ng-click="actionsShow()"
												> <i
													class="material-icons"  >add</i>  Material</a></li>
											<li class=""><a href=".pill3" data-toggle="tab" ng-click="actionsShow()"
												> <i
													class="material-icons"  >add</i>  Labour</a></li>
											<li class="" ng-show="quotationImages.length>0"><a href=".pill5" data-toggle="tab" ng-click="actionsHide()"
												>Images</a></li>
										</ul>
										<div class="tab-content TabsContent" style="">

											<div class="tab-pane fade  pill2" id="pill2">
												<div class="row" id="serviceEntryFields">

													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">Service Name</label>
															<input ng-model="serviceName" id="serviceName"
																class='form-control' name='serviceName' type='text' value=""
																ng-minlength='1' ng-maxlength='100'
																ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus  />

														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Quantity</label>
															<input id='serviceQty' ng-model="serviceQty"
																	class='form-control' name='serviceQty' type='text'
																	value="" ng-minlength='1' ng-maxlength='6'
																	ng-pattern="/[0-9]*/" autofocus  />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Cost(Fixed)</label>
															<input ng-model="serviceUnitPrice"
																class='form-control' name='serviceUnitPrice' type='text' value=""
																ng-minlength='1' ng-maxlength='5'
																ng-pattern="/[0-9]*/" autofocus  />

														</div>
													</div>
													<div class="col-md-3 margn-top10">
														<button class="btn btn-success" ng-click="addService()">
															<span class="btn-label"><i class="material-icons">check</i></span>
														</button>

													</div>



												</div>
												<div class="table-responsive tablecard">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>Type</th>
																<th>Name</th>
																<th>UOM</th>
																<th>Quantity</th>
																<th>Unit Price</th>
																<th>Cost</th>

															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="rcDetail in serviceRateCardDetails">
																<td>{{rcDetail.type}}</td>
																<td>{{rcDetail.title}}</td>
																<td>{{rcDetail.uom}}</td>
																<td>{{rcDetail.qty}}</td>
																<td>{{rcDetail.unitPrice}}</td>
																<td>{{rcDetail.cost}}</td>
															</tr>

														</tbody>
														<tfoot>
															<tr>
																<th></th>
																<th></th>
																<th>Total</th>
																<th>{{serviceTotalCost}}</th>
																<th></th>
															</tr>
														</tfoot>
													</table>
												</div>
											</div>
											<div class="tab-pane fade pill3" id="pill3">
												<div class="row" id="labourEntryFields">

													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">Labour Category</label>
															<input ng-model="labourCategory"
																class='form-control' name='labourCategory' type='text' value=""
																ng-minlength='1' ng-maxlength='100'
																ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus  />

														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Hours</label>
															<input id='labourQty' ng-model="labourQty"
																	class='form-control' name='labourQty' type='text'
																	value="" ng-minlength='1' ng-maxlength='6'
																	ng-pattern="/[0-9]*/" autofocus  />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Cost(Per Hr)</label>
															<input ng-model="labourUnitPrice"
																class='form-control' name='labourUnitPrice' type='text' value=""
																ng-minlength='1' ng-maxlength='5'
																ng-pattern="/[0-9]*/" autofocus  />

														</div>
													</div>
													<div class="col-md-3 margn-top10">
														<button class="btn btn-success" ng-click="addLabour()">
															<span class="btn-label"><i class="material-icons">check</i></span>
														</button>

													</div>



												</div>

												<div class="table-responsive tablecard">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>Type</th>
																<th>Name</th>
																<th>UOM</th>
																<th>Quantity</th>
																<th>Unit Price</th>
																<th>Cost</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="rcDetail in labourRateCardDetails">
																<td>{{rcDetail.type}}</td>
																<td>{{rcDetail.title}}</td>
																<td>{{rcDetail.uom}}</td>
																<td>{{rcDetail.qty}}</td>
																<td>{{rcDetail.unitPrice}}</td>
																<td>{{rcDetail.cost}}</td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<th></th>
																<th></th>
																<th>Total</th>
																<th>{{labourTotalCost}}</th>
																<th></th>
															</tr>
														</tfoot>
													</table>
												</div>
											</div>
											<div class="tab-pane fade pill1" id="pill1">
												<div class="row" id="materialEntryFields">

													<div class="col-md-5">
														<div class="form-group">
															<label class="control-label">Material Name</label>
															<input ng-model="materialName"
																class='form-control' name='materialName' type='text' value=""
																ng-minlength='1' ng-maxlength='100'
																ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus  />

														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Quantity</label>
															<input id='materialQty' ng-model="materialQty"
																	class='form-control' name='materialQty' type='text'
																	value="" ng-minlength='1' ng-maxlength='6'
																	ng-pattern="/[0-9]*/" autofocus  />
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label class="control-label">Cost</label>
															<input ng-model="materialUnitPrice"
																class='form-control' name='materialUnitPrice' type='text' value=""
																ng-minlength='1' ng-maxlength='5'
																ng-pattern="/[0-9]*/" autofocus  />

														</div>
													</div>
													<div class="col-md-3 margn-top10">
														<button class="btn btn-success" ng-click="addMaterial()">
															<span class="btn-label"><i class="material-icons">check</i></span>
														</button>

													</div>



												</div>

												<div class="table-responsive tablecard">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>Type</th>
																<th>Name</th>
																<th>UOM</th>
																<th>Quantity</th>
																<th>Unit Price</th>
																<th>Cost</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="rcDetail in materialRateCardDetails">
																<td>{{rcDetail.type}}</td>
																<td>{{rcDetail.title}}</td>
																<td>{{rcDetail.uom}}</td>
																<td>{{rcDetail.qty}}</td>
																<td>{{rcDetail.unitPrice}}</td>
																<td>{{rcDetail.cost}}</td>
															</tr>
														</tbody>
														<tfoot>
															<tr>
																<th></th>
																<th></th>
																<th>Total</th>
																<th>{{materialTotalCost}}</th>
																<th></th>
															</tr>
														</tfoot>

													</table>
												</div>
											</div>
											<div class="tab-pane fade in active pill4" id="pill4">

												<div class="table-responsive tablecard SummaryCard">
													<table class="table">

														<tbody>
															<tr>
																<td>Service Total Cost</td>

																<td class="text-right">{{serviceTotalCost}}</td>

															</tr>
															<tr>
																<td>Labour Total Cost</td>

																<td class="text-right">{{labourTotalCost}}</td>

															</tr>
															<tr>
																<td>Material Total Cost</td>

																<td class="text-right">{{materialTotalCost}}</td>

															</tr>
														</tbody>
														<tfoot>
															<tr>

																<th>Total</th>
																<th class="text-right">{{totalCost}}</th>

															</tr>
														</tfoot>
													</table>
												</div>
											</div>
											<div class="tab-pane fade pill5" id="pill5">

												 <div class="row" ng-repeat="(url,img) in quotationImages">

                                                       <div class="col-md-2 txt-align-center">
                                                           <a id="images" href="#" onClick="$('#myModalNew').modal()" data-target="#myModalNew" data-dismiss="#myModalNew" ng-click="loadQImagesNew(img,quotation._id)">
                                                               <img  src={{img}} width="100px" height="100px" />
                                                           </a>
                                                           <!--<p>Quotation</p>-->
                                                       </div>

                                                   </div>
											</div>
										</div>


										<div class="">

											<div class="row" id="actionButtons" >

												<div class="col-md-12 txt-align-rgt">
													<div class="form-group">




                                                        <!--<button class="btn btn-success" ng-click="saveQuotation('submit')" ng-if="!quotation.isSubmitted && !quotation.isApproved && !quotation.isRejected"
															id="form-button-save" ng-disabled="form.$invalid || btnDisable">
															<span class="btn-label"><i class="material-icons">check</i></span>
															Send
														</button>
														<button class="btn btn-warning" ng-click="saveQuotation('edit')" ng-disabled="form.$invalid || btnDisable" ng-if="!quotation.isSubmitted && !quotation.isApproved && !quotation.isRejected">
															<span class="btn-label"><i class="material-icons">save</i></span>
															Save Draft
														</button>-->

														<!-- <button class="btn btn-danger" type="button"
															ng-click="cancelQuotation()" id="cancel-button">
															<i class="material-icons">close</i> Cancel
														</button> -->

													</div>
												</div>
											</div>
											<div class="row" id="approveButton">
												<div class="col-md-12 txt-align-rgt">
													<div class="form-group">
                                                        <button class="btn btn-success" ng-click="saveQuotation('submit')" ng-if="!quotation.isSubmitted && !quotation.isApproved && !quotation.isRejected"
                                                                id="form-button-save" ng-disabled="form.$invalid || btnDisable">
                                                            <span class="btn-label"><i class="material-icons">check</i></span>
                                                            Send
                                                        </button>
                                                        <button  title="Approve Quotation" ng-if="quotation.isSubmitted && !quotation.isApproved"
                                                                 data-toggle="modal" data-target="#approveQuotationModal"
                                                                 data-dismiss="#approveQuotationModal" ng-click="selectQuotation(quotation)"
                                                                 class="btn btn-info">
                                                            <span class="btn-label"><i class="material-icons">done</i></span>
                                                            Approve
                                                        </button>

                                                        <button  title="Reject Quotation" ng-if="quotation.isSubmitted && !quotation.isApproved  && !quotation.isRejected"
                                                                 data-toggle="modal" data-target="#rejectQuotationModal"
                                                                 data-dismiss="#rejectQuotationModal" ng-click="selectQuotation(quotation)"
                                                                 class="btn btn-info">
                                                            <span class="btn-label"><i class="material-icons">done</i></span>
                                                            Reject
                                                        </button>

														

													</div>
												</div>
											</div>
										</div>
									</div>


								</div>
								<div class="panel panel-default TabsContainer">
										
										<div class="panel-body">
<div class='col-md-12'>
	<div class='col-md-8'>
		<div class="form-group">
				<label class="control-label">Remarks</label> 
				

					<textarea ng-model="quotation.remarks"
					class='form-control' name='remarks'
				 rows='5' disabled >

					</textarea>
				
			</div>
</div><div class='col-md-4'>
		<button class="btn btn-danger" type="button" style='float:right; margin-top:40px'
		ng-click="cancelQuotation()" id="cancel-button">
		<i class="material-icons">close</i> Close
	</button>
</div>
	

</div></div></div>

							</div>



						</div>





						<div class='small-loading hidden' id='FormLoading'>Loading,
							saving data...</div>

						<div class="form-group">
							<div id='report-error' class='report-div error bg-danger'
								style="display: none"></div>
							<div id='report-success' class='report-div success bg-success'
								style="display: none"></div>
						</div>

					</form>
				</div>

			</div>

		</div>
	</div>


</div>

<div class="modal fade" id="approveQuotationModal" tabindex="-1" role="dialog" aria-labelledby="approveQuotationModal" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="isLeftModal">Approve Quotation ?</h5>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal" ng-click="approveQuotation(quotation)">Yes</button>
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectQuotationModal" tabindex="-1" role="dialog" aria-labelledby="rejectQuotationModal" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="isLeftModal">Reject Quotation ?</h5>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal" ng-click="rejectQuotation(quotation)">Yes</button>
                <button type="button" class="btn btn-info btn-round" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Ticket Close confirmation dialog -->
<div id="deleteModalNew" class="delete-confirmation modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Close Ticket</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to close ticket?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-success delete-confirmation-button" ng-click="closeTicketConfirm(cTicket)">Close Ticket</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Ticket Close confirmation dialog -->


<div id="myModalNew" class="modal fade" data-backdrop="false" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <table >
                        <thead>
                        <tr >
                            <th style="text-align: center">Quotation Image</th>

                        </tr>
                        </thead>
                        <tr>

                            <td><img id="quoImage" width="250" height="250" src="#"
                                     class="img-responsive"></td>
                        </tr>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




<!-- Ticket Close confirmation dialog -->
<div id="closeTicket" class="delete-confirmation modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Close Ticket</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to close the ticket?</p>
                <br/>
                <input class="form-control border-bottom-input" ng-model="cTicket.comments" placeholder="Enter Remarks..">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-success delete-confirmation-button" ng-click="closeTicketConfirm(cTicket)">Close Ticket</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Ticket Close confirmation dialog -->
