
<div ng-switch="isAuthenticated()"  class="sidebar" data-active-color="orange" data-background-color="black" data-image="../assets/img/sidebar-1.jpg" >
    <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
    <div class="logo">
        <a ui-sref="dashboard" class="simple-text logo-mini LogoTxt">
           UDS
        </a>
        <a ui-sref="dashboard" class="simple-text logo-normal LogoCon">
            <img src="assets/img/logo/logo.png" class="LoginLogo" alt="UDS Logo">
        </a>
    </div>

    <div class="sidebar-wrapper ps-container ps-theme-default ps-child ps-active-y" id="sidebarWrapper">
        <ul class="nav" ng-switch-when="true">
            <li ui-sref-active="active" >
                <a ui-sref="dashboard">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Client:List" >
                <a ui-sref="projects" ng-click="dbFilterBtn();">
                    <i class="material-icons">people</i>
                    <p>Client </p>
                </a>
            </li>

            <li ui-sref-active="active" has-permission="Site:List">
                <a ui-sref="sites" ng-click="dbFilterBtn();">
                    <i class="material-icons">device_hub</i>
                    <p>Sites</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Location:List">
                <a ui-sref="locations" ng-click="dbFilterBtn();">
                    <i class="material-icons">place</i>
                    <p>Locations</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Employee:List">
				<a data-toggle="collapse" data-target="#formsExamples" href="javascript:void(0);">
                    <i class="material-icons">content_paste</i>
                    <p> Employee
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamples">
                    <ul class="nav SubNav">
                        <li ui-sref-active="active" has-permission="Employee:List">
                            <a ui-sref="employees" ng-click="dbFilterBtn();">
			                    <i class="material-icons">people</i>
			                    <p>Master</p>
			                </a>
                        </li>
                        <li ui-sref-active="active" has-permission="Employee:List">
                            <a ui-sref="employeeShifts" ng-click="dbFilterBtn();">
			                    <i class="material-icons">alarm</i>
			                    <p>Shift Details</p>
			                </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li ui-sref-active="active" has-permission="Assets:List">
                <a  data-toggle="collapse" data-target="#AssetSubMenus" href="javascript:void(0);">
                    <i class="material-icons">assessment</i>
                    <p>Assets  <b class="caret"></b></p>
                </a>
                <div class="collapse" id="AssetSubMenus">
                    <ul class="nav SubNav">
                        <li ui-sref-active="active" has-permission="Vendor:List">
                            <a ui-sref="vendor-list" ng-click="dbFilterBtn();">
                                <i class="material-icons">supervisor_account</i>
                                <p>Vendor</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="Manufacturer:List">
                            <a ui-sref="manufacturer-list" ng-click="dbFilterBtn();">
                                <i class="material-icons">business</i>
                                <p>Manufacturer</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="AssetConfig:List">
                            <a ui-sref="parameter-config" ng-click="dbFilterBtn();">
                                <i class="material-icons">brightness_high</i>
                                <p>Config</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="Assets:List">
                            <a ui-sref="assets" ng-click="dbFilterBtn();">
                                <i class="material-icons">dashboard</i>
                                <p>Master</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li ui-sref-active="active" has-permission="Checklist:List">
                <a ui-sref="checklists" ng-click="dbFilterBtn();">
                    <i class="material-icons">playlist_add_check</i>
                    <p>Checklist</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Jobs:List">
                <a ui-sref="jobs" ng-click="dbFilterBtn();">
                    <i class="material-icons">description</i>
                    <p>Jobs </p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Attendance:List">
                <a ui-sref="attendances" ng-click="dbFilterBtn();">
                    <i class="material-icons">content_paste</i>
                    <p>Attendance</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Quotation:List">
                <a ui-sref="quotation-list" ng-click="dbFilterBtn();">
                    <i class="material-icons">receipt</i>
                    <p>Quotation </p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Import:List">
                <a ui-sref="imports" ng-click="dbFilterBtn();">
                    <i class="material-icons">file_upload</i>
                    <p>Import</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Tickets:List">
                <a ui-sref="tickets" ng-click="dbFilterBtn();">
                    <i class="material-icons">tab</i>
                    <p>Tickets</p>
                </a>
            </li>
             <li  ng-class="{active: $state.includes('admin')}">
                <a data-toggle="collapse" data-target="#Inventory" href="#">
                    <i class="material-icons">widgets</i>
                    <p> Inventory
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Inventory" >
                    <ul class="nav SubNav">

                        <li ui-sref-active="active"  >
                            <a ui-sref="inventory-list">
                                <i class="material-icons">widgets</i>
                                <p>Master</p>
                            </a>
                        </li>
                        <li ui-sref-active="active"  >
                            <a ui-sref="inventory-transaction-list">
                                <i class="material-icons">widgets</i>
                                <p>Issued / Received</p>
                            </a>
                        </li>


                    </ul>
                </div>
            </li>
            <li ui-sref-active="active" has-permission="SLA:List">
                <a ui-sref="sla-list" ng-click="dbFilterBtn();">
                    <i class="material-icons">contact_mail</i>
                    <p>SLA Management</p>
                </a>
            </li>

            <li ui-sref-active="active"  >
                <a ui-sref="expense-list">
                    <i class="material-icons">pie_chart</i>
                    <p>Expense Transaction</p>
                </a>
            </li>
            <!--<li ui-sref-active="active">-->
                <!--<a  data-toggle="collapse" data-target="#Expense" href="#">-->
                    <!--<i class="material-icons">pie_chart</i>-->
                    <!--<p>Expense Management  <b class="caret"></b> </p>-->
                <!--</a>-->
                <!--<div class="collapse" id="Expense" >-->
                    <!--<ul class="nav SubNav">-->

                        <!--<li ui-sref-active="active">-->
                            <!--<a ui-sref="budget-list">-->
                                <!--<i class="material-icons">pie_chart</i>-->
                                <!--<p>Budget Master</p>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li ui-sref-active="active"  >-->
                            <!--<a ui-sref="expense-list">-->
                                <!--<i class="material-icons">pie_chart</i>-->
                                <!--<p>Expense Transaction</p>-->
                            <!--</a>-->
                        <!--</li>-->


                    <!--</ul>-->
                <!--</div>-->

            <!--</li>-->

            <li ui-sref-active="active">
                <a  data-toggle="collapse" data-target="#Purchase" href="#">
                    <i class="material-icons">shopping_cart</i>
                    <p>Purchase <b class="caret"></b> </p>
                </a>
                <div class="collapse" id="Purchase" >
                    <ul class="nav SubNav">

                        <li ui-sref-active="active">
                            <a ui-sref="indent-list">
                                <i class="material-icons">shopping_cart</i>
                                <p>Indent</p>
                            </a>
                        </li>
                        <li ui-sref-active="active"  >
                            <a ui-sref="purchase-requisition-list">
                                <i class="material-icons">shopping_cart</i>
                                <p>Purchase Requisition</p>
                            </a>
                        </li>


                    </ul>
                </div>

            </li>

            <li has-permission="Reports:List" ng-class="{active: $state.includes('reports')}">
                <a data-toggle="collapse" data-target="#formsExamplesReport" href="javascript:void(0);">
                    <i class="material-icons">content_paste</i>
                    <p> Reports
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamplesReport">
                    <ul class="nav SubNav">
                        <li ui-sref-active="active" has-permission="EmployeeReports:List">
                            <a ui-sref="employeeReports" ng-click="dbFilterBtn();">
                                <i class="material-icons">people</i>
                                <p>Employee</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="JobReports:List">
                            <a ui-sref="jobReports" ng-click="dbFilterBtn();">
                                <i class="material-icons">description</i>
                                <p>Job</p>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="attendanceReports" has-permission="AttendanceReports:List" ng-click="dbFilterBtn();">
                                <i class="material-icons">content_paste</i>
                                <p>Attendance</p>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="feedbackReports" has-permission="FeedbackReports:List" ng-click="dbFilterBtn();">
                                <i class="material-icons">feedback</i>
                                <p>Feedback</p>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="ticketReports" has-permission="TicketReports:List" ng-click="dbFilterBtn();">
                                <i class="material-icons">tab</i>
                                <p>Ticket</p>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="assetReports" has-permission="Asset:List" ng-click="dbFilterBtn();">
                                <i class="material-icons">description</i>
                                <p>Asset</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li ui-sref-active="active" has-permission="RateCard:List">
                <a ui-sref="rateCardList" ng-click="dbFilterBtn();">
                    <i class="material-icons">credit_card</i>
                    <p>Rate Card </p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="UserRole:List"  >
                <a ui-sref="user-roles" ng-click="dbFilterBtn();">
                    <i class="material-icons">group</i>
                    <p>User Roles</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="RolePermission:List"  >
                <a ui-sref="role-permission" ng-click="dbFilterBtn();">
                    <i class="material-icons">group</i>
                    <p>Role Permission</p>
                </a>
            </li>
            <li ui-sref-active="active"  has-permission="ModuleActions:List" >
                <a ui-sref="app-module-actions" ng-click="dbFilterBtn();">
                    <i class="material-icons">view_module</i>
                    <p>App Module & Actions</p>
                </a>
            </li>

            <li has-permission="Feedback:List" ng-class="{active: $state.includes('admin')}">
                <a data-toggle="collapse" data-target="#formsExamples2" href="javascript:void(0);">
                    <i class="material-icons">feedback</i>
                    <p> Feedback
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamples2" has-permission="Feedback:List">
                    <ul class="nav SubNav">

                        <li ui-sref-active="active"  >
                            <a ui-sref="feedbacks" ng-click="dbFilterBtn();">
                                <i class="material-icons">feedback</i>
                                <p>Feedbacks</p>
                            </a>
                        </li>
                        <li ui-sref-active="active"  >
                            <a ui-sref="feedback-questions" ng-click="dbFilterBtn();">
                                <i class="material-icons">feedback</i>
                                <p>Feedback Master</p>
                            </a>
                        </li>
                        <li ui-sref-active="active"  >
                            <a ui-sref="feedback-setup" ng-click="dbFilterBtn();">
                                <i class="material-icons">feedback</i>
                                <p>Feedback Setup</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>

            <li has-authority="ROLE_ADMIN" has-permission="Administrator:List" ng-class="{active: $state.includes('admin')}">
                <a data-toggle="collapse" data-target="#formsExamples1" href="javascript:void(0);">
                    <i class="material-icons">content_paste</i>
                    <p> Administrator
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamples1">
                    <ul class="nav SubNav">
                        <li ui-sref-active="active">
                            <a ui-sref="users" ng-click="dbFilterBtn();">
                                <i class="material-icons">people</i>
                                <p>User</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="UserGroup:List">
                            <a ui-sref="userGroups" ng-click="dbFilterBtn();">
                                <i class="material-icons">group</i>
                                <p>User Group</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="Settings:List">
                            <a ui-sref="app_settings" ng-click="dbFilterBtn();">
                                <i class="material-icons">settings</i>
                                <p>Settings</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--<li ui-sref="checkInOut">-->
            <!---->
            <!--<a href="">-->
            <!--<i class="material-icons">location_on</i>-->
            <!--<p>Check in out</p>-->
            <!--</a>-->
            <!--</li>-->


        </ul>

        <!--<div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px; height: 334px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 86px;"></div></div>-->
    </div>

    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-1.jpg) "></div>
</div>


