



<div ng-switch="isAuthenticated()" class="sidebar" data-active-color="orange" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            T
        </a>
        <a href="#" class="simple-text logo-normal">
            TaskMan
        </a>

    </div>

    <div class="sidebar-wrapper" id="sidebarWrapper" >
        <div class="user">

            <div class="photo">
                <img src="../assets/img/faces/avatar.png" />
            </div>

            <div class="info" ng-switch-when="true" >
                <a ng-click="logout()" >
                    <!--<span class="sidebar-mini">L</span>-->
                    <span class="sidebar-normal">Logout</span>
                </a>


            </div >
            <div class="info" ng-switch-when="false">
                <a ui-sref="login" >
                    <!--<span class="sidebar-mini">L</span>-->
                    <span class="sidebar-normal">Login</span>
                </a>
            </div>
            <!--<div class="info">-->
                <!--<a data-toggle="collapse" data-target="#collapseExample" href="#" class="collapsed">-->
                            <!--<span>-->
                                <!--Admin-->
                                <!--<b class="caret"></b>-->
                            <!--</span>-->
                <!--</a>-->
                <!--<div class="clearfix"></div>-->
                <!--<div class="collapse" id="collapseExample">-->
                    <!--<ul class="nav">-->

                        <!--<li ng-click="logout()" ng-switch-when="true">-->
                            <!--<a href="#" >-->
                                <!--<span class="sidebar-mini"> L </span>-->
                                <!--<span class="sidebar-normal"> Logout </span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li  ng-switch-when="false">-->
                            <!--<a ui-sref="login" >-->
                                <!--<span class="sidebar-mini"> L </span>-->
                                <!--<span class="sidebar-normal"> Login </span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <ul class="nav" ng-switch-when="true">
            <li ui-sref-active="active" >
                <a ui-sref="dashboard">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard </p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Client:List" >
                <a ui-sref="projects">
                    <i class="material-icons">people</i>
                    <p>Client </p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Site:List">
                <a ui-sref="sites">
                    <i class="material-icons">dns</i>
                    <p>Sites</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Employee:List">
                <a ui-sref="employees">
                    <i class="material-icons">people</i>
                    <p>Employee</p>
                </a>
            </li>
            <!--<li ui-sref-active="active" has-permission="Assets:List">-->
                <!--<a ui-sref="assets">-->
                    <!--<i class="material-icons">settings</i>-->
                    <!--<p>Assets </p>-->
                <!--</a>-->
            <!--</li>-->
            <li ui-sref-active="active" has-permission="Checklist:List">
                <a ui-sref="checklists">
                    <i class="material-icons">content_paste</i>
                    <p>Checklist</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Jobs:List">
                <a ui-sref="jobs">
                    <i class="material-icons">description</i>
                    <p>Jobs </p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Attendance:List">
                <a ui-sref="attendances">
                    <i class="material-icons">content_paste</i>
                    <p>Attendance</p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Quotation:List">
                <a ui-sref="quotation-list">
                    <i class="material-icons">receipt</i>
                    <p>Quotation </p>
                </a>
            </li>
            <li ui-sref-active="active" has-permission="Import:List">
                <a ui-sref="imports">
                    <i class="material-icons">file_upload</i>
                    <p>Import</p>
                </a>
            </li>
            <li has-permission="Reports:List" ng-class="{active: $state.includes('reports')}">
                <a data-toggle="collapse" data-target="#formsExamples" href="#">
                    <i class="material-icons">content_paste</i>
                    <p> Reports
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamples">
                    <ul class="nav SubNav">
                        <li ui-sref-active="active" has-permission="EmployeeReports:List">
                            <a ui-sref="employeeReports">
                                <i class="material-icons">people</i>
                                <p>Employee</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="JobReports:List">
                            <a ui-sref="jobReports">
                                <i class="material-icons">description</i>
                                <p>Job</p>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="attendanceReports" has-permission="AttendanceReports:List">
                                <i class="material-icons">content_paste</i>
                                <p>Attendance</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li ui-sref-active="active" has-permission="RateCard:List">
                <a ui-sref="rateCardList">
                    <i class="material-icons">credit_card</i>
                    <p>Rate Card </p>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="ROLE_ADMIN"  >
                <a ui-sref="user-roles">
                    <i class="material-icons">group</i>
                    <p>User Roles</p>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="ROLE_ADMIN"  >
                <a ui-sref="role-permission">
                    <i class="material-icons">group</i>
                    <p>Role Permission</p>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="ROLE_ADMIN" >
                <a ui-sref="app-module-actions">
                    <i class="material-icons">view_module</i>
                    <p>App Module & Actions</p>
                </a>
            </li>
            <li ui-sref-active="active" has-authority="ROLE_ADMIN" >
                <a ui-sref="feedback-questions">
                    <i class="material-icons">feedback</i>
                    <p>Feedback Master</p>
                </a>
            </li>

            <li has-authority="ROLE_ADMIN" ng-class="{active: $state.includes('admin')}">
                <a data-toggle="collapse" data-target="#formsExamples1" href="#">
                    <i class="material-icons">content_paste</i>
                    <p> Administrator
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamples1">
                    <ul class="nav SubNav">
                        <li ui-sref-active="active">
                            <a ui-sref="users">
                                <i class="material-icons">people</i>
                                <p>User</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="UserGroup:List">
                            <a ui-sref="userGroups">
                                <i class="material-icons">group</i>
                                <p>User Group</p>
                            </a>
                        </li>
                        <li ui-sref-active="active" has-permission="Settings:List">
                            <a ui-sref="app_settings">
                                <i class="material-icons">settings</i>
                                <p>Settings</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!--<li ui-sref="checkInOut">-->
            <!---->
            <!--<a href="">-->
            <!--<i class="material-icons">location_on</i>-->
            <!--<p>Check in out</p>-->
            <!--</a>-->
            <!--</li>-->


        </ul>
    </div>

    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-1.jpg) "></div>
</div>


