<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.job.scheduler.title}">TaskMan Job Scheduler Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.job.scheduler.greeting}">
    Dear
</p>


<p th:text="#{email.job.scheduler.text1(${site})}">

</p>


<p>
</p>
<p>
    <span th:text="#{email.job.scheduler.text2}">Regards,</span>
    <br/>
    <em th:text="#{email.signature}">UDS.</em>
</p>
</body>
</html>
