
<div class="alert alert-success" ng-show="success">
	<strong>Device saved!</strong>
</div>

<div class="alert alert-danger" ng-show="error">
	<strong>Device Not Saved!</strong> Please try again later.
</div>
<div class="crud-form"
	data-unique-hash="a2ad475d60b22954085c657a73309b8f">
	<div class="container" ng-controller="DeviceController">
		<div class="row">
			<div class="col-md-12">
				<div class="table-label">
					<div class="floatL l5">Add Device</div>
					<div
						class="floatR r5 minimize-maximize-container minimize-maximize">
						<i class="fa fa-caret-up"></i>
					</div>
					<div class="floatR r5 gc-full-width">
						<i class="fa fa-expand"></i>
					</div>
					<div class="clear"></div>


				</div>
				<div class="form-container table-container">
					<form ng-show="!success" name="form" role="form" novalidate
						ng-submit="saveDevice()" show-validation class="form-horizontal">

						<!-- <div class="form-group" ng-init="loadProjects()">
							<label class="col-sm-3 control-label"> Project </label>
							<div class="col-sm-9">
									<div class="dropdown">
								        <input type="text" class="form-control" placeholder="Enter project name" ng-model="selectedProject" typeahead="project as project.name for project in projects | filter:$viewValue | limitTo:5" autofocus>
								    </div>
							</div>
						</div> -->
						<div class="form-group ">
							<label class="col-sm-3 control-label"> Device Unique ID</label>
							<div class="col-sm-9">
								<input id='deviceUniqueId' ng-model="device.uniqueId" class='form-control'
									name='device' type='text' value=""  maxlength='50' required/>
					
								<div ng-show="form.$submitted || form.device.$touched">      
                    				<div ng-show="form.device.$dirty || form.device.$invalid">
                        				<p class="help-block" style="color:maroon" 
                              			 ng-show="form.device.$error.required">
                            			 Device ID is required.
                        				</p>
        							</div>
								</div>
							</div>
						</div>

						<!-- Start of hidden inputs -->
						<!-- End of hidden inputs -->

						<div class='small-loading hidden' id='FormLoading'>Loading,
							saving data...</div>

						<div class="form-group">
							<div id='report-error' class='report-div error bg-danger'
								style="display: none"></div>
							<div id='report-success' class='report-div success bg-success'
								style="display: none"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-7">
								<button class="btn btn-default btn-success b10" type="submit"
									id="form-button-save">
									<i class="fa fa-check"></i> Save
								</button>
								<button class="btn btn-info b10" type="submit"
									id="save-and-go-back-button">
									<i class="fa fa-rotate-left"></i> Save and go back to list
								</button>
								<button class="btn btn-default cancel-button b10" type="button"
									ng-click="cancelDevice()" id="cancel-button">
									<i class="fa fa-warning"></i> Cancel
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>