<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{assetDetails.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let config of assetDetails.config;let i=index;" class="border-btm">

        <ion-row class="margin0 border-btm" data-toggle="collapse" [attr.data-target]="'#'+i">
            <ion-col col-2 class="ver-center">
                <button ion-button clear color="primary" class="">
                    <i class="fa fa-cog fnt-40"></i>
                </button>
            </ion-col>
            <ion-col col-9 class="border-up">
                <div class="ln-ght20 gray-clr" text-capitalize>
                        <h5>{{ config.assetTitle }}</h5>
                </div>
            </ion-col>
            <ion-col col-1 class="ver-center border-up">
                <ion-icon name="ios-arrow-down" item-right class="clr-orange" ></ion-icon>
            </ion-col>
        </ion-row>

        <div id="{{i}}" class="collapse">
            <!--<div class="row">-->
                    <!--<div class="card">-->
                        <!--<div class="card-content">-->
                            <!--<ion-row>-->
                                <!--<ion-col col-8>-->
                                    <!--<ion-label class="margin0">Previous value:</ion-label>-->
                                <!--</ion-col>-->
                                <!--<ion-col col-4>-->
                                    <!--<ion-input type="text" placeholder="in watts" [(ngModel)]="config.previousValue"></ion-input>-->
                                <!--</ion-col>-->
                            <!--</ion-row>-->

                        <!--</div>-->
                    <!--</div>-->
            <!--</div>-->
            <ion-row class="white-bg margin0" >
             <ion-col col-8 >
                    <ion-item>
                        <ion-label class="margin0">Previous value:</ion-label>
                        <ion-input type="text" placeholder="in watts" [(ngModel)]="config.previousValue"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item>
                        <span text-center class="margin0">{{ config.uom }}</span>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row no-margin class="white-bg margin0">
                <ion-col col-8>
                    <ion-item>
                        <ion-label class="margin0">Current value:</ion-label>
                        <ion-input type="text" placeholder="in watts" [(ngModel)]="config.currentValue"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item>
                        <span text-center class="margin0">{{config.uom }}</span>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="white-bg margin0">
                <ion-col col-6>
                    <ion-item>
                        <ion-label class="margin0">Time:</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label>{{dateTime|date:'dd MMM yyyy,HH:mm'}}</ion-label>
                    </ion-item>

                </ion-col>
            </ion-row>

                <div class="white-bg margin0">
                    <ion-row class="margin0">
                        <ion-col col-6 class="label-on-left">
                            <p class="line-height">Photo</p>
                        </ion-col>
                        <ion-col col-6 text-right>
                            <button class="ion-button" round (click)="viewCamera('beforeJob',jobDetails)" class="camera-btn"><ion-icon name="ios-camera"></ion-icon></button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 *ngFor="let image of takenImages;let i of index" class="">
                            <img [src]="image" class="job-img margin-bottom25" (click)="viewImage(i,image)">
                        </ion-col>
                    </ion-row>
                </div>

                <ion-toolbar text-center class="white-bg">
                    <button type="submit" class="btn btn-warning margin-auto" (click)="saveReading(config)">Submit Reading</button>
                </ion-toolbar>
        </div>
    </ion-list>


</ion-content>

