<div class="content">


    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-default">
                <!--<div class="panel-heading">Panel Heading</div>-->
                <div class="panel-body">

                    <div class="checkbox">
                        <label>
                            Send overdue Email  <input type="checkbox" name="terms">
                        </label>
                    </div>

                    <div class="MailList">
                        <div class="row">

                            <div class="col-md-9">

                                <div class="form-group pdng-top15">
                                    <label class="control-label">overdue Email List</label>
                                    <input type="text" class="form-control" ng-model="">
                                </div>

                            </div>
                            <div class="col-md-3">

                                <button class="btn btn-success margn-top30" ng-click="">
                                <span class="btn-label">
                                    <i class="material-icons">add</i>
                                </span>
                                    Add
                                </button>

                            </div>

                        </div>

                        <div class="row addedActionList">

                            <div class="col-md-9">
                                <div class="form-group">

                                    <label class="">Mail ids</label>

                                    <ul class="listOfActions list-group">

                                        <li class="list-group-item">
                                            <!--{{item.name}}--> praveens@techginko.com
                                            <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
                                        </li>
                                        <li class="list-group-item">
                                            <!--{{item.name}}--> praveens@techginko.com
                                            <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
                                        </li>
                                        <li class="list-group-item">
                                            <!--{{item.name}}--> praveens@techginko.com
                                            <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
                                        </li>
                                        <li class="list-group-item">
                                            <!--{{item.name}}--> praveens@techginko.com
                                            <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
                                        </li>

                                        <!--<li class="list-group-item justify-content-between" ng-repeat="" ng-bind-html-unsafe="">-->
                                        <!--&lt;!&ndash;{{item.name}}&ndash;&gt; praveens@techginko.com-->
                                        <!--<span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>-->
                                        <!--</li>-->



                                    </ul>

                                </div>
                            </div>





                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            Send EOD Job   <input type="checkbox" name="terms">
                        </label>
                    </div>

                    <div class="MailList">
                        <div class="row">

                            <div class="col-md-9">

                                <div class="form-group pdng-top15">
                                    <label class="control-label">EOD Job Email List</label>
                                    <input type="text" class="form-control" ng-model="">
                                </div>

                            </div>
                            <div class="col-md-3">

                                <button class="btn btn-success margn-top30" ng-click="">
                                <span class="btn-label">
                                    <i class="material-icons">add</i>
                                </span>
                                    Add
                                </button>

                            </div>

                        </div>

                        <div class="row addedActionList">

                            <div class="col-md-9">
                                <div class="form-group">

                                    <label class="">Mail ids</label>

                                    <ul class="listOfActions list-group">

                                        <li class="list-group-item">
                                            <!--{{item.name}}--> praveens@techginko.com
                                            <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
                                        </li>
                                        <li class="list-group-item">
                                            <!--{{item.name}}--> praveens@techginko.com
                                            <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
                                        </li>
                                        <li class="list-group-item">
                                            <!--{{item.name}}--> praveens@techginko.com
                                            <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
                                        </li>
                                        <li class="list-group-item">
                                            <!--{{item.name}}--> praveens@techginko.com
                                            <span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>
                                        </li>

                                        <!--<li class="list-group-item justify-content-between" ng-repeat="" ng-bind-html-unsafe="">-->
                                        <!--&lt;!&ndash;{{item.name}}&ndash;&gt; praveens@techginko.com-->
                                        <!--<span class="badge badge-default badge-pill" ng-click="removeItem($index)"><i class="material-icons">remove_circle</i></span>-->
                                        <!--</li>-->



                                    </ul>

                                </div>
                            </div>





                        </div>
                    </div>






                </div>
            </div>


        </div>

    </div>




</div>
