<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div  ng-init="initLoad();">


       <!-- <div class="col-md-8">
            &lt;!&ndash;<h2 class="title">Add Site</h2>&ndash;&gt;
        </div>-->



        <!--<div class="card-header" data-background-color="red">-->
        <!--<h4 class="title">Add Site</h4>-->
        <!--<p class="category"></p>-->
        <!--</div>-->

        <div class="cardsCon addSiteCon">
            <div>
                <label><span class="red-star">*</span> Mandatory Field</label>
            </div>
            <form ng-show="!success" name="form" role="form" novalidate
                  ng-submit="conform('save')" confirm-on-exit>
                <div class="card margin-TB-5 tablecard">

                    <div class="card-content">
                        <h3 class="HeadingTxt">Location</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group no-padding" >
                                    <div class="dropdown">
                                        <div class="form-group">
                                            <label class="control-label">Select Client <span class="red-star">*</span></label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select ng-options = "prj.name for prj in projects" ng-model = "selectedProject" ng-change = "loadSites()" name="project" class="form-control" ng-required="true">
                                                <option value="">Select Client...</option>
                                            </select>

                                            <div ng-show="form.$submitted || form.project.$touched || form.project.$dirty">
                                                <div ng-show="form.project.$dirty || form.project.$invalid">
                                                    <p class="help-block" style="color: maroon"
                                                       ng-show="form.project.$error.required"> Client is required.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group no-padding" >
                                    <div class="dropdown">
                                        <div class="form-group">
                                            <label class="control-label">Select Site <span class="red-star">*</span></label>
                                            <span ng-show="siteSpin"  class="form-control-feedback d-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                            <span ng-show="!siteSpin" class="form-control-feedback d-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select ng-options = "site.name for site in sites" name="site" ng-model = "selectedSite" ng-change="getLatestEntry(selectedSite);checkProject()" ng-disabled = "sites.length == 0" class="form-control" ng-required="true">
                                                <option value="">Select Site...</option>
                                            </select>

                                            <span ng-if="sites.length == 0" ><p style="width:100%;z-index:990;background:#fff;" class="error-msg margin0 help-block" >No Sites</p></span>
                                            <div ng-show="form.$submitted || form.site.$touched || form.site.$dirty">
                                                <div ng-show="form.site.$dirty || form.site.$invalid">
                                                    <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                       ng-show="form.site.$error.required"> Site is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="HeadingTxt">Expense Info</h3>
                        <div class="row">

                            <div class="col-md-3">

                                <div class="form-group no-padding" >
                                    <div class="dropdown">
                                        <div class="form-group">
                                            <label class="control-label">TransactionMode  <span class="red-star">*</span></label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select ng-model="transactionMode" class="form-control" name="transactionMode"  required>
                                                <option value="">Select Type...</option>
                                                <option value="credit">Credit</option>
                                                <option value="debit">Debit</option>
                                            </select>
                                            <div ng-show="form.$submitted || form.transactionMode.$touched || form.transactionMode.$dirty">
                                                <div ng-show="form.transactionMode.$dirty || form.transactionMode.$invalid">
                                                    <p class="help-block" style="color: maroon"
                                                       ng-show="form.transactionMode.$error.required"> Transaction Mode is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">Date <span class="red-star">*</span></label>
                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                    <input type="text" class="form-control datepicker" ng-model="selectedDate"  name="selectedDate" id="selectedDate" placeholder="{{selectedDate | date:'dd/MMM/yyyy'}}" ng-required="true" onkeydown="return false" autocomplete="off" />
                                    <div ng-show="form.$submitted || form.selectedDate.$touched || form.selectedDate.$dirty">
                                        <div ng-show="form.selectedDate.$dirty || form.selectedDate.$invalid">
                                            <p class="help-block" style="color: maroon"
                                               ng-show="form.selectedDate.$error.required"> Transaction Date is required.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3" ng-if="transactionMode == 'debit'">

                                <div class="form-group no-padding" >
                                    <div class="dropdown">
                                        <div class="form-group">
                                            <label class="control-label">Expense Category  <span class="red-star">*</span></label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select ng-options="category.name for category in expenseCategories" name="selectedCategory" ng-change="selectCategory(selectedCategory)"  ng-model="selectedCategory" class="form-control" ng-required="true">
                                                <option value="">Select Category...</option>
                                            </select>
                                            <div ng-show="form.$submitted || form.selectedCategory.$touched || form.selectedCategory.$dirty">
                                                <div ng-show="form.selectedCategory.$dirty || form.selectedCategory.$invalid">
                                                    <p class="help-block" style="color: maroon"
                                                       ng-show="form.selectedCategory.$error.required"> Expense Category is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-3">
                                <div class="form-group no-padding" >
                                    <div class="dropdown">
                                        <div class="form-group">
                                            <label class="control-label">Select Payment type  <span class="red-star">*</span></label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select class="form-control" name="selectedPaymentType" ng-model="selectedPaymentType" ng-required="true">
                                                <option value="">Select </option>
                                                <option value="CASH">Cash </option>
                                                <option value="CARD">Card</option>
                                                <option value="NETBANKING">Net Banking</option>
                                                <option value="CHEQUE">Cheque</option>
                                            </select>
                                            <div ng-show="form.$submitted || form.selectedPaymentType.$touched || form.selectedPaymentType.$dirty">
                                                <div ng-show="form.selectedPaymentType.$dirty || form.selectedPaymentType.$invalid">
                                                    <p class="help-block" style="color: maroon"
                                                       ng-show="form.selectedPaymentType.$error.required"> Payment Type is required.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-2">
                                <div class="form-group   is-empty">
                                    <label class="control-label">Currency </label>
                                    <!--<select ng-options="currency.code for currency in currencies track by currency.code" ng-model="selectedCurrency" class="form-control">-->
                                        <!--<option value="">Select Currency...</option>-->
                                    <!--</select>-->

                                    <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched" ng-model="selectedCurrency" disabled>

                                    <span class="material-input"></span></div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group   is-empty">
                                    <label class="control-label">Amount <span class="red-star">*</span></label>
                                    <input ng-model="selectedAmount" name="selectedAmount" type="number" min = 1
                                           class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched"
                                            required autocomplete="off"
                                           tabindex="0" aria-required="true" aria-invalid="true">
                                    <div ng-show="form.$submitted || form.selectedAmount.$touched || form.selectedAmount.$dirty">
                                        <div ng-show="form.selectedAmount.$dirty || form.selectedAmount.$invalid">
                                            <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                   ng-show="form.selectedAmount.$error.required">
                                                Amount is required.
                                            </p>
                                            <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                               ng-show="form.selectedAmount.$error.min">
                                                Minimum amount  is 1.
                                            </p>
                                        </div>
                                    </div>

                                    <span class="material-input"></span>

                                    <div ng-show="form.$submitted || form.selectedAmount.$touched || form.selectedAmount.$dirty">
                                        <div ng-show="form.selectedAmount.$dirty || form.selectedAmount.$invalid">
                                            <p class="help-block" style="color: maroon"
                                               ng-show="form.selectedAmount.$error.required"> Enter Amount is required.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div class="form-group   is-empty">
                                    <label class="control-label">Receipt No <span class="red-star">*</span></label>
                                    <input type="number" ng-model="receiptNumber" name="receiptNumber" min = 1
                                           class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-touched"
                                           name="amount"
                                           autocomplete="off" tabindex="0" aria-required="true" aria-invalid="true" required>
                                    <span class="material-input"></span>
                                    <div ng-show="form.$submitted || form.receiptNumber.$touched || form.receiptNumber.$dirty">
                                        <div ng-show="form.receiptNumber.$dirty || form.receiptNumber.$invalid">
                                            <p class="help-block" style="color: maroon"
                                               ng-show="form.receiptNumber.$error.required"> Receipt No is required</p>
                                            <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                               ng-show="form.receiptNumber.$error.min">
                                                Invalid receipt number.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label style="padding-top: 23px;">
                                        <input type="checkbox" ng-model="billable" name="billable"> Billable
                                    </label>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label style="padding-top: 23px;">
                                        <input type="checkbox" ng-model="reimbursable" name="reimbursable"> Reimbursable
                                    </label>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group is-empty">
                                    <label class="control-label">Description  </label>
                                    <textarea class="form-control" ng-model="description" placeholder="Description here...." rows="7"></textarea>
                                    <span class="material-input"></span></div>
                            </div>


                        </div>

                        <h3 class="HeadingTxt">Upload documents </h3>
                        <div class="row">
                                <div class="col-md-6">

                                    <div class="row">

                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="control-label">File Title</label>
                                                <input id='fileTitle'
                                                       ng-model="uploadExpenseFile.title"
                                                       class='form-control'
                                                       name='fileTitle'
                                                       type='text'
                                                       ng-required="selectedFile"

                                                />
                                                <div ng-show="form.$submitted || form.fileTitle.$touched || form.fileTitle.$dirty || form.expenseFile.$dirty">
                                                    <div
                                                        ng-show="form.fileTitle.$dirty || form.fileTitle.$invalid">
                                                        <p class="help-block" style="color:maroon"
                                                           ng-show="form.fileTitle.$error.required">
                                                            File title is required.
                                                        </p>
                                                        <!-- <p class="help-block" style="color:maroon"
                                                           ng-show="importClientForm.fileTitle.$error.maxlength">
                                                            File title cannot be longer than 250 characters.
                                                        </p> -->

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group label-floating is-empty is-fileinput row">
                                                <div class="col-md-6 pdng-top13">
                                                    <input type="file" class="form-control ng-pristine ng-valid ng-touched" style="opacity:100;position:relative" file-model="" ng-model="selectedFile" name="expenseFile" tabindex="0" aria-invalid="false"  onchange="angular.element(this).scope().uploadfileValidation(this.files)" ng-required="uploadExpenseFile.title">
                                                    <div ng-show="form.$submitted || form.expenseFile.$touched || form.expenseFile.$dirty || form.fileTitle.$dirty">
                                                        <div
                                                            ng-show="form.expenseFile.$dirty || form.expenseFile.$invalid">
                                                            <p class="help-block" style="width:100%;z-index:990;background:#fff;color:maroon"
                                                               ng-show="form.expenseFile.$error.required">
                                                                File  is required.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:999;background:#fff;color:maroon"
                                                               ng-show="fileNotValid">
                                                                doc,docx,xls,xlsx,csv,txt,pdf files only accepted.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                               ng-show="fileSizeHigh">
                                                                File size 15MB below only accepted.
                                                            </p>

                                                        </div>

                                                    </div>
                                                </div>
                                                <!--<div class="col-md-6">-->
                                                    <!--<button class="btn btn-success" tabindex="0" ng-click="uploadExpenseFile()" ng-disabled="importClientForm.$invalid || fileNotValid || fileSizeHigh">-->
                                                                                    <!--<span class="btn-label">-->
                                                                                        <!--<i class="material-icons">file_upload</i>-->
                                                                                    <!--</span>Upload Docs-->
                                                    <!--</button>-->

                                                <!--</div>-->
                                                <!--  <div class="col-md-12" ng-hide="!clientImportMsg()">
                                                     <span class="card-title">Status - {{clientImportMsg()}}</span>
                                                 </div> -->
                                                <span class="material-input"></span></div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="row" >

                                        <div class="col-md-11">
                                            <div class="form-group">
                                                <label class="control-label">Photo Title</label>
                                                <input id='photoTitle'
                                                       ng-model="uploadExpensePhotoObj.title"
                                                       class='form-control'
                                                       name='photoTitle'
                                                       type='text'
                                                       ng-required="selectedPhotoFile"

                                                />
                                                <div ng-show="form.$submitted || form.photoTitle.$touched || form.photoTitle.$dirty || form.clientFile1.$dirty">
                                                    <div
                                                        ng-show="form.photoTitle.$dirty || form.photoTitle.$invalid">
                                                        <p class="help-block" style="color:maroon"
                                                           ng-show="form.photoTitle.$error.required">
                                                            Photo title is required.
                                                        </p>
                                                        <!-- <p class="help-block" style="color:maroon"
                                                           ng-show="importClientForm1.photoTitle.$error.maxlength">
                                                            Photo title cannot be longer than 250 characters.
                                                        </p> -->

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group label-floating is-empty is-fileinput row">
                                                <div class="col-md-6 pdng-top13">
                                                    <input type="file" class="form-control ng-pristine ng-valid ng-touched" style="opacity:100;position:relative" file-model="" ng-model="selectedPhotoFile" name="clientFile1" tabindex="0" aria-invalid="false" onchange="angular.element(this).scope().uploadImage(this.files)"  ng-required="uploadExpensePhotoObj.title">
                                                    <div ng-show="form.$submitted || form.clientFile1.$touched || form.clientFile1.$dirty || form.photoTitle.$dirty">
                                                        <div
                                                            ng-show="form.clientFile1.$dirty || form.clientFile1.$invalid">
                                                            <p class="help-block" style="width:100%;z-index:990;background:#fff;color:maroon"
                                                               ng-show="form.clientFile1.$error.required">
                                                                Photo  is required.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:999;background:#fff;color:maroon"
                                                               ng-show="imgNotValid">
                                                                jpg,jpeg,png files only accepted.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                               ng-show="imgSizeHigh">
                                                                File size 15MB below only accepted.
                                                            </p>

                                                        </div>

                                                    </div>
                                                </div>
                                                <!--<div class="col-md-6">-->
                                                    <!--<button class="btn btn-success" tabindex="0" ng-click="uploadExpensePhotoFile()"  ng-disabled="importClientForm1.$invalid || imgNotValid || imgSizeHigh">-->
                                                                                    <!--<span class="btn-label">-->
                                                                                        <!--<i class="material-icons">file_upload</i>-->
                                                                                    <!--</span>Upload Photos-->
                                                    <!--</button>-->

                                                <!--</div>-->
                                                <!--  <div class="col-md-12" ng-hide="!clientImportMsg()">
                                                     <span class="card-title">Status - {{clientImportMsg()}}</span>
                                                 </div> -->
                                                <span class="material-input"></span></div>
                                        </div>

                                    </div>


                                </div>

                        </div>


                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button"  ng-click="conform('cancel')"
                                id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                        <button class="btn btn-success ld ld-over-inverse pull-right" ng-class="{'running':saveLoad}"
                                type="submit" id="form-button-save"  ng-disabled="(transactionMode == 'debit' ? !selectedCategory : '') || form.$invalid || fileNotValid || fileSizeHigh || imgNotValid || imgSizeHigh " tabindex="16">
                            <span class="btn-label"><i class="material-icons">check</i></span> Add Expense
                            <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                        </button>

                        <!--<button type="submit"-->
                                <!--id="form-button-save" ng-disabled="form.$invalid"  class="btn btn-success pull-right">-->
                            <!--<span class="btn-label"><i class="material-icons">check</i></span>Add Expense-->
                        <!--</button>-->
                        <div class="clearfix"></div>
                    </div>

                </div>

            </form>
        </div>


    </div>



</div>
