page-offline-page {
.icon-fnt
{
  font-size: 75px !important;
  color: #a2a1a1 !important;
}
  .pos-abs
  {
    float:right !important;
  }
  .pos-rel
  {
    //position:relative !important;
    //top:-15px !important;
    float:right !important;
  }
  .m-t-50
  {
    margin-top:50px !important;
  }
  .width85
  {
    width:85% !important;
  }
  .padding{
    padding: 13px 15px !important;
  }
  i {
    font-size:120px !important;
  }

}
