page-add-material {
  .fab[mini] {
    margin: 8px;
    width: 35px;
    height: 35px;
    line-height: 40px;
  }
  .fab ion-icon
  {
    font-size:19px !important;
  }
  .bg-gray
  {
    background:none !important;
  }
}
