page-add-expense {

  .check-style {
    width: 50% !important;
    float: left;
    border-bottom: none !important;
  .item-inner
    {
      border-bottom: none !important;
    }
  }
  ion-checkbox
  {
    margin-right:0 !important;
  }
  .select-searchable
  {
    max-width:100% !important;
  }
  .label{
    padding:4px 1px !important;
  }
  .border-btm
  {
    border-bottom:1px solid #ccc !important;
  }
  .form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
    top: -21px !important;
    left: 0;
    font-size: 11px;
    line-height: 1.0714285718;
  }

}
