page-calender-page {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
  .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
  .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
  .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
  .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right:0px !important;
    padding-left:0px !important;
  }
  a {
    /* color: orange; */
    color:orange  !important;
    background-color:white !important;
    text-align:center !important;
  }

  .fc button, .fc button:hover, .fc button:focus, .fc button:active, .fc button.active,
  .fc button:active:focus, .fc button:active:hover, .fc button.active:focus, .fc button.active:hover, .open>
  .fc button.dropdown-toggle, .open>.fc button.dropdown-toggle:focus, .open>.fc button.dropdown-toggle:hover,
  .fc button.btn-primary, .fc button.btn-primary:hover, .fc button.btn-primary:focus, .fc button.btn-primary:active,
  .fc button.btn-primary.active, .fc button.btn-primary:active:focus, .fc button.btn-primary:active:hover,
  .fc button.btn-primary.active:focus, .fc button.btn-primary.active:hover, .open>.fc button.btn-primary.dropdown-toggle, .open>
  .fc button.btn-primary.dropdown-toggle:focus, .open>.fc button.btn-primary.dropdown-toggle:hover{
    background-color:orange !important;
  }

  a.fc-more {
    /* margin: 1px 3px; */
    margin: 0px !important;
    font-size: .85em;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    border: 1px solid orange !important;
    border-radius: 50% !important;
    padding: 5px !important;
  }

  .card-calendar table td {
    text-align: center !important;
  }

  .fc-unthemed .fc-popover .fc-header .fc-close {
    color: white !important;
  }





}
