<div padding>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="onboardingContactDetailsForm" novalidate name="form" role="form">
                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                        <label class="control-label trequired">Mobile Number</label>
                        <input class="form-control" type="number" formControlName="contactNumber">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                        <label class="control-label">Emergency Contact No</label>
                        <input class="form-control" type="number" formControlName="emergencyConatctNo">
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 form-group padding0">
                        <h3 class="headerText">Present Address</h3>
                    </div>
                </div>

                <div *ngFor="let list of onboardingContactDetailsForm.get('communicationAddress').controls; let i = index;"
                    formArrayName="communicationAddress">
                    <div [formGroupName]="i">
                        <div class="row form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                                <label class="control-label trequired">Address</label>
                                <input class="form-control" type="text" formControlName="address" maxlength='40' name='address' onKeyPress="if(this.value.length==40) return false;">
                                <div ng-show="form.$submitted || form.address.$touched || form.address.$dirty">
                                    <div ng-show="form.address.$dirty || form.address.$invalid">
                                        <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                           ng-show="form.address.$error.required">
                                           Address is required.
                                        </p>
                                        <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                        ng-show="form.address.$error.maxlength">
                                        Address cannot be longer than 40 characters.
                                     </p>
                             

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                <label class="control-label trequired">City</label>
                                <input class="form-control" type="text" formControlName="city">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                <ion-item>
                                    <ion-label class="label-text trequired" stacked>State</ion-label>
                                    <ion-select interface="popover" formControlName="state">
                                        <ion-option *ngFor="let list of totalStates" [value]="list.name">{{list.name}}</ion-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                        <h3 class="headerText">Permanent Address</h3>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                            <ion-item no-padding="">
                                <ion-label class="label-text" stacked>Same as Present</ion-label>
                                <ion-checkbox   color="primary" checked="false" formControlName="checkSameAsPresent" (ionChange)="setValuePermanent()"></ion-checkbox>
                        </ion-item>
                    </div>
                </div>
                <!-- <div class="row form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 form-group label-floating">
                        <label class="control-label">House No</label>
                        <input class="form-control" type="text" name="phouseno" required>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 form-group label-floating">
                        <label class="control-label">Street Name</label>
                        <input class="form-control" type="text" name="pstreetname" required>
                    </div>
                </div> -->
                <div *ngFor="let list of onboardingContactDetailsForm.get('permanentAddress').controls; let index = index;"
                    formArrayName="permanentAddress">
                    <div [formGroupName]="index">
                        <div class="row form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                                <label class="control-label">Address</label>
                                <input class="form-control" type="text" formControlName="address" minlength="2" maxlength='40' name='addres' onKeyPress="if(this.value.length==40) return false;">

                                <div ng-show="form.$submitted || form.addres.$touched || form.addres.$dirty">
                                    <div ng-show="form.addres.$dirty || form.addres.$invalid">
                                        <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                           ng-show="form.addres.$error.required">
                                           Address is required.
                                        </p>

                                        <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                               ng-show="form.addres.$error.minlength">
                                                                Address is required to be at least 1 character.
                                                            </p>

                                        <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                        ng-show="form.addres.$error.maxlength">
                                        Address cannot be longer than 40 characters.
                                     </p>
                             

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                <label class="control-label">City</label>
                                <input class="form-control" type="text" formControlName="city">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                <ion-item>
                                    <ion-label class="label-text" stacked>State</ion-label>
                                    <ion-select interface="popover" formControlName="state">
                                        <ion-option *ngFor="let list of totalStates" [value]="list.name">{{list.name}}</ion-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                        <label class="headerText trequired">Permanent Address Proof</label>
                        <ion-avatar item-start class="inlineElemet">
                            <img [src]="addressProof" (load)="imgSuccessLoaded()" onError="src = 'assets/imgs/placeholder.png'; imgErrorFunction()"
                                (click)="presentActionSheet()" class="mdImage" />
                        </ion-avatar>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
