
page-contactDetails-new {
    .form-group.label-floating.is-focused label.control-label {
        left: auto !important;
    }
    .headerText {
        font-weight: bold !important;
        color: orange !important;
    }
    .mdImage {
        height: 130px;
        width: 70%;
    }
    .headerText {
        font-weight: bold !important;
        color: orange !important;
    }
    .label-md {
        margin: 0;
        text-align: left;
        padding-left: 1px;
    }
    
}