<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Feedback</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

   <div class="FeedbackQuesCon">


       <ion-list>
           <ion-item *ngFor="let q of questions">

               <h3>{{q.question}}</h3>

               <div class="AnsCon">

                   <ion-icon *ngIf="!check" (click)="check=true;close=false" name="ios-checkmark-circle-outline"></ion-icon>

                   <ion-icon *ngIf="check" (click)="check=false"   name="ios-checkmark-circle"></ion-icon>

                   <ion-icon *ngIf="!close"  (click)="close=true;check=false" name="ios-close-circle-outline"></ion-icon>

                   <ion-icon  *ngIf="close" (click)="close=false"  name="ios-close-circle"></ion-icon>

               </div>

           </ion-item>

       </ion-list>




   </div>


</ion-content>
<ion-footer>
    <ion-toolbar>
        <button ion-button full onclick="demo.showSwal('feedback-success','Thank you!','For your Feedback')">Submit</button>
    </ion-toolbar>
</ion-footer>
