page-changepassword {
  background-color:lightgray !important;
  ion-navbar.toolbar {
    /* background: linear-gradient(#28CF81 70%,#3498DB 20%); */
    background: #2993EB !important;
  }
  ion-content.content
  {
    background-image: none !important;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:black !important;
  }
  .f-clr
  {
    background-color:#3B97C8;
  }
  page-changepassword .list-md .item-input:last-child {
    border: 1px solid #dedede !important;
  }
  .m-t-35
  {
    margin-top: 35px !important;
  }
  .blue-clr{
    background-color:#2993EB;
  }
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
		color:black !important;
	}
    .f-clr
    {
        background-color:#3B97C8;
    }
      page-changepassword .list-md .item-input:last-child {
        border: 1px solid #dedede !important;
      }
      .m-t-35
      {
          margin-top: 35px !important;
      }
      .blue-clr{
          background-color:#2993EB;
        }


  ion-navbar.toolbar:before
  {
    background: transparent;
  }
  .color-white{
    color:white !important;
  }
  ::placeholder {
    color: white !important;
  }
  p
  {
    font-size:16px !important;
    font-weight:bold !important;
  }
  .margin-top100
  {
    margin-top:100px !important;
  }

.margin-top100
{
  margin-top:100px !important;
}
}
