<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Change Password</ion-title>
    </ion-navbar>
</ion-header>

        <ion-content>
            <div class="container" padding-top>
                <!--<div class="row">-->
                    <!--<div class="">-->
                        <form>
                            <!--<div class="width90 margin-auto align-center">-->
                                <div class="card card-login">
                                    <!--<div class="card-header text-center" data-background-color="orange">-->
                                        <!--<p class="fnt-16">Change Password</p>-->
                                    <!--</div>-->
                                    <div class="card-content padding-top25">

                                        <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">lock_outline</i>
                                          </span>
                                            <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='password'}">
                                                <label class="control-label">Old Password</label>
                                                <input class="form-control" type="password" [(ngModel)]="oldPassword" id="password" name="password" #pass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='password'}">
                                                <div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="error-msg">

                                                </div>
                                                <div *ngIf="pass.errors && (pass.untouched )" class="error-msg">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">lock_outline</i>
                                          </span>
                                            <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='newPassword'}">
                                                <label class="control-label">New Password</label>
                                                <input class="form-control" type="password" [(ngModel)]="newPassword" id="newPassword" name="password" #newPass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='newPassword'}">
                                                <div *ngIf="newPass.errors && (newPass.dirty || newPass.touched)" class="error-msg">
                                                </div>
                                                <div *ngIf="newPass.errors && (newPass.untouched )" class="error-msg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button class="btn btn-warning btn-simple btn-wd btn-lg" (click)="resetPassword()">Reset Password</button>
                                    </div>
                                </div>
                            <!--</div>-->
                        </form>
                    <!--</div>-->

                <!--</div>-->
            </div>

        </ion-content>
