<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-content class="login">-->
    <!--<div class="wrapper wrapper-full-page LoginPageCon">-->
        <!--<div class="full-page login-page" filter-color="black">-->
            <!--&lt;!&ndash;   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " &ndash;&gt;-->
            <!--<div class="content padding-top40">-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">-->
                            <!--<form>-->
                                <!--<div class="width90 margin-auto align-center">-->

                                    <!--<div class="margin-bottom">-->
                                        <!--<img src="assets/imgs/logo-wide.png">-->
                                    <!--</div>-->
                                    <!--<div class="card card-login">-->
                                        <!--<div class="card-header text-center" data-background-color="orange">-->
                                            <!--<p class="fnt-16">Change Password</p>-->
                                        <!--</div>-->

<!--<ion-content class="login">-->
    <!--<div class="wrapper wrapper-full-page LoginPageCon">-->
        <!--<div class="full-page login-page" filter-color="black">-->
            <!--&lt;!&ndash;   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " &ndash;&gt;-->
            <!--<div class="content padding-top40">-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">-->
                            <!--<form>-->
                                <!--<div class="width90 margin-auto align-center">-->

                                    <!--<div class="margin-bottom">-->
                                        <!--<img src="assets/imgs/logo-wide.png">-->
                                    <!--</div>-->
                                    <!--<div class="card card-login">-->
                                        <!--<div class="card-header text-center" data-background-color="orange">-->
                                            <!--<p class="fnt-16">Change Password</p>-->
                                        <!--</div>-->

                                        <!--<div class="card-content padding-top25">-->

                                            <!--<div class="input-group">-->
                                          <!--<span class="input-group-addon">-->
                                              <!--<i class="material-icons">lock_outline</i>-->
                                          <!--</span>-->
                                                <!--<div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='password'}">-->
                                                    <!--<label class="control-label">Old Password</label>-->
                                                    <!--<input class="form-control" type="password" [(ngModel)]="oldPassword" id="password" name="password" #pass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='password'}">-->
                                                    <!--<div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="error-msg">-->

                                                    <!--</div>-->
                                                    <!--<div *ngIf="pass.errors && (pass.untouched )" class="error-msg">-->

                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="input-group">-->
                                          <!--<span class="input-group-addon">-->
                                              <!--<i class="material-icons">lock_outline</i>-->
                                          <!--</span>-->
                                                <!--<div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='newPassword'}">-->
                                                    <!--<label class="control-label">New Password</label>-->
                                                    <!--<input class="form-control" type="password" [(ngModel)]="newPassword" id="newPassword" name="password" #newPass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='newPassword'}">-->
                                                    <!--<div *ngIf="newPass.errors && (newPass.dirty || newPass.touched)" class="error-msg">-->

                                                    <!--</div>-->
                                                    <!--<div *ngIf="newPass.errors && (newPass.untouched )" class="error-msg">-->

                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="footer text-center">-->
                                            <!--<button class="btn btn-warning btn-simple btn-wd btn-lg" (click)="resetPassword()">Reset Password</button>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="">-->
                                        <!--<p class="copyright align-center icon-color">-->
                                            <!--&copy;<a href="" class="clr-white"><span class="clr-blk">Powered By</span> <span class="icon-color">T</span>ech<span class="icon-color">G</span>inko</a>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</ion-content>-->

<!--<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Change Password</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="container" padding-top>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form>
                    <div class="width90 margin-auto align-center">
                        <div class="card card-login">
                            &lt;!&ndash;<div class="card-header text-center" data-background-color="orange">&ndash;&gt;
                            &lt;!&ndash;<p class="fnt-16">Change Password</p>&ndash;&gt;
                            &lt;!&ndash;</div>&ndash;&gt;
                            <div class="card-content padding-top25">

                                <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">lock_outline</i>
                                          </span>
                                    <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='password'}">
                                        <label class="control-label">Old Password</label>
                                        <input class="form-control" type="password" [(ngModel)]="oldPassword" id="password" name="password" #pass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='password'}">
                                        <div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="error-msg">

                                        </div>
                                        <div *ngIf="pass.errors && (pass.untouched )" class="error-msg">

                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">lock_outline</i>
                                          </span>
                                    <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='newPassword'}">
                                        <label class="control-label">New Password</label>
                                        <input class="form-control" type="password" [(ngModel)]="newPassword" id="newPassword" name="password" #newPass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='newPassword'}">
                                        <div *ngIf="newPass.errors && (newPass.dirty || newPass.touched)" class="error-msg">
                                        </div>
                                        <div *ngIf="newPass.errors && (newPass.untouched )" class="error-msg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button class="btn btn-warning btn-simple btn-wd btn-lg" (click)="resetPassword()">Reset Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
=======-->

                                                    <!--</div>-->
                                                    <!--<div *ngIf="newPass.errors && (newPass.untouched )" class="error-msg">-->

                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="footer text-center">-->
                                            <!--<button class="btn btn-warning btn-simple btn-wd btn-lg" (click)="resetPassword()">Reset Password</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                     <!--<button class="btn btn-warning btn-simple btn-wd btn-lg" (click)="dismiss()">Back</button>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</ion-content>-->
    <ion-header>
        <ion-navbar>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title text-center>Change Password</ion-title>
        </ion-navbar>
    </ion-header>

        <ion-content>
            <div class="container" padding-top>
                <!--<div class="row">-->
                    <!--<div class="">-->
                        <form>
                            <!--<div class="width90 margin-auto align-center">-->
                                <div class="card card-login">
                                    <!--<div class="card-header text-center" data-background-color="orange">-->
                                        <!--<p class="fnt-16">Change Password</p>-->
                                    <!--</div>-->
                                    <div class="card-content padding-top25">

                                        <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">lock_outline</i>
                                          </span>
                                            <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='password'}">
                                                <label class="control-label">Old Password</label>
                                                <input class="form-control" type="password" [(ngModel)]="oldPassword" id="password" name="password" #pass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='password'}">
                                                <div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="error-msg">

                                                </div>
                                                <div *ngIf="pass.errors && (pass.untouched )" class="error-msg">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">lock_outline</i>
                                          </span>
                                            <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='newPassword'}">
                                                <label class="control-label">New Password</label>
                                                <input class="form-control" type="password" [(ngModel)]="newPassword" id="newPassword" name="password" #newPass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='newPassword'}">
                                                <div *ngIf="newPass.errors && (newPass.dirty || newPass.touched)" class="error-msg">
                                                </div>
                                                <div *ngIf="newPass.errors && (newPass.untouched )" class="error-msg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button class="btn btn-warning btn-simple btn-wd btn-lg" (click)="resetPassword()">Reset Password</button>
                                    </div>
                                </div>
                            <!--</div>-->
                        </form>
                    <!--</div>-->

                <!--</div>-->
            </div>

        </ion-content>
