<div class="gc-container">
	<div class="success-message hidden"></div>


    <div class="row">


        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">Client</div>
                <div class="panel-body">

                    <form name="importClientForm" ng-submit="importClients()">
                        <div class="row">

                            <div class="form-group label-floating" >
                                <div class="col-md-6 pdng-top13" >
                                    <input type="file"
                                           class="form-control" style="opacity:100;position:relative" file-model
                                           ng-model="selectedClientFile"
                                           name="clientFile"
                                    />

                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success" ng-click="uploadClients()" >
                                        <span class="btn-label">
                                       		<i class="material-icons">file_upload</i>
                                   		</span>Import Clients
                                    </button>
                                </div>
							<div class="col-md-2">
                                  </div>
                                  <div class="col-md-3" ng-hide="!clientImportMsg()">
                                  	<span class="card-title">Status - {{clientImportMsg()}}</span>
                                  </div>
                            </div>
                        </div>



                    </form>

                </div>
            </div>

        </div>



        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">Sites</div>
                <div class="panel-body">

                    <form name="importSiteForm" ng-submit="importSites()">
                        <div class="row">

                            <div class="form-group label-floating" >
                                <div class="col-md-6 pdng-top13">
                                    <input type="file"
                                           class="form-control" style="opacity:100;position:relative"
                                           ng-model="selectedSiteFile"
                                           name="siteFile"
                                    />

                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success" ng-click="" >
                                        <span class="btn-label">
                                       		<i class="material-icons">file_upload</i>
                                   		</span>Import Sites
                                    </button>
                                </div>
                            </div>
                        </div>



                    </form>

                </div>
            </div>


        </div>

        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">Employees</div>
                <div class="panel-body">

                    <form name="importEmployeeForm" ng-submit="importEmployees()">
                        <div class="row">

                            <div class="form-group label-floating" >
                                <div class="col-md-6 pdng-top13">
                                    <input type="file"
                                           class="form-control" style="opacity:100;position:relative"
                                             file-model ng-model="selectedEmployeeFile"
                                             name="employeeFile"
                                      />
                                  
                                  </div>
                                  <div class="col-md-6">
                                   <button class="btn btn-success" ng-click="uploadEmployeeFile()" >
                                        <span class="btn-label">
                                       		<i class="material-icons">file_upload</i>
                                   		</span>Import Employees
                                   </button>
                                  </div>
                                  <div class="col-md-2">
                                  </div>
                                  <div class="col-md-3" ng-hide="!employeeImportMsg()">
                                  	<span class="card-title">Status - {{employeeImportMsg()}}</span>
                                  </div>
                              </div>
							</div>
                    </form>

                </div>
            </div>

        </div>

        <div class="col-md-6">



            <div class="panel panel-default">
                <div class="panel-heading">Jobs</div>
                <div class="panel-body">
                    <form name="importJobForm" ng-submit="importJobs()">
                        <div class="row">

                            <div class="form-group label-floating" >
                                <div class="col-md-6 pdng-top13">
                                    <input type="file"
                                           class="form-control" style="opacity:100;position:relative"
                                           file-model ng-model="selectedJobFile"
                                           id="selectedJobFileField"
                                    />

                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success" ng-click="uploadJobFile()" >
                                        <span class="btn-label">
                                       		<i class="material-icons">file_upload</i>
                                   		</span>Import Jobs
                                    </button>
                                </div>

                                <div class="col-md-12" ng-hide="!jobImportMsg()">
                                    <span class="card-title">Status - {{jobImportMsg()}}</span>
                                </div>

                            </div>
                        </div>



                    </form>
                </div>
            </div>



        </div>

    </div>



</div>
