<!--
  Generated template for the SiteListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Employee List</ion-title>

    <!--<ion-buttons right>-->
      <!--<button color="primary" ion-button clear (click)="enrollAllFaces()" class="add-btn">-->
          <!--<i class="material-icons">-->
              <!--list_alt-->
          <!--</i>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="employeeList">
    <ion-item *ngFor="let employee of employeeList;let i of index" class="bottom-border" >

      <p><span class="EmpNameTxt" style="float:left" (click)="getEmployeeAttendance(employee.empId)" >{{employee.name}} {{employee.lastName}}</span>
        <span style="float: right">
          <button has-permission="AttendanceCreate" ion-button  (click)="viewCamera(employee,'enroll')"  >Enroll</button>
          <span *ngIf="employee.faceAuthorised">
            <button has-permission="AttendanceEdit" ion-button color="orange" (click)="viewCamera(employee,'verify','checkIn')" *ngIf="!employee.checkedIn || employee.notCheckedOut" >Check - In</button>
            <button has-permission="AttendanceEdit" ion-button color="orange" (click)="viewCamera(employee,'verify','checkOut')" *ngIf="employee.checkedIn && !employee.notCheckedOut">Check - Out</button>
          </span>

        </span></p>
      <p>
        <span class="EmpNameTxt" style="float:left" (click)="getEmployeeAttendance(employee.id)"  >{{employee.empId}}</span>
      </p>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!employeeList">
      <ion-card>
          <ion-card-content>
              <img src="assets/imgs/warning.svg">
              <span><p text-center>No Data Found</p></span>
          </ion-card-content>
      </ion-card>
  </ion-list>

  <ion-infinite-scroll *ngIf="page<totalPages"  (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
