page-checklist {
.border-btm
{
  border-bottom:1px solid #ccc !important;
}
  .border-inp
  {
    border:1px solid black !important;
  }
  .margin-top30
  {
    margin-top:30px !important;
  }
  .le-checkbox {
    appearance: none;
    position: absolute;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    background-color: #F44336;
    width:30px;
    height:30px;
    border-radius:40px;
    margin:0px;
    outline: none;
    transition:background-color .5s;
  }
  .le-checkbox:before {
    content:'';
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#ffffff;
    width:20px;
    height:5px;
    border-radius:40px;
    transition:all .5s;
  }

  .le-checkbox:after {
    content:'';
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    background-color:#ffffff;
    width:20px;
    height:5px;
    border-radius:40px;
    transition:all .5s;
  }
  .le-checkbox:checked {
    background-color:#4CAF50;
  }
  .le-checkbox:checked:before {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) translate(-4px,3px) rotate(45deg);
    background-color:#ffffff;
    width:12px;
    height:5px;
    border-radius:40px;
  }
  //.le-checkbox:checked:before{
  //  content:'Not Done';
  //}

  .le-checkbox:checked:after {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) translate(3px,2px) rotate(-45deg);
    background-color:#ffffff;
    width:16px;
    height:5px;
    border-radius:40px;
  }
  input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline:none !important;
  }
  //.le-checkbox:checked:after{
  //  content:'Done';




  .checkbox-md .checkbox-checked
  {
    border-color: green !important;
    background: #FFF !important;
  }
  .checkbox-md .checkbox-checked .checkbox-inner
  {
    border-color: green !important;
    width: 8px;
    height: 14px;
    left: 7px;
    top:1px;
  }
  .checkbox-md .checkbox-icon
  {
    border-radius: 18px;
    width: 25px;
    height: 25px;
    border-color: red;
    //background: url(../img/close.png) no-repeat center;

  }
  .text-border
  {
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
  }
  .text-item .item-inner
  {
    padding-right: 0 !important;
  }

  .camera-btn1
  {
    background-color: orange;
    color: #FFFFFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 15px;
  }
  .border-bottom1
  {
    border-bottom: 1px solid #ccc;
  }
  .list-md .item-input:last-child,.list-md .item-block .item-inner,.item-md.item-block .item-inner
  {
    border-bottom: none !important;
  }
  }

