<div class="gc-container" ng-init="initLoad()">
	<div class="success-message hidden"></div>


    <div class="row">

        <div class="col-md-12">
            <div class="card tablecard">
                <div class="card-content">


                    <div class="SearchTable">

                        <form name="searchForm"  ng-submit="loadAssets()" novalidate >

                            <table class="table no-padding-tblCon" border="0">
                                <tr class="filter-row gc-search-row">
                                    <td>
                                        <div class="form-group no-padding" >
                                            <div class="dropdown">
                                                <input type="text" class="form-control" placeholder="Search Asset" ng-model="selectedAsset" name="assetTitle" />
                                            </div>
                                        </div>
                                    </td>
                                    <td align="right">
                                        <div class="floatR form-group no-padding">

                                            <button type="submit" class="btn btn-circle blue-clr" ng-disabled="searchForm.$invalid">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button ui-sref="add-asset" has-permission="Site:Create" ng-class="{active: $state.includes('admin')}"  class="btn btn-circle green-clr">
                                                <i class="material-icons">add</i>
                                            </button>
                                            <button  class="btn btn-circle orange-clr"  ui-sref="view-calendar" title="Asset events">
                                                <i class="material-icons">grid_on</i>
                                            </button>
                                            <button ng-click="refreshPage()" class="btn btn-circle orange-clr">
                                                <i class="material-icons">refresh</i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped" ng-init="search();">

                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Group</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Vaccum Cleaner</td>
                                <td>UDS Housekeeping</td>
                                <td>Deployed</td>
                                <td>Acendas Chennai - Building 1 - Floor 1 - Common Area</td>
                                <td>01-Mar-2018</td>
                                <td>30-Apr-2018</td>
                                <td class="text-right">
                                    <a   has-authority="ROLE_ADMIN" ng-click="getCheckInDetails(employee.id)" ui-sref="view-asset({ id: asset.id })"   class="btn btn-simple btn-info btn-icon like"><i class="material-icons">remove_red_eye</i></a>

                                    <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-asset({ id: asset.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                    <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(asset)"  onClick="$('#deleteModal').modal()" data-target="#myModal"   class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>

                                </td>

                            </tr>
                            <tr>
                                <td>Vaccum Cleaner</td>
                                <td>UDS Housekeeping</td>
                                <td>Deployed</td>
                                <td>Acendas Chennai - Building 1 - Floor 1 - Common Area</td>
                                <td>01-Mar-2018</td>
                                <td>30-Apr-2018</td>
                                <td class="text-right">
                                    <a   has-authority="ROLE_ADMIN" ng-click="getCheckInDetails(employee.id)" ui-sref="view-asset({ id: asset.id })"   class="btn btn-simple btn-info btn-icon like"><i class="material-icons">remove_red_eye</i></a>

                                    <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-asset({ id: asset.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                    <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(asset)"  onClick="$('#deleteModal').modal()" data-target="#myModal"   class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>

                                </td>

                            </tr>
                            <tr>
                                <td>Vaccum Cleaner</td>
                                <td>UDS Housekeeping</td>
                                <td>Deployed</td>
                                <td>Acendas Chennai - Building 1 - Floor 1 - Common Area</td>
                                <td>01-Mar-2018</td>
                                <td>30-Apr-2018</td>
                                <td class="text-right">
                                    <a   has-authority="ROLE_ADMIN" ng-click="getCheckInDetails(employee.id)" ui-sref="view-asset({ id: asset.id })"   class="btn btn-simple btn-info btn-icon like"><i class="material-icons">remove_red_eye</i></a>

                                    <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-asset({ id: asset.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                    <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(asset)"  onClick="$('#deleteModal').modal()" data-target="#myModal"   class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>

                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->

    <!-- <div class="card margin-TB-5 txt-align-center" ng-hide="assets">

        <div class="card-content">

            <h3>No data Found</h3>

        </div>

    </div> -->

     <div class="card margin-TB-5 txt-align-center" ng-hide="assets">

        <div class="card-content">
            <div class="" style="text-align:center;padding: 10px 0;" ng-hide="assetsLoader">
                <div loader-css="ball-pulse"></div>
            </div>

            <h3>No data Found</h3>

        </div>

    </div>

    <!-- Pagination directive start -->

    <pagination-new></pagination-new>

    <!-- Pagination directive end -->


	<div class="row">


		<div id="deleteModal" data-backdrop="false" class="modal fade"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="delete-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Are you sure to delete the asset?<br>
					</div>
					<div class="delete-footer">
						<button type="button" ng-click="deleteAsset()"
							class="btn btn-danger-outline text-danger" data-dismiss="modal">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
