<div class="gc-container" ng-init="init()">
	<div class="success-message hidden"></div>


    <div class="row">


        <div class="col-md-4 txt-align-lft">

            <button class="btn btn-success add-btn margn-tb0" data-toggle="modal" data-target="#Filter" tabindex="0">
                <i class="material-icons">filter_list</i> Filter
                <div class="ripple-container"></div>
            </button>

            <button class="btn btn-warning add-btn margn-tb0"  ng-click="refreshPage()" tabindex="0">
                <i class="material-icons">refresh</i>Clear Filter
                <div class="ripple-container"></div>
            </button>

        </div>

        <div class="col-md-8 txt-align-rgt">

            <button class="btn btn-success add-btn margn-tb0"  ui-sref="add-asset" has-permission="Assets:Create" ng-class="{active: $state.includes('admin')}" tabindex="0">
                <i class="material-icons">add</i> Add
                <div class="ripple-container"></div>
            </button>

            <button class="btn btn-info add-btn margn-tb0" ng-click="load52WeekSchedule()" tabindex="0">
                <i class="material-icons">assignment</i> 52 Week Schedule
                <div class="ripple-container"></div>
            </button>
            <!-- ui-sref="qr-code-list" -->
            <button class="btn btn-info add-btn margn-tb0"  ui-sref="qr-code-list({qrStatus : qrAll, ids: checkboxSel , siteId:assetQrSiteVal })" tabindex="0">
                <i class="material-icons">dashboard</i> Print Asset Code
                <div class="ripple-container"></div>
            </button>

            <!--<button ng-show="assets.length" class="btn btn-success add-btn margn-tb0 ld ld-over-inverse" ng-class="{'running':(downloader && typeMsg=='html')}"  title="Export HTML"  ng-click=exportAllData('html') tabindex="0">
                <i class="material-icons">description</i> Export HTML
                <i class="ld ld-ring ld-spin" ng-show="downloader"></i>
                <div class="ripple-container"></div>
            </button>-->

            <button ng-show="assets.length" class="btn btn-info add-btn margn-tb0 ld ld-over-inverse" ng-class="{'running':(downloader && typeMsg=='xlsx')}"   title="Export Excel"  ng-click=exportAllData('xlsx') tabindex="0">
                <i class="material-icons">import_contacts</i> Export Excel
                <i class="ld ld-ring ld-spin" ng-show="downloader"></i>
                <div class="ripple-container"></div>
            </button>

            <span ng-if="exportMsg(0)=='Download'">
                 <a class="download-btn" href="{{exportFile(0)}}" download target="_self" ng-click="clsDownload()" ng-hide="downloaded">{{exportMsg(0)}}</a>
                 <div class="downloaderMd" ng-show="downloader"></div>
            </span>
            <span ng-if="exportMsg(0)!='Download'">
                 <a class="download-btn" href="javascript:void(0);">{{exportMsg(0)}}</a>
            </span>

            <div class="downloaderMd" ng-show="downloader"></div>


        </div>

        <!--<div class="col-md-6 txt-align-rgt">-->
            <!--&lt;!&ndash;<button type="submit" class="btn btn-circle blue-clr" ng-disabled="searchForm.$invalid">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="material-icons">search</i>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--<button ui-sref="add-asset" has-permission="Site:Create" ng-class="{active: $state.includes('admin')}"  class="btn btn-circle green-clr" title="Add Asset">-->
                <!--<i class="material-icons">add</i>-->
            <!--</button>-->
            <!--&lt;!&ndash; <button  class="btn btn-circle orange-clr"  ui-sref="view-calendar" title="Asset events">-->
                <!--<i class="material-icons">grid_on</i>-->
            <!--</button> &ndash;&gt;-->
            <!--<button ng-click="refreshPage()" class="btn btn-circle orange-clr" title="Reload">-->
                <!--<i class="material-icons">refresh</i>-->
            <!--</button>-->
            <!--<button ng-click="load52WeekSchedule()" class="btn btn-circle orange-clr" title="52 Week Schedule">-->
                <!--<i class="material-icons">assignment</i>-->
            <!--</button>-->
            <!--&lt;!&ndash; <button ui-sref="qr-code-list"  class="btn btn-circle orange-clr" title="Generate QR Code">-->
                <!--<i class="material-icons">dashboard</i>-->
            <!--</button> &ndash;&gt;-->

        <!--</div>-->
    </div>
    <div class="AppliedFilterCon" >
            <span class="AppliedFilterTxtCon">
                <span class="tag label label-info" style="margin-right: 10px" ng-show="searchProject.id !=0 && searchProject.id !=null">
                    Client: {{searchProject.name}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchSite.id !=0 && searchSite.id !=null">
                    Site: {{searchSite.name}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchAcquiredDate">
                    Acquired Date: {{searchAcquiredDate | date:'dd/MM/yyyy'}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCreatedDate">
                    CreatedDate: {{searchCreatedDate | date:'dd/MM/yyyy'}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="assetTypesListOne.selected.name && assetTypesListOne.selected.name !='-- ALL ASSET TYPE --'">
                    Type: {{assetTypesListOne.selected.name}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="assetGroupsListOne.selected.assetgroup && assetGroupsListOne.selected.assetgroup !='-- ALL ASSET GROUP --'">
                    Group: {{assetGroupsListOne.selected.assetgroup}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchAssetName">
                    Title: {{searchAssetName}}
                </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchAssetCode">
                    Code: {{searchAssetCode}}
                </span>

            </span>
    </div>



    <div class="row" ng-init="loadProjects();loadAssetType();loadAssetGroup();">

        <div class="col-md-12">

            <div class="card tablecard margin-TB-5">
                <div class="card-content">

                   <!-- <div class="bouncing-container asset" ng-hide="assets">
                        <div class="message-container">
                            <span>Let's create your<br>first Asset!</span>
                        </div>
                        <div class="arrow-down"></div>
                    </div> -->

                    <div class="table-responsive">
                        <table class="table table-hover withSortingIcons" >

                            <thead>

                            <tr>
                                <th>
                                    <div class="checkbox form-horizontal-checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes" ng-model="allItemsSelected" ng-click="mulSel();"   data-target="#myModal">
                                        </label>
                                    </div>
                                </th>
                                <th>Asset Code
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('code')" ng-class="isActiveAsc == 'code' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('code')" ng-class="isActiveDesc == 'code' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>

                                </th>
                                <th>Asset Name
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('title')" ng-class="isActiveAsc == 'title' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('title')" ng-class="isActiveDesc == 'title' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>

                                </th>
                                <th>Asset Type
                                     <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('assetType')" ng-class="isActiveAsc == 'assetType' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('assetType')" ng-class="isActiveDesc == 'assetType' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>Asset Group
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('assetGroup')" ng-class="isActiveAsc == 'assetGroup' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('assetGroup')" ng-class="isActiveDesc == 'assetGroup' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <!-- <th>Status
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('status')" ng-class="isActiveAsc == 'status' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('status')" ng-class="isActiveDesc == 'status' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th> -->

                                <th>Site
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('siteName')" ng-class="isActiveAsc == 'siteName' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('siteName')" ng-class="isActiveDesc == 'siteName' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>

                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="asset in assets">
                            <td>
                                <div class="checkbox form-horizontal-checkbox">
                                    <label>
                                        <input type="checkbox" name="optionsCheckboxes" ng-model="asset.isChecked" ng-change="selectEntity(asset.id)">
                                    </label>
                                </div>
                            </td>
                                <td>{{asset.code}}</td>
                                <td>{{asset.title | uppercase}}</td>
                                <td>{{asset.assetType}}</td>
                                <td>{{asset.assetGroup}}</td>
                                <!-- <td>{{asset.status}}</td> -->
                                <td>{{asset.siteName}}</td>
                                <td class="text-right hoverMe">

                                    <a has-permission="Assets:View"  title="View More Action"  class="btn btn-simple btn-info btn-icon like Viewmore"><i class="material-icons">more_vert</i></a>



                                    <div class="HoverBx">

										<a ui-sref="create-ticket({ assetId: asset.id })"  has-permission="Tickets:Create"  title="Create Ticket"  class="btn btn-simple btn-info btn-icon like"><i class="material-icons">receipt</i></a>

                                        <a   has-permission="Assets:View" ui-sref="view-asset({ id: asset.id })"  has-permission="Assets:View"  title="View Asset"  class="btn btn-simple btn-info btn-icon like"><i class="material-icons">remove_red_eye</i></a>

                                        <a  ng-class="{active: $state.includes('admin')}" has-permission="Assets:Edit" title="Edit Asset" ui-sref="edit-asset({ id: asset.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                        <a ng-class="{active: $state.includes('admin')}" has-permission="Assets:Delete" title="Delete Asset"  ng-click="deleteConfirm(asset.id)"  onClick="$('#deleteModal').modal()" data-target="#myModal"   class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>

                                    </div>



                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="txt-align-center LoaderCon"  ng-hide="assetsLoader">

                        <div class="pad-TB-30">
                            <div loader-css="ball-pulse"></div>
                            <h3 >Loading, please wait...</h3>
                        </div>

                    </div>

                    <div class="txt-align-center pad-TB-30 noDataCon" ng-show="noData">

                        <h3>No data Found</h3>

                    </div>

                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->


    <!-- Pagination directive start -->

    <pagination-new></pagination-new>

    <!-- Pagination directive end -->


	<div class="row">


		<div id="deleteModal" data-backdrop="false" class="modal fade"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="delete-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Are you sure to delete the asset?<br>
					</div>
					<div class="delete-footer">
						<button type="button" ng-click="deleteAsset()"
							class="btn btn-danger-outline text-danger" data-dismiss="modal">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<!-- BasicFilterModal -->
<!--<div class="modal fade BasicFilterModal FilterModalCon" id="basicFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<form name="searchForm"   novalidate >-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                    <!--<i class="material-icons">clear</i>-->
                <!--</button>-->
                <!--<h4 class="modal-title">Basic Filter</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->

                    <!--<div class="row">-->

                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<label class="label-control">Client</label>-->
                                    <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                    <!--<select class="form-control " ng-model="searchProject" ng-change="loadDepSites()" ng-options="project as project.name for project in projects"  required>-->
                                        <!--<option value="">Select Client...</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="dropdown">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="label-control">Site</label>-->
                                    <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                    <!--<select class="form-control " ng-model="searchSite"  ng-options="site as site.name for site in sites">-->
                                        <!--<option value="">Select Site...</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->



                    <!--</div>-->

            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="submit" class="btn btn-success btn-simple" ng-click = "searchFilter()" data-dismiss="modal" ng-disabled="searchForm.$invalid">Apply Filter</button>-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>&ndash;&gt;-->
            <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--  End Modal -->

<!-- AdvancedFilterModal -->
<!--<div class="modal fade AdvancedFilterModal FilterModalCon" id="advancedFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<form name="searchForm"   novalidate >-->

            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                    <!--<i class="material-icons">clear</i>-->
                <!--</button>-->
                <!--<h4 class="modal-title">Advanced Filter</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->

                <!--<div class="row">-->
                    <!--<div class="col-xs-12 col-md-4">-->
                        <!--<div class="form-group">-->
                            <!--<div class="dropdown">-->
                                <!--<label class="label-control">Acquired Date</label>-->
                                <!--<span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>-->
                                <!--<input type="text" class="form-control datepicker"  id="searchAcquiredDate" placeholder="DD/MM/YYYY"  ng-model="searchAcquiredDate"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-md-4">-->
                        <!--<div class="form-group">-->
                            <!--<div class="dropdown">-->
                                <!--<label class="label-control">Created Date</label>-->
                                <!--<span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>-->
                                <!--<input type="text" class="form-control datepicker"  id="searchCreatedDate" placeholder="DD/MM/YYYY"  ng-model="searchCreatedDate"/>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-md-4">-->

                        <!--<div class="dropdown">-->
                            <!--<div class="form-group">-->
                                <!--<label class="label-control">Asset Type</label>-->
                                <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                <!--<select class="form-control " ng-model="searchAssetType"  ng-options="assetype as assetype.name for assetype in assetTypes track by assetype.name">-->
                                    <!--<option value="">Select Asset Type...</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 col-md-4">-->

                        <!--<div class="dropdown">-->
                            <!--<div class="form-group">-->
                                <!--<label class="label-control">Asset Group</label>-->
                                <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                <!--<select class="form-control" ng-model="searchAssetGroup" ng-options="assetgroup as assetgroup.assetgroup for assetgroup in assetGroups track by assetgroup.assetgroup" >-->

                                    <!--<option value="">Select Asset Group...</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-md-4">-->
                        <!--<div class="form-group" >-->
                            <!--<div class="dropdown">-->
                                <!--<label class="label-control"></label>-->
                                <!--<input type="text"-->
                                       <!--class="form-control border-bottom-input"-->
                                       <!--placeholder="Asset Name"-->
                                       <!--ng-model="searchAssetName"-->
                                <!--/>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-12 col-md-4">-->
                        <!--<div class="form-group" >-->
                            <!--<div class="dropdown">-->
                                <!--<label class="label-control"></label>-->
                                <!--<input type="text"-->
                                       <!--class="form-control border-bottom-input"-->
                                       <!--placeholder="Asset Code"-->
                                       <!--ng-model="searchAssetCode"-->
                                <!--/>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->

            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="submit" class="btn btn-success btn-simple" ng-click = "searchFilter()" data-dismiss="modal" ng-disabled="searchForm.$invalid">Apply Filter</button>-->
                <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>&ndash;&gt;-->
            <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--  End Modal -->

<!-- Filter New -->
<div class="modal fade AdvancedFilterModal FilterModalCon" id="Filter"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="searchForm" role="form" ng-submit ="searchFilter()"  novalidate >

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                                    <h4 class="panel-title">
                                        Basic Filter
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse collapseOne in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="height: 110px;">
                                <div class="panel-body">
                                    <!--loadAssets();-->
                                    <div class="row" ng-init="loadProjects();loadSitesList();loadEmployee();">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <label class="label-control">Client</label>
                                                   
                                                    <span ng-show="clientFilterDisable"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!clientFilterDisable && !client.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>
                                                   
                                                    <ui-select ng-model="client.selected"  ng-disabled="clientFilterDisable">
													  <ui-select-match placeholder="Select clients..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
													  <ui-select-choices repeat="client in clients | filter: $select.search" ng-click="loadDepSitesList(client.selected)" null-option="allClients" loose-null>
													    <span ng-bind-html="client.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="label-control">Site</label>
                                                  
                                                    <span ng-show="siteSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!siteSpin && !sitesListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>
                                                    
                                                    <ui-select ng-model="sitesListOne.selected"  ng-disabled="siteFilterDisable || sitesLists.length == 1">
													  <ui-select-match placeholder="Select site..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
													  <ui-select-choices repeat="sitesListOne in sitesLists | filter: $select.search" ng-click="loadDepBlocksList(sitesListOne.selected)" null-option="allSites" loose-null>
													    <span ng-bind-html="sitesListOne.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
                                                    <span ng-if="sitesLists.length == 1"><p class="error-msg margin0">No sites</p></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h4 class="panel-title">
                                        Advanced Filter
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Acquired Date</label>
                                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                    <input type="text" class="form-control datepicker"  id="searchAcquiredDate" placeholder="DD/MM/YYYY"  ng-model="searchAcquiredDate" autocomplete="off" tabindex="1"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Created Date</label>
                                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                    <input type="text" class="form-control datepicker"  id="searchCreatedDate" placeholder="DD/MM/YYYY"  ng-model="searchCreatedDate" autocomplete="off" tabindex="2"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
				                            <div class="form-group no-padding" >
				                                <div class="dropdown" ng-init="loadAllAssetTypes();">
				                                    <div class="form-group">
				                                        <label class="control-label">Asset Type</label>
				                                       
				                                        <span ng-show="assetTypeDisable"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                        <span ng-show="!assetTypeDisable && !assetTypesListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>
				                                               
					                                    <ui-select ng-model="assetTypesListOne.selected"  ng-disabled="assetTypeDisable">
														  <ui-select-match placeholder="Select Asset Type..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
														  <ui-select-choices repeat="assetTypesListOne in assetTypesLists | filter: $select.search"  null-option="allAssetType" loose-null>
														    <span ng-bind-html="assetTypesListOne.name | highlight: $select.search"></span>
														  </ui-select-choices>
														</ui-select>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
				                            <div class="form-group no-padding" >
				                                <div class="dropdown" ng-init="loadAllAssetGroups();">
				                                    <div class="form-group">
				                                        <label class="control-label">Asset Group</label>
				                                       
				                                        <span ng-show="assetGroupDisable"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                        <span ng-show="!assetGroupDisable && !assetGroupsListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>
				                                               
					                                    <ui-select ng-model="assetGroupsListOne.selected"  ng-disabled="assetGroupDisable">
														  <ui-select-match placeholder="Select Asset Group..." allow-clear="true">{{$select.selected.assetgroup}}</ui-select-match>
														  <ui-select-choices repeat="assetGroupsListOne in assetGroupsLists | filter: $select.search"  null-option="allAssetGroup" loose-null>
														    <span ng-bind-html="assetGroupsListOne.assetgroup | highlight: $select.search"></span>
														  </ui-select-choices>
														</ui-select>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <label class="label-control"></label>
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           placeholder="Asset Name"
                                                           ng-model="searchAssetName" tabindex="3"
                                                    />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <label class="label-control"></label>
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           placeholder="Asset Code"
                                                           ng-model="searchAssetCode" tabindex="4"
                                                    />

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal" tabindex="5">Cancel</button>
                    <button type="submit" class="btn btn-success btn-simple"   tabindex="6">Apply Filter</button>
                    <!--<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>-->
                </div>
            </form>
        </div>
    </div>
</div>


<!-- -->


<!-- Asset  qr print based site dialog -->

<div id="qrModal" class="add-input-modal modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"  >&times;</button>
                <h4 class="modal-title">Select site</h4>
            </div>
            <div class="modal-body">

                <form name="assetQrSiteFrom" >
                    <div class="row">
                        <div class="col-md-12 txt-align-center">
                            <div class="dropdown">
                                <div class="form-group">
                                    <!-- <label class="label-control">Site</label> -->
                                    <span class="form-control-feedback d-sm-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                    <select class="form-control " ng-model="assetQrSite"  ng-options="site as site.name for site in sites" >
                                        <option value="">Select Site...</option>
                                    </select>
                                    <div ng-show="assetQrSiteFrom.$submitted || assetQrSiteFrom.assetQrSite.$touched">
                                        <div ng-show="assetQrSiteFrom.assetQrSite.$dirty || assetQrSiteFrom.assetQrSite.$invalid">
                                            <p class="help-block" style="color:maroon"
                                               ng-show="assetQrSiteFrom.assetQrSite.$error.required">
                                               site is required.
                                            </p>
                                        </div>
                                    </div>
                                    <input type="button" ng-click="selectAll();" data-dismiss="modal" class="btn btn-success" name="submit" value="Submit" ng-disabled="assetQrSiteFrom.$invalid">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!--  Asset qr print based site dialog -->
