<div class="gc-container" ng-init="initLoad()">
	<div class="success-message hidden"></div>


    <div class="row">

        <div class="col-md-12">
            <div class="card tablecard">
                <div class="card-content">

                    <div class="bouncing-container asset">
                        <div class="message-container">
                            <span>Let's create your<br>first Asset!</span>
                        </div>
                        <div class="arrow-down"></div>
                    </div>

                    <div class="SearchTable">

                        <form name="searchForm"  ng-submit="searchFilter()" novalidate >

                            <table class="table no-padding-tblCon" border="0">
                                <tr class="filter-row gc-search-row">
                                    <td>
                                        <!-- <div class="form-group no-padding" >
                                            <div class="dropdown">
                                                <input type="text" class="form-control" placeholder="Search Asset" ng-model="selectedAsset" name="assetTitle" />
                                            </div>
                                        </div> -->
                                        <div class="form-group">
                                            <label class="control-label">Select Asset</label>
                                             <span class="form-control-feedback d-md-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select class="form-control " ng-model="selectedAsset"  ng-options="asset as asset.title for asset in assets" name="assetTitle">
                                                <option value="">Select Asset...</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td align="right">
                                        <div class="floatR form-group no-padding">

                                            <button type="submit" class="btn btn-circle blue-clr" ng-disabled="searchForm.$invalid">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button ui-sref="add-asset" has-permission="Site:Create" ng-class="{active: $state.includes('admin')}"  class="btn btn-circle green-clr">
                                                <i class="material-icons">add</i>
                                            </button>
                                            <button  class="btn btn-circle orange-clr"  ui-sref="view-calendar" title="Asset events">
                                                <i class="material-icons">grid_on</i>
                                            </button>
                                            <button ng-click="refreshPage()" class="btn btn-circle orange-clr">
                                                <i class="material-icons">refresh</i>
                                            </button>
                                            <button ui-sref="schedule-list"  class="btn btn-circle orange-clr">
                                                <i class="material-icons">assignment</i>
                                            </button>


                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>

                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped" >

                            <thead>
                            <tr>
                                <th>Code
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('code')" ng-class="isActiveAsc == 'code' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('code')" ng-class="isActiveDesc == 'code' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>

                                </th>
                                <th>Name
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('title')" ng-class="isActiveAsc == 'title' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('title')" ng-class="isActiveDesc == 'title' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>

                                </th>
                                <!-- <th>Description
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('description')" ng-class="isActiveAsc == 'description' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('description')" ng-class="isActiveDesc == 'description' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th> -->
                                <th>Site
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('siteName')" ng-class="isActiveAsc == 'siteName' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('siteName')" ng-class="isActiveDesc == 'siteName' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>Sart Date
                                     <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('sartDate')" ng-class="isActiveAsc == 'sartDate' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('sartDate')" ng-class="isActiveDesc == 'sartDate' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>End Date
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('endDate')" ng-class="isActiveAsc == 'endDate' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('endDate')" ng-class="isActiveDesc == 'endDate' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>Status
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('status')" ng-class="isActiveAsc == 'status' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('status')" ng-class="isActiveDesc == 'status' ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="asset in assets">
                                <td>{{asset.code}}</td>
                                <td>{{asset.title}}</td>
                                <!-- <td>{{asset.description}}</td> -->
                                <td>{{asset.siteName}}</td>
                                <td>{{asset.startTime | date : "dd/MM/yyyy hh:mm:ss a"}}</td>
                                <td>{{asset.endTime | date : "dd/MM/yyyy hh:mm:ss a" }}</td>
                                <td>{{asset.status}}</td>
                                <td class="text-right">
                                    <a   has-authority="ROLE_ADMIN" ui-sref="view-asset({ id: asset.id })"   class="btn btn-simple btn-info btn-icon like"><i class="material-icons">remove_red_eye</i></a>

                                    <a  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" ui-sref="edit-asset({ id: asset.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                    <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(asset)"  onClick="$('#deleteModal').modal()" data-target="#myModal"   class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>

                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->

    <!-- <div class="card margin-TB-5 txt-align-center" ng-hide="assets">

        <div class="card-content">

            <h3>No data Found</h3>

        </div>

    </div> -->

     <div class="card margin-TB-5 txt-align-center" ng-hide="assets">

        <div class="card-content">
            <div class="" style="text-align:center;padding: 10px 0;" ng-hide="assetsLoader">
                <div loader-css="ball-pulse"></div>
            </div>

            <h3>No data Found</h3>

        </div>

    </div>

    <!-- Pagination directive start -->

    <pagination-new></pagination-new>

    <!-- Pagination directive end -->


	<div class="row">


		<div id="deleteModal" data-backdrop="false" class="modal fade"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="delete-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Are you sure to delete the asset?<br>
					</div>
					<div class="delete-footer">
						<button type="button" ng-click="deleteAsset()"
							class="btn btn-danger-outline text-danger" data-dismiss="modal">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
