


                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-default" style="min-height: 200px;">

                            <div class="panel-heading">
                                Asset Details
                            </div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label class="control-label">Asset Type</label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select class="form-control " ng-model="assettype"  >
                                                <option value="">Please select Asset Type..</option>
                                            </select>
                                        </div>
                                        <div class="form-group selectcon is-empty SelectWithAddbtnCon">

                                            <div class="" style="float:left;width:90%;">
                                                <label class="control-label">Asset Group</label>
                                                <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                <select class="form-control ng-pristine ng-valid ng-touched"  tabindex="0" aria-invalid="false">
                                                    <option value="" class="" selected="selected">Please select Asset Group ..</option>
                                                </select>
                                            </div>
                                            <div class="" style="float:left;">
                                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordian" data-target="#addAssetGroup" class="btn btn-round btn-fab btn-fab-mini btn-simple" aria-expanded="false" aria-controls="collapseExample">
                                                    <i class="material-icons">add</i>
                                                </a>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="collapse" id="addAssetGroup">
                                                <div class="">
                                                    <input class="input-desc ng-pristine ng-untouched ng-valid" id="assetgroupName" ng-model="" name="assetgroupName" type="text" value="" tabindex="0" aria-invalid="false">
                                                    <a class="btn btn-success" ng-click="" tabindex="0">Add</a>
                                                </div>
                                            </div>
                                            <span class="material-input"></span></div>

                                        <div class="form-group selectcon is-empty SelectWithAddbtnCon">

                                            <div class="" style="float:left;width:90%;">
                                                <label class="control-label">Select Asset </label>
                                                <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                <select class="form-control ng-pristine ng-valid ng-touched"  tabindex="0" aria-invalid="false">
                                                    <option value="" class="" selected="selected">Please select Asset ..</option>
                                                </select>
                                            </div>
                                            <div class="" style="float:left;">
                                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordian" data-target="#addAsset" class="btn btn-round btn-fab btn-fab-mini btn-simple" aria-expanded="false" aria-controls="collapseExample">
                                                    <i class="material-icons">add</i>
                                                </a>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="collapse" id="addAsset">
                                                <div class="">
                                                    <input class="input-desc ng-pristine ng-untouched ng-valid" id="assetgroupName" ng-model="" name="assetgroupName" type="text" value="" tabindex="0" aria-invalid="false">
                                                    <a class="btn btn-success" ng-click="" tabindex="0">Add</a>
                                                </div>
                                            </div>
                                            <span class="material-input"></span></div>

                                        <div class="form-group selectcon is-empty SelectWithAddbtnCon">

                                            <div class="" style="float:left;width:90%;">
                                                <label class="control-label">Select Units</label>
                                                <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                <select class="form-control ng-pristine ng-valid ng-touched"  tabindex="0" aria-invalid="false">
                                                    <option value="" class="" selected="selected">Please select Units ..</option>
                                                </select>
                                            </div>
                                            <div class="" style="float:left;">
                                                <a href="javascript:;" data-toggle="collapse" data-parent="#accordian" data-target="#addUnits" class="btn btn-round btn-fab btn-fab-mini btn-simple" aria-expanded="false" aria-controls="collapseExample">
                                                    <i class="material-icons">add</i>
                                                </a>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="collapse" id="addUnits">
                                                <div class="">
                                                    <input class="input-desc ng-pristine ng-untouched ng-valid" id="assetgroupName" ng-model="" name="assetgroupName" type="text" value="" tabindex="0" aria-invalid="false">
                                                    <a class="btn btn-success" ng-click="" tabindex="0">Add</a>
                                                </div>
                                            </div>
                                            <span class="material-input"></span></div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="terms"> Consumption
                                            </label>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default" style="min-height: 200px;">

                            <div class="panel-heading">
                                Readings
                            </div>
                            <div class="panel-body">

                                <div class="table-responsive tablecard">
                                    <table class="table table-striped">

                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Units</th>
                                            <th>Consumption</th>
                                            <th class="text-right" >Actions</th>
                                        </tr>

                                        </thead>

                                        <tbody>

                                            <tr>
                                                <td>Power</td>
                                                <td>watt</td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="Consumption" checked disabled >
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <a  has-permission="" ui-sref="" class="btn btn-simple btn-danger"><i class="material-icons">delete_forever</i><div class="ripple-container"></div></a>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Power</td>
                                                <td>watt</td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="Consumption" checked disabled >
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <a  has-permission="" ui-sref="" class="btn btn-simple btn-danger"><i class="material-icons">delete_forever</i><div class="ripple-container"></div></a>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Power</td>
                                                <td>watt</td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="Consumption" checked disabled >
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <a  has-permission="" ui-sref="" class="btn btn-simple btn-danger"><i class="material-icons">delete_forever</i><div class="ripple-container"></div></a>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Power</td>
                                                <td>watt</td>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="Consumption" checked disabled >
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <a  has-permission="" ui-sref="" class="btn btn-simple btn-danger"><i class="material-icons">delete_forever</i><div class="ripple-container"></div></a>

                                                </td>

                                            </tr>
                                            <tr>
                                            <td>Power</td>
                                            <td>watt</td>
                                            <td>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="Consumption" checked disabled >
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <a  has-permission="" ui-sref="" class="btn btn-simple btn-danger"><i class="material-icons">delete_forever</i><div class="ripple-container"></div></a>

                                            </td>

                                        </tr>


                                        </tbody>
                                    </table>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
