<!--
  Generated template for the SiteListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary" >
    <button ion-button menuToggle (onclick)="clearfilter()"> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Select Site</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list class="emp-list">
    <ion-item *ngFor="let site of siteList;let i of index" class="bottom-border emp">
      <p text-left class="fnt-wt" text-capitalize>
        {{site.name}}
          <span style="float: right">
            <button ion-button  (click)="viewCamera(site.id,'enroll')"  >Enroll</button>
            <span *ngIf="employee.faceAuthorised">
              <button ion-button color="orange" (click)="viewCamera(site.id,'checkIn')" *ngIf="!checkedIn" >Check - In</button>
              <button ion-button color="orange" (click)="viewCamera(site.id,'checkOut')" *ngIf="checkedIn">Check - Out</button>
            </span>
          </span>
      </p>
    </ion-item>
  </ion-list>

</ion-content>
