<!--
  Generated template for the AssetView page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{assetDetails.title}}</ion-title>
    <ion-buttons right [ngSwitch]="true" >
      <!--<div  *ngIf="assetDetails.ppms" >-->
        <!--<button ion-button icon-only class="padding-right10"  *ngSwitchCase=" categories === 'ppm' " (click)="showCalendar()">-->
          <!--<ion-icon ios="ios-calendar" md="md-calendar" class="green fnt-25 padding-right10" ></ion-icon>-->
        <!--</button>-->
      <!--</div>-->

        <button ion-fab mini color="primary" class="margin0" *ngSwitchCase=" categories === 'readings'" (click)="getReadings()">
            <ion-icon name="speedometer" class="fnt-35"></ion-icon>
        </button>


    </ion-buttons>

  </ion-navbar>
  <ion-toolbar class="tool-bar">
    <ion-segment [(ngModel)]="categories" class="segmnt margin-auto" color="#ff9800" (ionChange)="segmentChange(categories,fab)">
      <ion-segment-button value="details" >Details</ion-segment-button>
      <ion-segment-button value="ppm" (ionSelect)="getAssetPPMSchedule()">PPM </ion-segment-button>
      <ion-segment-button value="amc" (ionSelect)="getAssetAMCSchedule()">AMC </ion-segment-button>
      <ion-segment-button value="config" (ionSelect)="getAssetConfig()">Config </ion-segment-button>
      <ion-segment-button value="readings" (ionSelect)="getReading(readingSearchCriteria)">Reading</ion-segment-button>
      <ion-segment-button value="PPMJobs" (ionSelect)="getPPMJobs(jobSearchCriteria)">PPMJobs</ion-segment-button>
      <ion-segment-button value="AMCJobs" (ionSelect)="getAMCJobs(jobSearchCriteria)">AMCJobs</ion-segment-button>
      <ion-segment-button value="tickets" (ionSelect)="getTickets(ticketSearchCriteria)">Tickets</ion-segment-button>
      <!--<ion-segment-button value="history">History</ion-segment-button>-->
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="true">

    <!--<ion-list *ngSwitchCase=" categories === 'jobs' || categories === 'tickets' ||categories === 'readings'" no-margin="" style="background: wheat;">-->

      <!--<ion-row no-margin class="" no-padding="" >-->
        <!--<ion-col col-5 class="ver-center  margin-right15" (click)="selectFromDate()">-->
          <!--<ion-col col-2  class="ver-center padding-bottom1">-->
            <!--<ion-icon ios="ios-calendar" md="md-calendar"  class="fnt-24 clr-orange"></ion-icon>-->
          <!--</ion-col>-->
          <!--<ion-col col-10 class="ver-center padding-top-bottom0">-->
            <!--<ion-label *ngIf="!fromDate" class="bg-trans padding-bottom0" no-margin="">From date</ion-label>-->
            <!--<p padding-left no-margin="">{{ fromDate | date:'dd/MM/yyyy' }}</p>-->
          <!--</ion-col>-->
        <!--</ion-col>-->
        <!--<ion-col col-5 (click)="selectToDate()" class="ver-center">-->
          <!--<ion-col col-2 class="ver-center padding-bottom1">-->
            <!--<ion-icon ios="ios-calendar" md="md-calendar" class="fnt-24 clr-orange"></ion-icon>-->
          <!--</ion-col>-->
          <!--<ion-col col-10 class="ver-center padding-top-bottom0">-->
            <!--<ion-label *ngIf="!toDate" class="bg-trans padding-bottom0" no-margin="">To date</ion-label>-->
            <!--<p padding-left no-margin="">{{ toDate | date:'dd/MM/yyyy' }}</p>-->
          <!--</ion-col>-->
        <!--</ion-col>-->
        <!--<ion-col col-2 class=" ver-center padding-top-bottom0">-->
          <!--<button ion-button round class="color-white" (click)="dateSearch(fromDate,toDate,categories)" [disabled]="!viewButton">-->
            <!--<ion-icon name="search" class="fnt-30"></ion-icon>-->
          <!--</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-list>-->

  </div>

</ion-header>

<ion-content>






  <!--<ion-fab right bottom mini (click)="getReadings()"  margin>-->
  <!--<ion-label color="light" class="margin0 bg-orange">Reading</ion-label>-->
  <!--<button ion-fab color="primary" class="margin-auto margin-top5">-->
  <!--&lt;!&ndash;<i class="material-icons">network_check</i>&ndash;&gt;-->
  <!--<ion-icon name="speedometer" class="fnt-35"></ion-icon>-->
  <!--&lt;!&ndash;<i class="fa fa-tachometer-alt"></i>&ndash;&gt;-->
  <!--</button>-->
  <!--</ion-fab>-->

  <div [ngSwitch]="categories" margin-top="">
    <ion-list *ngSwitchCase="'details'" padding-left="" padding-right="">
      <!--<ion-fab left bottom mini (click)="addAssetImage()"   >-->
      <!--<ion-label color="light" class="margin0 bg-orange " padding-right padding-left>Add</ion-label>-->
      <!--<button ion-fab color="primary" class="margin-auto margin-top5">-->
      <!--<ion-icon name="camera"></ion-icon>-->
      <!--</button>-->
      <!--</ion-fab>-->
      <div class="card">
        <div class="panel-heading card-header-md-clr-orange">Asset Details</div>

        <div class="card-content table-responsive padding-top0">
          <ion-row class="margin0 white-bg">
            <ion-col col-6 class="label-on-left" no-padding>Name</ion-col>
            <ion-col col-6 no-padding>
              <p text-right>{{assetDetails.title}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding>Code</ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.code}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Group
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.assetGroup}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Type
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.assetType}}</p>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div class="card">
        <div class="panel-heading card-header-md-clr-orange">Asset Location</div>

        <div class="card-content table-responsive padding-top0">
          <ion-row class="margin0 white-bg">
            <!--<ion-col col-6 class="label-on-left" no-padding="">-->
            <!--Client-->
            <!--</ion-col>-->
            <!--<ion-col col-6 no-padding="">-->
            <!--<p text-right>{{assetDetails.clientName}}</p>-->
            <!--</ion-col>-->
            <ion-col col-6 class="label-on-left" no-padding="">
              Site
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.siteName}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Block
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.block}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Floor
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.floor}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Zone
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.zone}}</p>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div class="card">
        <div class="panel-heading card-header-md-clr-orange">Manufacturer Details</div>
        <div class="card-content table-responsive padding-top0">
          <ion-row class="margin0 white-bg">
            <ion-col col-6 class="label-on-left" no-padding="">
              Manufacturer
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.manufacturerName}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Model Number
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.modelNumber}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Serial
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.serialNumber}}</p>
            </ion-col>
            <ion-col col-5 class="label-on-left" no-padding="">
              Acquired Date
            </ion-col>
            <ion-col col-7 no-padding="">
              <p text-right>{{assetDetails.acquiredDate | date:'MMM d, y, h:mm a' }}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Purchase Price
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.purchasePrice}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Current Price
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.currentPrice}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="">
              Estimated Dispose Price
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.estimatedDisposePrice}}</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div class="card">
        <div class="panel-heading card-header-md-clr-orange">AMC Vendor Details</div>
        <div class="card-content table-responsive padding-top0">
          <ion-row class="margin0 white-bg">
            <ion-col col-6 class="label-on-left" no-padding="jk">
              Vendor
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.warrantyType}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left" no-padding="jk">
              Warranty Type
            </ion-col>
            <ion-col col-6 no-padding="">
              <p text-right>{{assetDetails.warrantyType}}</p>
            </ion-col>
            <ion-col col-5 class="label-on-left" no-padding="">
              Warranty End Date
            </ion-col>
            <ion-col col-7 no-padding="">
              <p text-right>{{assetDetails.warrantyExpiryDate | date:'MMM d, y, h:mm a' }}</p>
            </ion-col>
          </ion-row>
        </div>
      </div>



    </ion-list>
    <ion-list *ngSwitchCase="'ppm'" padding-left  padding-right>

      <!--<div float-right  *ngIf="assetDetails.ppms" padding>-->
      <!--<ion-icon ios="ios-calendar" md="md-calendar" class="green fnt-25 padding-right10 margn-btom20"(click)="showCalendar()"></ion-icon>-->
      <!--</div>-->

      <div  *ngIf="(!assetDetails.ppms || assetDetails.ppms.length == 0) && spinner" text-center class="margin-top25">
        <ion-spinner name="circles"></ion-spinner>
      </div>

      <div text-center="" *ngIf=" (!assetDetails.ppms || assetDetails.ppms.length == 0) && !spinner ">
        <ion-card text-center>
          <ion-card-content>
            No Data found
          </ion-card-content>
        </ion-card>
      </div>

      <div  class="white-bg" *ngFor="let ppm of assetDetails.ppms;let k=index" >

        <div class="padding-left16 padding-top5" >
          <ion-row class="margin0 margin-top40">
            <ion-col col-2 class="ver-center">
              <button ion-button clear color="primary" class="">
                <ion-icon name="md-clock" class="green fnt-40"></ion-icon>
                <!--<ion-icon name="ios-construct-outline" class="fnt-24"></ion-icon>-->
                <!--<ion-icon ios="ios-calendar" md="md-calendar" ></ion-icon>-->
              </button>
            </ion-col>
            <ion-col col-7="" class="padding-left5 border-btm">
              <div class=" padding-bottom5 ln-ght20" text-capitalize>
                <p text-left class="margin0">{{ ppm.title }}</p>
                <p text-left class="margin0">{{ ppm.status ? ppm.status : "Status" }}</p>
              </div>
            </ion-col>
            <ion-col col-3 class="border-btm">
              <p text-left class="margin0 clr-orange"> {{ ppm.frequencyPrefix }} </p>
              <p text-left class="margin0 clr-orange"> {{ ppm.frequency }} </p>
            </ion-col>
          </ion-row>
        </div>

        <ion-item #item class="item-fnt padding-left0" >
          <!--<div class="padding-left16">-->

          <div text-capitalize >
            <ion-row class="margin0">
              <ion-col col-6 class="padding-right5">
                <div>
                  <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{ ppm.startDate }} </p>
                </div>
              </ion-col>
              <ion-col col-6>
                <div>
                  <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{ ppm.endDate }} </p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <!--</div>-->
        </ion-item>


      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'amc'" padding-left="" padding-right="">
      <!--<div float-right  *ngIf="assetDetails.amcs" class="margn-btom20">-->
      <!--<ion-icon ios="ios-calendar" md="md-calendar" class="green fnt-25 padding-right10"(click)="showCalendar()"></ion-icon>-->
      <!--</div>-->
      <div  *ngIf="(!assetDetails.amcs || assetDetails.amcs.length == 0) && spinner" text-center class="margin-top25">
        <ion-spinner name="circles"></ion-spinner>
      </div>

      <div text-center="" *ngIf="(!assetDetails.amcs || assetDetails.amcs.length == 0) && !spinner">
        <ion-card text-center="">
          <ion-card-content>
            No Data found
          </ion-card-content>
        </ion-card>
      </div>

      <div  class="white-bg" *ngFor="let amc of assetDetails.amcs;let k=index" >

        <div class="padding-left16 padding-top5" >
          <ion-row class="margin0 margin-top40">

            <ion-col col-2 class="ver-center">
              <button ion-button clear color="primary" class="">
                <ion-icon name="md-clock" class="blue fnt-40"></ion-icon>
                <!--<ion-icon name="ios-construct-outline" class="fnt-24"></ion-icon>-->
                <!--<ion-icon ios="ios-calendar" md="md-calendar" ></ion-icon>-->
              </button>
            </ion-col>
            <ion-col col-7="" class="padding-left5 border-btm">
              <div class=" padding-bottom5 ln-ght20" text-capitalize>
                <p text-left class="margin0">{{ amc.title }}</p>
                <p text-left class="margin0">{{ amc.status ? amc.status : "Status" }}</p>
              </div>
            </ion-col>
            <ion-col col-3 class="border-btm">
              <p text-left class="margin0 clr-orange"> {{ amc.frequencyPrefix }} </p>
              <p text-left class="margin0 clr-orange"> {{ amc.frequency }} </p>
            </ion-col>
          </ion-row>
        </div>

        <ion-item #item class="item-fnt padding-left0" >
          <!--<div class="padding-left16">-->

          <div text-capitalize >
            <ion-row class="margin0">
              <ion-col col-6 class="padding-right5">
                <div>
                  <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{ amc.startDate }} </p>
                </div>
              </ion-col>
              <ion-col col-6>
                <div>
                  <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{ amc.endDate }} </p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <!--</div>-->
        </ion-item>


      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'config'" padding-left="" padding-right="" >

      <div  *ngIf="(!assetDetails.config || assetDetails.config.length == 0) && spinner" text-center class="margin-top25">
        <ion-spinner name="circles"></ion-spinner>
      </div>

      <div text-center="" *ngIf="(!assetDetails.config || assetDetails.config.length == 0) && !spinner">
        <ion-card text-center="">
          <ion-card-content>
            No Data found
          </ion-card-content>
        </ion-card>
      </div>

      <div class="white-bg border-btm" *ngFor=" let config of assetDetails.config;let i=index; " >
        <div class="padding-top5">
          <ion-row class="margin0">
            <ion-col col-2 class="ver-center">
              <button ion-button clear color="primary" class="">
                <i class="fa fa-cog fnt-40"></i>
              </button>
            </ion-col>
            <ion-col col-10 class="border-up">
              <div class="ln-ght20" text-capitalize>
                <p text-left class="margin0">{{ config.assetType }}</p>
                <p text-left class="margin0">{{ config.assetTitle }}</p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row no-margin="" >
            <ion-col col-3>
              <p class="margin0" text-center="">{{ config.lastModifiedDate  | date : 'shortDate' }}</p>
              <p class="margin0 clr-orange fnt-12" text-center="">Date</p>
            </ion-col>
            <ion-col col-6>
              <div class="">
                <p text-center class="margin0" text-uppercase	>{{ config.name }}</p>
                <p text-center class="margin0 clr-orange fnt-12">Name</p>
              </div>
            </ion-col>
            <ion-col col-3 >
              <div class="">
                <p text-center class="margin0" text-uppercase	>{{ config.uom }}</p>
                <p text-center class="margin0 clr-orange fnt-12">Uom</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>


      <!--<div class="card" *ngFor="let config of assetDetails.config">-->
      <!--<div class="card-content table-responsive padding-top0">-->
      <!--<ion-row class="margin0 white-bg">-->
      <!--<ion-col col-6 class="label-on-left" no-padding>Title</ion-col>-->
      <!--<ion-col col-6 no-padding>-->
      <!--<p text-right>{{config.assetTitle}}</p>-->
      <!--</ion-col>-->
      <!--<ion-col col-6 class="label-on-left" no-padding>Name</ion-col>-->
      <!--<ion-col col-6 no-padding="">-->
      <!--<p text-right>{{config.name}}</p>-->
      <!--</ion-col>-->
      <!--<ion-col col-6 class="label-on-left" no-padding="">-->
      <!--Uom-->
      <!--</ion-col>-->
      <!--<ion-col col-6 no-padding="">-->
      <!--<p text-right>{{config.uom}}</p>-->
      <!--</ion-col>-->
      <!--<ion-col col-6 class="label-on-left" no-padding="">-->
      <!--Type-->
      <!--</ion-col>-->
      <!--<ion-col col-6 no-padding="">-->
      <!--<p text-right>{{config.assetType}}</p>-->
      <!--</ion-col>-->
      <!--</ion-row>-->
      <!--</div>-->
      <!--</div>-->

    </ion-list>

    <ion-list *ngSwitchCase="'PPMJobs'"  padding-left="" padding-right="">


      <!--<ion-fab left bottom mini (click)="createJob()"  margin>-->
      <!--<ion-label color="light" class="margin0 bg-orange" padding-left=" " padding-right="">Job</ion-label>-->
      <!--<button ion-fab color="primary" class="margin-auto margin-top5">-->
      <!--<ion-icon name="add"></ion-icon>-->
      <!--</button>-->
      <!--</ion-fab>-->
      <div  *ngIf="(!assetDetails.PPMJobs || assetDetails.PPMJobs.length == 0) && spinner" text-center>
        <ion-spinner name="circles"></ion-spinner>
      </div>


      <div text-center="" *ngIf="(!assetDetails.PPMJobs || assetDetails.PPMJobs.length == 0) && !spinner" margin-top>
        <ion-card text-center="">
          <ion-card-content>
            No Data found
          </ion-card-content>
        </ion-card>
      </div>

      <ion-refresher (ionRefresh)="doRefresh($event,'jobs')">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <div  class="white-bg" *ngFor="let job of assetDetails.PPMJobs" >

        <div class="padding-left16 padding-top5">
          <ion-row class="margin0">

            <ion-col col-2 class="ver-center">
              <button ion-button clear color="primary" class="icon-round ion-circle-icons"
                      [ngClass]="{'icon-round-red' : (job.status == 'OVERDUE'),
                                                          'icon-round-green' : (job.status == 'COMPLETED'),
                                                          'icon-round-blue' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}">
                <ion-icon name="ios-construct-outline" class="fnt-24"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-6 class="padding-left5">
              <div class="border-btm padding-bottom5 ln-ght20" text-capitalize>
                <p text-left class="margin0">{{job.title}}</p>
                <p text-left class="margin0">{{job.employeeName}}</p>
                <p text-left class="margin0">{{job.siteProjectName}} - {{job.siteName}} -
                  <span>
                                    <!--<button ion-button round text-capitalize [ngClass]="{'blue' : (job.maintenanceType) == 'amc', 'blue' : (job.maintenanceType) == 'ppm' }">{{job.maintenanceType}}</button>-->
                <!--<p text-uppercase text-right class="margin0 display-inline" [ngClass]="{'blue' : (job.maintenanceType) == 'amc', 'green' : (job.maintenanceType) == 'ppm' }">{{job.maintenanceType}}</p>-->

                </span>
                </p>
              </div>
            </ion-col>
            <ion-col col-2 class="padding-left0 ver-center">
              <div class="padding-bottom5">
                <button ion-button clear color="primary" (tap)="open(slidingItem, item ,count)">
                  <i class="material-icons">more_horiz</i>
                </button>
              </div>
            </ion-col>
            <!--
            <ion-col col-1>
                <p (click)="open(ItemSliding,Item)">f</p>
            </ion-col>
            -->

          </ion-row>
        </div>
        <ion-item-sliding #slidingItem>

          <ion-item #item class="item-fnt padding-left0" >
            <!--<div class="padding-left16">-->

            <div text-capitalize >
              <ion-row class="margin0">
                <ion-col col-6 class="padding-right5">
                  <div *ngIf="job.status =='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.actualStartTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                  <div *ngIf="job.status !='COMPLETED'">
                    <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.plannedStartTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <div *ngIf="job.status =='COMPLETED'">
                    <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.actualEndTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                  <div *ngIf="job.status !='COMPLETED'">
                    <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.plannedEndTime | date:'MMM d, y, h:mm a' }} </p>
                  </div>
                </ion-col>
              </ion-row>
            </div>
            <!--</div>-->
          </ion-item>

          <ion-item-options class="ActionBtns" (click)="close(slidingItem)">
            <div>
              <button ion-button clear color="primary"><ion-icon name="md-eye" (click)="viewJob(job)" class="fnt-24 act-btn-view"></ion-icon></button>
            </div>
            <!--<div *ngIf="userType === 'ADMIN' || userType === 'TECHNICIAN' || userType === 'FACILITYMANAGER' || userType === 'SUPERVISOR'">-->
            <!--<button ion-button clear color="clr-blue"><ion-icon name="md-create" class="fnt-24"></ion-icon></button>-->
            <!--</div>-->
            <!--<div >-->
              <!--<button ion-button clear color="secondary" *ngIf="job.status !='COMPLETED'" (click)="compeleteJob(job)"><ion-icon name="md-checkmark-circle" class="fnt-24 act-btn-view"></ion-icon></button>-->
            <!--</div>-->
            <div *ngIf="userType === 'ADMIN' || userType === 'TECHNICIAN' || userType === 'FACILITYMANAGER' || userType === 'SUPERVISOR'">
              <button ion-button clear color="danger"><ion-icon name="md-close-circle" class="fnt-24 act-btn-view"></ion-icon></button>
            </div>
          </ion-item-options>
        </ion-item-sliding>

      </div>

      <ion-infinite-scroll *ngIf="page<totalPages"  (ionInfinite)="jobScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-list>
      <ion-list *ngSwitchCase="'AMCJobs'"  padding-left="" padding-right="">


          <!--<ion-fab left bottom mini (click)="createJob()"  margin>-->
          <!--<ion-label color="light" class="margin0 bg-orange" padding-left=" " padding-right="">Job</ion-label>-->
          <!--<button ion-fab color="primary" class="margin-auto margin-top5">-->
          <!--<ion-icon name="add"></ion-icon>-->
          <!--</button>-->
          <!--</ion-fab>-->
          <div  *ngIf="(!assetDetails.AMCJobs || assetDetails.AMCJobs.length == 0) && spinner" text-center>
              <ion-spinner name="circles"></ion-spinner>
          </div>


          <div text-center="" *ngIf="(!assetDetails.AMCJobs || assetDetails.AMCJobs.length == 0) && !spinner" margin-top>
              <ion-card text-center="">
                  <ion-card-content>
                      No Data found
                  </ion-card-content>
              </ion-card>
          </div>

          <ion-refresher (ionRefresh)="doRefresh($event,'jobs')">
              <ion-refresher-content></ion-refresher-content>
          </ion-refresher>

          <div  class="white-bg" *ngFor="let job of assetDetails.AMCJobs" >

              <div class="padding-left16 padding-top5">
                  <ion-row class="margin0">

                      <ion-col col-2 class="ver-center">
                          <button ion-button clear color="primary" class="icon-round ion-circle-icons"
                                  [ngClass]="{'icon-round-red' : (job.status == 'OVERDUE'),
                                                          'icon-round-green' : (job.status == 'COMPLETED'),
                                                          'icon-round-blue' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}">
                              <ion-icon name="ios-construct-outline" class="fnt-24"></ion-icon>
                          </button>
                      </ion-col>
                      <ion-col col-6 class="padding-left5">
                          <div class="border-btm padding-bottom5 ln-ght20" text-capitalize>
                              <p text-left class="margin0">{{job.title}}</p>
                              <p text-left class="margin0">{{job.employeeName}}</p>
                              <p text-left class="margin0">{{job.siteProjectName}} - {{job.siteName}} -
                                  <span>
                                    <!--<button ion-button round text-capitalize [ngClass]="{'blue' : (job.maintenanceType) == 'amc', 'blue' : (job.maintenanceType) == 'ppm' }">{{job.maintenanceType}}</button>-->
                              <!--<p text-uppercase text-right class="margin0 display-inline" [ngClass]="{'blue' : (job.maintenanceType) == 'amc', 'green' : (job.maintenanceType) == 'ppm' }">{{job.maintenanceType}}</p>-->

                              </span>
                              </p>
                          </div>
                      </ion-col>
                      <ion-col col-2 class="padding-left0 ver-center">
                          <div class="padding-bottom5">
                              <button ion-button clear color="primary" (tap)="open(slidingItem, item ,count)">
                                  <i class="material-icons">more_horiz</i>
                              </button>
                          </div>
                      </ion-col>
                      <!--
                      <ion-col col-1>
                          <p (click)="open(ItemSliding,Item)">f</p>
                      </ion-col>
                      -->

                  </ion-row>
              </div>
              <ion-item-sliding #slidingItem>

                  <ion-item #item class="item-fnt padding-left0" >
                      <!--<div class="padding-left16">-->

                      <div text-capitalize >
                          <ion-row class="margin0">
                              <ion-col col-6 class="padding-right5">
                                  <div *ngIf="job.status =='COMPLETED'">
                                      <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.actualStartTime | date:'MMM d, y, h:mm a' }} </p>
                                  </div>
                                  <div *ngIf="job.status !='COMPLETED'">
                                      <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{job.plannedStartTime | date:'MMM d, y, h:mm a' }} </p>
                                  </div>
                              </ion-col>
                              <ion-col col-6>
                                  <div *ngIf="job.status =='COMPLETED'">
                                      <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.actualEndTime | date:'MMM d, y, h:mm a' }} </p>
                                  </div>
                                  <div *ngIf="job.status !='COMPLETED'">
                                      <p text-right class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{job.plannedEndTime | date:'MMM d, y, h:mm a' }} </p>
                                  </div>
                              </ion-col>
                          </ion-row>
                      </div>
                      <!--</div>-->
                  </ion-item>

                  <ion-item-options class="ActionBtns" (click)="close(slidingItem)">
                      <div>
                          <button ion-button clear color="primary"><ion-icon name="md-eye" (click)="viewJob(job)" class="fnt-24 act-btn-view"></ion-icon></button>
                      </div>
                      <!--<div *ngIf="userType === 'ADMIN' || userType === 'TECHNICIAN' || userType === 'FACILITYMANAGER' || userType === 'SUPERVISOR'">-->
                      <!--<button ion-button clear color="clr-blue"><ion-icon name="md-create" class="fnt-24"></ion-icon></button>-->
                      <!--</div>-->
                      <!--<div >-->
                      <!--<button ion-button clear color="secondary" *ngIf="job.status !='COMPLETED'" (click)="compeleteJob(job)"><ion-icon name="md-checkmark-circle" class="fnt-24 act-btn-view"></ion-icon></button>-->
                      <!--</div>-->
                      <div *ngIf="userType === 'ADMIN' || userType === 'TECHNICIAN' || userType === 'FACILITYMANAGER' || userType === 'SUPERVISOR'">
                          <button ion-button clear color="danger"><ion-icon name="md-close-circle" class="fnt-24 act-btn-view"></ion-icon></button>
                      </div>
                  </ion-item-options>
              </ion-item-sliding>

          </div>

          <ion-infinite-scroll *ngIf="page<totalPages"  (ionInfinite)="jobScroll($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>

      </ion-list>

    <ion-list *ngSwitchCase="'tickets'" style="margin-top : 56px" padding-left="" padding-right="">

      <div  *ngIf="(assetDetails.tickets?.length == 0) && spinner" text-center class="margin-top25">
        <ion-spinner name="circles"></ion-spinner>
      </div>

      <div text-center *ngIf="(assetDetails.tickets?.length == 0) && !spinner">
        <ion-card text-center="">
          <ion-card-content>
            No Data found
          </ion-card-content>
        </ion-card>
      </div>

      <ion-refresher (ionRefresh)="doRefresh($event,'tickets')">
        <ion-refresher-content>

        </ion-refresher-content>
      </ion-refresher>

      <div  class="white-bg" *ngFor="let ticket of assetDetails.tickets" (click)="viewTicket(ticket)">
        <div class="padding-left16 padding-top5">
          <ion-row class="margin0">
            <ion-col col-9 class="ver-center">
              <ion-icon *ngIf="ticket.status=='Open'" style="color:red" ios="ios-alert" md="md-alert" class="fnt-24"></ion-icon>
              <ion-icon *ngIf="ticket.status=='Closed'" style="color:green" ios="ios-checkmark-circle" md="md-checkmark-circle" class="fnt-24"></ion-icon>
              <ion-icon *ngIf="ticket.status=='OnGoing' || ticket.status =='Assigned'" style="color: orangered" ios="ios-help-circle" md="md-help-circle" class="fnt-24"></ion-icon>
            </ion-col>
            <ion-col col-3 class="padding-left5">
              <div class="border-btm padding-bottom5 ln-ght20" text-capitalize>
                <p text-left class="margin0">{{ticket.title}}</p>
                <p float-right>{{ticket.status}}</p>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <ion-item #item class="item-fnt padding-left0" >
          <!--<div class="padding-left16">-->
          <div text-capitalize >
            <ion-row class="margin0">
              <ion-col col-6 class="padding-right5">
                <div>
                  <p text-left class="fnt-12"><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{ticket.createdDate | date:'MMM d, y, h:mm a' }} </p>
                </div>
              </ion-col>
              <ion-col col-6 class="padding-right5">
                <div >
                  <p text-right class="fnt-12"><ion-icon ios="ios-contact" md="md-contact" class="green padding-right10"></ion-icon>{{ticket.createdBy}} </p>
                </div>
              </ion-col>
            </ion-row>
          </div>
          <!--</div>-->
        </ion-item>

      </div>

    </ion-list>

    <ion-list *ngSwitchCase="'readings'">

      <div  *ngIf="(!assetDetails.reading || assetDetails.reading.length == 0) && spinner" text-center>
        <ion-spinner name="circles"></ion-spinner>
      </div>
      <div *ngIf="(!assetDetails.reading || assetDetails.reading.length == 0) && !spinner"  text-center>
        <ion-card text-center>
          <ion-card-content>
            No Data found
          </ion-card-content>
        </ion-card>
      </div>


      <div *ngIf="assetDetails.reading">
        <div class="card-content white-bg" >
          <div class="table-responsive">
            <table class="table table-scroll">
              <thead>
              <tr>
                <th class="text-center clr-orange">Date</th>
                <th class="text-center clr-orange" >Type</th>
                <th class="text-center clr-orange" >Consumption</th>
                <th class="text-center clr-orange">Reading</th>
                <th class="text-center clr-orange">Uom</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let readings of assetDetails.reading">
                <td class="text-center">{{readings.initialValueTime| date : 'dd/ MM /yy'}}
                  <p>{{readings.initialValueTime|date : 'hh:mm a'}}</p>
                </td>

                <td class="text-center">{{readings.name}}</td>

                <td class="text-center" *ngIf="readings.consumption">{{readings.consumption}}
                  <p class="clr-orange">Initial Value:<span class="clr-black">{{readings.initialValue}}</span></p>
                  <p class="clr-orange">Final Value:<span class="clr-black">{{readings.finalValue}}</span></p>
                </td>
                <td class="text-center" *ngIf="!readings.value>0">NA</td>

                <td class="text-center" *ngIf="readings.value">{{readings.value}}</td>

                <td class="text-center">{{readings.uom}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <ion-infinite-scroll *ngIf="page<totalPages" (ionInfinite)="readingScroll($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list *ngSwitchCase="'history'">
      <div class="col-md-6 p-l-30 p-r-30">

        <div class="white-bg">
          <div class="padding-left16 padding-top5" >
            <ion-row class="margin0 margin-top40 border-btm">
              <ion-col col-4 class="ver-center">
                <button ion-button clear color="primary" class="">
                  <ion-icon name="md-clock" class="green fnt-24"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-8 class="padding-left5">
                <div class=" padding-bottom5 ln-ght20" text-capitalize>
                  <p text-left class="margin0">Asset title</p>
                  <p text-left class="margin0">site name</p>
                </div>
              </ion-col>

            </ion-row>
            <ion-row class="margin0">
              <ion-col col-6 class="ver-center">
                <div class=" padding-bottom5 ln-ght20" text-capitalize>
                  <p text-left class="margin0">status</p>
                </div>
              </ion-col>
              <ion-col col-6>
                <p text-right class="margin0">Employee name</p>
              </ion-col>
            </ion-row>
          </div>
        </div>

      </div>
    </ion-list>
  </div>
</ion-content>


