page-offline-asset {
  .tool-bar {
    padding: 4px 0 0 0 !important;
    min-height: 0 !important;
  }
  ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow-x: auto;
    overflow-y: hidden;
    height: 42px;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 100px;
      width: auto;
    }
  }

  .label-on-left {
    padding-bottom: 10px !important;
  }

  .primary-border-bottom {
    border-bottom: 1px solid orange;
  }
  .padding-bottom1 {
    padding-bottom: 1px !important;
  }
  .fnt-40 {
    font-size: 40px !important;
  }
  .border-up {
    border-bottom: 1px solid #eeeeee;
  }

  .padding-left-right20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  ion-input {
    border-bottom: 1px solid #CCC;

  }
  .has-refresher > .scroll-content {
    border-top: none !important;
  }

  //(job . maintenanceType) == 'amc' {
  //  .blue {
  //    border: 1px solid #00bcd4 !important;
  //    padding: 4px !important;
  //    border-radius: 15px !important;
  //    color: white !important;
  //    background-color: #00bcd4 !important;
  //  }
  //
  //}(job . maintenanceType) == 'ppm' {
  //  .green{
  //    border: 1px solid green !important;
  //    padding: 4px !important;
  //    border-radius: 15px !important;
  //    color: white !important;
  //    background-color: green !important;
  //  }
  //}

}
