a:focus
{
 outline: none;
}
body
{
  font-size: 13px;
    background-color: #f9f9f9;
}
ul li
{
  list-style:none;
}
ul.checkList
{
  padding:0;
}
ul.checkList li
{
      padding: 2px 4px;
      background: #eeeeee;
      float: left;
      margin: 2px 3px;
      border-radius: 5px;
      font-size: 11px;
}
.txtBold{
  font-weight:bold;
}
.box {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 2px;
    z-index: 1;
}
.SubNav
{
  padding-left:8px;
}

.bg-info .bg-info.darken, .bg-info.darken {
    background-color: #52bcdc!important;
    border-color: #2cadd4!important;
}

.box-cell {
    display: table-cell;
    overflow: hidden;
    padding: 0;
    vertical-align: inherit;
    border-color: rgba(0,0,0,.05);
}

.box-cell, .box-cell>* {
    position: relative;
}

.box-cell, .box-row {
    float: none;
}
.card.PrintQrcodecard #printable img
{
    width: 250px !important;
    height: 250px !important;
    margin: 0 auto !important;
    border-radius: 0 !important;
}

.p-l-3, .p-x-3 {
    padding-left: 20px!important;
}

.p-r-3, .p-x-3 {
    padding-right: 20px!important;
}

.p-b-1, .p-y-1 {
    padding-bottom: 10px!important;
}

.p-t-1, .p-y-1 {
    padding-top: 10px!important;
}
.logo a.LogoTxt
{
    padding-top: 20px !important;
    font-size: 15px;
    width: 40px !important;
}
.modal-body #accordion .panel-heading
{
    background-color: #fafafa;
}
.modal-body #accordion .panel-heading .panel-title
{
    font-weight: 100;
}
.LogoCon img.LoginLogo
{
    border-radius: 5px;
    box-shadow: 0px 2px 10px #ccc;
    width: 98%;
}
.ErrorCon
{
    z-index: 100000;
}
.RightAddBtn
{
    padding:20px 5px 5px 5px;
}
.green-1
{
	background: #4caf50 !important;
}
#deleteModal .delete-dialog,.deleteModal .delete-dialog
{
    width: 50%;
    margin: 0 auto;
    padding-top: 2%;
}
#deleteModal .delete-dialog .modal-content,.deleteModal .delete-dialog .modal-content
{
    text-align: center;
}
.hiddenCheckList
{
    position: relative;
    line-height: 25px !important;
}
.CheckListBx
{
    display: none;
    position: absolute;
    top: -40px;
    left: 70px;
    border: 1px solid #ccc;
    min-height: 60px;
    border-radius: 5px;
    background: #ffffff;
    z-index: 1000;
}
.infoIcon:hover .CheckListBx
{
    display: block;
}

.hiddenCheckList .leftTxt
{
    float: left;
}
.hiddenCheckList .infoIcon
{
    float: left;
    padding-left: 5px;
    color: #00bcd4;
}

.orng-1
{
    background: #ff7b00 !important;
}
.orng-2
{
    background: #ff9000 !important;
}
.orng-3
{
    background: #ffa500 !important;
}
.orng-4
{
    background: #ffba00 !important;
}
.margn-top0
{
  margin-top:0 !important;
}
.margn-tb0
{
    margin-top:0 !important;
    margin-bottom:0 !important;
}
.margn-top10
{
  margin-top:10px !important;
}
.margn-top15
{
  margin-top:15px !important;
}
.margn-top20
{
  margin-top:20px !important;
}
.margn-top22
{
  margin-top:22px !important;
}
.margn-top30
{
  margin-top:30px !important;
}
.margn-top40
{
  margin-top:40px !important;
}
.margin0
{
   margin:0 !important;
}
.margn-btm-8
{
    margin-bottom: 8px !important;
}
.margn-btm-12
{
    margin-bottom: 12px !important;
}
.pdng-top13
{
  padding-top:13px;
}
.pdng-top15
{
  padding-top:15px;
}
.pdng-top20
{
  padding-top:20px;
}
.pdng-top25
{
  padding-top:25px;
}
.no-padding
{
  padding:0 !important;
}
.no-padding-tblCon tr td
{
   padding:2px !important;
}
.card .card-content
{
  padding: 5px 20px;
}
.card .card-content .category
{
    color:#000;
}
.card .card-footer .stats
{
    color:#000;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active
{
    background-color: #ff9800;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);

}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active
{
    background-color: #ff9800;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.dropdown-menu i.material-icons
{
    padding-right:5px;
}
.form-control-feedback
{
    opacity: 1;
}
.form-group
{
    margin-top:0;
}
.min-hgt100
{
    min-height:100px;
}
.card-stats .title
{
    padding-top:10px;
}
.colorlines
{
    padding: 0px 20px;
}
.skyblueline
{
    background: #00bcd4;
}
.redline
{
    background: #f44336;
}
.orangeline
{
    background: #ff9800;
}
ul.chatlinesList li
{
    list-style:none;
    padding: 5px;
}
ul.chatlinesList
{
    padding-top: 30px;
}
.card img {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
}
.card .QrcodeCon img
{
  /*width: 100% !important;*/
  width: 50% !important;
  height: auto !important;
  border-radius: 0 !important;
}
.qrcodeList
{
    padding: 20px 0;
    border-bottom: 1px dashed #dfdfdf;
}
.qrcodeList .QrcodeCon
{
    text-align: center;
}
.qrcodeList .QrcodeCon img
{
    width: 25% !important;

}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active
{
  background-color: #ff9800;
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);

}
li ul.nav.SubNav li a p
{
    line-height: 20px;
}


.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active
{
  background-color: #ff9800;
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.dropdown-menu i.material-icons
{
  padding-right:5px;
}
.dropdown select.form-control option:hover
{
    background: #ccc !important;
    color: #000 !important;
    box-shadow: inset 20px 20px #00f !important;
}
.form-control-feedback
{
  opacity: 1;
}
.form-group
{
  margin-top:0;
}

h2.title
{
  margin: 5px 0;
}

/* search and select css */

.ui-select-container.ui-select-bootstrap.dropdown .btn-default-focus
{
    background: none !important;
    border: none;
    outline: none;
    box-shadow: none;
    color: #0A0A0A;
}
.ui-select-bootstrap .ui-select-match-text span
{
    color: #555;
}
.ui-select-match span.btn
{
    margin: 0;
}
.ui-select-match span.btn:hover
{
    box-shadow: none !important;
}
.ui-select-bootstrap .ui-select-choices-row.active>span
{
    background-color: #ff9800;

}





/* End search and select css */

.tab-content.TabsContent.ViewTables tr td
{
  width:50%;
}
.tab-content.TabsContent.ViewTables .tdWidthAuto tr td
{
    width: auto;
}
.card.attendance
{
  margin-top:5px;
}
.nodata h4
{
    padding-top: 20px;
    text-align: center ;
}
span.calender-icon
{
  padding-top: 30px;
}
span.calender-mid-icon
{
  padding-top: 10px;
}
span.calender-big-icon
{
  padding-top: 38px;
}
.FilterModalCon span.calender-big-icon
{
    padding-top: 30px;
}

.FilterModalCon span.calender-mid-icon
{
    padding-top: 7px;
}
.FilterModalCon .modal-content .modal-footer
{
    padding-right: 24px;
}
.modal-content .modal-header button.close
{
    padding: 0 10px;
    font-size: 26px;
    color: #686868;
}
span.d-sm-arrow-icon
{
  padding-top: 7px;
}
span.d-mid-arrow-icon
{
  padding-top: 10px;
}
span.d-md-arrow-icon
{
  padding-top: 27px;
}
span.d-arrow-icon
{
  padding-top: 32px;
}
span.d-big-arrow-icon {
    padding-top: 38px;
}
.DownArrowCon span.d-arrow-icon {
    padding-top: 28px;
}
.download-btn
{
  line-height:32px;;
  font-size: 16px;
  font-weight: bold;

}
.OverlayBx
{
      position: absolute;
    width: 100%;
    height: 60px;
    z-index: 10;
    /* background: #000; */
    top: -12px;
}

select{
  padding-right:27px !important;
}
select.siteList
{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 30px;
}
.selectcon select.siteList
{
  margin-top: 5px;
}
i.CircleButton
{
      padding: 5px;
      border-radius: 50%;
      background:none;
}

button.btn.btn-circle {
    background: none;
    box-shadow: none;
    padding: 5px;
    border-radius: 50%;
    margin: 3px;
}
button.btn.btn-circle .material-icons
{
   font-size: 20px;
}
button.btn.btn-circle:hover
{
  color:#000;
}
.no-padding-tblCon .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover
{
  color:#333;
}
.txt-align-lft
{
    text-align:left;
}
.txt-align-rgt
{
 text-align:right;
}
.txt-align-center
{
 text-align:center;
}
.rememberMe
{
  padding-left: 56px;
}
.card-login .card-content {
    padding: 15px 20px 0px 10px;
}
.card-login .card-content .input-group
{
  padding:10px 0;
}
.formcard .card-content .form-group
{
     padding: 5px 0;
     margin: 5px 0;
}
textarea.form-control {
    height: 60px;
}

.line-scale-party>div, .line-scale>div
{
  background-color: #000 !important;
}
.ball-pulse>div
{
   background-color: #FFAA22 !important;
}
.margin-TB-5
{
  margin:5px 0;
}
.hoverMe
{
    position: relative;
}
.HoverBx
{
    display: none;
    position: absolute;
    top: 3px;
    right: 10px;
    padding: 10px 8px;
    background: #f5f5f5;
    border-radius: 3px;
    min-width: 200px;
}
.HoverBx.TicketActBx
{
    min-width: 390px;
    top: 0;
    /*top: 12px;*/
}
.AppliedFilterCon
{
    padding: 10px 0 5px 0px;
}
span.filterdTxt
{
    font-size: 12px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, .5);
    border-radius: 3px;
    margin: 2px;
    overflow: hidden;
    transition: background-color 0.1s;
    max-width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
}
.applyTitle
{
    font-weight: 400;
}
.hoverMe:hover .Viewmore
{
    display: none;
}
.hoverMe:hover .HoverBx
{
    display: block;
}
.HoverBx a i,.HoverBx button i
{
    transition: font-size .2s linear .1s;
}
.HoverBx:hover a
{
    color: orange;
}
.HoverBx a:hover i,.HoverBx button:hover i
{
    color: orange;
    font-size: 20px;
}
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open>.btn.btn-primary.dropdown-toggle, .open>.btn.btn-primary.dropdown-toggle:focus, .open>.btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav>li>a.btn.btn-primary, .navbar .navbar-nav>li>a.btn.btn-primary:hover, .navbar .navbar-nav>li>a.btn.btn-primary:focus, .navbar .navbar-nav>li>a.btn.btn-primary:active, .navbar .navbar-nav>li>a.btn.btn-primary.active, .navbar .navbar-nav>li>a.btn.btn-primary:active:focus, .navbar .navbar-nav>li>a.btn.btn-primary:active:hover, .navbar .navbar-nav>li>a.btn.btn-primary.active:focus, .navbar .navbar-nav>li>a.btn.btn-primary.active:hover, .open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle, .open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:focus, .open>.navbar .navbar-nav>li>a.btn.btn-primary.dropdown-toggle:hover
{
  background-color: #ff9800;
}
.FilterModalCon .modal-footer .btn-simple
{
    border: 1px solid;
}
.FilterModalCon span.d-big-arrow-icon
{
    padding-top: 32px;
}
.FilterModalCon span.d-arrow-icon
{
    padding-top: 30px;
}
.btn-group.open>.dropdown-toggle.btn.btn-primary, .btn-group-vertical.open>.dropdown-toggle.btn.btn-primary
{
  background-color: #ff9800;
}
.Flt_lft
{
    float: left;
}
.Flt_rgt
{
    float: right;
}
/* Checklist css*/
.checklistLftCon .Flt_lft
{
    width: 85%;
}
.checklistLftCon .Flt_rgt
{
    width: 15%;
}
.checklistLftCon .btn.btn-success
{
    padding: 5px;
    margin: 5px;
}

h3.HeadingTxt
{
    background: #f9f9f9;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
}
.titleCon
{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #ffeaca;
    border-radius: 5px;
    box-shadow: 1px 0px 5px 0px #ffdeae;
    border-left: 4px solid #ff9800;
    border-right: 4px solid #ff9800;
    min-height: 35px;

}
.titleCon h3
{
    font-weight: 400;
    font-size: 19px;
    margin: 0;
}
.modal-body .titleCon
{
    width: 70%;
}
.modal-body .titleCon h3
{
    font-size: 16px;
}

 .docsRow
 {
   padding-top:20px;
 }
.DocsCon:hover .DeleteBtn,.DocsCon:hover .DownloadBtn
{
	display:block;
}
.DeleteBtn
{
	position: absolute;
    width: 25px;
    height: 25px;
    background: #ff0000;
    border-radius: 50%;
    right: 45px;
    top: -15px;
    display:none;
    transition: all 1s ease;
    z-index: 18;
}
.DeleteBtn i
{
	color: white;
    font-size: 18px;
    cursor:pointer;
    padding-top: 3px;
}

.DownloadBtn
{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 26%;
    top: 0;
    background: #ffffffd6;
    z-index: 14;
    display:none;
}
.DownloadBtn i
{
    padding-top: 9px;
    font-size: 40px;
    cursor:pointer;
}

input.InputTxtCaps
{
    text-transform: capitalize;
}
input.InputTxtCapsAll
{
    text-transform: uppercase;
}
.selectTxtCaps option
{
    text-transform: uppercase;
}

textarea.InputTxtCaps
{
    text-transform: capitalize;
}




.caps
{
    text-transform: capitalize;
}
.TxtFirstCaps
{
    text-transform: capitalize ;
}

/*End Checklist css */


.TabsContainer  .nav-pills:not(.nav-pills-icons)>li>a {
    border-radius: 5px 5px 0px 0px;
        box-shadow: none !important;
}
.TabsContainer .nav-pills>li i
{
      display: inline;
      font-size: 16px;
      padding: 0;
}
.TabsContainer .nav-pills>li a
{
    background-color: #eee;
}
.TabsContainer .nav-pills>li a:hover
{
    background-color: #ff9800;
    color: #fff;
}
.TabsContainer  .tab-pane
{
   padding:10px;
}
.TabsContainer .TabsContent
{
      padding-top: 10px;
      border: 1px solid #ff9800;
}
.SummaryCard table tr td
{
    width:50%;
}
.tablecard .btn, .navbar .navbar-nav>li>a.btn
{
     padding: 0px 5px;
     margin: 0px 1px;
}
.TopButtonsCon .btn
{
 margin:0 !important;
}
a.add-btn,button.add-btn
{
    padding: 8px 15px !important;
}
.panel-body .table-responsive table tr:first-child td {
    border-top: none !important;
}
.table-responsive table tr th
{
    font-weight: 400;
}
.EmpProfilePicCon
{
    text-align: center;
    min-height: 120px;
}
.EmpPic
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
img.EmpProfilePic
{
    width: 100%;
    height: 100%;
    border-radius: 50% ;
    box-shadow: 1px 2px 7px 2px #ccc;
}
/* View page Css */

.ViewContentPageCon .panel-body .table-responsive table tr td:nth-child(odd)
{
    color: #7b7c7b;
}
.ViewContentPageCon  .panel-body .table-responsive table tr td:nth-child(even)
{
    font-weight: 400;
}



.table-scroll-x .table
{
    width: 150%;
    max-width: 150%;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    border-top: 1px solid #f9f9f9;
    /*text-transform: capitalize;*/
}
th span.sortingIcons
{
    float: left;
    width: 15px;
}

th span.sortingIcons svg
{
  display: block !important;
  color: #dfdfdf;
  cursor: pointer;
}
th span.sortingIcons .active svg
{
    color: #ff9800;
}
table.withSortingIcons thead tr th
{
    line-height: 30px;
}
/*.alert.alert-info*/
/*{*/
  /*background-color: #fff;*/
  /*color: #ff9800;*/
  /*border:1px solid #ff0000;*/
/*}*/
/*.alert.alert-info i*/
/*{*/
  /*color: #f44336;*/
/*}*/
/*.alert.alert-info .close i {*/
    /*color: #f44336;*/
/*}*/

.FilterCard
{
    margin: 3px !important;
}
.assetsTabs ul.nav-pills li a
{
    font-size: 11px;
    font-weight: 400;
    min-width: 90px;
    padding: 10px 5px;
}
.EditAssetTabs .assetsTabs ul.nav-pills li a
{
    padding: 10px;
}
.viewAssetTabs  .assetsTabs ul.nav-pills li a
{
    min-width: 80px;
}
span.red-star
{
    padding:0 5px;
    color:red;
}
.error-msg
{
    color: red;
}
.SelectWithAddbtnCon span.d-arrow-icon
{
    padding-right: 20px;
}
.SelectWithAddbtnCon .btn.btn-fab.btn-fab-mini
{
    margin-top: 23px;
}
.alert.alert-with-icon
{
    z-index: 10005 !important;
    top: 45% !important;
}
/*.ps-container .ps-scrollbar-y-rail {*/
    /*opacity: 1;*/
    /*filter: alpha(opacity = 100);*/
/*}*/

.jobcards .card [data-background-color],.cardsCon .card [data-background-color]
{
 /* border: 1px solid #ccc;
  background: #fff;*/
  padding:10px 30px;
}
.FeedbackDashboardCon .card
{
    margin: 5px 0;
}
.TailsCon
{
    width: 100%;
    margin: 10px auto;
}
.BlockList
{
    min-width: 100px;
    min-height: 100px;
    border: 1px solid #dfdfdf;
    text-align: center;
}
.BlockList button
{
    background: none;
    box-shadow: none;
    border: none;
    padding: 5px;
    min-width: 100%;
    min-height: 100px;

}
.TailsContent
{
    position: relative;
}
.pos-abs
{
    position: absolute;
}
.TailsContent .next
{
    right: -25px;
    top: 40px;
}
.TailsContent .back
{
    top: 40px;
    left: -25px;
}
.blocksListCon li:hover
{
    background: #EEEEEE;
}
.blocksListCon li.active
{
   background: #EEEEEE;
   border: 1px solid #333;
}

.blocksListCon li a
{
  color:#333;
  padding: 35px 5px;
}
.clear
{
    clear: both;
}
.TailsContent button
{
    background: none;
    box-shadow: none;
    border: 1px solid #eeeeee;
    padding: 5px;
    margin: 5px;
    width: 16%;
    min-height: 120px;
}
.TailsContent button:hover
{
    background: #EEEEEE;
    border: 1px solid #000;
}
.BlockList button:hover
{
    background: #EEEEEE;
}
ul.blocksListCon
{
    width: 100%;
    margin: 0;
    padding: 0;
}
.blocksListCon li {
    width: 130px;
    height: 130px;
    float: left;
    border: 2px solid #b9b9b9;
    margin: 3px;
    padding-top: 35px;
    /*padding: 30px 15px 15px 15px;*/
    text-align: center;
    cursor: pointer;
    border-left: 6px solid #b9b9b9;
    border-radius: 5px;
}
.blocksListCon li:hover
{
    border: 2px solid #b9b9b9;
}
.jobcards .card [data-background-color] .card-title {
    /*color:#ff9800;*/
}
.jobcards .formcard.minhgt320
{
  min-height:360px;
}
.jobcards .formcard.minhgt430
{
  min-height:460px;
}
.jobcards  .form-group.minhgt90
{
   min-height:90px;
}
.addSiteCon .formcard
{
  min-height:300px;
}
.editSiteCon .formcard
{
  min-height:380px;
}

.navbar-brand
{
  font-size: 16px;
}

.form-group label.control-label
{
  font-size:13px;
  margin-top: 0;
}
.pagination>li>a, .pagination>li>span
{
  background: #fff;
  cursor: pointer;
  border-radius:3px !important;
}
.pagination>li>a:hover
{
  background: #4caf50;
  color:#fff;
}
.blue-clr
{
  color: #00bcd4;
  border: 2px solid #00bcd4;
}
.green-clr
{
  color:#4caf50;
  border: 2px solid #4caf50;

}
p.blocktxt
{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
}
.blocktxt label
{
    /*padding: 2px 10px;*/
    /*background: #eee;*/
    color: #000;
    display: block;
    /*border-radius: 10px;*/
}
.orange-clr
{
  color:#ff9800;
  border: 2px solid #ff9800;
}
.orange-color
{
    color:#ff9800;
}

.escalationLevelCon h4
{
    background: #f9f9f9;
    padding-left: 10px;
}

.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label
{
  top: -2px;
}

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
    top: -10px;
    font-size: 12px;

}
button.btn.btn-outline {
    background: no-repeat;
    color: #333;
}
.checkbox label
{
    color: #000;
}
.main-panel>.content
{
   margin-top:50px;
   padding: 10px 15px;
}
.permissioncard .checkbox label
{
  color: #444;
}
.RatingCon
{
    padding-top: 17px;
}
.jk-rating-stars-container .star-button.star-on .material-icons {
    color: #ff9800;
}
.jk-rating-stars-container .button .material-icons {
    font-size: 35px;
}
.appModuleCard table label
{
   padding: 2px 5px;
   background: #ccc;
   color: #fff;
   border-radius: 5px;
   font-size: 12px;
   margin: 2px 2px;
}
.addedActionList .list-group-item>.badge
{
        padding: 0;
      background: #fff;
      color: #777;
}
.checkbox-inline, .radio-inline
{
    padding-left: 10px;
}
.checkbox, .radio
{
    margin-top: 5px;
}
.form-control, .form-group .form-control
{
      border: 1px solid #d6d6d6;
      border-radius: 2px;
      background: none !important;
      padding-left:10px;

}
.form-control, .form-group .form-control::first-letter
{
    /*text-transform: uppercase;*/
}
.tablecard table tr td::first-letter
{
    text-transform: uppercase
}
.tablecard table tr td.lowercase::first-letter
{
    text-transform: lowercase;
}
.tablecard table tr td.lowercase
{
    text-transform: lowercase !important;
}
.inputLowerCase
{
    text-transform: lowercase !important;
}
input.InputFirstCaps::first-letter
{
    text-transform: uppercase;
}





.form-group label.control-label
{
   color:#444;
   font-weight: 600;
   margin-bottom: 5px;
}
.navbar.navbar-transparent
{
  border-bottom: 1px solid #ccc;

}
.form-group.is-focused .form-control
{
        border: 1px solid #FFAA22;
        background: none !important;
}
.SearchTable
{
      /*border-bottom: 1px solid #dfdfdf;*/
}
.form-group .border-bottom-input
{
  border:none;
  border-bottom: 1px solid #ccc;
}
.form-group.is-focused .border-bottom-input
{
  border:none;
  border-bottom: 1px solid #FFAA22;
}
.form-group.has-error .form-control
{
  border: 1px solid red;
  background: none !important;
}
.cardsCon,.form-container
{
  margin-top: 30px;
}
.card
{
  /*background: #F9F9F9;*/
  border-radius: 0;
  /*margin: 8px 0;*/
}
.ListingPageCon .card-content
{
    min-height: 500px;
}

.navbar-toggle
{
    color: #fff;
}



.TableCard
{
   margin: 8px 0;
}

.DashboardCardsCon .card [data-background-color]
{
  padding: 5px;
}
.DashboardCardsCon  .card-stats .card-header i
{
  font-size: 30px;
  line-height: 40px;
  width: 40px;
  height: 40px;
}
.card [data-background-color]
{
  border-radius: 0;
}
.label-on-left
{
  padding-top: 20px;
}
.checkbox label, .radio label, label, .label-on-left, .label-on-right
{
  font-size:13px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.panel
{
  background-color: #fff;
  border: 1px solid #ddd;
}
.panel .panel-body
{
  padding: 15px;
}
.panel-default>.panel-heading
{
  color: #444;
  font-size: 16px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding:10px;
  font-weight: 400;
}

/* wizard triangle */



/* Breadcrups CSS */

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 0;
    min-width: 150px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #d9e3f7;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step a {
    position: relative;
}

.arrow-steps .step a:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done a:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.active {
    background-color: #ff9800;
}
.arrow-steps .step.active a
{
    color: #fff !important;
    margin-left: 5px !important;
}
.arrow-steps .step.active:after {
    border-left: 17px solid #ff9800;
}
.wizard-card
{
    margin: 0;
}
.wizard-card .nav-pills {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
}

.wizard-card .nav-pills>li>a:focus
{
    background: none !important;
    border-radius: 0 ;
}
.moving-tab
{
    display: none;
}
.wizard-card .tab-content
{
    margin-top: 0 !important;
}

.wizard-card .nav-pills>li.active>a, .wizard-card .nav-pills>li.active>a:hover, .wizard-card .nav-pills>li.active>a:focus, .wizard-card .nav-pills>li>a:hover, .wizard-card .nav-pills>li>a:focus
{
    background: none !important;
}


.listOfActions li.list-group-item
{
  min-height:45px;
}
.input-desc
{
  width: 79%;
  padding-top: 10px;
  margin-top: 12px;
}
.inputDescBox
{
    width: 79%;
    padding: 8px;
}
.table>thead>tr>th, .table>tbody>tr>th
{
  font-size: 15px;
}
.TopNavbar
{
  border-radius:0;
  * Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 */
}

.TopNavTitle
{
  padding: 0 8px !important;
  height: 25px !important;
  color:#fff !important;
}


.modal
{
    z-index: 99999;
}
.modal-title
{
    font-weight: 400;
}

/* left right modal css*/

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 500px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-dialogNew {
		position: fixed;
		margin: auto;
		width: 900px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}

	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -500px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}

	.modal.left.fade.in .modal-dialog{
		left: 0;
	}

/*Right*/
	.modal.right.fade .modal-dialog {
		right: -500px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	/*Right*/
	.modal.right.fade .modal-dialogNew {
		right: -900px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.7s linear, right 0.7s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}
	.modal.right.fade.in .modal-dialogNew {
		right: 0;
        transition: opacity 0.5s linear, right 0.7s ease-out;
	}


/* PopUp */

.add-input-modal .modal-dialog
{
    width: 450px;
}
.add-input-modal .modal-body input
{
    width: 100% !important;
    padding: 7px !important;
}
.add-input-modal .modal-body input.btn
{
    width: 20% !important;
}
.user div a{

    cursor:pointer;
  }
a.cal-btn
{
    padding: 5px 0 !important;
    margin: 0 !important;
}
a.cal-btn i
{
    font-size: 30px !important;
}
  .pageCenter{
      top: calc(200% / 5);
      left: calc(100% / 2.3);
      z-index: 100000;
      position: absolute;
      display: none;
      width:4%;
  }
  .white{
      color:#fff;
      line-height: 40px;
      text-align: left;
  }
  .loginPage a{
    color:#000;
    line-height: 60px;
    text-transform: uppercase;
    padding: 15px 10px;
    display: inline-block;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
  }
  a.logout{
     padding-left: 0px !important;
  }
  .overlay{
    background: rgba(255,255,255,0.4);
    width: 100%;
    height: 250%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
  }
  .timeline:before {
  background:none !important;
  }
  /*.remove-mr{*/
    /*padding: 0px !important;*/
    /*margin: 0px !important;*/
  /*}*/
  /*.remove-hght{*/
    /*height:auto !important;*/
    /*max-height:inherit; !important;*/
  /*}*/
  .navbar{
    padding: 0px !important;
  }
  .navbar-minimize{
    padding-top: 10px !important;
  }
  .navbar .navbar-brand{
    line-height: 43px !important;
  }
.LoginPageView
{
    height: 100% !important;
}
  .LoginPageCon
  {
      position: relative;
      background: url("../img/login-bg.jpg") no-repeat;
      background-size: 100% 100%;
      min-height: 100% !important;
  }
.LoginPageCon .flotingIcons
{
    position: absolute;
    z-index: 1000;

}
.LoginPageCon .flotingIcons img
{
    animation: example 3s;
    /*animation-iteration-count: 2;*/
}
.LoginPageCon .flotingIcons.icon-1
{
    top: 36%;
    left: 20%;
}
span.flotingIcons.icon-10 {
    top: 38%;
    right: 21%;
}
span.flotingIcons.icon-2 {
    top: 52%;
    left: 12%;
}
span.flotingIcons.icon-2 img,span.flotingIcons.icon-12 img,span.flotingIcons.icon-7 img
{
    width: 80%;
}
span.flotingIcons.icon-3 {
    top: 33%;
    left: 10%;
}
span.flotingIcons.icon-4 {
    bottom: 33%;
    right: 15%;
}
span.flotingIcons.icon-5 {
    top: 28%;
    left: 17%;
}
span.flotingIcons.icon-6 {
    top: 18%;
    left: 22%;
}
span.flotingIcons.icon-7 {
    top: 10%;
    right: 34%;
}
span.flotingIcons.icon-8 {
    top: 32%;
    right: 13%;
}
span.flotingIcons.icon-9 {
    top: 18%;
    right: 19%;
}
span.flotingIcons.icon-9 img,span.flotingIcons.icon-5 img
{
    width: 70%;

}
span.flotingIcons.icon-11 {
    bottom: 25%;
    left: 25%;
}
span.flotingIcons.icon-12 {
    top: 6%;
    right: 44%;
}
span.flotingIcons.icon-13 {
    top: 10%;
    left: 33%;
}
.noScroll
{
    overflow: hidden;
}

/* Standard syntax */
@keyframes example {
    from {width: 70%}
    to {width: 90%}
}

  .pad0px
  {
    padding:0px !important;
  }
  .pad-r-0px
  {
    padding-right:0px !important;
  }
  .mar0px
  {
    margin:0px !important;
  }
  .pad10px{
   padding-top:10px !important;
  }
  .mar10px{
   margin-top:10px !important;
  }
  .jobType{
    border: none;
    border-bottom:1px solid #ddd;
    margin-bottom:0px;
  }
  .jobType ul li a {
    line-height: 15px;
    min-width: 80px;
  }
 .padng-top25
 {
     padding-top: 25px;
 }
.padng-right30
{
    padding-right: 30px;
}
.pad-TB-30
{
    padding: 30px 0;
}
.form-group.pad-btm0
{
    padding-bottom: 0 !important;
}
.modal-content .modal-header
{
    padding-top: 8px;
    padding-bottom: 5px;
}

.modal.AdvancedFilterModal .modal-dialog
{
    width: 900px;
}
.modal.BasicFilterModal .modal-dialog
{
    width: 750px;
}



  /* Left right modal css*/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 450px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* End Modal Css  * /



  /*
     DataTable sorting css
  */
  th a.sort-by {
  padding-right: 18px;
  position: relative;
}
a.sort-by:before,
a.sort-by:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
a.sort-by:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
a.sort-by:after {
  border-top-color: #666;
  margin-top: 1px;
}
.form-group {
    padding-bottom: 18px !important;
}
p.help-block{
  line-height: 15px;
  display:block !important;
}

/* Schedule events css(calendar)*/

.fc-button-group button{
background-color: #ff9800 !important;
}
.downloaderMain{
  position: relative;
}
.downloader{
  width:100%;
  background: url('downloader.gif') no-repeat ;
  background-size: 192px;
  position: absolute;
  top: -62px;
  right: 34px;
  height: 100px;
}
.downloaderBig{
  width:100%;
  background: url('downloader.gif') no-repeat ;
  background-size: 192px;
  position: absolute;
  top: -64px;
  right: 35px;
  height: 100px;
}
.downloaderMd{
  width:100%;
  background: url('downloader.gif') no-repeat ;
  background-size: 192px;
  position: absolute;
  top: -31px;
  right: 30px;
  height: 100px;
}

/* Toop Tip  */

div.bouncing-container {
    position: fixed;
    top:8px;
    right: 80px;
    animation: bounce 2s ease-in-out infinite;
    -webkit-animation: bounce 2s ease-in-out infinite;
    -moz-animation: bounce 2s ease-in-out infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    z-index: 9999;
}
div.bouncing-container.asset
{
    right: 83px;
    top: 0px;
}
div.bouncing-container .message-container {
    position: relative;
    border-radius: 10px;
    padding: 10px 20px;
    background: #ff9800;
    box-shadow: 3px 2px 10px #ddd;
}
div.bouncing-container span {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
}
div.bouncing-container .arrow-down {
    position: relative;
    top: 0;
    width: 0;
    margin-left: 90px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ff9800;
}
@keyframes bounce {
    50% {
        transform: translate(0, 20px);
    }
}

/* End Tool Tip */

.job-txt:hover {
    text-decoration: underline;
}

#loop:hover img {
    opacity: .5;
}

#loop2:hover img {
    opacity: .5;
}

@media (max-width: 1024px) {


    .flotingIcons.icon-13 img,.flotingIcons.icon-1 img
    {
        width: 85%;
    }
    span.flotingIcons.icon-10
    {
        right: 20%;
    }
    .flotingIcons.icon-10 img
    {
        width: 90%;
    }

}

@media (max-width: 768px)
{
    .LoginPageCon .flotingIcons
    {
        display: none;
    }


}
@media (max-width: 425px)
{
    .LoginPageCon .flotingIcons
    {
        display: none;
    }


}

.btn.btn-danger.btn-simple:hover,.btn.btn-danger.btn-simple:focus{
    box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42),
                0 4px 23px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(244, 67, 54, 0.2) !important;

}
.btn.btn-success.btn-simple:hover, .btn.btn-success.btn-simple:focus{
      box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42),
                  0 4px 23px 0px rgba(0, 0, 0, 0.12),
                  0 8px 10px -5px rgba(76, 175, 80, 0)!important;
}
