<!--
  Generated template for the EmployeeFilter page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>employee-filter</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab right bottom>
    <button  (click)=" dismissFilter()" ion-fab><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>
  <div class="InitFeedbackCon">
    <div class="InputCon">
      <ion-list>
        <ion-item>
          <ion-label>Client</ion-label>
          <ion-select  interface="popover" [(ngModel)]="selectedProject">
            <ion-option *ngFor="let p of clientList;let i=index" [value]="p" (ionSelect)="selectSite(p)"> {{p.name}}</ion-option>
          </ion-select>
        </ion-item>

        <div class="SiteAndBlockCOn"  *ngIf="scrollSite">
          <div class="SiteCon">
            <div class="scrollCon">
              <ion-row no-margin>
                <ion-item no-lines>
                  <ion-scroll scrollX="true">
                    <div *ngIf="siteList?.length==0" class="padding-top15">
                      <h4 text-center class="clr-blk">No Data Found</h4>
                    </div>
                    <button class="siteBtn scroll-item" ion-button round  *ngFor="let s of siteList;let i of index" (click)="highLightSite(i,s)" [color]="i==activeSite ? 'primary' : 'light'">
                      <p class="siteName">{{s.name}}</p>
                    </button>
                  </ion-scroll>
                </ion-item>
              </ion-row>

              <!--<div class="form-group label-floating">-->
              <!--<label class="control-label" *ngIf="employ">Employee</label>-->
              <!--<ion-select [(ngModel)]="employ" [disabled]="empSelect" class="select-box padding-left0" interface="popover"  id="employ" name="employ" [placeholder]="empPlace" #emp="ngModel" required [ngClass]="{'select-error': eMsg=='employ'}">-->
              <!--<ion-option  *ngFor="let emp of employee" [value]="emp.id" >{{emp.fullName}} - {{emp.designation}}</ion-option>-->
              <!--</ion-select>-->

              <!--<div *ngIf="emp.errors && (emp.dirty || emp.touched)" class="error-msg">-->

              <!--</div>-->

              <!--<div *ngIf="emp.errors && (emp.untouched )" class="error-msg">-->

              <!--</div>-->
              <!--</div>-->
            </div>
          </div>
          <!--<ion-item>-->
            <!--<ion-label class="clr-blk">Employee</ion-label>-->
            <!--<ion-select [(ngModel)]="employ" [disabled]="empSelect" class="max-w100 padding-left0" interface="popover" >-->
              <!--<ion-option  *ngFor="let emp of employee" [value]="emp.id" >{{emp.fullName}} - {{emp.designation}}</ion-option>-->
            <!--</ion-select>-->
          <!--</ion-item>-->
        </div>

        <!--<ion-row no-margin class no-padding>-->
          <!--<ion-col col-5 class="ver-center  margin-right15" (click)="selectFromDate()">-->
            <!--<ion-col col-2  class="ver-center padding-bottom1 primary-border-bottom">-->
              <!--<ion-icon ios="ios-calendar" md="md-calendar"  class="fnt-24 clr-orange"></ion-icon>-->
            <!--</ion-col>-->
            <!--<ion-col col-10 class="ver-center padding-top-bottom0 primary-border-bottom">-->
              <!--<ion-label *ngIf="!fromDate" class="bg-grey" no-margin="">From date</ion-label>-->
              <!--<p padding-left no-margin="">{{ fromDate | date:'dd/MM/yyyy' }}</p>-->
            <!--</ion-col>-->
          <!--</ion-col>-->
          <!--<ion-col col-5 (click)="selectToDate()" class="ver-center">-->
            <!--<ion-col col-2 class="ver-center padding-bottom1 primary-border-bottom">-->
              <!--<ion-icon ios="ios-calendar" md="md-calendar" class="fnt-24 clr-orange"></ion-icon>-->
            <!--</ion-col>-->
            <!--<ion-col col-10 class="ver-center padding-top-bottom0 primary-border-bottom">-->
              <!--<ion-label *ngIf="!toDate" class="bg-grey" no-margin="">To date</ion-label>-->
              <!--<p padding-left no-margin="">{{ toDate | date:'dd/MM/yyyy' }}</p>-->
            <!--</ion-col>-->
          <!--</ion-col>-->
        <!--</ion-row>-->



      </ion-list>
      <!--<ion-item *ngFor="let ag of assetGroup">-->
      <!--<ion-label>{{ag.name}}</ion-label>-->
      <!--<ion-checkbox [(ngModel)]="selectedAssetGroup"></ion-checkbox>-->
      <!--</ion-item>-->

    </div>
  </div>


</ion-content>
