page-employee-filter {
  ion-card img {
    width: 100% !important;
    height:80px !important;
  }
  ion-card-content {
    padding: 0px 32px !important;
    position: relative !important;
    vertical-align: center !important;
  }
}
