<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="initLoad();">
    <div class="">

        <div class="row">
            <div class="col-mod-12">
                <!--<div class="alert alert-success" ng-show="success">-->
                    <!--<strong>Quotation saved!</strong>-->
                <!--</div>-->

                <!--<div class="alert alert-danger" ng-show="error">-->
                    <!--<strong>Quotation Not Saved!</strong> Please try again later.-->
                <!--</div>-->
                <!--<div class="alert alert-danger" ng-show="errorQuotationExists">-->
                    <!--<strong>Quotation already registered!</strong> Please choose another one.-->
                <!--</div>-->
            </div>
            <div class="col-md-12">

                <div class="form-container table-container" ng-init="loadProjectsList();">
                    <form ng-show="!success" name="form" role="form" novalidate
                          ng-submit=""  class="form-horizontal">

                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="card formcard">

                                    <div class="card-content">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Client<span class="red-star">*</span> </label>
                                                    <!--<span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                                    <!--<select class="form-control " ng-model="selectedProject"  ng-change="loadDepSites()"  ng-options="project as project.name for project in projectsList">-->
                                                        <!--<option value="">Please select Client...</option>-->
                                                    <!--</select>-->
                                                    <span ng-show="clientDisable"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!clientDisable" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <ui-select ng-model="selectedProject"  ng-disabled="clientDisable" ng-change="loadDepSites(selectedProject)" required="">
                                                        <ui-select-match placeholder="Select clients...">{{selectedProject}}</ui-select-match>
                                                        <ui-select-choices  repeat="client in getClient($select.search) | filter: $select.search">
                                                            <div >{{ client }}</div>
                                                        </ui-select-choices>

                                                    </ui-select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Site<span class="red-star">*</span> </label>

                                                    <!--<span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                                    <!--<select class="form-control " ng-model="selectedSite"  ng-options="site as site.name for site in sitesList">-->
                                                        <!--<option value="">Select Site...</option>-->
                                                    <!--</select>-->
                                                    <span ng-show="siteSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span  ng-show="!siteSpin" class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <ui-select ng-model="selectedSite" ng-disabled="siteDisable || sitesList.length == 0" ng-change="loadBloack(selectedSite)" required="">
                                                        <ui-select-match placeholder="Select sites...">{{ selectedSite }}</ui-select-match>
                                                        <ui-select-choices   repeat="site in getSites($select.search) | filter: $select.search" >
                                                            <div >{{ site }}</div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span ng-if="sitesList.length == 0"><p class="error-msg margin0">No sites</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Block<span class="red-star">*</span> </label>
                                                        <input type="text" class="form-control InputTxtCapsAll"
                                                        ng-model="selectedBlock"
                                                        name="selectedBlock" ng-minlength="1" ng-maxlength="50" autofocus
                                                        required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Floor<span class="red-star">*</span> </label>
                                                        <input type="text" class="form-control InputTxtCapsAll"
                                                        ng-model="selectedFloor"
                                                        name="selectedFloor" ng-minlength="1" ng-maxlength="50" autofocus
                                                        required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Zone<span class="red-star">*</span> </label>
                                                        <input type="text" class="form-control InputTxtCapsAll"
                                                        ng-model="selectedZone"
                                                        name="selectedZone" ng-minlength="1" ng-maxlength="50" autofocus
                                                        required />

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row">

                                                <div class="col-md-12 txt-align-rgt">
                                                    <div class="form-group">

                                                        <button class="btn btn-success ld ld-over-inverse" ng-class="{'running':saveLoad}" ng-click="conform('save')"
                                                                type="submit" id="form-button-save" ng-disabled="form.$invalid || btnDisable">
                                                            <span class="btn-label"><i class="material-icons">check</i></span> Save
                                                            <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                                                        </button>


                                                        <button class="btn btn-danger" type="button"
                                                                ng-disabled="btnDisable" ng-click="conform('cancel')" id="cancel-button">
                                                                <i class="material-icons">close</i> Cancel
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='small-loading hidden' id='FormLoading'>Loading,
                                saving data...</div>

                            <div class="form-group">
                                <div id='report-error' class='report-div error bg-danger'
                                     style="display: none"></div>
                                <div id='report-success' class='report-div success bg-success'
                                     style="display: none"></div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </div>


    </div>
