<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="initLoad();loadingStart();">
    <div class="">

        <div class="row">
            <div class="col-mod-12">
                <!--<div class="alert alert-success" ng-show="success">-->
                    <!--<strong>Quotation saved!</strong>-->
                <!--</div>-->

                <!--<div class="alert alert-danger" ng-show="error">-->
                    <!--<strong>Quotation Not Saved!</strong> Please try again later.-->
                <!--</div>-->
                <!--<div class="alert alert-danger" ng-show="errorQuotationExists">-->
                    <!--<strong>Quotation already registered!</strong> Please choose another one.-->
                <!--</div>-->
            </div>
            <div class="col-md-12">

                <div class="form-container table-container" ng-init="loadProjectsList();">
                    <form ng-show="!success" name="form" role="form" novalidate
                          ng-submit=""  class="form-horizontal">

                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="card formcard">

                                    <div class="card-content">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Client<span class="red-star">*</span> </label>
                                                    <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control " ng-model="selectedProject"  ng-change="loadDepSites()"  ng-options="project as project.name for project in projectsList">
                                                        <option value="">Please select Client...</option>
                                                    </select>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Site<span class="red-star">*</span> </label>

                                                    <span class="form-control-feedback d-big-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control " ng-model="selectedSite"  ng-options="site as site.name for site in sitesList">
                                                        <option value="">Select Site...</option>
                                                    </select>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Block<span class="red-star">*</span> </label>
                                                    <input type="text" class="form-control"
                                                    ng-model="selectedBlock"
                                                    name="UserRole" ng-minlength="1" ng-maxlength="50" autofocus
                                                    required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Floor<span class="red-star">*</span> </label>
                                                    <input type="text" class="form-control"
                                                    ng-model="selectedFloor"
                                                    name="UserRole" ng-minlength="1" ng-maxlength="50" autofocus
                                                    required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Zone<span class="red-star">*</span> </label>
                                                    <input type="text" class="form-control"
                                                    ng-model="selectedZone"
                                                    name="UserRole" ng-minlength="1" ng-maxlength="50" autofocus
                                                    required />

                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">

                                            <div class="col-md-12 txt-align-rgt">
                                                <div class="form-group">

                                                    <button class="btn btn-success" type="submit" ng-click="saveLocation()"
                                                            id="form-button-save" ng-disabled="form.$invalid">
                                                        <span class="btn-label"><i class="material-icons">check</i></span> Save
                                                    </button>
                                                    <button class="btn btn-danger" type="button"
                                                            ng-click="cancelLocation()" id="cancel-button">
                                                        <i class="material-icons">close</i> Cancel
                                                    </button>

                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='small-loading hidden' id='FormLoading'>Loading,
                            saving data...</div>

                        <div class="form-group">
                            <div id='report-error' class='report-div error bg-danger'
                                 style="display: none"></div>
                            <div id='report-success' class='report-div success bg-success'
                                 style="display: none"></div>
                        </div>

                    </form>
                </div>

            </div>

        </div>
    </div>


</div>
