
page-personalDetails-new {

    ion-select {
        overflow: visible !important;
        max-width: 96% !important;
    }
    .label-md {
        margin: 0;
        text-align: left;
        padding-left: 1px;
    }
    .item-md.item-block .item-inner {
        padding-right: 2px !important;
    }
    .item-md {
        padding-left: 0px !important;
    }
    .label-text {
        font-family: sans-serif !important;
        font-size: 12px !important;
        color: gray !important;
    }

    .form-group.label-floating.is-focused label.control-label {
        left: auto !important;
    }
    .form-group .form-control[disabled] {
        background-color: #b3b1b1 !important;
        color: #b3b1b1 !important;
    }
}