<div padding>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="onboardingPersonalDetailsForm" novalidate>
                <div class="row form-group">
                    <fieldset [disabled]="!isNewEmployee">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                        <label class="control-label trequired">Employee Name</label>
                        <input class="form-control"   type="text" formControlName="employeeName" >
                        <ion-item *ngIf="onboardingPersonalDetailsForm.controls.employeeName.dirty && onboardingPersonalDetailsForm.controls.employeeName.invalid">
                            <p *ngIf="onboardingPersonalDetailsForm.controls.employeeName.errors.required" style="color:red; font-size:12px !important; text-transform: none !important">Name required</p>
                            <p *ngIf="onboardingPersonalDetailsForm.controls.employeeName.errors.employeeName">Invalid Name</p>
                        </ion-item>
                    </div>

                    </fieldset>
                    <p *ngIf="!isNewEmployee" style="color:red; font-size:12px !important; text-transform: none !important">Disabled for Existing Employee</p>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 form-group padding0">
                        <label class="control-label" *ngIf="onboardingPersonalDetailsForm.value.employeeCode">Employee Code - {{onboardingPersonalDetailsForm.value.employeeCode}} </label>
                        <label class="control-label" *ngIf="!onboardingPersonalDetailsForm.value.employeeCode">Reference Code - {{onboardingPersonalDetailsForm.value.employeeCode}}</label>
                        <input class="form-control" type="text" formControlName="employeeCode" disabled>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 padding0" *ngFor="let list of onboardingPersonalDetailsForm.get('relationshipDetails').controls; let i = index;"
                        formArrayName="relationshipDetails">
                        <div *ngIf="i==0" [formGroupName]="i">
                            <fieldset [disabled]="!isNewEmployee">
                            <label class="control-label trequired">{{list['value']['relationship']}} Name</label>
                            <input class="form-control" type="text" formControlName="name">
                            </fieldset>
                        </div>
                        <div *ngIf="i%2" [formGroupName]="i">
                            <label class="control-label ">{{list['value']['relationship']}} Name</label>
                            <input class="form-control" type="text" formControlName="name">
                        </div>
                    </div>
                    <p *ngIf="!isNewEmployee" style="color:red; font-size:12px !important; text-transform: none !important">Disabled for Existing Employee</p>
                </div>
                
                <div class="row form-group">
                    <fieldset [disabled]="!isNewEmployee">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                        <label class="control-label ">Spouse Name</label>
                        <input class="form-control" type="text" formControlName="spouseName" >
                      
                    </div>

                    </fieldset>
                     </div>



                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                        <ion-item>
                            <ion-label class="label-text trequired" stacked>Gender</ion-label>
                            <ion-select interface="popover" formControlName="gender">
                                <ion-option value="MALE">Male</ion-option>
                                <ion-option value="FEMALE">Female</ion-option>
                            </ion-select>
                        </ion-item>

                        
                        <ion-item *ngIf="onboardingPersonalDetailsForm.controls.gender.dirty && onboardingPersonalDetailsForm.controls.gender.invalid">
                            <p *ngIf="onboardingPersonalDetailsForm.controls.gender.errors.required" style="color:red; font-size:12px !important; text-transform: none !important">Gender required</p>
                           
                        </ion-item>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                        <ion-item>
                            <ion-label class="label-text trequired" stacked>Marital Status</ion-label>
                            <ion-select interface="popover" formControlName="maritalStatus">
                                <ion-option value="Single">Single</ion-option>
                                <ion-option value="Married">Married</ion-option>
                                <ion-option value="Widow">Widow</ion-option>
                                <ion-option value="Divorced">Divorced</ion-option>
                                <ion-option value="Separated">Separated</ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="onboardingPersonalDetailsForm.controls.maritalStatus.dirty && onboardingPersonalDetailsForm.controls.maritalStatus.invalid">
                            <p *ngIf="onboardingPersonalDetailsForm.controls.maritalStatus.errors.required" style="color:red; font-size:12px !important; text-transform: none !important">Marital Status required</p>
                            </ion-item>

                    </div>
                </div>
                <div class="row form-group">
                    
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group padding0">
                            <fieldset [disabled]="!isNewEmployee">
                            <label class="control-label trequired">DOB</label>
                            <input class="form-control"  min="{{maxAge | date:'yyyy-MM-dd'}}" max="{{minAge | date:'yyyy-MM-dd'}}"  type="date" formControlName="dateOfBirth">
                            </fieldset>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6 form-group padding0">
                            <fieldset [disabled]="!isNewEmployee">
                            <label class="control-label trequired">DOJ</label>
                        <!-- <input class="form-control" type="date" min="{{setMinDate}}" formControlName="dateOfJoining">
                    --> 
                            <input class="form-control" type="date"  min="{{maxAgedoj | date:'yyyy-MM-dd'}}" max="{{minAgedoj | date:'yyyy-MM-dd'}}" formControlName="dateOfJoining">
                        </fieldset>
                        </div>
                    <p *ngIf="!isNewEmployee" style="color:red; font-size:12px !important; text-transform: none !important">Disabled for Existing Employee</p>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 col-sm-6 col-xs-6 form-group padding0">
                        <ion-item>
                            <ion-label class="label-text" stacked>Religion</ion-label>
                            <ion-select interface="popover" formControlName="religion">
                                <ion-option *ngFor="let religion of religionList;let i=index" [value]="religion.title" > {{religion.title}}</ion-option>
                            </ion-select>
                        </ion-item>

                        <!-- <label class="control-label">Religion</label>
                        <input class="form-control" type="text" [(ngModel)]="onboardingNewEmpData['personalDetails']['religion']"
                            formControlName="religion" required> -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 form-group padding0">
                        <ion-item>
                            <ion-label class="label-text" stacked>Blood Group</ion-label>
                            <ion-select interface="popover" formControlName="bloodGroup">
                                <ion-option value="A+">A+</ion-option>
                                <ion-option value="A-">A-</ion-option>
                                <ion-option value="A1+">A1+</ion-option>
                                <ion-option value="A1-">A1-</ion-option>
                                <ion-option value="A2+">A2+</ion-option>
                                <ion-option value="A2-">A2-</ion-option>
                                <ion-option value="AB+">AB+</ion-option>
                                <ion-option value="AB-">AB-</ion-option>
                                <ion-option value="A1B+">A1B+</ion-option>
                                <ion-option value="A1B-">A1B-</ion-option>
                                <ion-option value="A2B+">A2B+</ion-option>
                                <ion-option value="A2B-">A2B-</ion-option>
                                <ion-option value="B+">B+</ion-option>
                                <ion-option value="B-">B-</ion-option>
                                <ion-option value="B1+">B1+</ion-option>
                                <ion-option value="B1-">B1-</ion-option>
                                <ion-option value="O+">O+</ion-option>
                                <ion-option value="O-">O-</ion-option>
                                <ion-option value="OB+">OB+</ion-option>
                                <ion-option value="OB-">OB-</ion-option>

                            </ion-select>
                        </ion-item>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                        <label class="control-label">Personal Identification Mark1</label>
                        <input class="form-control" type="text" formControlName="identificationMark1">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group padding0">
                        <label class="control-label">Personal Identification Mark2</label>
                        <input class="form-control" type="text" formControlName="identificationMark2">
                    </div>
                </div>
                <!-- <div class="row form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group label-floating">
                        <button (click)="setValidation()" ion-button class="pull-right" icon-start>
                            <ion-icon name="md-document"></ion-icon>
                            Set Validation
                        </button>
                        <button (click)="getFormData()" ion-button class="pull-right" icon-start [disabled]="onboardingPersonalDetailsForm.invalid">
                            <ion-icon name="md-document"></ion-icon>
                            Form Submit
                        </button>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>
