<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="login">
    <div class="wrapper wrapper-full-page LoginPageCon ">
        <div class="full-page login-page" filter-color="black">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content padding-top40">
              <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form>
                              <div class="width90 margin-auto align-center">
                                  <div class="margin-bottom">
                                      <img src="assets/imgs/logo-wide.png">
                                  </div>

                                  <div class="card card-login">
                                    <div class="card-header text-center login-new card-signin" >
                                      <i class="material-icons" style="margin: 0 auto;font-size: 40px; min-width: 100%;padding-top: 5px; color: #000;">
                                        perm_identity
                                      </i>
                                    </div>
                                    <div class="card-content padding-top25">
                                      <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">perm_identity</i>
                                          </span>
                                        <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'||eMsg=='username'}">
                                          <label class="control-label">User Name</label>
                                                <input class="form-control" type="text" [(ngModel)]="username" id="username" name="username" #uname="ngModel" required [ngClass]="{'has-error': uname.errors || eMsg=='all'|| eMsg=='username'}">
                                                <div *ngIf="uname.errors && (uname.dirty || uname.touched)" class="error-msg">

                                                </div>

                                                <div *ngIf="uname.errors && (uname.untouched )" class="error-msg">

                                                </div>
                                        </div>
                                      </div>
                                      <div class="input-group">
                                          <span class="input-group-addon">
                                              <i class="material-icons">lock_outline</i>
                                          </span>
                                        <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'|| eMsg=='password'}">
                                          <label class="control-label">Password</label>
                                            <input class="form-control" type="password" [(ngModel)]="password" id="password" name="password" #pass="ngModel" required [ngClass]="{'has-error':eMsg=='all' || eMsg=='password'}">
                                            <div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="error-msg">

                                            </div>
                                            <div *ngIf="pass.errors && (pass.untouched )" class="error-msg">

                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="footer text-center ">
                                      <button class="btn  btn-wd btn-lg btn-signin" (click)="signin()">Sign In</button>
                                    </div>
                                  </div>

                                  <div class="">
                                      <p class="copyright align-center icon-color">
                                          &copy;<a href="" class="clr-white"><span class="clr-blk">Powered By</span> <span class="icon-color">T</span>ech<span class="icon-color">G</span>inko</a>
                                      </p>
                                  </div>
                              </div>
                        </form>
                    </div>
                </div>
              </div>
             </div>
        </div>
    </div>





<!--
  <div text-center class="margin-top25 margn-btom20">
    <img src="img/logo.png">
  </div>

  <div>
    <ion-item class="width80 margin-auto bg-grey">
      <ion-input type="text" placeholder="Username" class="round" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item class="width80 margin-auto padding-top10 bg-grey">
      <ion-input type="password"  placeholder="Password" class="round" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>

  <div padding text-center>
    <button ion-button color="primary" round >Sign In</button>
  </div>
-->

</ion-content>
