<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div  ng-init="initLoad();editIndent();">

        <!--<div class="card-header" data-background-color="red">-->
        <!--<h4 class="title">Add Site</h4>-->
        <!--<p class="category"></p>-->
        <!--</div>-->

        <div class="cardsCon addSiteCon">
            <div>
                <label><span class="red-star">*</span> Mandatory Field</label>
            </div>
            <form ng-show="!success" ng-submit="conform('update')" name="form" role="form" novalidate confirm-on-exit>

                <div class="card margin-TB-5 tablecard addFrom">

                    <div class="card-content">

                        <h3 class="HeadingTxt">Location</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group no-padding" ng-init="loadProjects()">
                                    <div class="dropdown">
                                        <div class="form-group">
                                            <label class="control-label">Select Client <span class="red-star">*</span></label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select name="project" ng-options = "project as project.name for project in projects track by project.id" ng-disabled="true" ng-model ="selectedProject" ng-change ="loadSites()" class="form-control" required>
                                                <option value="">Select Client...</option>
                                            </select>
                                            <div ng-show="form.$submitted || form.project.$touched || form.project.$dirty">
                                                <div ng-show="form.project.$dirty || form.project.$invalid">
                                                    <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                       ng-show="form.project.$error.required">
                                                        Client is required.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group no-padding">
                                    <div class="dropdown">
                                        <div class="form-group">
                                            <label class="control-label">Select Site <span class="red-star">*</span></label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select name="site" ng-options = "site as site.name for site in sites track by site.id" ng-change="loadEmployees()" ng-disabled="true" ng-model ="selectedSite" class="form-control" required>
                                                <option value="">Select Site...</option>
                                            </select>
                                            <div ng-show="form.$submitted || form.site.$touched || form.site.$dirty">
                                                <div ng-show="form.site.$dirty || form.site.$invalid">
                                                    <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                       ng-show="form.site.$error.required">
                                                        Site is required.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="HeadingTxt">Requester Details</h3>
                        <div class="row">

                               <div class="col-md-4">
                                <div class="form-group no-padding">
                                    <div class="dropdown">
                                        <div class="form-group" ng-init="loadAllEmployee()">
                                            <label class="control-label">Select Employee<span class="red-star">*</span></label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select name="empName" ng-options = "employee as employee.name for employee in employees track by employee.id" ng-click="chkEmp();" ng-model ="selectedEmployee" class="form-control" required>
                                                <option value="">Select Employee...</option>
                                            </select>
                                            <div ng-show="form.$submitted || form.empName.$touched || form.empName.$dirty">
                                                <div ng-show="form.empName.$dirty || form.empName.$invalid">
                                                    <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                       ng-show="form.empName.$error.required">
                                                        Employee is required.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="col-md-3">
                                <div class="form-group   is-empty">
                                    <label class="control-label">Reference Number <span class="red-star">*</span></label>
                                    <input type="text" class="form-control" ng-model="editIndentObj.indentRefNumber" ng-disabled="true">
                                    <span class="material-input"></span></div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Purpose</label>
                                    <input type="text" class="form-control" ng-model="editIndentObj.purpose">
                                </div>
                            </div>

                        </div>
                        <h3 class="HeadingTxt">Item Details </h3>
                        <div class="row">
                            <div class="col-md-3">
                                    <div class="form-group no-padding">
                                    <div class="dropdown">
                                        <div class="form-group">
                                            <label class="control-label">Select ItemCode<span class="red-star">*</span></label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select ng-options = "material as material.itemCode for material in materials track by material.id" ng-model="selectedItemCode" ng-change="change()" class="form-control">
                                                <option value="">Select ItemCode...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group   is-empty">
                                    <label class="control-label">Item Name <span class="red-star">*</span></label>
                                    <input type="text" ng-model="selectedItemName" class="form-control" ng-disabled="true">
                                    <span class="material-input"></span></div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group   is-empty">
                                    <label class="control-label">Store Stock <span class="red-star">*</span></label>
                                    <input type="text" ng-model="selectedStoreStock" class="form-control" ng-disabled="true">
                                    <span class="material-input"></span></div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group   is-empty">
                                    <label class="control-label">Quantity <span class="red-star">*</span></label>
                                    <input type="number" class="form-control" min = 1 name="quantity" ng-model="selectedQuantity">
                                    <div ng-show="form.$submitted || form.quantity.$touched || form.quantity.$dirty">
                                        <div ng-show="form.quantity.$dirty || form.quantity.$invalid">
                                            <!--<p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                   ng-show="form.quantity.$error.required">
                                            Quantity is required.
                                            </p>-->
                                            <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                               ng-show="form.quantity.$error.min">
                                                Minimum quantity  is 1.
                                            </p>
                                        </div>
                                    </div>
                                    <span class="material-input"></span></div>
                            </div>
                            <div class="col-md-2">

                                <button type="button" class="btn btn-success" ng-click="addMaterialItem()" ng-show="!showUpdateBtn" ng-disabled="!selectedItemCode || !selectedQuantity" style="padding: 12px 20px; margin-top: 16px;">
                                <span class="btn-label">
                                    <i class="material-icons">add</i>
                                </span>
                                    Add
                                </button>


                                <button type="button" class="btn btn-success" ng-click="updateMaterialItem()" ng-show="showUpdateBtn" ng-disabled="!selectedItemCode || !selectedQuantity" style="padding: 12px 20px; margin-top: 16px;">
                                <span class="btn-label">
                                    <i class="material-icons">add</i>
                                </span>
                                    Update
                                </button>

                                <button type="button" class="btn btn-danger" ng-click="clearMaterialItem()"   style="padding: 12px 20px; margin-top: 16px;">
                                    Clear
                                </button>

                            </div>

                            <div class="col-md-12">

                                <div class="table-responsive tablecard">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item Code</th>
                                            <th>Item Name</th>
                                            <th>Store Stock</th>
                                            <th>Required Qty</th>
                                            <th>Issued Qty</th>
                                            <th>Pending Qty</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="material in materialItems" ng-class="{'highlight-text':$index == selectedRow}">
                                            <td>{{material.materialItemCode}}</td>
                                            <td>{{material.materialName}}</td>
                                            <td>{{material.materialStoreStock}}</td>
                                            <td>{{material.quantity}}</td>
                                            <td>{{material.issuedQuantity}}</td>
                                            <td>{{material.pendingQuantity}}</td>
                                            <td class="text-right" ng-click="editMaterial($index, material)"> <a class="btn btn-simple btn-info" href="javascript:void(0);"><i class="material-icons">edit</i></a></td>
                                        </tr>
                                        <tr>
                                        	<td ng-if="!materialItems.length" colspan="7" align="center"> No Material Items Found </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>


                <div class="row">

                    <div class="col-md-12">

                        <button type="button" ng-click="conform('cancel')" ng-disabled="saveLoad"
                                id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>



                        <!--<button type="button" ng-click="updateIndent()"-->
                                <!--id="form-button-save" ng-disabled="form.$invalid"  class="btn btn-success pull-right"><span class="btn-label">-->
                                            <!--<i class="material-icons">check</i>-->
                                        <!--</span>Update Indent</button>-->

                        <button class="btn btn-success ld ld-over-inverse pull-right" ng-class="{'running':saveLoad}"
                                type="submit" id="form-button-save"  ng-disabled="form.$invalid || materialItems.length == 0" tabindex="16">
                            <span class="btn-label"><i class="material-icons">check</i></span> Update Indent
                            <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                        </button>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </form>
        </div>


    </div>



</div>


<!-- AdvancedFilterModal -->
<div class="modal fade AdvancedFilterModal FilterModalCon" id="AddEscalationLevel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="searchForm"   novalidate >

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Add Escalation Level</h4>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-2">

                            <div class="form-group no-padding">
                                <div class="dropdown">
                                    <div class="form-group">
                                        <label class="control-label">Select Level  <span class="red-star">*</span></label>
                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                        <select ng-model = "escalation.level" class="form-control">
                                            <option value="1">Level 1</option>
                                            <option value="2">Level 2</option>
                                            <option value="3">Level 3</option>
                                            <option value="4">Level 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-1">
                            <div class="form-group no-padding">
                                <label class="control-label">Hours</label>
                                <input type="number" ng-model = "escalation.hours" class="form-control ng-valid ng-dirty ng-touched"  tabindex="0" aria-invalid="false" autocomplete="off">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group no-padding">
                                <label class="control-label">Mins</label>
                                <input type="number" ng-model = "escalation.minutes" class="form-control ng-valid ng-dirty ng-touched"  tabindex="0" aria-invalid="false" autocomplete="off">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group no-padding">
                                <label class="control-label">Email</label>
                                <input type="text" ng-model = "escalation.email" class="form-control ng-valid ng-dirty ng-touched"  tabindex="0" aria-invalid="false" autocomplete="off">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-2 txt-align-rgt">
                            <button ng-click = "addSlaEscalations()" class="btn btn-success margn-top15"  tabindex="0">Add</button>
                        </div>

                    </div>

                    <div class="row">

                        <div class="table-responsive tablecard">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Levels</th>
                                    <th>Hours </th>
                                    <th>Mins </th>
                                    <th>Emails </th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat = "esc in slaEscalationList">
                                    <td>Level {{esc.level}}</td>
                                         <td>{{esc.hours}}</td>
                                         <td>{{esc.minutes}}</td>
                                         <td>
                                             <span class="tag label label-default">{{esc.email}}</span>
                                         </td>
                                         <td class="text-right">
                                             <a  ng-click = "" ng-class="{active: $state.includes('admin')}"     class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>
                                             <a ng-click = "removeEscalation($index)" ng-class="{active: $state.includes('admin')}"    onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>
                                         </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button ng-click = "updateEscalation()" ng-model = "slass" type="submit" class="btn btn-success btn-simple"  data-dismiss="modal" ng-disabled="searchForm.$invalid">Save</button>
                    <!--<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>-->
                </div>
            </form>
        </div>
    </div>
</div>
<!--  End Modal -->
