<div ng-init="initList();loadProjects();loadSites();">

    <div class="row">

        <div class="col-md-6 txt-align-lft">

            <button class="btn btn-success add-btn margn-tb0" data-toggle="modal" data-target="#advancedFilter" tabindex="0">
                <i class="material-icons">filter_list</i>Filter
                <div class="ripple-container"></div>
            </button>
            <button class="btn btn-warning add-btn margn-tb0"  ng-click="refreshPage()" tabindex="0">
                <i class="material-icons">refresh</i> Clear Filter
                <div class="ripple-container"></div>
            </button>
            <!--<button class="btn btn-success add-btn margn-tb0" data-toggle="modal" data-target="#advancedFilter" tabindex="0">-->
                <!--<i class="material-icons">filter_list</i> Advanced Filter-->
                <!--<div class="ripple-container"></div>-->
            <!--</button>-->

        </div>

        <div class="col-md-6 txt-align-rgt">

            <button class="btn btn-success add-btn margn-tb0"  ui-sref="add-indent"  tabindex="0">
                <i class="material-icons">add</i> Add
                <div class="ripple-container"></div>
            </button>



        </div>

    </div>

    <div class="AppliedFilterCon" >
          <span class="AppliedFilterTxtCon" ng-show="!searchCriteria.findAll || localStorage">
             <span
                 class="tag label label-info" style="margin-right: 10px"
                 ng-show="searchCriteras.projectId !=0 && searchCriteras.projectId !=null">
                    Client: {{searchCriteras.projectName}}
            </span>
             <span class="tag label label-info" style="margin-right: 10px"
                   ng-show="searchCriteras.regionId !=0 && searchCriteras.regionId !=null">
                    Region: {{searchCriteras.region}}
            </span>
             <span class="tag label label-info" style="margin-right: 10px"
                   ng-show="searchCriteras.branchId !=0 && searchCriteras.branchId !=null">
                    Branch: {{searchCriteras.branch}}
            </span>
             <span class="tag label label-info" style="margin-right: 10px"
                   ng-show="searchCriteras.siteId !=0 && searchCriteras.siteId !=null">
                    Site: {{searchCriteras.siteName}}
            </span>

            <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.issuedDate">
                Issued Date: {{searchCriteras.issuedDate | date:'dd/MM/yyyy'}}
            </span>

            <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.requestedDate">
                Received Date: {{searchCriteras.requestedDate | date:'dd/MM/yyyy'}}
            </span>

            <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.indentRefNumber">
                indent.Ref.No: {{searchCriteras.indentRefNumber}}
            </span>

        </span>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card TableCard">
                <div class="card-content">

                    <div class="table-responsive tablecard">
                        <table class="table table-hover">
                            <thead>
                               <tr>
                                   <th>Reference No
                                       <span class="sortingIcons">
                                            <span ng-click="columnAscOrder('indentRefNumber')" ng-class="isActiveAsc == 'indentRefNumber' ? 'active' : ''" >
                                                <i  class="fa fa-caret-up"></i>
                                            </span>
                                            <span ng-click="columnDescOrder('indentRefNumber')" ng-class="isActiveDesc == 'indentRefNumber' ? 'active' : ''">
                                                 <i  ng-class="class" class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                   </th>
                                   <th>Client
                                       <span class="sortingIcons">
                                            <span ng-click="columnAscOrder('project.name')" ng-class="isActiveAsc == 'project.name' ? 'active' : ''" >
                                                <i  class="fa fa-caret-up"></i>
                                            </span>
                                            <span ng-click="columnDescOrder('project.name')" ng-class="isActiveDesc == 'project.name' ? 'active' : ''">
                                                 <i  ng-class="class" class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                   </th>
                                   <th>Site
                                       <span class="sortingIcons">
                                            <span ng-click="columnAscOrder('site.name')" ng-class="isActiveAsc == 'site.name' ? 'active' : ''" >
                                                <i  class="fa fa-caret-up"></i>
                                            </span>
                                            <span ng-click="columnDescOrder('site.name')" ng-class="isActiveDesc == 'site.name' ? 'active' : ''">
                                                 <i  ng-class="class" class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                   </th>
                                   <th>Requested By
                                       <span class="sortingIcons">
                                            <span ng-click="columnAscOrder('requestedBy.name')" ng-class="isActiveAsc == 'requestedBy.name' ? 'active' : ''" >
                                                <i  class="fa fa-caret-up"></i>
                                            </span>
                                            <span ng-click="columnDescOrder('requestedBy.name')" ng-class="isActiveDesc == 'requestedBy.name' ? 'active' : ''">
                                                 <i  ng-class="class" class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                   </th>
                                   <th>Requested Date
                                       <span class="sortingIcons">
                                            <span ng-click="columnAscOrder('requestedDate')" ng-class="isActiveAsc == 'requestedDate' ? 'active' : ''" >
                                                <i  class="fa fa-caret-up"></i>
                                            </span>
                                            <span ng-click="columnDescOrder('requestedDate')" ng-class="isActiveDesc == 'requestedDate' ? 'active' : ''">
                                                 <i  ng-class="class" class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                   </th>
                                   <th>Issued By
                                       <span class="sortingIcons">
                                            <span ng-click="columnAscOrder('issuedBy.name')" ng-class="isActiveAsc == 'issuedBy.name' ? 'active' : ''" >
                                                <i  class="fa fa-caret-up"></i>
                                            </span>
                                            <span ng-click="columnDescOrder('issuedBy.name')" ng-class="isActiveDesc == 'issuedBy.name' ? 'active' : ''">
                                                 <i  ng-class="class" class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                   </th>
                                   <th>Issued Date
                                       <span class="sortingIcons">
                                            <span ng-click="columnAscOrder('issuedDate')" ng-class="isActiveAsc == 'issuedDate' ? 'active' : ''" >
                                                <i  class="fa fa-caret-up"></i>
                                            </span>
                                            <span ng-click="columnDescOrder('issuedDate')" ng-class="isActiveDesc == 'issuedDate' ? 'active' : ''">
                                                 <i  ng-class="class" class="fa fa-caret-down"></i>
                                            </span>
                                        </span>
                                   </th>
                                   <th>Actions</th>
                               </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="materialIndent in materialIndents">
                                    <td>{{materialIndent.indentRefNumber}}</td>
                                    <td>{{materialIndent.projectName}}</td>
                                    <td>{{materialIndent.siteName}}</td>
                                    <td>{{materialIndent.requestedByName}}</td>
                                    <td>{{materialIndent.requestedDate | date:"dd-MM-yyyy"}}</td>
                                    <td>{{materialIndent.issuedByName}}</td>
                                    <td>{{materialIndent.issuedDate | date: "dd-MM-yyyy"}}</td>
                                    <td class="text-right hoverMe">

                                        <a title="View More Action"  class="btn btn-simple btn-info btn-icon like Viewmore"><i class="material-icons">more_vert</i></a>

                                        <div class="HoverBx">
                                            <button  title="View"  ui-sref="view-indent({id: materialIndent.id })" class="btn btn-simple btn-info btn-icon like"><i style="font-size: 20px" class="material-icons">remove_red_eye</i></button>
                                            <a title="Edit"  ui-sref="edit-indent({id: materialIndent.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                            <a title="Delete"  ng-class="{active: $state.includes('admin')}"    onClick="$('#deleteModal').modal()" data-target="#myModal"  class="btn btn-simple btn-danger"><i class="material-icons">delete</i></a>
                                        </div>


                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                     <div class="txt-align-center LoaderCon"  ng-hide="purchaseReqLoader">

                        <div class="pad-TB-30">
                            <div loader-css="ball-pulse"></div>
                            <h3 >Loading, please wait...</h3>
                        </div>

                    </div>

                    <div class="txt-align-center pad-TB-30 noDataCon" ng-show="noData">

                        <h3>No data Found</h3>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end row -->


    <!-- Pagination directive start -->

    <pagination-new></pagination-new>

    <!-- Pagination directive end -->


    <!-- Delete confirmation dialog -->
    <div id="deleteModal" class="delete-confirmation modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button"
                            class="btn btn-danger delete-confirmation-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Delete confirmation dialog -->

    <!-- Delete Multiple confirmation dialog -->
    <div class="delete-multiple-confirmation modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel</button>
                    <button type="button"
                            class="btn btn-danger delete-multiple-confirmation-button"
                            data-target="http://localhost:81/grocery_crud/index.php/examples/customers_management/delete_multiple">
                        Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Delete Multiple confirmation dialog -->

</div>
</div>



<!-- AdvancedFilterModal -->
<div class="modal fade AdvancedFilterModal FilterModalCon" id="advancedFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="searchForm"  ng-submit="searchFilter()" novalidate >

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                                    <h4 class="panel-title">
                                        Basic Filter
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse collapseOne in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="height: 225px;">
                                <div class="panel-body">

                                    <div class="row" ng-init="loadProjects();">

                                        <div class="col-xs-12 col-md-6 col-lg-6" >
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Client</label>
                                                    <span ng-show="clientFilterDisable"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!clientFilterDisable && !client.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

                                                    <ui-select ng-model="client.selected" on-select="loadDepSitesList(client.selected);loadRegionsList(client.selected.id)">
                                                        <ui-select-match placeholder="Select clients..."  allow-clear="true">{{$select.selected.name}}
                                                            <a   ng-click="clearProject($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
                                                                 class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="client in clients | filter: $select.search" ng-click="loadDepSitesList(client.selected);loadRegionsList(client.selected.id)" null-option="allClients" loose-null>

                                                            <span ng-bind-html="client.name | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="form-group" >

                                                <div class="dropdown">
                                                    <label class="label-control">Region</label>
                                                    <span ng-show="regionSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!regionSpin && !regionsListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

                                                    <ui-select ng-model="regionsListOne.selected" on-select="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,'');loadBranchList(client.selected.id)"  ng-disabled="regionFilterDisable || regionsLists.length == 1">
                                                        <ui-select-match placeholder="Select region...">{{$select.selected.name}}
                                                            <a   ng-click="clearRegion($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
                                                                 class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="regionsListOne in regionsLists | filter: $select.search" ng-click="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,'');loadBranchList(client.selected.id)" null-option="allRegions" loose-null>
                                                            <span ng-bind-html="regionsListOne.name | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span ng-if="regionsLists.length == 1"><p class="error-msg margin0">No region</p></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <label class="label-control">Branch</label>
                                                    <span ng-show="branchSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!branchSpin && !branchsListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

                                                    <ui-select ng-model="branchsListOne.selected" on-select="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,branchsListOne.selected.name)"  ng-disabled="branchFilterDisable || branchsLists.length == 1">
                                                        <ui-select-match placeholder="Select branch..." >{{$select.selected.name}}
                                                            <a   ng-click="clearBranch($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
                                                                 class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="branchsListOne in branchsLists | filter: $select.search" ng-click="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,branchsListOne.selected.name)" null-option="allRegions" loose-null>
                                                            <span ng-bind-html="branchsListOne.name | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span ng-if="branchsLists.length == 1"><p class="error-msg margin0">No branch</p></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="label-control">Site</label>
                                                    <span ng-show="siteSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!siteSpin && !sitesListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

                                                    <ui-select ng-model="sitesListOne.selected"  ng-disabled="siteFilterDisable || sitesLists.length == 1">
                                                        <ui-select-match placeholder="Select site..." >{{$select.selected.name}}
                                                            <a   ng-click="clearSite($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
                                                                 class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="sitesListOne in sitesLists | filter: $select.search" null-option="allSites" loose-null>
                                                            <span ng-bind-html="sitesListOne.name | highlight: $select.search"></span>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span ng-if="sitesLists.length == 1"><p class="error-msg margin0">No sites</p></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h4 class="panel-title">
                                        Advanced Filter
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-xs-12 col-md-4 col-sm-4">
                                            <div class="form-group" style="padding-top: 20px;" >
                                                <div class="dropdown">
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           placeholder="Reference No"
                                                           ng-model="searchReferenceNo"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Requested Date</label>
                                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                    <input type="text" class="form-control datepicker" onkeydown="return false" id="dateFilterRequestedDate" placeholder="DD/MM/YYYY"  ng-model="searchRequestedDate"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4 col-sm-4">
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Issued Date</label>
                                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                    <input type="text" class="form-control datepicker" onkeydown="return false" id="dateFilterIssuedDate" placeholder="DD/MM/YYYY"  ng-model="searchIssuedDate"/>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal" >Cancel</button>
                    <button type="submit" class="btn btn-success btn-simple"  >Apply Filter</button>
                    <!--<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>-->
                </div>

            </form>
        </div>
    </div>
</div>
<!--  End Modal -->
