<div class="crud-form" ng-init="viewIndents();loadingStart();">


    <div class="margn-top30">

        <div class="row">

            <div class="col-md-6 col-lg-6" >

                <div class="panel panel-default">
                    <div class="panel-heading">Location </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                    <tr>
                                        <td>Client</td>
                                        <td>{{materialIndentObj.projectName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Site</td>
                                        <td>{{materialIndentObj.siteName}}</td>

                                    </tr>
                                    <tr>
                                        <td>Reference Number</td>
                                        <td>{{materialIndentObj.indentRefNumber}}</td>

                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td>{{materialIndentObj.indentStatus}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-6 col-lg-6" >

                <div class="panel panel-default">
                    <div class="panel-heading">Requester Details </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                <tr>
                                    <td>Employee Id</td>
                                    <td>{{materialIndentObj.requestedById}}</td>
                                </tr>
                                <tr>
                                    <td>Employee Name</td>
                                    <td>{{materialIndentObj.requestedByName}}</td>

                                </tr>
                                <tr>
                                    <td>Requested Date</td>
                                    <td>{{materialIndentObj.requestedDate | date: "dd-MM-yyyy"}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-12 col-lg-12">

                <div class="panel panel-default">
                    <div class="panel-heading">Material Items</div>
                    <div class="panel-body TableListinput">


                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Item Code</th>
                                    <th>Item Name</th>
                                    <th>Store Stock</th>
                                    <th>Uom</th>
                                    <th>Required Qty</th>
                                    <th>Qty Issued</th>
                                    <th>Issue Qty</th>
                                    <th width="10%">Pending Qty</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="material in materialIndentObj.items">
                                    <td>{{material.materialItemCode}}</td>
                                    <td>{{material.materialName}}</td>
                                    <td>{{material.materialStoreStock}}</td>
                                    <td>{{material.materialUom}}</td>
                                    <td>{{material.quantity}}</td>
                                    <td>{{material.issuedQuantity ? material.issuedQuantity : "Nil"}}</td>
                                    <td width="10%">
                                        <input type="number" class="form-control" name="issue_qty"  min = 0 ng-disabled="material.pendingQuantity === 0" ng-model="material.currentQuantity" ng-blur="validate(material, material.currentQuantity)" aria-required="true" aria-invalid="true">
                                    </td>
                                    <td>{{material.pendingQuantity}}</td>
                                </tr>

                                </tbody>
                                <tfoot>
                                  <td colspan="3"></td>
                                  <td colspan="5" class="text-right">
                                      <button class="btn btn-success" type="button" ng-click="saveIndentTrans()">
                                          Save
                                       </button>
                                      <button class="btn" type="button" ui-sref="indent-list" id="cancel-button">
                                          Back
                                          <div class="ripple-container"></div></button>
                                  </td>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>


            </div>


        </div>




    </div>

</div>
