<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div  ng-init="initLoad();loadingAuto();">


        <div class="col-md-8">
            <!--<h2 class="title">Add Site</h2>-->
        </div>


        <!--<div class="card-header" data-background-color="red">-->
        <!--<h4 class="title">Add Site</h4>-->
        <!--<p class="category"></p>-->
        <!--</div>-->

        <div class="cardsCon addSiteCon">
            <form ng-show="!success" name="form" role="form" novalidate
                  ng-submit="saveInventory()">

                <div class="row">

                    <div class="col-md-6">


                        <div class="panel panel-default">
                            <div class="panel-heading">Inventory Details</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group  ">
                                            <label class="control-label">Name <span class="red-star">*</span></label>
                                            <input type="text" class="form-control"   name='inventory-name'
                                                   ng-model="inventory.name" ng-minlength='2' ng-maxlength='50' required autocomplete="off"/>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group selectcon is-empty">

                                            <div class="row">
                                                <div class="col-md-10 pad-r-0px">
                                                    <label class="control-label">Group <span class="red-star">*</span></label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control">
                                                        <option value="">Select Item Group ..</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 RightAddBtn">
                                                    <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" data-toggle="modal"  data-target="#addItemGroup"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label class="control-label">Item Code <span class="red-star">*</span> </label>
                                            <input type="text" class="form-control"   name='item'
                                                   ng-model="inventory.item"  required autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label class="control-label">Description  </label>
                                            <textarea class="form-control" placeholder="Description here...." rows="7"></textarea>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Location <span class="red-star">*</span></div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group no-padding" >
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="control-label">Select Client <span class="red-star">*</span></label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control">
                                                        <option value="">Select Client...</option>
                                                        <option value="uds">UDS</option>
                                                        <option value="zappy">Zappy</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group no-padding" >
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="control-label">Select Site <span class="red-star">*</span></label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control">
                                                        <option value="">Select Site...</option>
                                                        <option value="">CMRL</option>
                                                        <option value="">HDFC</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Manufacturer Details </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group selectcon is-empty">

                                            <div class="row">
                                                <div class="col-md-10 pad-r-0px">
                                                    <label class="control-label">Manufacturer</label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control">
                                                        <option value="">Select Manufacturer</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 RightAddBtn">
                                                    <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" data-toggle="modal"  data-target="#addManufacturer"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Stock Information</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group selectcon is-empty">

                                            <div class="row">
                                                <div class="col-md-10 pad-r-0px">
                                                    <label class="control-label">UOM</label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control">
                                                        <option value="">Select UOM</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 RightAddBtn">
                                                    <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" data-toggle="modal"  data-target="#addUom"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                </div>
                                            </div>

                                        </div>


                                    </div>



                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label class="control-label">Min Stock</label>
                                            <input type="number" class="form-control"   name='minstock'
                                                   ng-model="inventory.minStock" ng-minlength='2' ng-maxlength='50' required autocomplete="off"/>

                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label">Store Stock </label>
                                            <input type="number" class="form-control"   name='storestock'
                                                   ng-model="inventory.storestock"  required autocomplete="off"/>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">

                        <button type="submit" ng-click="cancelInventory()"
                                id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                        <button type="submit" type="submit"
                                id="form-button-save" ng-disabled="form.$invalid"  class="btn btn-success pull-right"><span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>Create inventory</button>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </form>
        </div>


    </div>

    <div class="">
        <div class="row">
            <div class="col-mod-12">
                <div class="alert alert-success" ng-show="success">
                    <strong>Site saved!</strong>
                </div>
                <div class="alert alert-danger" ng-show="errorSitesExists">
                    <strong>Site already registered!</strong> Please choose another one.
                </div>
                <div class="alert alert-danger" ng-show="error">
                    <strong>Site Not Saved!</strong> Please try again later.
                </div>
                <div class="alert alert-danger" ng-show="errorProject">
                    <strong>Invalid Client</strong> Please choose another one.
                </div>
            </div>
            <div class="col-md-12">



            </div>

        </div>
    </div>


</div>


<!-- Start Add item group dialog -->

<div id="addItemGroup" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Item Group</h4>
            </div>
            <div class="modal-body">

                <form name="addGroupForm">
                    <div class="row">
                        <div class="col-md-12 txt-align-center">
                            <input class="" id="itemgroupName"    name="itemgroupName" type="text" value="" ng-required="true"/>
                            <input type="submit"  data-dismiss="modal" class="btn btn-success" name="add" value="Add">
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<!-- End Add item group dialog -->

<!-- Start Add Manufacturer dialog -->

<div id="addManufacturer" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Manufacturer</h4>
            </div>
            <div class="modal-body">

                <form name="addGroupForm">
                    <div class="row">
                        <div class="col-md-12 txt-align-center">
                            <input class="" id="manufacturerName"    name="manufacturerName" type="text" value="" ng-required="true"/>
                            <input type="submit"  data-dismiss="modal" class="btn btn-success" name="add" value="Add">
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<!-- End Add Manufacturer dialog -->

<!-- Start Add UOM dialog -->

<div id="addUom" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add UOM</h4>
            </div>
            <div class="modal-body">

                <form name="addGroupForm">
                    <div class="row">
                        <div class="col-md-12 txt-align-center">
                            <input class="" id="uomName"    name="uomName" type="text" value="" ng-required="true"/>
                            <input type="submit"  data-dismiss="modal" class="btn btn-success" name="add" value="Add">
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<!-- End Add UOM dialog -->



<!--<div class="crud-form"-->
<!--data-unique-hash="a2ad475d60b22954085c657a73309b8f">-->
<!--<div class="container" ng-controller="SiteController">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->

<!--<div class="alert alert-success" ng-show="success">-->
<!--<strong>Site saved!</strong>-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="errorSitesExists">-->
<!--<strong>Site already registered!</strong> Please choose another one.-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="error">-->
<!--<strong>Site Not Saved!</strong> Please try again later.-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="errorProject">-->
<!--<strong>Invalid Project</strong> Please choose another one.-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<div class="titleCon">-->
<!--<h3>Add Site</h3>-->
<!--</div>-->

<!--<div class="form-container table-container">-->
<!--<form ng-show="!success" name="form" role="form" novalidate-->
<!--ng-submit="saveSite()" class="form-horizontal">-->

<!--<div class="form-group ">-->
<!--<label class="col-sm-3 control-label"> Site </label>-->
<!--<div class="col-sm-5">-->
<!--<input id='siteName' ng-model="site.name" class='form-control'-->
<!--name='siteName' type='text' value=""-->
<!--ng-minlength=1 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus required/>-->
<!--<div ng-show="form.$submitted || form.siteName.$touched">-->
<!--<div ng-show="form.siteName.$dirty || form.siteName.$invalid">-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.required">-->
<!--Site name is required.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.minlength">-->
<!--Site name is required to be at least 5 character.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.maxlength">-->
<!--Site name cannot be longer than 50 characters.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.pattern">-->
<!--Site name can only contain letters, digits and space.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> Country </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<input id='country' ng-model="site.country" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='country' type='text' value=""&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength=50&ndash;&gt;-->
<!--&lt;!&ndash;ng-pattern="/^[A-Za-z0-9\s&-/]*$/"/>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.country.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.country.$dirty || form.country.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.country.$error.maxlength">&ndash;&gt;-->
<!--&lt;!&ndash;Country cannot be longer than 50 characters.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.country.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Country can only contain letters and space.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> State </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<input id='state' ng-model="site.state" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='state' type='text' value=""&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength=50&ndash;&gt;-->
<!--&lt;!&ndash;/>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.state.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.state.$dirty || form.state.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.state.$error.maxlength">&ndash;&gt;-->
<!--&lt;!&ndash;State cannot be longer than 200 characters.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> Address </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<textarea id='siteName' ng-model="site.address"&ndash;&gt;-->
<!--&lt;!&ndash;class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='address'&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength='2500' >&ndash;&gt;-->
<!--&lt;!&ndash;</textarea>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.address.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.address.$dirty || form.address.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; <p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.siteName.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Project name can only contain letters, digits and space.&ndash;&gt;-->
<!--&lt;!&ndash;</p> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label">Start Date</label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;<input ng-model="site.startDate" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='startDate' datetime-picker="dd-MMM-yyyy HH:mm"&ndash;&gt;-->
<!--&lt;!&ndash;is-open="calendar.start"> <span&ndash;&gt;-->
<!--&lt;!&ndash;class="input-group-btn">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="openCalendar($event, 'start')">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-calendar"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.startDate.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.startDate.$dirty || form.startDate.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.startDate.$error.required">&ndash;&gt;-->
<!--&lt;!&ndash;Start Date is required.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.startDate.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Invalid Date Format&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label">End Date</label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;<input ng-model="site.endDate" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='endDate' datetime-picker="dd-MMM-yyyy HH:mm"&ndash;&gt;-->
<!--&lt;!&ndash;is-open="calendar.end" /> <span&ndash;&gt;-->
<!--&lt;!&ndash;class="input-group-btn">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="openCalendar($event, 'end')">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-calendar"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.endDate.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.endDate.$dirty || form.endDate.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.endDate.$error.required">&ndash;&gt;-->
<!--&lt;!&ndash;End Date is required.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.endDate.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Invalid Date Format&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->



<!--&lt;!&ndash; Start of hidden inputs &ndash;&gt;-->
<!--&lt;!&ndash; End of hidden inputs &ndash;&gt;-->

<!--<div class='small-loading hidden' id='FormLoading'>Loading,-->
<!--saving data...</div>-->

<!--<div class="form-group">-->
<!--<div id='report-error' class='report-div error bg-danger'-->
<!--style="display: none"></div>-->
<!--<div id='report-success' class='report-div success bg-success'-->
<!--style="display: none"></div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-offset-3 col-sm-7">-->
<!--<button class="btn btn-default btn-success b10" type="submit"-->
<!--id="form-button-save" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-check"></i> Save-->
<!--</button>-->
<!--<button class="btn btn-info b10" type="submit"-->
<!--id="save-and-go-back-button" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-rotate-left"></i> Save and go back to list-->
<!--</button>-->
<!--<button class="btn btn-default cancel-button b10" type="button"-->
<!--ng-click="cancelSite()" id="cancel-button">-->
<!--<i class="fa fa-warning"></i> Cancel-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
