<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div  ng-init="initLoad();loadingAuto();">


        <div class="col-md-8">
            <!--<h2 class="title">Add Site</h2>-->
        </div>


        <!--<div class="card-header" data-background-color="red">-->
        <!--<h4 class="title">Add Site</h4>-->
        <!--<p class="category"></p>-->
        <!--</div>-->

        <div class="cardsCon addSiteCon">
            <form ng-show="!success" name="form" role="form" novalidate
                  ng-submit="saveInventory()">

                <div class="row">

                    <div class="col-md-6">


                        <div class="panel panel-default">
                            <div class="panel-heading">Inventory Details</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group  ">
                                            <label class="control-label">Name <span class="red-star">*</span></label>
                                            <input type="text" class="form-control"   name='inventory-name'
                                                   ng-model="inventory.name" ng-minlength='2' ng-maxlength='50' required autocomplete="off"/>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group selectcon is-empty" ng-init="loadMaterialItmGroup()">

                                            <div class="row">
                                                <div class="col-md-10 pad-r-0px">
                                                    <label class="control-label">Group <span class="red-star">*</span></label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control" ng-model="selectedItemGroup" ng-options="materialItmGroup as materialItmGroup.itemGroup for materialItmGroup in materialItmGroups">
                                                        <option value="">Select Item Group ..</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 RightAddBtn">
                                                    <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" data-toggle="modal"  data-target="#addItemGroup"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label class="control-label">Item Code <span class="red-star">*</span> </label>
                                            <input type="text" class="form-control"   name='item'
                                                   ng-model="inventory.itemCode"  required autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label class="control-label">Description  </label>
                                            <textarea class="form-control" ng-model="inventory.description" placeholder="Description here...." rows="7"></textarea>
                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Location <span class="red-star">*</span></div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group no-padding" >
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="control-label">Select Client <span class="red-star">*</span></label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control" ng-model="client" ng-change="loadAllSites()" ng-options="project as project.name for project in projects" required>
                                                        <option value="">Select Client...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group no-padding" >
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="control-label">Select Site <span class="red-star">*</span></label>
                                                    <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                    <select class="form-control" ng-model="projectSite"  ng-options="site as site.name for site in sites">
                                                        <option value="">Select Site...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">Manufacturer Details </div>
                            <div class="panel-body" ng-init="$scope.loadManufacturer()">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group selectcon is-empty">

                                            <label class="control-label">Manufacturer</label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select class="form-control" ng-model="selectedManufacturer" ng-options="manufacturer as manufacturer.name for manufacturer in manufacturers">
                                                <option value="">Select Manufacturer</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Stock Information</div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group selectcon is-empty">

                                            <label class="control-label">UOM</label>
                                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select class="form-control" ng-model="selectedUOM" ng-options="materialUOM for materialUOM in materialUOMs">
                                                <option value="">Select UOM</option>
                                            </select>

                                        </div>


                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="control-label">Store Stock </label>
                                            <input type="number" class="form-control"   name='storestock'
                                                   ng-model="inventory.storeStock"  required autocomplete="off"/>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label class="control-label">Min Stock</label>
                                            <input type="number" class="form-control"   name='minstock'
                                                   ng-model="inventory.minimumStock" required autocomplete="off"/>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  ">
                                            <label class="control-label">Max Stock</label>
                                            <input type="number" class="form-control"   name='maxStock'
                                                   ng-model="inventory.maximumStock" required autocomplete="off"/>

                                        </div>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12">

                        <button ng-click="cancelInventory()"
                                id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                        <button type="submit" type="submit"
                                id="form-button-save"  class="btn btn-success pull-right"><span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>Create inventory</button>

                        <div class="clearfix"></div>
                    </div>

                </div>

            </form>
        </div>


    </div>

   <!--  <div class="">
        <div class="row">
            <div class="col-mod-12">
                <div class="alert alert-success" ng-show="success">
                    <strong>Site saved!</strong>
                </div>
                <div class="alert alert-danger" ng-show="errorSitesExists">
                    <strong>Site already registered!</strong> Please choose another one.
                </div>
                <div class="alert alert-danger" ng-show="error">
                    <strong>Site Not Saved!</strong> Please try again later.
                </div>
                <div class="alert alert-danger" ng-show="errorProject">
                    <strong>Invalid Client</strong> Please choose another one.
                </div>
            </div>
            <div class="col-md-12">



            </div>

        </div>
    </div> -->


</div>


<!-- Start Add item group dialog -->

<div id="addItemGroup" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Item Group</h4>
            </div>
            <div class="modal-body">

                <form name="itemGroupForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="" id="itemgroupName"  ng-model="materialItemGroup.itemGroup" ng-maxlength="50"   name="itemgroupName" type="text" value="" ng-pattern="/^[A-Za-z0-9\s]*$/" required />
                            <div ng-show="itemGroupForm.$submitted || itemGroupForm.itemgroupName.$touched">
                                <div ng-show="itemGroupForm.itemgroupName.$dirty || itemGroupForm.itemgroupName.$invalid">
                                    <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.required">
                                       Item Group is required.
                                    </p>
                                    <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.maxlength">
                                        Item Group cannot be longer than 50 characters.
                                    </p>
                                    <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.pattern">
                                       Item Group can only contain letters, digits and space.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 txt-align-center">
                            <input type="submit"  ng-click="addMaterialItemGroup()" ng-disabled="itemGroupForm.$invalid" data-dismiss="modal" class="btn btn-success" name="add" value="Add" >
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!-- End Add item group dialog -->

<!-- Start Add Manufacturer dialog -->

<div id="addManufacturer" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Manufacturer</h4>
            </div>
            <div class="modal-body">

                <form name="addGroupForm">
                    <div class="row">
                        <div class="col-md-12 txt-align-center">
                            <input class="" id="manufacturerName"    name="manufacturerName" type="text" value="" ng-required="true"/>
                            <input type="submit"  data-dismiss="modal" class="btn btn-success" name="add" value="Add">
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<!-- End Add Manufacturer dialog -->

<!-- Start Add UOM dialog -->

<div id="addUom" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add UOM</h4>
            </div>
            <div class="modal-body">

                <form name="addGroupForm">
                    <div class="row">
                        <div class="col-md-12 txt-align-center">
                            <input class="" id="uomName"    name="uomName" type="text" value="" ng-required="true"/>
                            <input type="submit"  data-dismiss="modal" class="btn btn-success" name="add" value="Add">
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<!-- End Add UOM dialog -->
