<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div  ng-init="initLoad();loadingAuto();">


        <div class="col-md-8">
            <!--<h2 class="title">Add Site</h2>-->
        </div>


            <!--<div class="card-header" data-background-color="red">-->
                <!--<h4 class="title">Add Site</h4>-->
                <!--<p class="category"></p>-->
            <!--</div>-->

           <div class="cardsCon addSiteCon">
               <form ng-show="!success" name="form" role="form" novalidate
                     ng-submit="saveInventoryTrans()">

                   <div class="row">
                       <div class="col-md-12">


                           <div class="panel panel-default">
                               <div class="panel-heading">Location</div>
                               <div class="panel-body">

                                   <div class="row">

                                       <div class="col-md-3">
                                           <div class="form-group no-padding" >
                                               <div class="dropdown">
                                                   <div class="form-group">
                                                       <label class="control-label">Select Client <span class="red-star">*</span></label>
                                                       <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                       <select class="form-control" ng-model="client" ng-change="loadAllSites()" ng-options="project as project.name for project in projects" required>
                                                           <option value="">Select Client...</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-md-3">
                                           <div class="form-group no-padding" >
                                               <div class="dropdown">
                                                   <div class="form-group">
                                                       <label class="control-label">Select Site <span class="red-star">*</span></label>
                                                       <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                       <select class="form-control" ng-model="projectSite"  ng-change="loadIndents();loadPurchases()" ng-options="site as site.name for site in sites">
                                                           <option value="">Select Site...</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       
                                          <div class="col-md-2">
                                           <div class="form-group no-padding" >
                                               <div class="dropdown">
                                                   <div class="form-group" ng-init="loadTransactionType()">
                                                       <label class="control-label">Transaction Type <span class="red-star">*</span></label>
                                                       <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                       <select class="form-control" ng-model="selectedTransactionType" ng-change="changeType()" ng-options="transactionType for transactionType in transactionTypes | orderBy">
                                                           <option value="">Select Transaction type...</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       
                                        <div class="col-md-2" ng-show="selectedTransactionType === 'ISSUED'">
                                           <div class="form-group no-padding" >
                                               <div class="dropdown">
                                                   <div class="form-group">
                                                       <label class="control-label">Indent Ref.No<span class="red-star">*</span></label>
                                                       <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                       <select class="form-control" ng-model="selectedIndent" ng-change="loadItems()" ng-options="materialIndent as materialIndent.indentRefNumber for materialIndent in materialIndents">
                                                           <option value="">Select Indent Ref.No</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       
                                       <div class="col-md-2" ng-show="selectedTransactionType === 'RECEIVED'">
                                           <div class="form-group no-padding" >
                                               <div class="dropdown">
                                                   <div class="form-group">
                                                       <label class="control-label">Purchase Ref.No<span class="red-star">*</span></label>
                                                       <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                       <select class="form-control" ng-model="selectedPurchaseReq" ng-change="loadPurchaseItems()" ng-options="purchaseItem as purchaseItem.purchaseRefGenNumber for purchaseItem in purchaseItems">
                                                           <option value="">Select Purchase Ref.No...</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       
                                       <div class="col-md-2" ng-show="selectedTransactionType === 'ISSUED'">
                                           <div class="form-group">
                                               <label class="control-label">Issued Date<span class="red-star">*</span></label>
                                               <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                               <input type="text" class="form-control datepicker" onkeydown="return false" id="dateFilterIssuedDate" name="PpmTo" ng-model="ppmFrom" autocomplete="off"/>
                                           </div>
                                   	  </div>
                                   	  
                                   	  <div class="col-md-2" ng-show="selectedTransactionType === 'RECEIVED'">
                                           <div class="form-group">
                                               <label class="control-label">Received Date<span class="red-star">*</span></label>
                                               <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                               <input type="text" class="form-control datepicker" onkeydown="return false" id="dateFilterReceivedDate" name="PpmTo" ng-model="ppmTo" autocomplete="off"/>
                                           </div>
                                   	  </div>


                                   </div>

                               </div>
                           </div>


                       </div>
                      
                      <!--  <div class="col-md-6">
                           <div class="panel panel-default">
                               <div class="panel-heading">Inventory Details</div>
                               <div class="panel-body">

                                   <div class="row">
                                       <div class="col-md-6">

                                
                                           
                                             <div class="form-group no-padding">
                                               <div class="dropdown">
                                                   <div class="form-group">
                                                       <label class="control-label">Select Item Code <span class="red-star">*</span></label>
                                                       <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                       <select class="form-control" ng-model="selectedItemCode" ng-change="change()" ng-options="materialItem as materialItem.materialItemCode for materialItem in materialItems">
                                                           <option value="">Select Item Code...</option>
                                                       </select>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>

                                       <div class="col-md-6">
                                           <div class="form-group no-padding" >
                                            <div class="form-group ">
                                               <label class="control-label">Item Name</label>
                                               <input type="text" class="form-control"   name='itemName' ng-disabled="true"
                                                      ng-model="selectedItemName"  required autocomplete="off"/>
                                           </div>
                                           </div>
                                       </div>
                                       <div class="col-md-6">
                                           <div class="form-group ">
                                               <label class="control-label">Store stock</label>
                                               <input type="number" class="form-control"   name='stock' ng-disabled="true"
                                                      ng-model="inventory.storeStock"  required autocomplete="off"/>
                                           </div>
                                       </div>
                                       <div class="col-md-6">
                                           <div class="form-group ">
                                               <label class="control-label">Quantity</label>
                                               <input type="number" class="form-control"   name='stockQuantity' ng-disabled="true"
                                                      ng-model="inventory.quantity"  required autocomplete="off"/>
                                           </div>
                                       </div>
                                       
                                       <div class="col-md-12" ng-show="selectedTransactionType === 'ISSUED'">
                                           <div class="form-group">
                                               <label class="control-label">Issued Date<span class="red-star">*</span></label>
                                               <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                               <input type="text" class="form-control datepicker" onkeydown="return false" id="dateFilterIssuedDate" name="PpmTo" ng-model="ppmFrom" autocomplete="off"/>
                                           </div>
                                   	  </div>
                                   	  
                                   	  <div class="col-md-12" ng-show="selectedTransactionType === 'RECEIVED'">
                                           <div class="form-group">
                                               <label class="control-label">Received Date<span class="red-star">*</span></label>
                                               <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                               <input type="text" class="form-control datepicker" onkeydown="return false" id="dateFilterReceivedDate" name="PpmTo" ng-model="ppmTo" autocomplete="off"/>
                                           </div>
                                   	  </div>

                               </div>
                           </div>


                       </div>
                      </div> -->

                   </div>
                   
                   
                   <div class="panel panel-default">
                       <div class="panel-heading">Inventory Details</div>
                       <div class="panel-body">
                           <div class="table-responsive">
                   
                       <table class="table table-hover">
                         <tr>
                           <th> 
	                           <div class="checkbox form-horizontal-checkbox">
	                                 <label>
	                                     <input type="checkbox" name="optionsCheckboxes" ng-model="allItemsSelected" ng-click="selectAll()">
	                                 </label>
	                           </div>
                           </th>
                           <th>Item Code</th>
                           <th>Item Name</th>
                           <th>Store stock</th>
                           <th>UOM</th>
                           <th>Qty Issued</th>
                           <th>Qty Approved</th>
                           <th>Issue Qty</th>
                           <th>Pending Qty</th>                           
                         </tr>
                         
                         <tr ng-repeat="material in materialItems">
                           <td>
	                           <div class="checkbox form-horizontal-checkbox">
	                                 <label>
	                                     <input type="checkbox" name="optionsCheckboxes" ng-model="material.isChecked" ng-change="selectedOne(material)">
	                                 </label>
	                           </div>
                           </td>
                            <td>{{material.materialItemCode}}</td>
                            <td>{{material.materialName}}</td>
                            <td>{{material.materialStoreStock}}</td>
                            <td>{{material.materialUom}}</td>
                            <td>{{material.issuedQuantity ? material.issuedQuantity : "Nil"}}</td>
                            <td>{{material.approvedQty ? material.approvedQty : "Nil"}}</td>
                            <td width="10%" ng-hide="material.approvedQty">
                                <input type="number" class="form-control" name="issue_qty" ng-model="material.currentQuantity" ng-blur="validate(material, material.currentQuantity)" aria-required="true" aria-invalid="true">
                            </td>
                            <td width="10%" ng-show="material.approvedQty">
                                <input type="number" class="form-control" name="approve_qty" ng-model="material.currentAprQty" ng-blur="validateReq(material, material.currentAprQty)" aria-required="true" aria-invalid="true">
                            </td>
                            <td ng-if="material.pendingQuantity">{{material.pendingQuantity}}</td>
                            <td ng-if="material.approvedQty">{{material.approvedQty}}</td>
                         </tr>
                         <tr ng-show="!materialItems.length">
                         	<td colspan="9" class="txt-align-center">No Material Items Found</td>
                         </tr>
                       
                       </table> 
                   
                   
                   </div>
                          
                       </div>
                   </div>            
                   
                  
                   <div class="row">

                       <div class="col-md-12">

                           <button type="button" ng-click="cancelInventoryTrans()"
                                   id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                           <button type="submit"
                                   id="form-button-save" ng-disabled="!selectedItems.length"  class="btn btn-success pull-right"><span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>Save</button>

                           <div class="clearfix"></div>
                       </div>

                   </div>

               </form>
           </div>


    </div>

    <div class="">
        <div class="row">
            <div class="col-mod-12">
                <div class="alert alert-success" ng-show="success">
                    <strong>Site saved!</strong>
                </div>
                <div class="alert alert-danger" ng-show="errorSitesExists">
                    <strong>Site already registered!</strong> Please choose another one.
                </div>
                <div class="alert alert-danger" ng-show="error">
                    <strong>Site Not Saved!</strong> Please try again later.
                </div>
                <div class="alert alert-danger" ng-show="errorProject">
                    <strong>Invalid Client</strong> Please choose another one.
                </div>
            </div>
            <div class="col-md-12">



            </div>

        </div>
    </div>


</div>


<!--<div class="crud-form"-->
<!--data-unique-hash="a2ad475d60b22954085c657a73309b8f">-->
<!--<div class="container" ng-controller="SiteController">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->

<!--<div class="alert alert-success" ng-show="success">-->
<!--<strong>Site saved!</strong>-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="errorSitesExists">-->
<!--<strong>Site already registered!</strong> Please choose another one.-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="error">-->
<!--<strong>Site Not Saved!</strong> Please try again later.-->
<!--</div>-->
<!--<div class="alert alert-danger" ng-show="errorProject">-->
<!--<strong>Invalid Project</strong> Please choose another one.-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-12">-->
<!--<div class="titleCon">-->
<!--<h3>Add Site</h3>-->
<!--</div>-->

<!--<div class="form-container table-container">-->
<!--<form ng-show="!success" name="form" role="form" novalidate-->
<!--ng-submit="saveSite()" class="form-horizontal">-->

<!--<div class="form-group ">-->
<!--<label class="col-sm-3 control-label"> Site </label>-->
<!--<div class="col-sm-5">-->
<!--<input id='siteName' ng-model="site.name" class='form-control'-->
<!--name='siteName' type='text' value=""-->
<!--ng-minlength=1 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus required/>-->
<!--<div ng-show="form.$submitted || form.siteName.$touched">-->
<!--<div ng-show="form.siteName.$dirty || form.siteName.$invalid">-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.required">-->
<!--Site name is required.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.minlength">-->
<!--Site name is required to be at least 5 character.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.maxlength">-->
<!--Site name cannot be longer than 50 characters.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.pattern">-->
<!--Site name can only contain letters, digits and space.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> Country </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<input id='country' ng-model="site.country" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='country' type='text' value=""&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength=50&ndash;&gt;-->
<!--&lt;!&ndash;ng-pattern="/^[A-Za-z0-9\s&-/]*$/"/>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.country.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.country.$dirty || form.country.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.country.$error.maxlength">&ndash;&gt;-->
<!--&lt;!&ndash;Country cannot be longer than 50 characters.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.country.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Country can only contain letters and space.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> State </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<input id='state' ng-model="site.state" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='state' type='text' value=""&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength=50&ndash;&gt;-->
<!--&lt;!&ndash;/>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.state.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.state.$dirty || form.state.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.state.$error.maxlength">&ndash;&gt;-->
<!--&lt;!&ndash;State cannot be longer than 200 characters.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label"> Address </label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<textarea id='siteName' ng-model="site.address"&ndash;&gt;-->
<!--&lt;!&ndash;class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='address'&ndash;&gt;-->
<!--&lt;!&ndash;ng-maxlength='2500' >&ndash;&gt;-->
<!--&lt;!&ndash;</textarea>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.address.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.address.$dirty || form.address.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; <p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.siteName.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Project name can only contain letters, digits and space.&ndash;&gt;-->
<!--&lt;!&ndash;</p> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label">Start Date</label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;<input ng-model="site.startDate" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='startDate' datetime-picker="dd-MMM-yyyy HH:mm"&ndash;&gt;-->
<!--&lt;!&ndash;is-open="calendar.start"> <span&ndash;&gt;-->
<!--&lt;!&ndash;class="input-group-btn">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="openCalendar($event, 'start')">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-calendar"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.startDate.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.startDate.$dirty || form.startDate.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.startDate.$error.required">&ndash;&gt;-->
<!--&lt;!&ndash;Start Date is required.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.startDate.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Invalid Date Format&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
<!--&lt;!&ndash;<label class="col-sm-3 control-label">End Date</label>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-sm-5">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;<input ng-model="site.endDate" class='form-control'&ndash;&gt;-->
<!--&lt;!&ndash;name='endDate' datetime-picker="dd-MMM-yyyy HH:mm"&ndash;&gt;-->
<!--&lt;!&ndash;is-open="calendar.end" /> <span&ndash;&gt;-->
<!--&lt;!&ndash;class="input-group-btn">&ndash;&gt;-->
<!--&lt;!&ndash;<button type="button" class="btn btn-default"&ndash;&gt;-->
<!--&lt;!&ndash;ng-click="openCalendar($event, 'end')">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-calendar"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</button>&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.$submitted || form.endDate.$touched">&ndash;&gt;-->
<!--&lt;!&ndash;<div ng-show="form.endDate.$dirty || form.endDate.$invalid">&ndash;&gt;-->
<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.endDate.$error.required">&ndash;&gt;-->
<!--&lt;!&ndash;End Date is required.&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--&lt;!&ndash;<p class="help-block" style="color:maroon"&ndash;&gt;-->
<!--&lt;!&ndash;ng-show="form.endDate.$error.pattern">&ndash;&gt;-->
<!--&lt;!&ndash;Invalid Date Format&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->



<!--&lt;!&ndash; Start of hidden inputs &ndash;&gt;-->
<!--&lt;!&ndash; End of hidden inputs &ndash;&gt;-->

<!--<div class='small-loading hidden' id='FormLoading'>Loading,-->
<!--saving data...</div>-->

<!--<div class="form-group">-->
<!--<div id='report-error' class='report-div error bg-danger'-->
<!--style="display: none"></div>-->
<!--<div id='report-success' class='report-div success bg-success'-->
<!--style="display: none"></div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-offset-3 col-sm-7">-->
<!--<button class="btn btn-default btn-success b10" type="submit"-->
<!--id="form-button-save" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-check"></i> Save-->
<!--</button>-->
<!--<button class="btn btn-info b10" type="submit"-->
<!--id="save-and-go-back-button" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-rotate-left"></i> Save and go back to list-->
<!--</button>-->
<!--<button class="btn btn-default cancel-button b10" type="button"-->
<!--ng-click="cancelSite()" id="cancel-button">-->
<!--<i class="fa fa-warning"></i> Cancel-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
