

<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div class="col-md-8">
        <!--<h3 class="title">Edit Site</h3>-->
    </div>

    <div ng-init="editInventoryTrans();">
            <div class="cardsCon editSiteCon">
                <form ng-show="!success" name="form" role="form" novalidate
                      ng-submit="conform('save')"  >

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Location</div>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-md-12" ng-init="loadProjects()">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Client <span class="red-star">*</span></label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="client" ng-change="loadAllSites()" ng-options="project as project.name for project in projects track by project.id" required>
                                                            <option value="">Select Client...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-init="loadSites()">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Site <span class="red-star">*</span></label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="selectedSite" ng-options="site as site.name for site in sites track by site.id">
                                                            <option value="">Select Site...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Inventory Details</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Item Name <span class="red-star">*</span></label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control">
                                                            <option value="">Select Item Name...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Item code <span class="red-star">*</span></label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control">
                                                            <option value="">Select Item code...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Stock Received </label>
                                                <input type="number" class="form-control"   name='stockrec'
                                                       ng-model="inventory.stockrec"  required autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Stock consumed </label>
                                                <input type="number" class="form-control"   name='stockconsu'
                                                       ng-model="inventory.stockconsu"  required autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Date</label>
                                                <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                <input type="text" class="form-control datetimepicker"  id="dateFilterFrom"  placeholder="{{dateFilterFrom | date:'dd-MMM-yyyy'}}"/>

                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" ng-click="cancelInventoryTrans()"
                                    id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                            <button type="submit"
                                    id="form-button-save" class="btn btn-success ld ld-over-inverse pull-right" id="form-button-save" ng-class="{'running':saveLoad}"><span class="btn-label">
                                        <i class="material-icons">check</i>
                                    </span>Update
                                <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-mod-12">
            <div class="alert alert-success" ng-show="success">
                <strong>Site saved!</strong>
            </div>
            <div class="alert alert-danger" ng-show="errorSitesExists">
                <strong>Site already registered!</strong> Please choose another one.
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>Site Not Saved!</strong> Please try again later.
            </div>
            <div class="alert alert-danger" ng-show="errorProject">
                <strong>Invalid Client</strong> Please choose another one.
            </div>
        </div>
        <div class="col-md-12">



        </div>

    </div>
</div>






<!--<div class="crud-form"-->
<!--data-unique-hash="a2ad475d60b22954085c657a73309b8f">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->

<!--<div class="titleCon">-->
<!--<h3>Edit Site</h3>-->
<!--</div>-->

<!--<div class="form-container table-container" ng-init="loadSite()">-->
<!--<form ng-show="!success" name="form" role="form" novalidate-->
<!--ng-submit="updateSite()"  class="form-horizontal">-->
<!--<div class="form-group">-->
<!--<label class="col-sm-3 control-label"> ID </label>-->
<!--<div class="col-sm-2">-->
<!--<input id='siteID' ng-model="site.id" class='form-control'-->
<!--name='siteID' type='text' maxlength='50' readonly />-->
<!--</div>-->
<!--</div>-->


<!--<div class="form-group" ng-init="loadProjects()">-->
<!--<label class="col-sm-3 control-label"> Project </label>-->
<!--<div class="col-sm-5">-->
<!--<div class="dropdown">-->
<!--<input id="projectName" type="text" class="form-control" placeholder="Enter project name"  ng-value="site.projectName" name="projectName"-->
<!--ng-model="selectedProject" uib-typeahead="project as project.name for project in projects | filter:$viewValue | limitTo:5"-->
<!--ng-minlength=2 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus required autocomplete="off"-->
<!--/>-->
<!--<div ng-show="form.$submitted || form.projectName.$touched">-->
<!--<div ng-show="form.projectName.$dirty || form.projectName.$invalid">-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.projectName.$error.required">-->
<!--Project name is required.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.projectName.$error.minlength">-->
<!--Project name is required to be at least 2 character.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.projectName.$error.maxlength">-->
<!--Project name cannot be longer than 50 characters.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.projectName.$error.pattern">-->
<!--Project name can only contain letters, digits and space.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group ">-->
<!--<label class="col-sm-3 control-label"> Name </label>-->
<!--<div class="col-sm-5">-->
<!--<input id="siteName" ng-model="site.name" class="form-control"-->
<!--name="siteName" type="text"-->
<!--ng-minlength=1 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/"  required/>-->
<!--<div ng-show="form.$submitted || form.siteName.$touched">-->
<!--<div ng-show="form.siteName.$dirty || form.siteName.$invalid">-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.required">-->
<!--Site name is required.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.minlength">-->
<!--Site name is required to be at least 5 character.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.maxlength">-->
<!--Site name cannot be longer than 50 characters.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.siteName.$error.pattern">-->
<!--Site name can only contain letters, digits and space.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class='small-loading hidden' id='FormLoading'>Loading,-->
<!--saving data...</div>-->

<!--<div class="form-group">-->
<!--<div id='report-error' class='report-div error bg-danger'-->
<!--style="display: none"></div>-->
<!--<div id='report-success' class='report-div success bg-success'-->
<!--style="display: none"></div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-offset-3 col-sm-7">-->
<!--<button class="btn btn-default btn-success b10" type="submit"-->
<!--id="form-button-save" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-check" ></i> Save-->
<!--</button>-->
<!--<button class="btn btn-info b10" type="submit"-->
<!--id="save-and-go-back-button" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-rotate-left" ></i> Save and go back to list-->
<!--</button>-->
<!--<button class="btn btn-default cancel-button b10" type="button"-->
<!--ng-click="cancelSite()" id="cancel-button">-->
<!--<i class="fa fa-warning"></i> Cancel-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
