

<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="editInventoryFunc();loadPageTop();">
    <div class="titleCon">
        <h3>{{editInventory.title}}</h3>
    </div>

    <div >
            <div class="cardsCon editSiteCon">
                <form ng-show="!success" name="form" role="form" novalidate
                      ng-submit="updateInventory()"  >


                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Inventory Details</div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group  ">
                                                <label class="control-label">Name </label>
                                                <input type="text" class="form-control"   name='inventory-name'
                                                       ng-model="editInventory.name" ng-minlength='2' ng-maxlength='50' required autocomplete="off"/>

                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <div class="form-group selectcon is-empty">

                                                <div class="row" ng-init="loadMaterialItmGroup()">
                                                    <div class="col-md-10 pad-r-0px">
                                                        <label class="control-label">Group</label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="selectedItemGroup" ng-options="materialItmGroup as materialItmGroup.itemGroup for materialItmGroup in materialItmGroups track by materialItmGroup.itemGroup">
                                                            <option value="">Select Item Group ..</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 RightAddBtn">
                                                        <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" data-toggle="modal"  data-target="#addItemGroup"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Item  </label>
                                                <input type="text" class="form-control"   name='item'
                                                       ng-model="editInventory.itemCode"  required autocomplete="off"/>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <label class="control-label">Description  </label>
                                                <input type="text" class="form-control"  ng-model="editInventory.description"  name='desc' autocomplete="off"/>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Location</div>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-md-6" ng-init="loadProjects()">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Client</label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="client" ng-change="loadAllSites()" ng-options="project as project.name for project in projects track by project.id" required>
                                                            <option value="">Select Client...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-init="loadSites()">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Site</label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="selectedSite"  ng-options="site as site.name for site in sites track by site.id">
                                                            <option value="">Select Site...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Stock Information</div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-6" ng-init="loadUOM()">
                                            <div class="form-group  ">
                                                <label class="control-label">UOM</label>
                                                <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                <select class="form-control" ng-model="selectedUnit" ng-options="materialUOM for materialUOM in materialUOMs">
                                                    <option value="">Select UOM</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Store Stock </label>
                                                <input type="number" class="form-control"   name='storestock'
                                                       ng-model="editInventory.storeStock"  required autocomplete="off"/>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group  ">
                                                <label class="control-label">Min Stock</label>
                                                <input type="number" class="form-control"   name='minstock'
                                                       ng-model="editInventory.minimumStock"  required autocomplete="off"/>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group  ">
                                                <label class="control-label">Max Stock</label>
                                                <input type="number" class="form-control"   name='maxstock'
                                                       ng-model="editInventory.maximumStock" required autocomplete="off"/>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Manufacturer Details </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12" ng-init="loadManufacturer()">

                                            <div class="form-group selectcon is-empty">

                                                <div class="row">
                                                    <div class="col-md-10 pad-r-0px">
                                                        <label class="control-label">Manufacturer name</label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="selectedManufacturer" ng-options="manufacturer as manufacturer.name for manufacturer in manufacturers track by manufacturer.name">
                                                            <option value="">Select Manufacturer</option>
                                                        </select>
                                                    </div>
                                                    <!--    <div class="col-md-2 RightAddBtn">
                                                           <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" data-toggle="modal"  data-target="#addManufacturer"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                       </div> -->

                                                </div>

                                            </div>
                                            <!--
                                                <div class="form-group  ">
                                                    <label class="control-label">Manufacturer name </label>
                                                    <input type="text" class="form-control"   name='manufacturername'
                                                           ng-model="inventory.manufacturerName" ng-minlength='2' ng-maxlength='50' required autocomplete="off"/>

                                                </div> -->
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-12">


                            <button ng-click="cancelInventory()"
                                    id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                            <button type="submit" type="submit"
                                    id="form-button-save" class="btn btn-success pull-right"><span class="btn-label">
                                        <i class="material-icons">check</i>
                                    </span>Update inventory</button>

                            <div class="clearfix"></div>
                        </div>

                    </div>


                </form>
            </div>
    </div>
</div>


<!-- Add item group -->

<div id="addItemGroup" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Item Group</h4>
            </div>
            <div class="modal-body">

                <form name="itemGroupForm">
                    <div class="row">
                        <div class="col-md-12 txt-align-center">
                            <input class="" id="itemgroupName"  ng-model="materialItemGroup.itemGroup"   name="itemgroupName" type="text" value="" ng-pattern="/^[A-Za-z0-9\s]*$/" />
                            <div ng-show="itemGroupForm.$submitted || itemGroupForm.itemgroupName.$touched">
                                <div ng-show="itemGroupForm.itemgroupName.$dirty || itemGroupForm.itemgroupName.$invalid">
                                    <p class="help-block" style="color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.required">
                                       Item Group is required.
                                    </p>
                                    <p class="help-block" style="color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.maxlength">
                                        Item Group cannot be longer than 250 characters.
                                    </p>
                                    <p class="help-block" style="color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.pattern">
                                       Item Group can only contain letters, digits and space.
                                    </p>
                                </div>
                            </div>
                            <input type="submit"  ng-click="addMaterialItemGroup()" data-dismiss="modal" class="btn btn-success" name="add" value="Add" ng-disabled="itemGroupForm.$invalid">
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
