

<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="editInventoryFunc();loadPageTop();">
    <div class="titleCon">
        <h3>{{editInventory.title}}</h3>
    </div>

    <div >
            <div class="cardsCon editSiteCon">
                <div class="row">
                    <div class="col-md-12">
                        <label><span class="red-star">*</span> Mandatory Field</label>
                    </div>
                </div>
                <form ng-show="!success" name="form" role="form" novalidate
                      ng-submit="conform('update')"  confirm-on-exit>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Inventory Details</div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group  ">
                                                <label class="control-label">Name <span class="red-star">*</span></label>
                                                <input type="text" class="form-control"   name='inventoryName'
                                                       ng-model="editInventory.name" ng-minlength='2' ng-maxlength='50' required autocomplete="off" tabindex="1"/>
                                                <div ng-show="form.$submitted || form.inventoryName.$touched || form.inventoryName.$dirty">
                                                    <div ng-show="form.inventoryName.$dirty || form.inventoryName.$invalid">
                                                        <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                           ng-show="form.inventoryName.$error.required">
                                                            Material name is required.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                           ng-show="form.inventoryName.$error.minlength">
                                                            Material name is required to be at least 2 character.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                           ng-show="form.inventoryName.$error.maxlength">
                                                            Material name cannot be longer than 50 characters.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                           ng-show="form.inventoryName.$error.pattern">
                                                            Material name can only contain letters,numbers and space.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group selectcon is-empty">

                                                <div class="row" ng-init="loadMaterialItmGroup()">
                                                    <div class="col-md-10 pad-r-0px">
                                                        <label class="control-label">Group <span class="red-star">*</span></label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="selectedItemGroup" name="itemGroup" ng-options="materialItmGroup as materialItmGroup.itemGroup for materialItmGroup in materialItmGroups track by materialItmGroup.itemGroup" required tabindex="4">
                                                            <option value="">Select Item Group ..</option>
                                                        </select>
                                                        <div ng-show="form.$submitted || form.itemGroup.$touched || form.itemGroup.$dirty">
                                                            <div ng-show="form.itemGroup.$dirty || form.itemGroup.$invalid">
                                                                <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                                   ng-show="form.itemGroup.$error.required">
                                                                    Group is required.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 RightAddBtn">
                                                        <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" data-toggle="modal"  data-target="#addItemGroup"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <label class="control-label">Item Code <span class="red-star">*</span></label>
                                                <input type="text" class="form-control"   name='itemCode'
                                                       ng-model="editInventory.itemCode"  required autocomplete="off" tabindex="5"/>
                                                <div ng-show="form.$submitted || form.itemCode.$touched || form.itemCode.$dirty">
                                                    <div ng-show="form.itemCode.$dirty || form.itemCode.$invalid">
                                                        <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                           ng-show="form.itemCode.$error.required">
                                                            Item code is required.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                           ng-show="form.itemCode.$error.minlength">
                                                            Item code is required to be at least 2 character.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                           ng-show="form.itemCode.$error.maxlength">
                                                            Item code cannot be longer than 50 characters.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                           ng-show="form.itemCode.$error.pattern">
                                                            Item code can only contain letters,numbers.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <label class="control-label">Description </label>
                                                <textarea class="form-control" name="description" ng-maxlength='255' ng-model="editInventory.description" placeholder="Description here...." rows="7" tabindex="7"></textarea>
                                                <div ng-show="form.$submitted || form.description.$touched || form.description.$dirty">
                                                    <div ng-show="form.description.$dirty || form.description.$invalid">

                                                        <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                           ng-show="form.description.$error.maxlength">
                                                            Description cannot be longer than 255 characters.
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">Location</div>
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-md-6" ng-init="loadProjects()">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Client<span class="red-star">*</span></label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="client" ng-change="loadAllSites()" name="project" ng-options="project as project.name for project in projects track by project.id" required>
                                                            <option value="">Select Client...</option>
                                                        </select>
                                                        <div ng-show="form.$submitted || form.project.$touched || form.project.$dirty">
                                                            <div ng-show="form.project.$dirty || form.project.$invalid">
                                                                <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                                   ng-show="form.project.$error.required">
                                                                    Client is required.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-init="loadSites()">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <div class="form-group">
                                                        <label class="control-label">Select Site<span class="red-star">*</span></label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="selectedSite" name="site" required  ng-options="site as site.name for site in sites track by site.id">
                                                            <option value="">Select Site...</option>
                                                        </select>
                                                        <div ng-show="form.$submitted || form.site.$touched || form.site.$dirty">
                                                            <div ng-show="form.site.$dirty || form.site.$invalid">
                                                                <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                                   ng-show="form.site.$error.required">
                                                                    Site is required.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="panel panel-default" style="min-height: 225px;">
                                <div class="panel-heading">Manufacturer Details </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12" ng-init="loadManufacturer()">

                                            <div class="form-group selectcon is-empty">

                                                <div class="row">
                                                    <div class="col-md-10 pad-r-0px">
                                                        <label class="control-label">Manufacturer name</label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                        <select class="form-control" ng-model="selectedManufacturer" name="manufacturer" ng-options="manufacturer as manufacturer.name for manufacturer in manufacturers track by manufacturer.name" tabindex="6">
                                                            <option value="">Select Manufacturer</option>
                                                        </select>
                                                        <div ng-show="form.$submitted || form.manufacturer.$touched || form.manufacturer.$dirty">
                                                            <div ng-show="form.manufacturer.$dirty || form.manufacturer.$invalid">
                                                                <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                                   ng-show="form.manufacturer.$error.required">
                                                                    Manufacturer is required.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--    <div class="col-md-2 RightAddBtn">
                                                           <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple" data-toggle="modal"  data-target="#addManufacturer"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                       </div> -->

                                                </div>

                                            </div>
                                            <!--
                                                <div class="form-group  ">
                                                    <label class="control-label">Manufacturer name </label>
                                                    <input type="text" class="form-control"   name='manufacturername'
                                                           ng-model="inventory.manufacturerName" ng-minlength='2' ng-maxlength='50' required autocomplete="off"/>

                                                </div> -->
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Stock Information</div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-6" ng-init="loadUOM()">
                                            <div class="form-group  ">
                                                <label class="control-label">UOM<span class="red-star">*</span></label>
                                                <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                <select class="form-control" ng-model="selectedUnit" name="uom" ng-options="materialUOM for materialUOM in materialUOMs" required tabindex="8">
                                                    <option value="">Select UOM</option>
                                                </select>
                                                <div ng-show="form.$submitted || form.uom.$touched || form.uom.$dirty">
                                                    <div ng-show="form.uom.$dirty || form.uom.$invalid">
                                                        <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                           ng-show="form.uom.$error.required">
                                                            UOM is required.
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label">Store Stock<span class="red-star">*</span> </label>
                                                <input type="number" class="form-control"   name='storestock'
                                                       ng-model="editInventory.storeStock" min="0" required autocomplete="off" tabindex="9"/>
                                                <div ng-show="form.$submitted || form.storestock.$touched || form.storestock.$dirty">
                                                    <div ng-show="form.storestock.$dirty || form.storestock.$invalid">
                                                        <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                           ng-show="form.storestock.$error.required">
                                                            Store stock is required.
                                                        </p>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group  ">
                                                <label class="control-label">Min Stock<span class="red-star">*</span></label>
                                                <input type="number" class="form-control"  min="0" ng-pattern="/^[0-9]{1,7}$/" ng-change="checkMinMaxEdit()" name='minStock'
                                                       ng-model="editInventory.minimumStock"  required autocomplete="off" tabindex="10"/>
                                                <div ng-show="form.$submitted || form.minStock.$touched || form.minStock.$dirty">
                                                    <div ng-show="form.minStock.$dirty || form.minStock.$invalid">
                                                        <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                           ng-show="form.minStock.$error.required">
                                                            Min stock is required.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon" ng-show="minError">
                                                            Min stock must below max stock.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                           ng-show="form.minStock.$error.pattern">
                                                            Min stock must not negative value.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group  ">
                                                <label class="control-label">Max Stock<span class="red-star">*</span></label>
                                                <input type="number" class="form-control"  min="0" ng-pattern="/^[0-9]{1,7}$/" ng-change="checkMinMaxEdit()" name='maxStock'
                                                       ng-model="editInventory.maximumStock" required autocomplete="off" tabindex="11"/>
                                                <div ng-show="form.$submitted || form.maxStock.$touched || form.maxStock.$dirty">
                                                    <div ng-show="form.maxStock.$dirty || form.maxStock.$invalid">
                                                        <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                           ng-show="form.maxStock.$error.required">
                                                            Max stock is required.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon" ng-show="maxError">
                                                            Max stock must above min stock.
                                                        </p>
                                                        <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                           ng-show="form.itemCode.$error.pattern">
                                                            Max stock must not negative value.
                                                        </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-12">


                            <button type="button" ng-click="conform('cancel')" tabindex="13"
                                    id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                            <button type="submit" ng-disabled="form.$invalid || minError || maxError" tabindex="12"
                                    id="form-button-save" ng-class="{'running':saveLoad}" class="btn btn-success ld ld-over-inverse pull-right"><span class="btn-label">
                                        <i class="material-icons">check</i>
                                    </span>Update inventory
                                <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                            </button>

                            <div class="clearfix"></div>
                        </div>

                    </div>


                </form>
            </div>
    </div>
</div>


<!-- Add item group -->

<div id="addItemGroup" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Item Group<span class="red-star">*</span></h4>
            </div>
            <div class="modal-body">

                <form name="itemGroupForm" ng-submit="addMaterialItemGroup()" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="" id="itemgroupName"  ng-model="materialItemGroup.itemGroup"   name="itemgroupName" type="text" value="" ng-pattern="/^[A-Za-z0-9\s]*$/" required />
                            <div ng-show="itemGroupForm.$submitted || itemGroupForm.itemgroupName.$touched">
                                <div ng-show="itemGroupForm.itemgroupName.$dirty || itemGroupForm.itemgroupName.$invalid">
                                    <p class="help-block" style="color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.required">
                                       Item Group is required.
                                    </p>
                                    <p class="help-block" style="color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.maxlength">
                                        Item Group cannot be longer than 250 characters.
                                    </p>
                                    <p class="help-block" style="color:maroon"
                                       ng-show="itemGroupForm.itemgroupName.$error.pattern">
                                       Item Group can only contain letters, digits and space.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12 txt-align-center">
                            <input type="submit"    class="btn btn-success" name="add" value="Add" ng-disabled="itemGroupForm.$invalid">
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
