<div class="crud-form" ng-init="viewInventoryTrans();loadingStart();">


    <div class="margn-top30">

        <div class="row">

            <div class="col-md-6" >

                <div class="panel panel-default">
                    <div class="panel-heading">Location </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">

                                <tbody>
                                    <tr>
                                        <td>Client</td>
                                        <td>{{transactionViews.projectName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Site</td>
                                        <td>{{transactionViews.siteName}}</td>

                                    </tr>
                                    <tr ng-if="transactionViews.materialIndentRefNumber">
                                     <td>Indent Reference Number</td>
                                     <td>{{transactionViews.materialIndentRefNumber}}</td>
                                    </tr>
                                    <tr ng-if="transactionViews.purchaseRefNumber">
                                     <td>Purchase Reference Number</td>
                                     <td>{{transactionViews.purchaseRefNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">Material Details</div>
                    <div class="panel-body">


                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Item Name </td>
                                    <td>{{transactionViews.materialName}}</td>
                                </tr>
                                <tr>
                                    <td>Item Code</td>
                                    <td>{{transactionViews.materialItemCode}}</td>

                                </tr>
                                <tr>
                                    <td>Store Stock</td>
                                    <td>{{transactionViews.storeStock}}</td>

                                </tr>
                                <tr>

                                    <td>Quantity</td>
                                    <td>{{transactionViews.issuedQuantity}}</td>

                                </tr>
                                <tr>

                                    <td>Transaction Type</td>
                                    <td>{{transactionViews.transactionType}}</td>

                                </tr>
                                <tr>

                                    <td>Date </td>
                                    <td>{{transactionViews.transactionDate | date:"dd-MM-yyyy"}}</td>

                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>


            </div>
            
            
               <div class="row">
                   <div class="col-md-12 txt-align-rgt">
                       <div class="form-group">

                           <button class="btn" type="button"
                                   ui-sref="inventory-transaction-list" id="cancel-button">
                               Back
                           </button>

                       </div>
                   </div>
               </div>

        </div>


    </div>

</div>
