<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-content">
                    <ion-row>
                        <ion-col col-12>

                            <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'||eMsg=='title'}">
                                <label class="control-label">Title</label>
                                <input class="form-control" type="text" [(ngModel)]="title" id="title" name="title" #titl="ngModel" required [ngClass]="{'has-error': titl.errors || eMsg=='all'|| eMsg=='title'}">
                                <div *ngIf="titl.errors && (titl.dirty || titl.touched)" class="error-msg">

                                </div>

                                <div *ngIf="titl.errors && (titl.untouched )" class="error-msg">

                                </div>
                            </div>

                        </ion-col>

                        <ion-col col-12>
                            <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'||eMsg=='description'}">
                                <label class="control-label">Description</label>
                                <input class="form-control" type="text" [(ngModel)]="description" id="description" name="title" #desc="ngModel" required [ngClass]="{'has-error': desc.errors || eMsg=='all'|| eMsg=='description'}">
                                <div *ngIf="desc.errors && (desc.dirty || desc.touched)" class="error-msg">

                                </div>

                                <div *ngIf="desc.errors && (desc.untouched )" class="error-msg">

                                </div>
                            </div>

                        </ion-col>

                        <ion-col col-12>

                            <div class="form-group label-floating">
                                <!--<label class="control-label">Category</label>-->
                                <ion-select  [(ngModel)]="category" class="select-box  padding-left0  popover-con" interface="popover"  placeholder="Choose category">
                                    <ion-option  class="popover-con" value="HOUSEKEEPING">HOUSEKEEPING</ion-option>
                                    <ion-option class="popover-con" value="ELECTRICAL">ELECTRICAL</ion-option>
                                    <ion-option class="popover-con" value="PLUMBING">PLUMBING</ion-option>
                                    <ion-option class="popover-con" value="HVAC">HVAC</ion-option>
                                    <ion-option class="popover-con" value="CARPENTRY">CARPENTRY</ion-option>
                                    <ion-option class="popover-con" value="PESTCONTROL">PESTCONTROL</ion-option>
                                    <ion-option class="popover-con" value="MAINTENANCE">MAINTENANCE</ion-option>
                                    <ion-option class="popover-con" value="CIVIL">CIVIL</ion-option>
                                    <ion-option class="popover-con" value="GENERAL">GENERAL</ion-option>
                                    <ion-option class="popover-con" value="PANTRYSERVICES">PANTRYSERVICES</ion-option>
                                    <ion-option class="popover-con" value="ADMIN">ADMIN</ion-option>
                                </ion-select>

                            </div>


                        </ion-col>

                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label" *ngIf="siteName">Site</label>
                                <ion-select [(ngModel)]="siteName" class="select-box  padding-left0  popover-con" id="siteName"  interface="popover" placeholder="Choose Site" name="siteName" #site="ngModel" required [ngClass]="{'select-error': eMsg=='siteName'}">
                                    <ion-option *ngFor="let site of sites" [value]="site.id" (ionSelect)="getEmployee(site.id)" class="popover-con">{{site.name}}</ion-option>
                                </ion-select>

                                <div *ngIf="site.errors && (site.dirty || site.touched)" class="error-msg">

                                </div>

                                <div *ngIf="site.errors && (site.untouched )" class="error-msg">

                                </div>
                            </div>
                        </ion-col>

                        <ion-col col-12>

                            <div class="form-group label-floating">
                                <label class="control-label" *ngIf="employ">Employee</label>
                                    <ion-select [(ngModel)]="employ" [disabled]="empSelect" class="select-box padding-left0" interface="popover"  id="employ" name="employ" [placeholder]="empPlace" #emp="ngModel" required [ngClass]="{'select-error': eMsg=='employ'}">
                                        <ion-option  *ngFor="let emp of employee" [value]="emp.id" >{{emp.empId}} - {{emp.fullName}} {{emp.lastName}} - {{emp.designation}} </ion-option>
                                    </ion-select>

                                <div *ngIf="emp.errors && (emp.dirty || emp.touched)" class="error-msg">

                                </div>

                                <div *ngIf="emp.errors && (emp.untouched )" class="error-msg">

                                </div>
                            </div>
                            <!--
                            <div class="form-group label-floating">
                                <label class="control-label">Employee</label>
                                <ion-select [(ngModel)]="employ" [disabled]="empSelect" class="select-box">
                                    <ion-option *ngFor="let emp of employee" [value]="emp.id" >{{emp.fullName}}</ion-option>
                                </ion-select>
                                <span *ngIf="field==='employ' && errorMsg" class="error">{{errorMsg}}</span>
                            </div>
                            -->
                        </ion-col>

                        <!-- <ion-col col-12>
                                <label class="control-label" >TESTING Date</label>
                                
                                <ion-datetime displayFormat="h:mm a" pickerFormat="h mm a" [(ngModel)]="startTime"></ion-datetime>
                        </ion-col> -->
                        


                        <ion-col col-12>
                            <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'||eMsg=='startDate'}">
                                <label class="control-label" *ngIf="!sDate.errors">Start Date</label>

                                            

 <ion-datetime displayFormat="YYYY-MM-DD HH:mm"  class="form-control padding-left0" placeholder="Select Date" [(ngModel)]="startDate" id="startDate" name="startDate" #sDate="ngModel" required [ngClass]="{'has-error': sDate.errors || eMsg=='all'|| eMsg=='startDate'}"></ion-datetime>

 
                            
                                <div *ngIf="sDate.errors && (sDate.dirty || sDate.touched)" class="error-msg">

                                </div>

                                <div *ngIf="sDate.errors && (sDate.untouched )" class="error-msg">

                                </div>
                            </div>


                            <!--
                            <div class="form-group label-floating">
                                <label class="control-label">Start Date</label>
                                <ion-datetime displayFormat="MM/DD/YYYY" class="form-control" [(ngModel)]="startDate"></ion-datetime>
                                <span *ngIf="field==='startDate' && errorMsg" class="error">{{errorMsg}}</span>
                            </div>
                            -->
                        </ion-col>

                        <ion-col col-12>
                            <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'||eMsg=='endDate'}">
                                <label class="control-label" *ngIf="!eDate.errors">End Time</label>

                                <ion-datetime displayFormat="MM/DD/YYYY HH:mm" class="form-control padding-left0" [(ngModel)]="endDate" id="endDate" placeholder="End Date" name="endDate" #eDate="ngModel" required [ngClass]="{'has-error': sDate.errors || eMsg=='all'|| eMsg=='endDate'}"></ion-datetime>

                                <div *ngIf="eDate.errors && (eDate.dirty || eDate.touched)" class="error-msg">

                                </div>

                                <div *ngIf="eDate.errors && (eDate.untouched )" class="error-msg">

                                </div>
                            </div>
                        </ion-col>


                        <button has-permission="JobCreate" type="submit" class="btn btn-warning pull-right margin-auto" (click)="addJob()">Add</button>

                        <div class="clearfix"></div>
                    </ion-row>
                </div>
            </div>
        </div>
    </div>

</ion-content>
