<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-content">
                    <ion-row>
                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label">Title</label>
                                <input type="text" class="form-control" [(ngModel)]="title" >
                            </div>
                        </ion-col>

                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label">Description</label>
                                <input type="text" class="form-control" [(ngModel)]="description" >
                            </div>
                        </ion-col>

                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label">Site</label>
                                <ion-select [(ngModel)]="siteName" class="select-box">
                                    <ion-option *ngFor="let site of sites" [value]="site.name" (ionSelect)="getEmployee(site.id)">{{site.name}}</ion-option>
                                </ion-select>
                            </div>
                        </ion-col>

                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label">Employee</label>
                                <ion-select [(ngModel)]="employ" [disabled]="empSelect" class="select-box">
                                    <ion-option *ngFor="let emp of employee" [value]="emp.id" >{{emp.fullName}}</ion-option>
                                </ion-select>
                            </div>
                        </ion-col>

                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label">Start Date</label>
                                <ion-datetime displayFormat="MM/DD/YYYY" class="form-control" [(ngModel)]="startDate"></ion-datetime>
                            </div>
                        </ion-col>
                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label">Start Time</label>
                                <ion-datetime displayFormat="hh:mm a" class="form-control" [(ngModel)]="startTime"></ion-datetime>
                            </div>
                        </ion-col>
                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label">End Date</label>
                                <ion-datetime displayFormat="MM/DD/YYYY" class="form-control" [(ngModel)]="endDate"></ion-datetime>
                            </div>
                        </ion-col>
                        <ion-col col-12>
                            <div class="form-group label-floating">
                                <label class="control-label">End Time</label>
                                <ion-datetime displayFormat="hh:mm a" class="form-control" [(ngModel)]="endTime"></ion-datetime>
                            </div>
                        </ion-col>

                        <button type="submit" class="btn btn-warning pull-right margin-auto" (click)="addJob()">Add</button>

                        <div class="clearfix"></div>
                    </ion-row>
                </div>
            </div>
        </div>
    </div>

</ion-content>
