<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Complete Job</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list >
        <ion-row class="margin0 white-bg padding10">
            <ion-col col-6 class="label-on-left">Job Id</ion-col>
            <ion-col col-6>
                <p text-right>{{jobDetails.id}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left">Name</ion-col>
            <ion-col col-6>
                <p text-right>{{jobDetails.title}}</p>
            </ion-col>
            <ion-col col-6 class="label-on-left">Status</ion-col>
            <ion-col col-6>
                <p text-right>{{jobDetails.status}}</p>
            </ion-col>
        </ion-row>

        <ion-row class="margin-tp25 white-bg padding10">
            <ion-col col-6 class="label-on-left">
                <p class="line-height">Photo (Before)</p>
            </ion-col>
            <ion-col col-6 text-right>
                <button class="ion-button" round (click)="viewCamera('beforeJob',jobDetails)" class="camera-btn"><ion-icon name="ios-camera"></ion-icon></button>
            </ion-col>
            <ion-col *ngFor="let image of takenImages">
                <img width="200px" height="200px" [src]="image">
            </ion-col>

        </ion-row>

        <ion-row class="margin-tp25 white-bg padding10" >
                <ion-item *ngFor="let list of checkList">
                    <ion-label style="color: black">{{list.name}}</ion-label>
                    <ion-checkbox [(ngModel)]="list.name"></ion-checkbox>
                </ion-item>
        </ion-row>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar class="align-center">
        <button class="btn btn-warning center" (click)="completeJob(jobDetails,takenImages)">
            complete job
        </button>
    </ion-toolbar>
</ion-footer>