<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jobs</ion-title>
      <!--<ion-buttons right>-->
          <!--<button ion-button clear (click)="addJob()" class="add-btn">-->
              <!--<ion-icon name="add"></ion-icon>-->
          <!--</button>-->
      <!--</ion-buttons>-->
  </ion-navbar>
    <ion-toolbar transparent>
        <ion-segment [(ngModel)]="categories" class="segmnt margin-auto margin-top5" color="#ff9800">
            <ion-segment-button value="today" (click)="getTodaysJobs(false)">
                Today's Jobs
            </ion-segment-button>
            <ion-segment-button value="jobs" (click)="getAllJobs(false)">
                All Jobs
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>


</ion-header>

<ion-content padding>
    <ion-fab top right  edge>
        <button (click)="addJob()"  mini ion-fab><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <div [ngSwitch]="categories">
        <ion-list *ngSwitchCase="'today'">
            <ion-refresher (ionRefresh)="doRefresh($event,today)">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
                <div class="card" *ngFor="let job of todaysJobs" [ngClass]="{'red-card' : (job.status == 'OVERDUE'),
                                                          'green-card' : (job.status == 'COMPLETED'),
                                                          'blue-card' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}">

                    <div class="card-content padding-bottom0" >
                        <ion-row class="margin0">
                            <ion-col col-12 class="padding-right0">
                                <button ion-button icon-left icon-only clear class="pop-icon" (click)="presentActionSheet(job)">
                                    <ion-icon name="ios-more" class="fnt-12 padding0"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                        <ion-row class="margin0">
                            <ion-col col-7 class="padding-left0"><p text-left>{{job.title}}</p></ion-col>
                            <ion-col col-5 class="padding-right0">
                                <p text-right [ngClass]="{'red' : (job.status == 'OVERDUE'),
                                                          'green' : (job.status == 'COMPLETED'),
                                                          'blue' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}" >
                                    {{job.status}}
                                </p>
                            </ion-col>
                        </ion-row>
                        <p>{{job.employeeName}}</p>
                        <p>{{job.siteProjectName}} - {{job.siteName}}</p>
                    </div>


                    <div class="card-footer">
                        <div *ngIf="job.status !='COMPLETED'">
                            <p>{{job.plannedStartTime | date:'dd/MM/yyyy @ H:mm' }} - {{job.plannedEndTime | date:'dd/MM/yyyy @ H:mm' }} </p>
                        </div>
                        <div *ngIf="job.status =='COMPLETED'">
                            <p>{{job.actualStartTime | date:'dd/MM/yyyy @ H:mm' }} - {{job.actualEndTime | date:'dd/MM/yyyy @ H:mm' }} </p>
                        </div>
                        <div class="stats align-right">
                            <!--<p class="display-inline">view</p><ion-icon class="primary-clr padding-left5 fnt-12" name="arrow-forward"></ion-icon>-->
                        </div>
                    </div>
                </div>
        </ion-list>
        <ion-list *ngSwitchCase="'jobs'">

            <ion-refresher (ionRefresh)="doRefresh($event,all)">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>

            <div class="card" *ngFor="let job of allJobs" [ngClass]="{'red-card' : (job.status == 'OVERDUE'),
                                                          'green-card' : (job.status == 'COMPLETED'),
                                                          'blue-card' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}">

                    <div class="card-content padding-bottom0" >
                        <ion-row class="margin0">
                            <ion-col col-12 class="padding-right0">
                                <button ion-button icon-left icon-only clear class="pop-icon" (click)="presentActionSheet(job)">
                                    <ion-icon name="ios-more" class="fnt-12 padding0"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                        <ion-row class="margin0">
                            <ion-col col-7 class="padding-left0"><p text-left>{{job.title}}</p></ion-col>
                            <ion-col col-5 class="padding-right0">
                                <p text-right [ngClass]="{'red' : (job.status == 'OVERDUE'),
                                                          'green' : (job.status == 'COMPLETED'),
                                                          'blue' :(job.status =='OPEN' || job.status == 'ASSIGNED' || job.status == 'INPROGRESS')}" >
                                    {{job.status}}
                                </p>
                            </ion-col>
                        </ion-row>
                        <p>{{job.employeeName}}</p>
                        <p>{{job.siteProjectName}} - {{job.siteName}}</p>
                    </div>

                    <div class="card-footer">
                        <div *ngIf="job.status !='COMPLETED'">
                            <p>{{job.plannedStartTime | date:'dd/MM/yyyy @ H:mm' }} - {{job.plannedEndTime | date:'dd/MM/yyyy @ H:mm' }} </p>
                        </div>
                        <div *ngIf="job.status =='COMPLETED'">
                            <p>{{job.actualStartTime | date:'dd/MM/yyyy @ H:mm' }} - {{job.actualEndTime | date:'dd/MM/yyyy @ H:mm' }} </p>
                        </div>
                        <div class="stats align-right">
                            <!--<p class="display-inline">view</p><ion-icon class="primary-clr padding-left5 fnt-12" name="arrow-forward"></ion-icon>-->
                        </div>
                    </div>
                </div>
        </ion-list>

    </div>

</ion-content>
