page-jobs {
  ion-card img {
    width: 100% !important;
    height:100px !important;
  }
  ion-card-content {
    padding: 0px 32px !important;
    position: relative !important;
    vertical-align: center !important;
  }
  .card-md
  {
    width:100% !important;
  }

}
