<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Job Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row class="margin0 white-bg padding10">
        <ion-col col-6 class="label-on-left">Job ID</ion-col>
        <ion-col col-6>
            <p text-right>{{jobDetails.id}}</p>
        </ion-col>
        <ion-col col-6 class="label-on-left">Job Name</ion-col>
        <ion-col col-6>
            <p text-right>{{jobDetails.title}}</p>
        </ion-col>
        <ion-col col-6 class="label-on-left">Description</ion-col>
        <ion-col col-6>
            <p text-right>{{jobDetails.description}}</p>
        </ion-col>
        <ion-col col-6 class="label-on-left">Status</ion-col>
        <ion-col col-6>
            <p text-right>{{jobDetails.status}}</p>
        </ion-col>
    </ion-row>

    <ion-row></ion-row>

    <ion-row class="margin0 white-bg padding10">
        <ion-col col-6 class="label-on-left">Employee Name</ion-col>
        <ion-col col-6><p text-right>{{jobDetails.employeeName}}</p></ion-col>
        <ion-col col-6 class="label-on-left">Site Name</ion-col>
        <ion-col col-6><p text-right>{{jobDetails.siteName}}</p></ion-col>
        <ion-col col-6 class="label-on-left">Planned Start Time</ion-col>
        <ion-col col-6><p text-right><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{jobDetails.plannedStartTime | date:'MMM d, y, h:mm a'}}</p></ion-col>
        <ion-col col-6 class="label-on-left">Planned End Time</ion-col>

        <ion-col col-6><p text-right><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{jobDetails.plannedEndTime | date:'MMM d, y, h:mm a'}}</p></ion-col>
    </ion-row>

    <ion-row class="white-bg margin0 padding10" *ngIf="jobDetails.status == 'COMPLETED' ">
        <ion-col col-6 class="label-on-left">Actual Start Time</ion-col>
        <ion-col col-6><p text-right><ion-icon ios="ios-calendar" md="md-calendar" class="green padding-right10"></ion-icon>{{jobDetails.actualStartTime | date:'MMM d, y, h:mm a'}}</p></ion-col>
        <ion-col col-6 class="label-on-left">Actual End Time</ion-col>
        <ion-col col-6><p text-right><ion-icon ios="ios-calendar" md="md-calendar" class="red padding-right10"></ion-icon>{{jobDetails.actualEndTime | date:'MMM d, y, h:mm a'}}</p></ion-col>
        <ion-col col-3 *ngFor="let image of completedImages">
            <img src="{{image}}" wdith="80px" height="80px" (click)="viewImage(image)">
        </ion-col>
    </ion-row>
    <br>

    <ion-row class="white-bg margin0 padding10" *ngIf="jobDetails.ticketId !=null">
        <ion-col col-6 class="label-on-left">Ticket Id</ion-col>
        <ion-col col-6><p text-right>{{jobDetails.ticketId}}</p></ion-col>
        <ion-col col-6 class="label-on-left">Employee Name</ion-col>
        <ion-col col-6><p text-right>{{jobDetails.ticketName}}</p></ion-col>
    </ion-row>


</ion-content>

<ion-footer *ngIf="jobDetails.status !='COMPLETED'">
    <ion-toolbar class="align-right" *ngIf="jobDetails.status !='COMPLETED'">
        <button  class="btn btn-success center pull-left" (click)="gotoTicket()" >View Ticket</button>
        <button *ngIf="jobDetails.status !='COMPLETED'" class="btn btn-success center pull-right" type="submit" (click)="completeJob(jobDetails)">Complete Job</button>
    </ion-toolbar>
</ion-footer>
