<!--
  Generated template for the SiteListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Select Site</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="border" *ngIf="siteList">
        <ion-label  text-capitalize class="client-label" text-left>Search Site</ion-label>
        <select-searchable class="searchable-select"
                           item-content
                           [items]="siteList"
                           itemValueField="name"
                           itemTextField="name"
                           [canSearch]="true"
                           (onChange)="gotoEmployeeList($event)">
        </select-searchable>
      </ion-item>
  <ion-list class="emp-list" *ngIf="siteList">
    <ion-item *ngFor="let site of siteList;let i of index" class="border-btm-dotted emp">
        <ion-icon name="ios-podium-outline" item-start class="icon-color CircleIcon"></ion-icon>
      <p (click)="gotoEmployeeList(site)" text-left class="fnt-wt" text-capitalize>{{site.name}}</p>
        <ion-icon class="grey" item-end name="ios-arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

    <ion-list *ngIf="!siteList && isLoading">
        <ion-item *ngFor="let fake of fakeSiteList" class="fakeList">
            <ion-icon item-start class="header-right"></ion-icon>
            <p class="header-right"></p>
        </ion-item>
    </ion-list>

    <ion-card *ngIf="!siteList && !isLoading">
        <ion-card-content>
            <img src="assets/imgs/warning.svg">
            <span><p text-center>No Data Found</p></span>
        </ion-card-content>
    </ion-card>

  <ion-infinite-scroll *ngIf="page<totalPages"  (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
