<div class="padding10">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form [formGroup]="onboardingFamilyAcademicForm" novalidate>
                <div *ngFor="let list of onboardingFamilyAcademicForm.get('educationQualification').controls; let i = index;"
                    formArrayName="educationQualification">
                    <div class="row form-group padding0" [formGroupName]="i">
                        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                            <!-- <label class="control-label trequired">Highest Education Qualification</label> -->
                            <!-- <input class="form-control" type="text" formControlName="qualification"> -->
                            <ion-item>
                                <ion-label class="label-text trequired" stacked>Highest Qualification
                                </ion-label>
                                <ion-select interface="popover" formControlName="qualification">
                                    <ion-option value="Below 5th">Below 5th</ion-option>
                                    <ion-option value="5th to 8th">5th to 8th</ion-option>
                                    <ion-option value="9th to 10th">9th to 10th</ion-option>
                                    <ion-option value="11th to 12th">11th to 12th</ion-option>
                                    <ion-option value="Diploma">Diploma</ion-option>
                                    <ion-option value="Under Graduate">Under Graduate</ion-option>
                                    <ion-option value="Post Graduate">Post Graduate</ion-option>
                                </ion-select>
                            </ion-item>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                            <label class="control-label">Board / Institute</label>
                            <input class="form-control" type="text" formControlName="institute">
                        </div>
                    </div>
                </div>
                <!-- <div class="row from-group">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="pull-right" *ngIf="nomineeForms.length !== 3">
                            <button ion-button class="nominee"  (click)="addNominees()">
                                Add Nominee
                            </button>
                        </div>
                    </div>
                    
                </div> -->
                <div formArrayName="nomineeDetail">
                    <div class="boxShadowContent padding5" *ngFor="let list of nomineeForms.controls; let i=index"
                        [formGroupName]="i">
                        <div class="row form-group" *ngIf="i !== 0 ">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <div class="pull-right">
                                    <button class="nominee" ion-button (click)="removeNominees(i)">
                                        Remove Nominee
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                <label class="control-label trequired">Nominee Name</label>
                                <input class="form-control" type="text" formControlName="name">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                <ion-item>
                                    <ion-label class="label-text trequired" stacked>Relationship</ion-label>
                                    <ion-select interface="popover" formControlName="relationship">
                                        <ion-option *ngFor="let relationship of relationships" [value] = "relationship.title"  >{{relationship.title}}</ion-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                <label class="control-label">Contact Number</label>
                                <input class="form-control" type="number" formControlName="contactNumber">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                <label class="control-label trequired">Percentage</label>
                                <input class="form-control" type="number" formControlName="nominePercentage">
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
