<!--<script src="bower_components/jquery/dist/jquery.js"></script>-->

<div ng-cloak ng-init="loadPageTop()">

    <!--Print option at top of the page-->
    <!--<div class="txt-align-rgt margn-btm-8">-->
        <!--<button class="btn btn-success add-btn margn-tb0" ng-click="printDiv('printable')" >-->
            <!--<i class="material-icons">print</i> Print-->
        <!--</button>-->
    <!--</div>-->

    <div class="DashboardCardsCon">

        <div class="panel panel-default">
            <!--<div class="panel-heading">Panel Heading</div>-->
            <div class="panel-body">

                <div class="row" ng-init="init()">

                    <div class="col-md-4">

                        <div class="form-group">
                            <label class="label-control">From date</label>
                            <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>

                            <input type="text" class="form-control datepicker"  id="dateFilterFrom"  placeholder="{{dateFilterFrom | date:'dd-MMM-yyyy'}}"/>

                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="form-group">

                            <label class="label-control">To date</label>
                            <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                            <input type="text" class="form-control datepicker"  id="dateFilterTo" ng-model="selectedToDate"  autocomplete="off"/>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="dropdown">
                            <label class="label-control">Select Client</label>
                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                            <select class="form-control " ng-model="selectedProject" ng-change="LoadFilterProjects()" ng-options="project as project.name for project in projects" >
                                <option value="">Please select Client...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-init="init()">
                    <div class="col-md-4">
                        <div class="dropdown ">
                            <label class="label-control">Select Region</label>
                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                            <select class="form-control " ng-model="selectedRegion" ng-change="LoadFilterRegions()" ng-options="region as region.name for region in regionList">
                                <option value="">Please select Region...</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="dropdown ">
                            <label class="label-control">Select Branch</label>
                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                            <select class="form-control " ng-model="selectedBranch" ng-change="LoadFilterBranches()" ng-options="branch as branch.name for branch in branchList">
                                <option value="">Please select Branch...</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="dropdown ">
                            <label class="label-control">Select Site</label>
                            <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                            <select class="form-control " ng-model="selectedSite" ng-change="LoadFilterSites()" ng-options="site as site.name for site in sites">
                                <option value="">Please select Site...</option>
                            </select>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="panel-group" id="accordion" role="tablist"
             aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                       data-target="#collapseOne" aria-expanded="true"
                       aria-controls="collapseOne" class="collapsed">
                        <h4 class="panel-title">
                            Main <i class="material-icons">keyboard_arrow_down</i>
                        </h4>
                    </a>
                </div>
                <div id="collapseOne"
                     class="panel-collapse collapse collapseOne in" role="tabpanel"
                     aria-labelledby="headingOne" aria-expanded="true"
                     style="height: 350px;">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card blueBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">domain</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Clients</h4>
                                        <h3>{{projectCount ? projectCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card skyblueBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">location_city</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Sites</h4>
                                        <h3>{{siteCount ? siteCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card yellowBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">
                                            people_outline
                                        </i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Employees</h4>
                                        <h3>{{totalEmployeeCount ? totalEmployeeCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card lightRedBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">business_center</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Jobs</h4>
                                        <h3>{{result.totalJobCount ? result.totalJobCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <h3>Charts</h3>

                        <div class="row">

                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       data-parent="#accordion" data-target="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                        <h4 class="panel-title">
                            Jobs <i class="material-icons">keyboard_arrow_down</i>
                        </h4>
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingTwo"
                     aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card skyblueBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">business_center</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Total Jobs</h4>
                                        <h3>{{result.totalJobCount ? result.totalJobCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card yellowBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">how_to_reg</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Assigned</h4>
                                        <h3>{{result.assignedJobCount ? result.assignedJobCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card greenBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">
                                            check_circle_outline
                                        </i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Completed</h4>
                                        <h3>{{result.completedJobCount}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card lightRedBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">error_outline</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Overdue</h4>
                                        <h3>{{result.overdueJobCount}}</h3>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       data-parent="#accordion" data-target="#collapseThree"
                       aria-expanded="false" aria-controls="collapseTwo">
                        <h4 class="panel-title">
                            Attendance <i class="material-icons">keyboard_arrow_down</i>
                        </h4>
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingTwo"
                     aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card blueBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">people_outline</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Total Employees</h4>
                                        <h3>{{projectCount ? projectCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card greenBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">check_circle_outline</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Present</h4>
                                        <h3>{{siteCount ? siteCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card lightRedBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">
                                            highlight_off
                                        </i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Absent</h4>
                                        <h3>{{totalEmployeeCount ? totalEmployeeCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card yellowBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">exit_to_app</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Left</h4>
                                        <h3>{{result.totalJobCount ? result.totalJobCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       data-parent="#accordion" data-target="#collapseFour"
                       aria-expanded="false" aria-controls="collapseTwo">
                        <h4 class="panel-title">
                            Tickets <i class="material-icons">keyboard_arrow_down</i>
                        </h4>
                    </a>
                </div>
                <div id="collapseFour" class="panel-collapse collapse"
                     role="tabpanel" aria-labelledby="headingTwo"
                     aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card blueBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">domain</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Clients</h4>
                                        <h3>{{projectCount ? projectCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card skyblueBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">location_city</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Sites</h4>
                                        <h3>{{siteCount ? siteCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card yellowBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">
                                            people_outline
                                        </i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Employees</h4>
                                        <h3>{{totalEmployeeCount ? totalEmployeeCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-4">
                                <div class="card lightRedBg cardWithbg">
                                    <div class="card-header">
                                        <i class="material-icons">domain</i>
                                    </div>
                                    <div class="card-content">
                                        <h4>Jobs</h4>
                                        <h3>{{result.totalJobCount ? result.totalJobCount : 0}}</h3>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>








          <div  id="printable">


              <div class="panel panel-default" ng-if="selectedSite.id && selectedSite.id>0" has-permission="DashboardJobs:View">

                  <div class="panel-heading">Jobs</div>
                  <div class="panel-body">

                      <div class="row">

                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="orange">
                                      <i class="material-icons">work</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Total Jobs</p>
                                      <h3 class="card-title">{{result.totalJobCount ? result.totalJobCount : 0}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="blue">
                                      <i class="material-icons">work</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Assigned</p>
                                      <h3 class="card-title">{{result.assignedJobCount ? result.assignedJobCount : 0}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="green">
                                      <i class="material-icons">work</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Completed</p>
                                      <h3 class="card-title">{{result.completedJobCount}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                          <!-- <i class="material-icons">local_offer</i> Tracked from Google Analytics -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="rose">
                                      <i class="material-icons">work</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Overdue</p>
                                      <h3 class="card-title">{{result.overdueJobCount}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                          <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

              <div class="panel panel-default" ng-if="selectedProject.id && selectedProject.id>0" has-permission="DashboardAttendance:View">
                  <div class="panel-heading">Attendance</div>
                  <div class="panel-body">

                      <div class="row">

                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="orange">
                                      <i class="material-icons">schedule</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Total Employees</p>
                                      <h3 class="card-title">{{employeeCount}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="green">
                                      <i class="material-icons">schedule</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Present</p>
                                      <h3 class="card-title">{{presentCount}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="rose">
                                      <i class="material-icons">schedule</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Absent</p>
                                      <h3 class="card-title">{{absentCount}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                          <!-- <i class="material-icons">local_offer</i> Tracked from Google Analytics -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="blue">
                                      <i class="material-icons">schedule</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Left</p>
                                      <h3 class="card-title">{{leftCount ? leftCount : 0}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                          <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

              <div class="panel panel-default" ng-if="selectedProject.id && selectedProject.id>0" has-permission="DashboardTickets:View">
                  <div class="panel-heading">Tickets</div>
                  <div class="panel-body">

                      <div class="row">

                          <div class="col-lg-4 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="orange">
                                      <i class="material-icons">tab</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Total Tickets</p>
                                      <h3 class="card-title">{{overAllTicketsTotalCount}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="red">
                                      <i class="material-icons">tab</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Open Tickets</p>
                                      <h3 class="card-title">{{openTicketsTotalCount}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-6">
                              <div class="card card-stats">
                                  <div class="card-header" data-background-color="green">
                                      <i class="material-icons">tab</i>
                                  </div>
                                  <div class="card-content">
                                      <p class="category">Closed Tickets</p>
                                      <h3 class="card-title">{{closedTicketsTotalCount}}</h3>
                                  </div>
                                  <div class="card-footer">
                                      <div class="stats">
                                          <!-- <i class="material-icons">local_offer</i> Tracked from Google Analytics -->
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>

              <div id="openTicketPanel" class="panel panel-default" has-permission="DashboardTicketsChart:View" >
                  <div class="panel-heading">Open Call Tickets</div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-md-8">
                              <canvas id="bar1" class="chart chart-bar" >
                              </canvas>
                          </div>

                          <div class="col-md-4">
                              <div class="card-content">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead>
                                          <tr>
                                              <th>Range</th>
                                              <th>Count</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                              <td>{{openTicketsLabels[0]}}</td>
                                              <td class="">{{openTicketsCountArray[0]}}</td>

                                          </tr>
                                          <tr>
                                              <td>{{openTicketsLabels[1]}}</td>
                                              <td class="">{{openTicketsCountArray[1]}}</td>


                                          </tr>
                                          <tr>
                                              <td>{{openTicketsLabels[2]}}</td>
                                              <td class="">{{openTicketsCountArray[2]}}</td>


                                          </tr>
                                          <tr>
                                              <td>{{openTicketsLabels[3]}}</td>
                                              <td class="">{{openTicketsCountArray[3]}}</td>


                                          </tr>
                                          <tr>
                                              <td>{{openTicketsLabels[4]}}</td>
                                              <td class="">{{openTicketsCountArray[4]}}</td>
                                          </tr>

                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="closedTicketPanel" class="panel panel-default" has-permission="DashboardTicketsChart:View" >
                  <div class="panel-heading"> Closed Call Tickets</div>
                  <div class="panel-body">
                      <div class="row">


                          <div class="col-md-4">
                              <div class="card-content">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead>
                                          <tr>
                                              <th>Range</th>
                                              <th>Count</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                              <td>{{closedTicketsLabels[0]}}</td>
                                              <td class="">{{closedTicketsCountArray[0]}}</td>

                                          </tr>
                                          <tr>
                                              <td>{{closedTicketsLabels[1]}}</td>
                                              <td class="">{{closedTicketsCountArray[1]}}</td>


                                          </tr>
                                          <tr>
                                              <td>{{closedTicketsLabels[2]}}</td>
                                              <td class="">{{closedTicketsCountArray[2]}}</td>


                                          </tr>
                                          <tr>
                                              <td>{{closedTicketsLabels[3]}}</td>
                                              <td class="">{{closedTicketsCountArray[3]}}</td>


                                          </tr>
                                          <tr>
                                              <td>{{closedTicketsLabels[4]}}</td>
                                              <td class="">{{closedTicketsCountArray[4]}}</td>
                                          </tr>

                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-8">
                              <canvas id="bar2" class="chart chart-bar"
                                      chart-data="closedTicketsData" chart-labels="closedTicketsLabels" chart-series="closedTicketsSeries">
                              </canvas>
                          </div>

                      </div>
                  </div>
              </div>
              <div id="overallTicketPanel" class="panel panel-default" has-permission="DashboardTicketsChart:View" >
                  <div class="panel-heading">Overall Tickets</div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-md-8">
                              <canvas id="bar3" class="chart chart-bar"
                                      chart-data="overallTicketData" chart-labels="overallTicketLabels" chart-series="overallTicketSeries">
                              </canvas>
                          </div>

                          <div class="col-md-4">
                              <div class="card-content">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead>
                                          <tr>
                                              <th>Range</th>
                                              <th>Count</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                              <td>Total New Tickets</td>
                                              <td class="">{{chartsDataResponse.totalNewTicketCount}}</td>

                                          </tr>
                                          <tr>
                                              <td>Total Tickets Closed</td>
                                              <td class="">{{chartsDataResponse.totalClosedTicketCount}}</td>


                                          </tr>
                                          <tr>
                                              <td>Total tickets Pending</td>
                                              <td class="">{{chartsDataResponse.totalPendingTicketCount}}</td>


                                          </tr>
                                          <tr>
                                              <td>Total Tickets pending Due to {{chartsDataResponse.projectName}}</td>
                                              <td class="">{{chartsDataResponse.totalPendingDueToClientTicketCount}}</td>


                                          </tr>
                                          <tr>
                                              <td>Total Tickets pending due to UDS</td>
                                              <td class="">{{chartsDataResponse.totalPendingDueToCompanyTicketCount}}</td>
                                          </tr>

                                          </tbody>
                                      </table>
                                  </div>
                              </div>


                          </div>
                      </div>

                  </div>
              </div>

          </div>





     </div>




        <!-- <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">timeline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Attendance Chart </h4>
                    </div>
                    <div id="attendanceLineGraph" class="ct-chart"></div>
                </div>

            </div>

        </div> -->


    </div>



</div>
