page-employee-list{
  ion-card img {
    width: 100% !important;
    height:80px !important;
  }
  ion-card-content {
    padding: 0px 32px !important;
    position: relative !important;
    vertical-align: center !important;
  }
  .card-md {
    margin: 10px;
    border-radius: 2px;
    width: calc(106% - 20px)!important;
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
