<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f">
    <div ng-controller="TicketController" ng-init="initLoad();loadingStart();">


        <div class="col-md-8">
            <!--<h2 class="title">Add Ticket</h2>-->
        </div>


            <!--<div class="card-header" data-background-color="red">-->
                <!--<h4 class="title">Add Ticket</h4>-->
                <!--<p class="category"></p>-->
            <!--</div>-->

           <div class="cardsCon addTicketCon">
               <form ng-show="!success" name="form" role="form" novalidate
                     ng-submit="saveTicket()">

                   <div class="row">

                       <div class="col-md-6">


                           <div class="panel panel-default">
                               <div class="panel-heading">Ticket Details</div>
                               <div class="panel-body">

                                   <div class="row">

                                       <div class="col-md-12">
                                           <div class="form-group">
                                               <label class="control-label">Issue </label>

                                               <input type="text" class="form-control"   name='title'
                                                      ng-model="tickets.title" ng-minlength=1 ng-maxlength=50
                                                      autofocus  required autocomplete="off"/>
                                               <div ng-show="form.$submitted || form.title.$touched">
                                                   <div ng-show="form.title.$dirty || form.title.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.title.$error.required">
                                                           Title is required.
                                                       </p>
                                                       
                                                   </div>
                                               </div>


                                           </div>
                                       </div>
                                       <div class="col-md-12">
                                           <div class="form-group">
                                               <label class="control-label">Description </label>
                                               <input id='description' ng-model="tickets.description" class='form-control'
                                                      name='description' type='text' value=""
                                                       autofocus required/>
                                               <div ng-show="form.$submitted || form.description.$touched">
                                                   <div ng-show="form.description.$dirty || form.description.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.description.$error.required">
                                                           Description is required.
                                                       </p>
                                                       
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-md-5">
                                           <div class="form-group">
                                               <label class="control-label">Category </label>
                                               <select
                                                   required
                                                   name="category"
                                                   ng-model="tickets.category"
                                                   class="form-control searchable-input floatL">
                                                   <option value=''>Select Category</option>
                                                   <option>HOUSEKEEPING</option>
                                                   <option>ELECTRICAL</option>
                                                   <option>AC</option>
                                                   <option>CARPENTRY</option>
                                                   <option>PEST</option>
                                                   <option>PLUMBING</option>
                                                   <option>MAINTENANCE</option>
                                                   <option></option>
                                               </select>
                                               <div ng-show="form.$submitted || form.category.$touched">
                                                   <div
                                                       ng-show="form.category.$dirty || form.category.$invalid">

                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.category.$error.required">
                                                           Required
                                                   </div>
                                               </div>
                                           </div>

                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                            <label class="control-label">Severity </label>
                                            <select
                                                required
                                                name="severity"
                                                ng-model="tickets.severity"
                                                class="form-control searchable-input floatL">
                                                <option value=''>Select severity</option>
                                                <option value='1' selected>Low</option>
                                                <option value='2'>Medium</option>
                                                <option value='3'>High</option>
                                             
                                            </select>
                                        
                                            <div ng-show="form.$submitted || form.severity.$touched">
                                                <div
                                                    ng-show="form.severity.$dirty || form.severity.$invalid">

                                                    <p class="help-block" style="color:maroon"
                                                       ng-show="form.severity.$error.required">
                                                        Required
                                                </div>
                                            </div>
                                          </div>

                                        </div>

                                   </div>
                                   
                                   

                               </div>
                           </div>


                       </div>
                       <div class="col-md-6">
                        <div class="panel panel-default">
                              <div class="panel-heading">Site & Employee</div>
                          <div class="panel-body">
                           <div class="row">
                           <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Site </label>
                                        <select
                                            required
                                            ng-model="selectedSite"
                                            ng-change="loadEmployees()"
                                            class="form-control searchable-input floatL" ng-options="site as site.name for site in sites track by site.id">
                                            <option value="">Select Site</option>
                       
                                       
                                        </select>
                                    
                                        <div ng-show="form.$submitted || form.site.$touched">
                                            <div
                                                ng-show="form.site.$dirty || form.site.$invalid">

                                                <p class="help-block" style="color:maroon"
                                                   ng-show="form.site.$error.required" >
                                                    Required
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Employee </label>
                                        <select
                                            required
                                            name="employee"
                                            ng-model="selectedEmployee"
                                            class="form-control searchable-input floatL" ng-options="emp as emp.fullName for emp in employees track by emp.id">
                                            <option value="">Select Employee</option>
                                         
                                        </select>
                                    
                                        <div ng-show="form.$submitted || form.employee.$touched">
                                            <div
                                                ng-show="form.employee.$dirty || form.employee.$invalid">

                                                <p class="help-block" style="color:maroon"
                                                   ng-show="form.employee.$error.required">
                                                    Required
                                            </div>
                                        </div>
                                    </div>

                                </div>
                           </div>
                          </div>
                         </div>
                       </div>
                   </div>
                   <div class="row">
                     
                     <div class="col-md-6">
                        <div class="panel panel-default">
                              
                          <div class="panel-heading">Comments</div>
                          <div class="panel-body">
                            <div class="row">
                              
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label class="control-label">Comments</label>
                                     <input type="text" ng-model="tickets.comments" class="form-control">
                                 </div>
                             </div>
                           </div>

                         </div>
                        </div>
                     </div>
                   </div>
                  
                   <div class="row">

                       <div class="col-md-12">


                           <button type="submit" ng-click="cancelTicket()"
                                   id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                           <button type="submit" type="submit"
                                   id="form-button-save" ng-disabled="form.$invalid"  class="btn btn-success pull-right"><span class="btn-label">
                                            <i class="material-icons">check</i>
                                        </span>Create ticket</button>

                           <div class="clearfix"></div>
                       </div>

                   </div>



               </form>
           </div>


    </div>

    <div class="">
        <div class="row">
            <div class="col-mod-12">
                <div class="alert alert-success" ng-show="success">
                    <strong>Ticket saved!</strong>
                </div>
                <div class="alert alert-danger" ng-show="errorTicketsExists">
                    <strong>Ticket already registered!</strong> Please choose another one.
                </div>
                <div class="alert alert-danger" ng-show="error">
                    <strong>Ticket Not Saved!</strong> Please try again later.
                </div>
                <div class="alert alert-danger" ng-show="errorProject">
                    <strong>Invalid Client</strong> Please choose another one.
                </div>
            </div>
            <div class="col-md-12">



            </div>

        </div>
    </div>


</div>


