

<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="loadPageTop();loadingStart();editTicket();">
     <div class="row">
	    <div class="col-md-12">
	        <div class="titleCon">
	             <h3>{{title}}</h3>
	         </div>
	    </div>
    </div>
    <div  >
            <div class="cardsCon editTicketCon">
                <form ng-show="!success" name="form" role="form" novalidate
                      ng-submit="conform('update')"  >

					<div class="row">

                       <div class="col-md-6">


                           <div class="panel panel-default">
                               <div class="panel-heading">Ticket Details</div>
                               <div class="panel-body">

                                   <div class="row">

                                       <div class="col-md-12">
                                           <div class="form-group">
                                               <label class="control-label">Title<span class="red-star">*</span> </label>

                                               <input type="text" class="form-control InputTxtCapsAll"   name='title'
                                                      ng-model="tickets.title" ng-minlength=1 ng-maxlength=100
                                                      autofocus  required autocomplete="off" tabindex="1" />
                                               <div ng-show="form.$submitted || form.title.$touched">
                                                   <div ng-show="form.title.$dirty || form.title.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.title.$error.required">
                                                           Title is required.
                                                       </p>

                                                   </div>
                                               </div>


                                           </div>
                                       </div>
                                       <div class="col-md-12">
                                           <div class="form-group">
                                               <label class="control-label">Description<span class="red-star">*</span> </label>
                                               <input id='description' ng-model="tickets.description" class='form-control InputTxtCaps'
                                                      name='description' type='text' value="" ng-maxlength=250
                                                      ng-pattern="/^[A-Za-z0-9\s&-/]*$/"
                                                       autofocus required tabindex="4" />
                                               <div ng-show="form.$submitted || form.description.$touched">
                                                   <div ng-show="form.description.$dirty || form.description.$invalid">
                                                       <p class="help-block" style="width:100%;z-index:996;background:#fff;color:maroon"
                                                          ng-show="form.description.$error.required">
                                                           Description is required.
                                                       </p>
                                                       <p class="help-block" style="width:100%;z-index:998;background:#fff;color:maroon"
                                                          ng-show="form.description.$error.maxlength">
                                                           Description cannot be longer than 250
                                                           characters.
                                                       </p>
                                                       <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                          ng-show="form.description.$error.pattern">
                                                           Description contain letters and space.
                                                       </p>

                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-md-5">
                                           <div class="form-group">
                                               <label class="control-label">Category<span class="red-star">*</span> </label>
                                               <span class="form-control-feedback d-md-arrow-icon"><i class="material-icons" tabindex="5">keyboard_arrow_down</i></span>
                                               <select
                                                   required
                                                   name="category"
                                                   ng-model="tickets.category"
                                                   class="form-control searchable-input floatL">
                                                   <option value=''>Select Category</option>
                                                   <option>HOUSEKEEPING</option>
                                                   <option>ELECTRICAL</option>
                                                   <option>HVAC</option>
                                                   <option>CARPENTRY</option>
                                                   <option>PESTCONTROL</option>
                                                   <option>PLUMBING</option>
                                                   <option>MAINTENANCE</option>
                                                   <option>CIVIL</option>
                                                   <option>GENERAL</option>
                                                   <option>PANTRYSERVICES</option>
                                                   <option>ADMIN</option>
                                               </select>
                                               <div ng-show="form.$submitted || form.category.$touched">
                                                   <div
                                                       ng-show="form.category.$dirty || form.category.$invalid">

                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.category.$error.required">
                                                           Required
                                                   </div>
                                               </div>
                                           </div>

                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                            <label class="control-label">Severity<span class="red-star">*</span> </label>
                                            <span class="form-control-feedback d-md-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                            <select
                                                required
                                                name="severity"
                                                ng-model="tickets.severity"
                                                class="form-control searchable-input floatL" tabindex="6">
                                                <option value=''>Select severity</option>
                                                <option value='Low' selected>Low</option>
                                                <option value='Medium'>Medium</option>
                                                <option value='High'>High</option>

                                            </select>

                                            <div ng-show="form.$submitted || form.severity.$touched">
                                                <div
                                                    ng-show="form.severity.$dirty || form.severity.$invalid">

                                                    <p class="help-block" style="color:maroon"
                                                       ng-show="form.severity.$error.required">
                                                        Required
                                                </div>
                                            </div>
                                          </div>

                                        </div>

                                   </div>

                                   <div class="row">
                                       <div class="col-md-4">
                                           <div class="radio">
                                               <label>
                                                   <input type="radio" name="optionsRadios" ng-model="tickets.pendingStatus" value="pendingAtUDS" ng-checked="tickets.pendingAtUDS" tabindex="7"> Pending At UDS
                                               </label>
                                           </div>
                                       </div>

                                       <div class="col-md-4">
                                           <div class="radio">
                                               <label>
                                                   <input type="radio" name="optionsRadios" ng-model="tickets.pendingStatus" value="pendingAtClient" tabindex="8"> Pending At {{tickets.siteProjectName}}
                                               </label>
                                           </div>
                                       </div>
                                   </div>



                               </div>
                           </div>


                       </div>
                       <div class="col-md-6" >
                        <div class="panel panel-default">
                              <div class="panel-heading">Site & Employee</div>
                          <div class="panel-body">
                           <div class="row">
                           <div class="col-md-6" ng-init="loadSites();">
                                    <div class="form-group">
                                        <label class="control-label">Site<span class="red-star">*</span> </label>
                                        <span ng-show="siteSpin && !sites"  class="form-control-feedback d-md-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                        <span ng-show="!siteSpin" class="form-control-feedback d-md-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

                                        <select
                                            ng-model="selectedSite"
                                            name="site"
                                            ng-change="loadEmployees();loadAssets()"
                                            class="form-control searchable-input floatL" ng-options="site as site.name for site in sites track by site.id" required tabindex="2" ng-disabled="true">
                                            <option value="">Select Site</option>


                                        </select>

                                        <div ng-show="form.$submitted || form.site.$touched">
                                            <div
                                                ng-show="form.site.$dirty || form.site.$invalid">

                                                <p class="help-block" style="color:maroon"
                                                   ng-show="form.site.$error.required" >
                                                    Required
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Employee </label>
                                        <span ng-show="empSpin && !employees"  class="form-control-feedback d-md-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                        <span ng-show="!empSpin" class="form-control-feedback d-md-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>
                                        <select
                                            name="employee"
                                            ng-model="selectedEmployee"
                                            class="form-control searchable-input floatL" ng-options="emp as emp.name + ' ' + emp.lastName group by emp.designation for emp in employees track by emp.id" tabindex="3">
                                            <option value="">Select Employee</option>

                                        </select>

                                        <div ng-show="form.$submitted || form.employee.$touched">
                                            <div
                                                ng-show="form.employee.$dirty || form.employee.$invalid">

                                                <p class="help-block" style="color:maroon"
                                                   ng-show="form.employee.$error.required">
                                                    Required
                                            </div>
                                        </div>
                                    </div>

                                </div>
                           </div>
                          </div>
                         </div>
                       </div>

                       <div class="col-md-6" has-permission="Asset:List">
                        <div class="panel panel-default">
                              <div class="panel-heading">Assets</div>
                          <div class="panel-body">
                           <div class="row">
                           <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Name of Asset</label>
                                        <span class="form-control-feedback d-md-arrow-icon" ng-hide="siteAssetList"><i class="material-icons">keyboard_arrow_down</i></span>
                                        <span  class="form-control-feedback d-md-arrow-icon orange-color" ng-show="siteAssetList"><i class="ld ld-ring ld-spin" ></i></span>
                                        <select
                                            required
                                            name="asset"
                                            ng-model="selectedAsset" ng-disabled="siteAssetList"
                                            class="form-control searchable-input floatL" ng-options="asset as asset.title for asset in assets | orderBy:'title' track by asset.id" tabindex="9">
                                            <option value="">Select Asset</option>
                                        </select>
                                       <!--  <input id='assetId' ng-model="assetObj.title" class='form-control' ng-show="assetObj"
                                                      name='description' type='text' value="assetName"
                                                       readOnly/> -->

                                    </div>

                                </div>

                           </div>
                          </div>
                         </div>
                       </div>
                   </div>
                   <div class="row">

                     <div class="col-md-6">
                        <div class="panel panel-default">

                          <div class="panel-heading">Comments</div>
                          <div class="panel-body">
                            <div class="row">

                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label class="control-label">Comments</label>
                                     <input type="text" ng-model="tickets.comments" class="form-control" tabindex="10">
                                 </div>
                             </div>
                           </div>

                         </div>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <div class="panel panel-default">

                          <div class="panel-heading">Upload Document/Image</div>
                          <div class="panel-body">
                            <div class="row">

			                     <div class="col-md-6">
			                      <div class="form-group label-floating" >
			                      	<div class="pdng-top13" >
			                          <input type="file"
			                                 class="form-control" style="opacity:100;position:relative" file-model
			                                 ng-model="selectedImageFile"
			                                 name="ImageFile" tabindex="11"
			                          />


              							<a id="images" href="#" onClick="$('#myModalNew').modal()" ng-show="extension === 'jpg' || extension === 'jpeg' || extension === 'png'" data-target="#myModalNew" data-dismiss="#myModalNew" ng-click="loadTicketImage(ticketImage,tickets.id)">
                 							<img src={{ticketImage}} width="100px" style="margin-top: 15px;" height="100px"/>
             							</a>

             							<a id="images" href="{{ticketImage}}" ng-hide="extension === 'jpg' || extension === 'jpeg' || extension === 'png'">
                 							<img ng-src="assets/img/{{extension}}.png" style="margin-top: 15px;" width="100px" height="100px"/>
             							</a>



			                      	</div>
			                       </div>
			                     </div>
			                </div>
						</div>
					</div>
                   </div>
                   </div>
                    <div class="row">

                        <div class="col-md-12">


                            <button type="button" ng-click="conform('back')"
                                    id="cancel-button"   class="btn btn-default pull-right" ng-disabled="btnDisable" tabindex="12"> Back</button>

                            <!--<button type="submit" type="submit"-->
                                    <!--id="form-button-save" ng-disabled="form.$invalid"  class="btn btn-success pull-right"><span class="btn-label">-->
                                        <!--<i class="material-icons">check</i>-->
                                    <!--</span>Update ticket</button>-->

                            <button class="btn btn-success ld ld-over-inverse pull-right" ng-class="{'running':saveLoad}"
                                    type="submit" id="form-button-save" ng-disabled="form.$invalid || btnDisable" tabindex="13">
                                <span class="btn-label"><i class="material-icons">check</i></span> Update ticket
                                <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                            </button>


                            <div class="clearfix"></div>
                        </div>

                    </div>
                </form>
            </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-mod-12">
            <div class="alert alert-success" ng-show="success">
                <strong>Ticket saved!</strong>
            </div>
            <div class="alert alert-danger" ng-show="errorTicketsExists">
                <strong>Ticket already registered!</strong> Please choose another one.
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>Ticket Not Saved!</strong> Please try again later.
            </div>
            <div class="alert alert-danger" ng-show="errorProject">
                <strong>Invalid Client</strong> Please choose another one.
            </div>
        </div>
        <div class="col-md-12">



        </div>

    </div>
</div>


<div id="myModalNew" class="modal fade" data-backdrop="false"  role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <table >
                        <thead>
                        <tr >
                            <th style="text-align: center">Ticket Image</th>

                        </tr>
                        </thead>
                        <tr>

                            <td><img id="ticketImage" width="250" height="250" src="#"
                                     class="img-responsive"></td>
                        </tr>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



