

<div class="crud-form"
     data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="initLoad();loadingStart();">
    <div class="col-md-8">
        <!--<h3 class="title">Edit ticket</h3>-->
    </div>

    <div ng-controller="TicketController" ng-init="editTicket();">
            <div class="cardsCon editTicketCon" ng-init="loadTicket()">
                <form ng-show="!success" name="form" role="form" novalidate
                      ng-submit="updatedTicket()"  >
                    
					<div class="row">

                       <div class="col-md-6">


                           <div class="panel panel-default">
                               <div class="panel-heading">Ticket Details</div>
                               <div class="panel-body">

                                   <div class="row">

                                       <div class="col-md-12">
                                           <div class="form-group">
                                               <label class="control-label">Title </label>

                                               <input type="text" class="form-control"   name='title'
                                                      ng-model="tickets.title" ng-minlength=1 ng-maxlength=50
                                                      autofocus  required autocomplete="off"/>
                                               <div ng-show="form.$submitted || form.title.$touched">
                                                   <div ng-show="form.title.$dirty || form.title.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.title.$error.required">
                                                           Title is required.
                                                       </p>
                                                       
                                                   </div>
                                               </div>


                                           </div>
                                       </div>
                                       <div class="col-md-12">
                                           <div class="form-group">
                                               <label class="control-label">Description </label>
                                               <input id='description' ng-model="tickets.description" class='form-control'
                                                      name='description' type='text' value=""
                                                       autofocus required/>
                                               <div ng-show="form.$submitted || form.description.$touched">
                                                   <div ng-show="form.description.$dirty || form.description.$invalid">
                                                       <p class="help-block" style="color:maroon"
                                                          ng-show="form.description.$error.required">
                                                           Description is required.
                                                       </p>
                                                       
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                            <label class="control-label">Severity </label>
                                            <select
                                                required
                                                name="severity"
                                                ng-model="tickets.severity"
                                                class="form-control searchable-input floatL">
                                                <option value=''>Select severity</option>
                                                <option value='1' selected>Low</option>
                                                <option value='2'>Medium</option>
                                                <option value='3'>High</option>
                                             
                                            </select>
                                        
                                            <div ng-show="form.$submitted || form.severity.$touched">
                                                <div
                                                    ng-show="form.severity.$dirty || form.severity.$invalid">

                                                    <p class="help-block" style="color:maroon"
                                                       ng-show="form.severity.$error.required">
                                                        Required
                                                </div>
                                            </div>
                                          </div>

                                        </div>

                                   </div>
                                   
                                   

                               </div>
                           </div>


                       </div>
                       <div class="col-md-6">
                        <div class="panel panel-default">
                              <div class="panel-heading">Site & Employee</div>
                          <div class="panel-body">
                           <div class="row">
                           <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Site </label>
                                        <select
                                            required
                                            ng-model="selectedSite"
                                            name=""
                                            ng-change="loadEmployees()"
                                            ng-init="selectedSite = selected"
                                            class="form-control searchable-input floatL" ng-options="site as site.name for site in sites">
                                            <option value="">Select Site</option>
                       
                                       
                                        </select>
                                    
                                        <div ng-show="form.$submitted || form.site.$touched">
                                            <div
                                                ng-show="form.site.$dirty || form.site.$invalid">

                                                <p class="help-block" style="color:maroon"
                                                   ng-show="form.site.$error.required" >
                                                    Required
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Employee </label>
                                        <select
                                            required
                                            name="employee"
                                            ng-model="selectedEmployee"
                                            ng-init="selectedEmployee = selected"
                                            class="form-control searchable-input floatL" ng-options="emp as emp.fullName for emp in employees">
                                            <option value="">Select Employee</option>
                                         
                                        </select>
                                    
                                        <div ng-show="form.$submitted || form.employee.$touched">
                                            <div
                                                ng-show="form.employee.$dirty || form.employee.$invalid">

                                                <p class="help-block" style="color:maroon"
                                                   ng-show="form.employee.$error.required">
                                                    Required
                                            </div>
                                        </div>
                                    </div>

                                </div>
                           </div>
                          </div>
                         </div>
                       </div>
                   </div>
                   <div class="row">
                     
                     <div class="col-md-6">
                        <div class="panel panel-default">
                              
                          <div class="panel-heading">Comments</div>
                          <div class="panel-body">
                            <div class="row">
                              
                             <div class="col-md-6">
                                 <div class="form-group">
                                     <label class="control-label">Comments</label>
                                     <input type="text" ng-model="tickets.comments" class="form-control">
                                 </div>
                             </div>
                           </div>

                         </div>
                        </div>
                     </div>
                   </div>
                    <div class="row">

                        <div class="col-md-12">


                            <button type="submit" ng-click="cancelTicket()"
                                    id="cancel-button"   class="btn btn-danger pull-right"> <i class="material-icons">close</i> Cancel</button>

                            <button type="submit" type="submit"
                                    id="form-button-save" ng-disabled="form.$invalid"  class="btn btn-success pull-right"><span class="btn-label">
                                        <i class="material-icons">check</i>
                                    </span>Update ticket</button>

                            <div class="clearfix"></div>
                        </div>

                    </div>
                </form>
            </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-mod-12">
            <div class="alert alert-success" ng-show="success">
                <strong>Ticket saved!</strong>
            </div>
            <div class="alert alert-danger" ng-show="errorTicketsExists">
                <strong>Ticket already registered!</strong> Please choose another one.
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>Ticket Not Saved!</strong> Please try again later.
            </div>
            <div class="alert alert-danger" ng-show="errorProject">
                <strong>Invalid Client</strong> Please choose another one.
            </div>
        </div>
        <div class="col-md-12">



        </div>

    </div>
</div>






<!--<div class="crud-form"-->
<!--data-unique-hash="a2ad475d60b22954085c657a73309b8f">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->

<!--<div class="titleCon">-->
<!--<h3>Edit Ticket</h3>-->
<!--</div>-->

<!--<div class="form-container table-container" ng-init="loadTicket()">-->
<!--<form ng-show="!success" name="form" role="form" novalidate-->
<!--ng-submit="updateTicket()"  class="form-horizontal">-->
<!--<div class="form-group">-->
<!--<label class="col-sm-3 control-label"> ID </label>-->
<!--<div class="col-sm-2">-->
<!--<input id='ticketID' ng-model="ticket.id" class='form-control'-->
<!--name='ticketID' type='text' maxlength='50' readonly />-->
<!--</div>-->
<!--</div>-->


<!--<div class="form-group" ng-init="loadProjects()">-->
<!--<label class="col-sm-3 control-label"> Project </label>-->
<!--<div class="col-sm-5">-->
<!--<div class="dropdown">-->
<!--<input id="projectName" type="text" class="form-control" placeholder="Enter project name"  ng-value="ticket.projectName" name="projectName"-->
<!--ng-model="selectedProject" uib-typeahead="project as project.name for project in projects | filter:$viewValue | limitTo:5"-->
<!--ng-minlength=2 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/" autofocus required autocomplete="off"-->
<!--/>-->
<!--<div ng-show="form.$submitted || form.projectName.$touched">-->
<!--<div ng-show="form.projectName.$dirty || form.projectName.$invalid">-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.projectName.$error.required">-->
<!--Project name is required.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.projectName.$error.minlength">-->
<!--Project name is required to be at least 2 character.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.projectName.$error.maxlength">-->
<!--Project name cannot be longer than 50 characters.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.projectName.$error.pattern">-->
<!--Project name can only contain letters, digits and space.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group ">-->
<!--<label class="col-sm-3 control-label"> Name </label>-->
<!--<div class="col-sm-5">-->
<!--<input id="ticketName" ng-model="ticket.name" class="form-control"-->
<!--name="ticketName" type="text"-->
<!--ng-minlength=1 ng-maxlength=50 ng-pattern="/^[A-Za-z0-9\s&-/]*$/"  required/>-->
<!--<div ng-show="form.$submitted || form.ticketName.$touched">-->
<!--<div ng-show="form.ticketName.$dirty || form.ticketName.$invalid">-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.ticketName.$error.required">-->
<!--Ticket name is required.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.ticketName.$error.minlength">-->
<!--Ticket name is required to be at least 5 character.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.ticketName.$error.maxlength">-->
<!--Ticket name cannot be longer than 50 characters.-->
<!--</p>-->
<!--<p class="help-block" style="color:maroon"-->
<!--ng-show="form.ticketName.$error.pattern">-->
<!--Ticket name can only contain letters, digits and space.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class='small-loading hidden' id='FormLoading'>Loading,-->
<!--saving data...</div>-->

<!--<div class="form-group">-->
<!--<div id='report-error' class='report-div error bg-danger'-->
<!--style="display: none"></div>-->
<!--<div id='report-success' class='report-div success bg-success'-->
<!--style="display: none"></div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-offset-3 col-sm-7">-->
<!--<button class="btn btn-default btn-success b10" type="submit"-->
<!--id="form-button-save" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-check" ></i> Save-->
<!--</button>-->
<!--<button class="btn btn-info b10" type="submit"-->
<!--id="save-and-go-back-button" ng-disabled="form.$invalid">-->
<!--<i class="fa fa-rotate-left" ></i> Save and go back to list-->
<!--</button>-->
<!--<button class="btn btn-default cancel-button b10" type="button"-->
<!--ng-click="cancelTicket()" id="cancel-button">-->
<!--<i class="fa fa-warning"></i> Cancel-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
