<div class="crud-form"
	data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="loadingStart();">
	<div class="" ng-init="editTicket();">
		<div class="row">
        	<div class="col-md-12">

                <div class="titleCon">
                    <!--<h3>View Job</h3>-->
                </div>

				<div class="form-container table-container">
					<form ng-show="!success" name="form" role="form" novalidate
						class="form-horizontal">




                        <div class="row">

                            <div class="col-md-4">

                                <div class="panel panel-default">
                                    <div class="panel-heading">Ticket Details</div>
                                    <div class="panel-body">


                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Issue</td>
                                                    <td>{{tickets.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Description</td>
                                                    <td>{{tickets.description}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Severity</td>
                                                    <td>
                                                        
                                                     {{tickets.severity}}
                                                    
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>
                                                        
                                                     {{tickets.status}}
                                                    
                                                    </td>

                                                </tr>                                             


                                                </tbody>
                                            </table>
                                        </div>



                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4">

                                <div class="panel panel-default">
                                    <div class="panel-heading">Site & Employee</div>
                                    <div class="panel-body">


                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Site</td>
                                                    <td>{{selectedSite.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Employee</td>
                                                    <td>{{selectedEmployee.name}}</td>

                                                </tr>
                                          
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4">
	                            <div class="panel panel-default">
	                                    <div class="panel-heading">Image</div>
	                                    <div class="panel-body">
	
	
	                                        <div class="table-responsive">
	                                            <table class="table">
	                                                <tbody>
	                                                <tr>
	                                                    <td>Image</td>
	                                                    <td>
	                                    						<a id="images" href="#" onClick="$('#myModalNew').modal()" data-target="#myModalNew" data-dismiss="#myModalNew" ng-click="loadTicketImage(ticketImage,tickets.id)">
                                        							<img  src={{ticketImage}} width="100px" height="100px" />
                                    							</a>
	                                                    </td>
	                                                </tr>
	                                                </tbody>
	                                            </table>
	                                        </div>
	
	                                    </div>
	                                </div>
                            </div>
                            
                            <div class="col-md-4">

                                <div class="panel panel-default">
                                    <div class="panel-heading">Comments </div>
                                    <div class="panel-body">

                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Comments</td>
                                                    <td>{{tickets.Comments}}</td>
                                                </tr>
                                                

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>

                        



                        <!--<div class="titleCon">-->
                            <!--<h5>Actual Start and End</h5>-->
                        <!--</div>-->






						<!-- Start of hidden inputs -->
						<!-- End of hidden inputs -->

						<div class='small-loading hidden' id='FormLoading'>Loading,
							saving data...</div>

						<div class="form-group">
							<div id='report-error' class='report-div error bg-danger'
								style="display: none"></div>
							<div id='report-success' class='report-div success bg-success'
								style="display: none"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 txt-align-rgt">

								<button class="btn btn-default " type="button"
									ui-sref="tickets" id="cancel-button">
									<i class=""></i> Back
								</button>
								<a ng-if="(tickets.status != 'Closed')" ng-class="{active: $state.includes('admin')}"   ng-click="closeTicket(tickets.id)"   onClick="$('#deleteModalNew').modal()" data-target="#myModal"   class="btn btn-simple btn-info">close ticket</a>
                                 <a ng-if="tickets.status == 'Closed'"class="btn btn-simple btn-info">Reopen ticket</a>								
							</div>
						</div>
					</form>
					<script type="text/javascript">
					$('.form-control').attr('readonly',true)
					</script>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Ticket Close confirmation dialog -->
<div id="deleteModalNew" class="delete-confirmation modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Close Ticket</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to close ticket?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-success delete-confirmation-button" ng-click="closeTicketConfirm(cTicket)">Close Ticket</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Ticket Close confirmation dialog -->

<div id="myModalNew" class="modal fade" data-backdrop="false" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <table >
                        <thead>
                        <tr >
                            <th style="text-align: center">Ticket Image</th>

                        </tr>
                        </thead>
                        <tr>

                            <td><img id="ticketImage" width="250" height="250" src="#"
                                     class="img-responsive"></td>
                        </tr>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
