
<div class="crud-form"
	data-unique-hash="a2ad475d60b22954085c657a73309b8f">
	<div class="">

		<div class="row">
            <!-- <div class="col-mod-12">
                <div class="alert alert-success" ng-show="success">
                    <strong>Project saved!</strong>
                </div>

                <div class="alert alert-danger" ng-show="error">
                    <strong>Project Not Saved!</strong> Please try again later.
                </div>
                <div class="alert alert-danger" ng-show="errorProjectExists">
                    <strong>Project already registered!</strong> Please choose another one.
                </div>
            </div> -->
			<div class="col-md-12">
				<div class="form-container table-container cardsCon">
					<form ng-show="!success" name="form" role="form" novalidate
						ng-submit="conform('save')"  class="form-horizontal">

                        <div class="row">
                            <div class="col-md-6">

                                <div class="panel panel-default">
                                    <div class="panel-heading">Client Name and Location</div>
                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="control-label">Name<span class="red-star">*</span></label>
                                                    <input id='projectName' ng-model="project.name"
                                                           class='form-control InputTxtCapsAll' name='projectName' type='text' value=""
                                                           ng-minlength='2' ng-maxlength='50' ng-pattern="/^[A-Za-z0-9\s&-/]*$/"  tabindex="1" autofocus required/>
                                                    <div ng-show="form.$submitted || form.projectName.$touched || form.projectName.$dirty">
                                                        <div ng-show="form.projectName.$dirty || form.projectName.$invalid">
                                                            <p class="help-block"  style="width:100%;z-index:940;background:#fff;color:maroon"
                                                               ng-show="form.projectName.$error.required">
                                                                Client name is required.
                                                            </p>
                                                            <p class="help-block"  style="width:100%;z-index:960;background:#fff;color:maroon"
                                                               ng-show="form.projectName.$error.minlength">
                                                                Client name is required to be at least 2 character.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                               ng-show="form.projectName.$error.maxlength">
                                                                Client name cannot be longer than 50 characters.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                               ng-show="form.projectName.$error.pattern">
                                                                Client name can only contain letters, digits and space.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="control-label">Address <span class="red-star">*</span></label>
                                                    <input id='address' ng-model="project.address" class='form-control InputTxtCaps'
                                                           name='address' type='text' value=""
                                                           ng-maxlength=100
                                                           ng-pattern="/^[A-Za-z0-9\s&-/]*$/" tabindex="4" required/>
                                                    <div ng-show="form.$submitted || form.address.$touched || form.address.$dirty">
                                                        <div ng-show="form.address.$dirty || form.address.$invalid">
                                                            <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                               ng-show="form.address.$error.required">
                                                                Address is required.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                               ng-show="form.address.$error.maxlength">
                                                                Address cannot be longer than 100 characters.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                               ng-show="form.address.$error.pattern">
                                                                Address can only contain letters, numbers and space.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        
                                       <div class="form-group selectcon is-empty" ng-init="loadClientGroup()">

                                               <div class="row">
                                                   <div class="col-md-10 pad-r-0px">
                                                        <label class="control-label">Group</label>
                                                        <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                       <select class="form-control" ng-model="selectedClientGroup" ng-options="clientgroup as clientgroup.clientgroup | uppercase for clientgroup in clientGroups"  tabindex="7">
                                                           <option value="">Select Client Group ..</option>
                                                       </select>

                                                   </div>

                                                   <div class="col-md-2 pdng-top25">
                                                      <!--  <a href="javascript:void(0)"  data-toggle="collapse" data-parent="#accordian" data-target="#addGroup" class="btn btn-round btn-fab btn-fab-mini btn-simple" aria-expanded="false" aria-controls="collapseExample">
                                                           <i class="material-icons">add</i>
                                                       </a> -->
                                                       <a  has-permission="" class="btn btn-round btn-fab btn-fab-mini btn-simple"  onClick="$('#addGroup').modal()" data-target="#myModal"><i class="material-icons">add</i><div class="ripple-container" ></div></a>
                                                   </div>
                                               </div>

                                      
                                       </div>

                                    </div>
                                </div>


                            </div>
                            <div class="col-md-6">

                                <div class="panel panel-default">
                                    <div class="panel-heading">Contact Info</div>
                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">First Name</label>
                                                    <input id='projectContactFirstName' ng-model="project.contactFirstName"
                                                           class='form-control InputTxtCaps' name='projectContactFirstName'  type='text' value=""
                                                           ng-minlength='2' ng-maxlength='50' ng-pattern="/^[A-Za-z0-9\s&-/]*$/" tabindex="2" autofocus />
                                                    <div ng-show="form.$submitted || form.projectContactFirstName.$touched || form.projectContactFirstName.$dirty">
                                                        <div ng-show="form.projectContactFirstName.$dirty || form.projectContactFirstName.$invalid">
                                                            <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                               ng-show="form.projectContactFirstName.$error.required">
                                                                Contact first name is required.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                               ng-show="form.projectContactFirstName.$error.minlength">
                                                                Contact first name is required to be at least 2 character.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                               ng-show="form.projectContactFirstName.$error.maxlength">
                                                                Contact first name cannot be longer than 50 characters.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                               ng-show="form.projectContactFirstName.$error.pattern">
                                                                Contact first name can only contain letters, digits and space.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Last Name</label>
                                                    <input id='projectContactLastName' ng-model="project.contactLastName"
                                                           class='form-control InputTxtCaps' name='projectContactLastName' type='text' value=""
                                                           ng-minlength='2' ng-maxlength='50' ng-pattern="/^[A-Za-z0-9\s&-/]*$/" tabindex="3" autofocus />
                                                    <div ng-show="form.$submitted || form.projectContactLastName.$touched || form.projectContactLastName.$dirty">
                                                        <div ng-show="form.projectContactLastName.$dirty || form.projectContactLastName.$invalid">
                                                            <p class="help-block" style="width:100%;z-index:940;background:#fff;color:maroon"
                                                               ng-show="form.projectContactLastName.$error.required">
                                                                Contact last name is required.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                               ng-show="form.projectContactLastName.$error.minlength">
                                                                Contact last name is required to be at least 2 character.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                               ng-show="form.projectContactLastName.$error.maxlength">
                                                                Contact last name cannot be longer than 50 characters.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                               ng-show="form.projectContactLastName.$error.pattern">
                                                                Contact last name can only contain letters, digits and space.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Phone</label>
                                                    <input id='phone' ng-model="project.phone"
                                                           class='form-control' name='phone' type='phone' value=""
                                                           ng-minlength='10' ng-maxlength='13' ng-pattern="/^[0-9]*$/" tabindex="5" autofocus />
                                                    <div ng-show="form.$submitted || form.phone.$touched || form.phone.$dirty">
                                                        <div ng-show="form.phone.$dirty || form.phone.$invalid">
                                                            <p class="help-block" style="width:100%;z-index:960;background:#fff;color:maroon"
                                                               ng-show="form.phone.$error.required">
                                                                Contact phone no. is required.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:980;background:#fff;color:maroon"
                                                               ng-show="form.phone.$error.minlength">
                                                                Contact phone no. is required to be at least 10 numbers.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:990;background:#fff;color:maroon"
                                                               ng-show="form.phone.$error.maxlength">
                                                                Contact phone no. cannot be longer than 13 numbers.
                                                            </p>
                                                            <p class="help-block" style="width:100%;z-index:1000;background:#fff;color:maroon"
                                                               ng-show="form.phone.$error.pattern">
                                                                Contact phone no. can only contain + , - ,numbers and space.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Email</label>
                                                    <input id='email' ng-model="project.email"
                                                           class='form-control' name='email' type='email' value=""  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                           tabindex="6" ng-maxlength='50' autofocus />
                                                    <div ng-show="form.$submitted || form.email.$touched || form.email.$dirty">
                                                        <div ng-show="form.email.$dirty || form.email.$invalid">
                                                            <p class="help-block" style="color:maroon"
                                                               ng-show="form.email.$error.required">
                                                                Contact email is required.
                                                            </p>
                                                            <p class="help-block" style="color:maroon"
                                                               ng-show="form.email.$error.pattern">
                                                                Contact email is invalid.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>


                            </div>
                        </div>

						<div class="row">
                              <div class="col-md-4 col-md-offset-8 txt-align-rgt">
                                  <div class="form-group">
                                      <button class="btn btn-success ld ld-over-inverse" ng-class="{'running':saveLoad}" type="submit"
                                              id="form-button-save" ng-disabled="form.$invalid || btnDisable" tabindex="8">
                                          <span class="btn-label"><i class="material-icons">check</i></span> Save
                                          <i class="ld ld-ring ld-spin" ng-show="saveLoad"></i>
                                      </button>


                                      <!--<button class="btn btn-danger" type="button"-->
                                              <!--ng-click="cancelProject()" id="cancel-button">-->
                                          <!--<i class="material-icons">close</i> Cancel-->
                                      <!--</button>-->

                                      <!--<button class="btn btn-danger" type="button"
                                              ng-click="conform('cancel')" id="cancel-button" ng-disabled="btnDisable">
                                          <i class="material-icons">close</i> Discard
                                      </button>-->

                                      <button class="btn btn-danger" type="button"
                                              ng-click="conform('cancel')" id="cancel-button" ng-disabled="btnDisable" tabindex="9">
                                              <i class="material-icons">close</i> Cancel
                                      </button>



                                  </div>
                              </div>
                          </div>


						<!--<div class="form-group ">-->
							<!--<label class="col-sm-3 control-label"> State </label>-->
							<!--<div class="col-sm-5">-->
								<!--<input id='state' ng-model="project.state" class='form-control'-->
									<!--name='state' type='text' value=""-->
									<!--ng-maxlength=50-->
									<!--/>-->
								<!--<div ng-show="form.$submitted || form.state.$touched">-->
			                    	<!--<div ng-show="form.state.$dirty || form.state.$invalid">-->
			                        <!--<p class="help-block" style="color:maroon"-->
			                               <!--ng-show="form.state.$error.maxlength">-->
			                            <!--State cannot be longer than 200 characters.-->
			                        <!--</p>-->

			                    	<!--</div>-->
		                    	<!--</div>-->
							<!--</div>-->
							<!--</div>-->
						<!--<div class="form-group ">-->
							<!--<label class="col-sm-3 control-label"> Address </label>-->
							<!--<div class="col-sm-5">-->
								<!--<textarea id='projectName' ng-model="project.address"-->
									<!--class='form-control'-->
									<!--name='address'-->
									<!--ng-maxlength='2500' >-->
									<!--</textarea>-->
							  <!--<div ng-show="form.$submitted || form.address.$touched">-->
		                    	<!--<div ng-show="form.address.$dirty || form.address.$invalid">-->
		                        <!--&lt;!&ndash; <p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.projectName.$error.pattern">-->
		                            <!--Project name can only contain letters, digits and space.-->
		                    	<!--</p> &ndash;&gt;-->
		                    	<!--</div>-->
		                    <!--</div>-->

							<!--</div>-->
						<!--</div>-->
						<!--<div class="form-group ">-->
							<!--<label class="col-sm-3 control-label"> Geo location </label>-->
							<!--<div class="col-sm-9">-->

								<!--<div ng-show="form.$submitted || form.geo.$touched">-->
		                    	<!--<div ng-show="form.geo.$dirty || form.geo.$invalid">-->
		                        <!--&lt;!&ndash; <p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.projectName.$error.pattern">-->
		                            <!--Project name can only contain letters, digits and space.-->
		                    	<!--</p> &ndash;&gt;-->
		                    	<!--</div>-->
		                    <!--</div>-->

							<!--<map-coords lat="project.addressLat" lng="project.addressLng"></map-coords>-->

							<!--</div>-->
						<!--</div>-->

						<!--<div class="form-group ">-->
							<!--<label class="col-sm-3 control-label">Phone</label>-->
							<!--<div class="col-sm-5">-->
								<!--<input ng-model="project.phone"-->
									<!--class='form-control'-->
									<!--name='phone'-->
									<!--ng-minlength=8-->
									<!--ng-maxlength='20' >-->
									<!--</input>-->
							  <!--<div ng-show="form.$submitted || form.phone.$touched">-->
		                    	<!--<div ng-show="form.phone.$dirty || form.phone.$invalid">-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.phone.$error.required">-->
		                            <!--Phone is required.-->
		                        <!--</p>-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.phone.$error.minlength">-->
		                            <!--Phone is required to be at least 5 character.-->
		                        <!--</p>-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.phone.$error.maxlength">-->
		                            <!--Phone cannot be longer than 20 characters.-->
		                        <!--</p>-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.phone.$error.pattern">-->
		                            <!--Phone can only contain digits-->
		                    	<!--</p>-->
		                    	<!--</div>-->
		                    <!--</div>-->

							<!--</div>-->
						<!--</div>-->

						<!--<div class="form-group ">-->
							<!--<label class="col-sm-3 control-label">Email</label>-->
							<!--<div class="col-sm-5">-->
								<!--<input ng-model="project.email"-->
									<!--class='form-control'-->
									<!--name='email'-->
									<!--ng-minlength=8-->
									<!--ng-maxlength='200' >-->
									<!--</input>-->
							  <!--<div ng-show="form.$submitted || form.email.$touched">-->
		                    	<!--<div ng-show="form.email.$dirty || form.email.$invalid">-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.email.$error.required">-->
		                            <!--Email is required.-->
		                        <!--</p>-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.email.$error.minlength">-->
		                            <!--Email is required to be at least 5 character.-->
		                        <!--</p>-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.email.$error.maxlength">-->
		                            <!--Email cannot be longer than 200 characters.-->
		                        <!--</p>-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.email.$error.pattern">-->
		                            <!--Invalid Email Format-->
		                    	<!--</p>-->
		                    	<!--</div>-->
		                    <!--</div>-->

							<!--</div>-->
						<!--</div>-->

						<!--<div class="form-group ">-->
							<!--<label class="col-sm-3 control-label">Start Date</label>-->
							<!--<div class="col-sm-5">-->
								<!--<p class="input-group">-->
									<!--<input ng-model="project.startDate" class='form-control'-->
										<!--name='startDate' datetime-picker="dd-MMM-yyyy HH:mm"-->
										<!--is-open="calendar.start" /> <span-->
										<!--class="input-group-btn">-->
										<!--<button type="button" class="btn btn-default"-->
											<!--ng-click="openCalendar($event, 'start')">-->
											<!--<i class="fa fa-calendar"></i>-->
										<!--</button>-->
									<!--</span>-->
								<!--</p>-->
								<!--<div ng-show="form.$submitted || form.startDate.$touched">-->
									<!--<div ng-show="form.startDate.$dirty || form.startDate.$invalid">-->
										<!--<p class="help-block" style="color: maroon"-->
											<!--ng-show="form.startDate.$error.required">-->
											<!--Start Date is required.</p>-->

										<!--<p class="help-block" style="color: maroon"-->
											<!--ng-show="form.startDate.$error.pattern">Invalid Date-->
											<!--Format</p>-->
									<!--</div>-->
								<!--</div>-->

							<!--</div>-->
						<!--</div>-->

						<!--<div class="form-group ">-->
							<!--<label class="col-sm-3 control-label">End Date</label>-->
							<!--<div class="col-sm-5">-->
								<!--<p class="input-group">-->
									<!--<input ng-model="project.endDate" class='form-control'-->
										<!--name='endDate' datetime-picker="dd-MMM-yyyy HH:mm"-->
										<!--is-open="calendar.end" /> <span-->
										<!--class="input-group-btn">-->
										<!--<button type="button" class="btn btn-default"-->
											<!--ng-click="openCalendar($event, 'end')">-->
											<!--<i class="fa fa-calendar"></i>-->
										<!--</button>-->
									<!--</span>-->
								<!--</p>-->
								<!--<div ng-show="form.$submitted || form.endDate.$touched">-->
		                    	<!--<div ng-show="form.endDate.$dirty || form.endDate.$invalid">-->
		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.endDate.$error.required">-->
		                            <!--End Date is required.-->
		                        <!--</p>-->

		                        <!--<p class="help-block" style="color:maroon"-->
		                               <!--ng-show="form.endDate.$error.pattern">-->
		                            <!--Invalid Date Format-->
		                    	<!--</p>-->
		                    	<!--</div>-->
		                    <!--</div>-->

							<!--</div>-->
						<!--</div>-->




						<!-- Start of hidden inputs -->
						<!-- End of hidden inputs -->

						<div class='small-loading hidden' id='FormLoading'>Loading,
							saving data...</div>

						<div class="form-group">
							<div id='report-error' class='report-div error bg-danger'
								style="display: none"></div>
							<div id='report-success' class='report-div success bg-success'
								style="display: none"></div>
						</div>

					</form>
				</div>

            </div>

        </div>
    </div>

</div>


<!-- Add asset group dialog -->

<div id="addGroup" class="add-input-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Client Group</h4>
            </div>
            <div class="modal-body">

                <form name="addGroupForm">
                    <div class="row">
                        <div class="col-md-12">
	                        <div class="form-group">
			                    <label class="control-label">Client Group<span class="red-star">*</span></label>
	                            <input class="" id="assetgroupName" ng-model="clientGroup.clientgroup"   name="assetgroupName" type="text" value="" ng-required="true" ng-maxlength='250'
	                            ng-pattern="/^[A-Za-z0-9\s]*$/" />
	                            <div ng-show="addGroupForm.$submitted || addGroupForm.assetgroupName.$touched || addGroupForm.assetgroupName.$dirty">
	                                <div ng-show="addGroupForm.assetgroupName.$dirty || addGroupForm.assetgroupName.$invalid">
	                                    <p class="help-block" style="color:maroon"
	                                       ng-show="addGroupForm.assetgroupName.$error.required">
	                                       Client Group is required.
	                                    </p>
	                                    <p class="help-block" style="color:maroon"
	                                       ng-show="addGroupForm.assetgroupName.$error.maxlength">
	                                        Client Group cannot be longer than 250 characters.
	                                    </p>
	                                    <p class="help-block" style="color:maroon"
	                                       ng-show="addGroupForm.assetgroupName.$error.pattern">
	                                       Client Group can only contain letters, digits and space.
	                                    </p>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 txt-align-center">
                            <input type="submit" ng-click="addClientGroup()" data-dismiss="modal" class="btn btn-success" name="add" value="Add" ng-disabled="addGroupForm.$invalid">
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>
<!-- Add asset group dialog -->
