<div ng-init="initLoad()">

    <!--<div class="row TopButtonsCon">-->
        <!--<div class="col-md-12 txt-align-rgt">-->
                <!--<button ui-sref="add-project" class="btn btn-success align-left"> <i class="material-icons padding-right5">add</i>ADD<div class="ripple-container"></div></button>-->
                <!--<button ng-click="refreshPage()" class="btn btn-warning align-left"> <i class="material-icons padding-right5">refresh</i>Reload<div class="ripple-container"></div></button>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-12">
            <div class="card margin-TB-5 tablecard appModuleCard">

                <div class="card-content">
                    <div class="row" ng-init="loadProjectsList();">
                        <div class="col-md-12">
                            <div class="card formcard">
                                <div class="card-content">
                                     <form name="searchForm"  ng-submit="searchFilter();" novalidate >

                                        <div class="row" >
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group no-padding" >
                                                    <div class="dropdown">
                                                        <div class="form-group">
                                                            <label class="control-label">Select Client</label>
                                                             <span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>
                                                            <select class="form-control " ng-model="selectedProject"  ng-options="project as project.name for project in projectsList">
                                                                <option value="">Select Client...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                             <div class="col-xs-12 col-md-8 pad10px">
                                                <div class="floatR form-group pull-right">
                                                    <button type="submit" class="btn btn-circle blue-clr">
                                                        <i class="material-icons">search</i>
                                                    </button>
                                                    <button ui-sref="add-project" has-permission="Project:Create"  ng-class="{active: $state.includes('admin')}"  class="btn btn-circle green-clr">
                                                        <i class="material-icons">add</i>
                                                    </button>
                                                    <button ng-click="refreshPage()" class="btn btn-circle orange-clr">
                                                        <i class="material-icons">refresh</i>
                                                    </button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                         </div>
                    </div>
                </div>




                <div class="table-responsive tablecard">
                        <table class="table table-striped">

                            <thead>
                            <tr>
                                <th width="6%">ID
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('id')" ng-class="isActiveAsc ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('id')" ng-class="isActiveDesc ? 'active' : ''" >
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                    </th>
                                <th>Name
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('name')">
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('name')">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>Address

                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('address')">
                                             <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('address')">
                                            <i  class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                   </th>
                                <th width="15%">Contact Person
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('contactFirstName')">
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                         <span ng-click="columnDescOrder('contactFirstName')">
                                            <i  class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                   </th>
                                <th>Phone
                                    <span class="sortingIcons">
                                        <span>
                                             <i ng-click="columnAscOrder('phone')" class="fa fa-caret-up"></i>
                                        </span>
                                         <span>
                                             <i ng-click="columnDescOrder('phone')" class="fa fa-caret-down"></i>
                                         </span>
                                    </span>
                                    </th>
                                <th>Email

                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('email')">
                                             <i  class="fa fa-caret-up"></i>
                                        </span>
                                          <span ng-click="columnDescOrder('email')">
                                              <i  class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                    </th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="project in projects">
                                <td>{{project.id}}</td>
                                <td>{{project.name}}</td>
                               <td>{{project.address}}</td>
                               <td>{{project.contactFirstName}} {{project.contactLastName}}</td>
                               <td>{{project.phone}}</td>
                               <td>{{project.email}}</td>
                                <td class="text-right">

                                    <a  ng-class="{active: $state.includes('admin')}"  has-permission="Project:Edit" ui-sref="edit-project({ id: project.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                    <!-- <a ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN"  ng-click="deleteConfirm(project)"  onClick="$('#deleteModal').modal()" data-target="#myModal"   class="btn btn-simple btn-danger"><i class="material-icons">close</i></a> -->


                                </td>

                            </tr>



                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->

    <div class="card margin-TB-5 txt-align-center" ng-hide="projects">

        <div class="card-content">
            <div class="" style="text-align:center;padding: 10px 0;" ng-hide="projectsLoader">
                <div loader-css="ball-pulse"></div>
            </div>

            <h3>No data Found</h3>

        </div>

    </div>

    <!-- Pagination directive start -->

    <pagination-new></pagination-new>

    <!-- Pagination directive end -->

</div>



<!-- Delete confirmation dialog -->
<div id="deleteModal" class="delete-confirmation modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button"
                        class="btn btn-danger delete-confirmation-button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete confirmation dialog -->

<!-- Delete Multiple confirmation dialog -->
<div class="delete-multiple-confirmation modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure that you want to delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel</button>
                <button type="button"
                        class="btn btn-danger delete-multiple-confirmation-button"
                        ng-click="deleteProject()">
                    Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete Multiple confirmation dialog -->



