<div class="crud-form ViewContentPageCon" >


    <div class="row">
        <div class="col-md-12">
            <div class="titleCon margn-btm-12">
                <h3>{{project.name | uppercase}}</h3>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-init="loadProject()">
        <div class="panel-body">
            <div class="row">

                <div class="col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Client Name and Location</div>
                        <div class="panel-body" style="min-height: 225px;">

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>ID</td>
                                        <td>{{project.id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Client Name</td>
                                        <td>{{project.name | uppercase}}</td>
                                    </tr>

                                    <tr>
                                        <td>Address</td>
                                        <td >{{project.address}}</td>
                                    </tr>

                                    <tr>
                                        <td>Client Group</td>
                                        <td >
                                            <span style="text-transform: capitalize" ng-if='project.clientGroup'>{{project.clientGroup}}</span>
                                            <span style="text-transform: capitalize" ng-if='!project.clientGroup'>-</span>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">

                    <div class="panel panel-default">
                        <div class="panel-heading">Contact Info</div>
                        <div class="panel-body" style="min-height: 225px;">

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>First Name</td>
                                        <td><span style="text-transform: capitalize" ng-if='project.contactFirstName'>{{project.contactFirstName}}</span><span ng-if='!project.contactFirstName'>-</span></td>
                                    </tr>
                                    <tr>
                                        <td>Last Name</td>
                                        <td><span style="text-transform: capitalize" ng-if='project.contactLastName'>{{project.contactLastName}}</span><span ng-if='!project.contactLastName'>-</span></td>
                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td><span ng-if='project.phone'>{{project.phone}}</span><span ng-if='!project.phone'>-</span></td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><span ng-if='project.email'>{{project.email}}</span><span ng-if='!project.email'>-</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                </div>

            </div>



            <div class="row">

                <div class="col-md-12 txt-align-rgt">
                    <button class="btn btn-default" type="button"
                            ng-click="back('cancel')" id="close-button-right">
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>
