<div class="crud-form" >
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="titleCon">
                    <h3>View Project</h3>
                </div>
				<div class="form-container table-container" ng-init="loadProject()">
					<form ng-show="!success" name="form" role="form"
						class="form-horizontal">
						<div class="form-group ">
							<label class="col-sm-3 control-label"> ID </label>
							<div class="col-sm-2">
								<input id='projectID' ng-model="project.id" class='form-control'
									name='projectID' type='text' maxlength='50' readonly />
							</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label"> Name </label>
							<div class="col-sm-5">
								<input id='projectName' ng-model="project.name"
									class='form-control' name='projectName' type='text'
									maxlength='50' readonly/>
							</div>
						</div>
						<div class="form-group ">
							<label class="col-sm-3 control-label"> Country </label>
							<div class="col-sm-5">
								<input id='country' ng-model="project.country" class='form-control'
									name='country' type='text' value=""
									readonly/>
							</div>
						</div>

<!--
						<div class="form-group ">
							<label class="col-sm-3 control-label"> State </label>
							<div class="col-sm-5">
								<input id='state' ng-model="project.state" class='form-control'
									name='state' type='text' value=""
									readonly
									/>

							</div>
							</div>
						<div class="form-group ">
							<label class="col-sm-3 control-label"> Address </label>
							<div class="col-sm-5">
								<textarea id='projectName' ng-model="project.address"
									class='form-control'
									name='address' readonly
									ng-maxlength='2500' >
									</textarea>


							</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Phone</label>
							<div class="col-sm-5">
								<input ng-model="project.phone"
									class='form-control'
									name='phone'
								readonly >
									</input>

							</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Email</label>
							<div class="col-sm-5">
								<input ng-model="project.email"
									class='form-control'
									name='email'
									readonly >
									</input>
							  </div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Start Date</label>
							<div class="col-sm-5">
								<input ng-model="project.startDate"
									class='form-control' datetime-picker="dd-MMM-yyyy HH:mm"
									name='startDate' readonly
							 >
									</input>


							</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">End Date</label>
							<div class="col-sm-5">
								<input ng-model="project.endDate"
									class='form-control'
									name='endDate' readonly datetime-picker="dd-MMM-yyyy HH:mm"
									 >
									</input>
							</div>
						</div>
 -->

						<!-- Start of hidden inputs -->
						<!-- End of hidden inputs -->

						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-7">
								<button class="btn btn-default close-button-right b10" type="button"
									ng-click="cancelProject()" id="close-button-right">
									<i class="fa fa-warning"></i> Back
								</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

</div>
