<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="content">
    <div class="logo">
        <img> src='{{static '/config/logo.png'}}' </img>
    </div>


    <table style="border: none !important;">
        <tr>
            <td style="border: none !important;">{{siteName}}</td>
            <td style="border: none !important;">Date</td>
        </tr>
        <tr>
            <td style="border: none !important;">Manager Name</td>
            <td style="border: none !important;">Client Name</td>
        </tr>
    </table>

    <table>
        <tr>
            <th class="text-center">Type</th>
            <th class="text-center">Name</th>
            <th class="text-center">Rate</th>
            <th class="text-center">No</th>
            <th class="text-center">Total</th>
        </tr>
        {{#rateCardDetails}}
        <tr>
            <td>{{rateCardDetails.type}}</td>
            <td>{{rateCardDetails.title}}</td>
            <td>{{rateCardDetails.rate}}</td>
            <td>{{rateCardDetails.qty}}</td>
            <td>{{rateCardDetails.unitPrice}}</td>
        </tr>
        {{/rateCardDetails}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td style="border: none !important;">Grand Total</td>
            <td style="border: none !important;">{{grandTotal}}</td>
        </tr>
    </table>

</div>

</body>
</html>