<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="content">
    <div class="logo">
        <img src="/config/logo.png">
    </div>
    <div class="header">
        <div class="header-left">
            <p>Site Name</p>
            <p>Manager Name</p>
        </div>
        <div class="header-right">
            <p>Date</p>
            <p>Client Name</p>
        </div>
    </div>
    <div class="clear"></div>


    <table>
        <tr>
            <th class="text-center">Type</th>
            <th class="text-center">Name</th>
            <th class="text-center">Rate</th>
            <th class="text-center">No</th>
            <th class="text-center">Total</th>
        </tr>
        <tr>
            <td>Peter</td>
            <td>Griffin</td>
            <td>$100</td>
            <td>Griffin</td>
            <td>$100</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="border">Grand Total</td>
            <td class="border">$100</td>
        </tr>

    </table>

</div>




</body>
</html>