<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">


    <style type="text/css">





    </style>

</head>
<body>

<div class="content">
    <!--<div class="logo">-->
        <!--<img> src='{{static '/config/logo.png'}}' </img>-->
    <!--</div>-->


    <!--<table style="border: none !important;">-->
        <!--<tr>-->
            <!--<td style="border: none !important;">{{siteName}}</td>-->
            <!--<td style="border: none !important;">Date</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td style="border: none !important;">Manager Name</td>-->
            <!--<td style="border: none !important;">Client Name</td>-->
        <!--</tr>-->
    <!--</table>-->

    <!--<table>-->
        <!--<tr>-->
            <!--<th class="text-center">Type</th>-->
            <!--<th class="text-center">Name</th>-->
            <!--<th class="text-center">Rate</th>-->
            <!--<th class="text-center">No</th>-->
            <!--<th class="text-center">Total</th>-->
        <!--</tr>-->
        <!--{{#rateCardDetails}}-->
        <!--<tr>-->
            <!--<td>{{rateCardDetails.type}}</td>-->
            <!--<td>{{rateCardDetails.title}}</td>-->
            <!--<td>{{rateCardDetails.rate}}</td>-->
            <!--<td>{{rateCardDetails.qty}}</td>-->
            <!--<td>{{rateCardDetails.unitPrice}}</td>-->
        <!--</tr>-->
        <!--{{/rateCardDetails}}-->
        <!--<tr>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td style="border: none !important;">Grand Total</td>-->
            <!--<td style="border: none !important;">{{grandTotal}}</td>-->
        <!--</tr>-->
    <!--</table>-->

    <div class="QuoteCon">

         <div class="header">

             <div style="float: left">

                 <h4>Updater Services (P) Limited (UDS)</h4>

                 <p># 2/302A, UDS Salai, <br>
                     Off Old Mahabalipuram Road,<br>
                     Thoraipakkam, Chennai - 600 097 (TN)</p>

             </div>
             <div style="float: right">

                 <div class="logo">
                       <img src="http://www.uds.in/images/logo.jpg">
                 </div>


             </div>
             <div style="clear: both;"></div>

         </div>

          <div class="CustomerDetails">

              <div style="float: left">

                  <h4>Name</h4>

                  <p># 2/302A, UDS Salai, <br>
                      Off Old Mahabalipuram Road,<br>
                      Thoraipakkam, Chennai - 600 097 (TN)</p>

              </div>
              <div style="float: right">

                 <table cellpadding="5" cellspacing="0" border="0">
                     <tr>
                         <td style="border: none;font-weight: bold">Quote</td>
                         <td style="border: none">0034</td>
                     </tr>
                     <tr>
                         <td style="border: none;font-weight: bold">Date</td>
                         <td style="border: none">01/03/2018</td>
                     </tr>
                     <tr>
                         <td style="border: none;font-weight: bold">P.O.C</td>
                         <td style="border: none">01/03/2018</td>
                     </tr>
                     <tr>
                         <td style="border: none;font-weight: bold">P.O.C</td>
                         <td style="border: none">01/03/2018</td>
                     </tr>
                 </table>


              </div>
              <div style="clear: both;"></div>

          </div>

          <div class="ItemsListCon">


              <table cellpadding="10" cellspacing="0" border="0">
                  <thead>
                  <tr>
                      <th>QTY</th>
                      <th>Description</th>
                      <th>Unite Price</th>
                      <th>Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                      <td>1</td>
                      <td>Desc 1</td>
                      <td align="right">500</td>
                      <td align="right">500</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Desc 1</td>
                      <td align="right">500</td>
                      <td align="right">500</td>
                  </tr>
                  <tr>
                      <td>3</td>
                      <td>Desc 1</td>
                      <td align="right">500</td>
                      <td align="right">500</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>Desc 1</td>
                      <td align="right">500</td>
                      <td align="right">500</td>
                  </tr>
                  </tbody>
                  <tfoot>
                      <tr align="right">
                          <td style="border: none;"></td>
                          <td style="border: none;"></td>
                          <td style="font-weight: bold">SubTotal</td>
                          <td style="font-weight: bold">500</td>
                      </tr>
                      <tr align="right">
                          <td style="border: none;"></td>
                          <td style="border: none;"></td>
                          <td style="font-weight: bold">Tax</td>
                          <td style="font-weight: bold">50</td>
                      </tr>
                      <tr align="right">
                          <td style="border: none;"></td>
                          <td style="border: none;"></td>
                          <td style="font-weight: bold">Total</td>
                          <td style="font-weight: bold">500</td>
                      </tr>
                  </tfoot>




              </table>



          </div>



    </div>



</div>

</body>
</html>