page-create-quotation-step2
{
  .fab[mini] {
    margin: 8px;
    width: 35px;
    height: 35px;
    line-height: 40px;
  }
  .fab ion-icon
  {
    font-size:19px !important;
  }
  .clr-green
  {
    color:green !important;
  }
  .popover-md .popover-content
  {
    margin-bottom:0px !important;
  }

}