<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Add-Quotation</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
            <div class="row">
                <div class="col-md-10">
                    <form id="LoginValidation">
                    <div class="card">
                        <div class="card-content">
                            <ion-row padding>
                                    <ion-col col-12>
                                        <div class="form-group label-floating" [ngClass]="{'has-error': eMsg=='all'||eMsg=='title'}">
                                            <label class="control-label">Title</label>
                                            <input class="form-control" type="text" [(ngModel)]="title" id="title" name="title" #titl="ngModel" required [ngClass]="{'has-error': titl.errors || eMsg=='all'|| eMsg=='title'}">
                                            <div *ngIf="titl.errors && (titl.dirty || titl.touched)" class="error-msg">

                                            </div>

                                            <div *ngIf="titl.errors && (titl.untouched )" class="error-msg">

                                            </div>
                                        </div>

                                    </ion-col>

                                    <ion-col col-12>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Description</label>
                                            <input type="text" class="form-control" [(ngModel)]="description" name="description" required="true">
                                        </div>
                                    </ion-col>

                            </ion-row>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
</ion-content>

<ion-footer>
    <ion-toolbar class="align-center" >
        <button class="btn btn-warning center margin-auto" type="submit" (click)="saveQuotation(title,description)">
            Next<ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
    </ion-toolbar>
</ion-footer>
