<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Add Quotation</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab bottom right>
        <button mini (click)="addRates($event)"  ion-fab><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <div padding-top="">
        <div class="padding-left15">
            <p class="clr-black">Site Name</p>
        </div>
        <div class="white-bg">

            <div padding>
                <!--<input type="text"  [(ngModel)]="viewSiteName" (click)="openSite()">-->
                <p *ngIf="selectedSite" (click)="openSite()" >{{selectedSite}}</p>
            </div>
            <div *ngFor="let site of allSites;let i=index" >
                <p *ngIf="i!=0 && openSites" padding-left (click)="viewSite(site.name)">{{site.name}}</p>
            </div>
        </div>
        <div class="padding-left15 padding-top15">
            <p class="clr-black">Quotation</p>
        </div>
        <div class="white-bg padding-left15">
            <ion-row class="bottom-border margin0 ">
                <ion-col col-4>
                    <p>Type</p>
                </ion-col>
                <ion-col col-4>
                    <p>Name</p>
                </ion-col>
                <ion-col col-4>
                    <p>Total</p>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let rate of rates;let i = index ">
                <ion-col col-4>
                    <p>{{rate.type}}</p>
                </ion-col>
                <ion-col col-4>
                    <p>{{rate.name}}</p>
                </ion-col>
                <ion-col col-4>
                    <p>{{rate.total}}</p>
                    <p (click)="openDiv()">d</p>
                </ion-col>

                <ion-col col-12 *ngIf="open">
                    <tr>
                        <td class=""><p>Cost</p></td>
                        <td class=""><p>{{rate.cost}}</p></td>
                    </tr>
                    <tr>
                        <td class=""><p>No</p></td>
                        <td class=""><p><input type="number" class="form-control align-center width15" [(ngModel)]="rate.no" (change)="addTotal(i,rate.no,rate.cost)"></p></td>
                    </tr>
                    <tr>
                        <td class="text-center"><p>UOM</p></td>
                        <td class="text-center table-data"><p>{{rate.uom}}</p></td>
                    </tr>
                    <tr>
                        <td class="text-center">{{rate.type}}</td>
                        <td class="text-center table-data">{{rate.name}}</td>
                    </tr>
                    <tr>
                        <p><i class="material-icons clr-red" (click)="remove(i)">close</i></p>
                    </tr>
                </ion-col>
            </ion-row>
        </div>

        <div class="padding-left15">
            <p class="clr-black">Quotation Images</p>
        </div>
        <div class="white-bg margin-bottom15">
            <ion-row class="margin-right15 margin-left15">
                <ion-col col-12 text-center class="padding-top5">
                    <button class="ion-button" round (click)="viewCamera()" class="camera-btn"><ion-icon name="ios-camera"></ion-icon></button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 *ngFor="let image of takenImages;let i of index" class="">
                    <img [src]="image" class="job-img margin-bottom25" (click)="viewImage(i,image)">
                </ion-col>
            </ion-row>
        </div>

        <div class="padding-left15">
            <p class="clr-black">Issue Images</p>
        </div>

        <div class="white-bg">
            <ion-row class="margin-right15 margin-left15">
                <ion-col col-6 class="label-on-left padng-left0 ver-center padding-top15">
                    <p class="" *ngIf="takenImages?.length!=0">Issue Images</p>
                    <p class="" *ngIf="takenImages?.length==0">No Images</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 *ngFor="let image of quotationImg;let i of index" class="">
                    <img [src]="image" class="job-img margin-bottom25" (click)="viewImage(i,image)">
                </ion-col>
            </ion-row>
        </div>

    </div>

    <ion-col col-10>
        <div class="card-content white-bg">
                <div class="form-group label-floating width80 margin-auto padding-bottom3">
                    <ion-select [selectOptions]="selectOptions" interface="popover" style="color: black" [(ngModel)]="selectedSite" class="select-box" placeholder="Choose Site">
                        <ion-option style="color: black;" *ngFor="let site of allSites" [value]="site.name" (ionSelect)="selectSite(site)" >{{site.name}}</ion-option>
                    </ion-select>
                </div>
        </div>
    </ion-col>

    <div class="card-content white-bg">
        <div class="table-responsive">
            <table class="table table-scroll">
                <thead>
                <tr>
                    <th class="text-center">Type</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Rate</th>
                    <th class="text-center">No</th>
                    <th class="text-center">Uom</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let rate of rates;let i = index ">
                    <td class="text-center">{{rate.type}}</td>
                    <td class="text-center table-data">{{rate.name}}</td>
                    <td class="text-center">{{rate.cost}}</td>
                    <td class="text-center">
                        <input type="number" class="form-control align-center width15" [(ngModel)]="rate.no" (change)="addTotal(i,rate.no,rate.cost)">
                    </td>
                    <td class="text-center">{{rate.uom}}</td>
                    <td class="text-center">{{rate.total}}</td>
                    <td class="td-actions text-center">
                        <i class="material-icons clr-red" (click)="remove(i)">close</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">Grand Total</td>
                    <td class="text-center">{{grandTotal}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar class="align-right" >0
        <button class="btn btn-warning center pull-left"  >
            Save
        </button>
        <button class="btn btn-success center pull-right" (click)="saveRates()">
            Submit <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
    </ion-toolbar>
</ion-footer>