<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Sent </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="IonList">
        <div *ngIf="quotations?.length==0" class="align-center margin-top20">
            <ion-card>
                <ion-card-content>
                    <img src="assets/imgs/warning.svg">
                    <span><p text-center>No Data Found</p></span>
                </ion-card-content>
            </ion-card>
        </div>
        <ion-item *ngFor="let quotation of quotations;let i of index" class="border-btm-dotted emp QuotationListContent" (click)="viewQuotation(quotation)">
            <ion-icon name="arrow-round-forward" class="clr-blue" item-start></ion-icon>
           {{quotation.title}}
          <ion-icon class="grey fnt-24" name="ios-arrow-forward-outline" item-end></ion-icon>

        </ion-item>
    </ion-list>
</ion-content>
