<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Quotation </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--<ion-fab bottom right>-->
        <!--<button mini  ion-fab><ion-icon name="ios-create"></ion-icon></button>-->
    <!--</ion-fab>-->
    <ion-row class="margin0 white-bg padding10">
        <!--<ion-col col-6 class="label-on-left">Quotation Id</ion-col>-->
        <!--<ion-col col-6>-->
        <!--<p text-right>{{quotation.id}}</p>-->
        <!--</ion-col>-->
        <ion-col col-6 class="label-on-left">Title</ion-col>
        <ion-col col-6 *ngIf="quotation.title">
            <p text-right>{{quotation.title}}</p>
        </ion-col>
        <ion-col col-6 class="label-on-left">Description</ion-col>
        <ion-col col-6 *ngIf="quotation.description">
            <p text-right>{{quotation.description}}</p>
        </ion-col>
        <ion-col col-6 *ngIf="quotation.clientName" class="label-on-left">Client Name</ion-col>
        <ion-col col-6 *ngIf="quotation.clientName">
            <p text-right>{{quotation.clientName}}</p>
        </ion-col>

        <ion-col col-6 *ngIf="quotation.siteId" class="label-on-left">Site Id</ion-col>
        <ion-col col-6 *ngIf="quotation.siteId">
            <p text-right>{{quotation.siteId}}</p>
        </ion-col>

        <ion-col col-6 *ngIf="quotation.siteName" class="label-on-left">Site Name</ion-col>
        <ion-col col-6 *ngIf="quotation.siteName">
            <p text-right>{{quotation.siteName}}</p>
        </ion-col>

        <ion-col col-6 *ngIf="quotation.createdDate" class="label-on-left">Created Date</ion-col>
        <ion-col col-6 *ngIf="quotation.createdDate">
            <p text-right>{{quotation.createdDate| date:'dd/MM/yyyy'}}</p>
        </ion-col>

        <ion-col col-6 *ngIf="quotation.createdByUserName" class="label-on-left">Created By</ion-col>
        <ion-col col-6 *ngIf="quotation.createdByUserName">
            <p text-right>{{quotation.createdByUserName}}</p>
        </ion-col>

        <ion-col col-6 *ngIf="quotation.remarks" class="label-on-left">Remarks</ion-col>
        <ion-col col-6 *ngIf="quotation.remarks">
            <p text-right>{{quotation.remarks}}</p>
        </ion-col>



    </ion-row>
    <div class="card-content white-bg">
        <div class="table-responsive">
            <table class="table table-scroll">
                <thead>
                <tr>
                    <th class="text-center">Type</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Rate</th>
                    <th class="text-center">Qty</th>
                    <th class="text-center">Uom</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">&nbsp;&nbsp;&nbsp;&nbsp;</th>
                </tr>
                </thead>
                <tbody *ngIf="quotation.rateCardDetails.length>0">
                <tr *ngFor="let rate of quotation.rateCardDetails;let i = index ">
                    <td class="text-center">{{rate.type}}</td>
                    <td class="text-center table-data padding-left0 padding-right0">{{rate.title}}</td>
                    <td class="text-center">{{rate.unitPrice}}</td>
                    <td class="text-center">
                        <!--<input type="number" class="form-control align-center width15" [(ngModel)]="rate.no" (change)="addTotal(i,rate.no,rate.cost)">-->
                        {{rate.qty}}
                    </td>
                    <td class="text-center">{{rate.uom}}</td>
                    <td class="text-center">{{rate.cost}}</td>
                    <!--<td class="td-actions text-center">-->
                    <!--<i class="material-icons clr-red" (click)="remove(i)">close</i>-->
                    <!--</td>-->
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">Grand Total</td>
                    <td class="text-center">{{quotation.grandTotal}}</td>
                    <td></td>
                </tr>
                </tbody>
                <tbody *ngIf="quotation.title.length<0">
                <div class="card">
                    <td>No rates added</td>
                </div>
                </tbody>
            </table>
        </div>
    </div>

    <ion-row class="margin0 white-bg padding10" *ngIf="images.length>0">
        <ion-col col-3 *ngFor="let image of images">
            <img src="{{image}}" wdith="80px" height="80px" (click)="viewImage(image)" alt="">
        </ion-col>
    </ion-row>

    <ion-row class="margin0 white-bg padding10" *ngIf="images.length<=0">
        <ion-col col-3 *ngFor="let image of images">
            <p>No Images found</p>
        </ion-col>
    </ion-row>


</ion-content>

<ion-footer >
    <ion-toolbar class="align-right" >
        <button *ngIf="quotation.isSubmitted" class="btn btn-danger" (click)="promptRejectQuotation(quotation)"  >
            Reject &nbsp; <ion-icon name="close"></ion-icon>
        </button>

        <button *ngIf="quotation.isDrafted" class="btn btn-success center pull-right" (click)="sendQuotation(quotation)">
            Send &nbsp; <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
        <button *ngIf="quotation.isSubmitted" class="btn btn-success center pull-right" (click)="promptApproveQuotation(quotation)">
            Approve &nbsp; <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </button>
    </ion-toolbar>
</ion-footer>