<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Offline Complete Job</ion-title>
  </ion-navbar>
  <ion-toolbar class="toolbar">
    <ion-segment [(ngModel)]="categories" class="segmnt margin-auto" color="#ff9800">
      <ion-segment-button value="details">Details</ion-segment-button>
      <ion-segment-button value="checklist">Checklist</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="categories">
    <ion-list *ngSwitchCase="'details'">
      <ion-row class="margin0 white-bg padding10">
        <ion-col col-6 class="label-on-left">Job Id</ion-col>
        <ion-col col-6>
          <p text-right>{{jobDetails.id}}</p>
        </ion-col>
        <ion-col col-6 class="label-on-left">Name</ion-col>
        <ion-col col-6>
          <p text-right>{{jobDetails.title}}</p>
        </ion-col>
        <ion-col col-6 class="label-on-left">Status</ion-col>
        <ion-col col-6>
          <p text-right>{{jobDetails.status}}</p>
        </ion-col>
      </ion-row>

      <div class="margin-tp25 white-bg padding10">
        <ion-row class="margin0">
          <ion-col col-6 class="label-on-left">
            <p class="line-height">New Images </p>
          </ion-col>
          <ion-col col-6 text-right>
            <button class="ion-button" round (click)="viewCamera('beforeJob',jobDetails)" class="camera-btn"><ion-icon name="ios-camera"></ion-icon></button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 *ngFor="let image of takenImages;let i of index" class="">
            <img [src]="image" class="job-img margin-bottom25" (click)="imgViewer(image)">
          </ion-col>
        </ion-row>
      </div>

      <div class="margin-tp25 white-bg padding10" >
        <ion-row class="margin0">
          <ion-col col-6 class="label-on-left">
            <p class="line-height">Uploaded Images </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <!--<ion-col col-3 *ngFor="let image of completedImages;let i of index" class="">-->
          <ion-col col-3 *ngFor="let image of completedImages;let i of index" class="">
            <img [src]="image" class="job-img margin-bottom25" (click)="imgViewer(image)">
          </ion-col>
        </ion-row>
      </div>

      <!--<ion-row class="margin-tp25 white-bg padding10" >-->
      <!--<div *ngIf="jobDetails.checklistItems?.length > 0">-->
      <!--<ion-item *ngFor="let list of jobDetails.checklistItems;let i = index">-->
      <!--<ion-label style="color: black">{{list.checklistItemName}}</ion-label>-->
      <!--<ion-checkbox [(ngModel)]="list.completed"   checked="list.completed" >-->
      <!--</ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
      <!--<ion-icon name="create" style="color: black" text-right class=" margin-left-20" (click)=""></ion-icon>-->
      <!--</ion-item>-->

      <!--</div>-->
      <!--<div *ngIf="!jobDetails.checklistItems?.length > 0" class="align-center">-->
      <!--<p text-center>No Checklist Found</p>-->
      <!--</div>-->
      <!--</ion-row>-->

      <!--<button *ngIf="jobDetails.checklistItems?.length"  class="btn btn-warning center" (click)="presentCheckListModal(jobDetails)">-->
      <!--Checklist-->
      <!--</button>-->


    </ion-list>

    <ion-list *ngSwitchCase="'checklist'">
      <!--<div  *ngIf="(!checkListItems || checkListItems == 0) && spinner" text-center class="margin-top25">-->
      <!--<ion-spinner name="circles"></ion-spinner>-->
      <!--</div>-->

      <div *ngIf="!checkListItems || checkListItems == 0" >
        <ion-card>
          <ion-card-content>
            <img src="assets/imgs/warning.svg">
            <span><p text-center>No Data Found</p></span>
          </ion-card-content>
        </ion-card>
      </div>

      <div  class="white-bg border-bottom1"  *ngFor="let list of checkListItems;let i = index">
        <ion-grid class="padding-left0">
          <ion-row  no-margin class=" margin-auto">
            <ion-col col-2>
              <ion-item no-padding="">
                <ion-checkbox (change)="resetRemarks(i,list.completed)" [(ngModel)]="list.completed"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col col-7>
                <p text-left>{{list.itemName}} </p>
            </ion-col>
          </ion-row>
          <ion-row  no-margin class=" margin-auto" *ngIf="list.remarks">
            <ion-col col-12>
              <p text-right="">{{list.remarks}}</p>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="!list.completed">
            <ion-item class="text-item width80 margin-auto" no-padding="" text-center="">
              <ion-textarea placeholder="Enter Remarks here.." class="text-border padding5"  [(ngModel)]="list.remarks"></ion-textarea>
            </ion-item>
          </ion-row>
        </ion-grid>

      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>

  <ion-toolbar class="align-right" padding-left padding-right *ngIf="categories==='details'">
    <button class="btn btn-warning center pull-left width42" (click)="saveJob(jobDetails,takenImages)">
      Save
    </button>
    <button class="btn btn-success center pull-right" (click)="completeJob(jobDetails,takenImages)">
      Complete <ion-icon name="ios-arrow-forward-outline"></ion-icon>
    </button>
  </ion-toolbar>

  <ion-toolbar *ngIf="categories==='checklist'" text-center class="ver-center">
    <button class="btn btn-warning center width42" (click)="saveJobCheckList(checkListItems,jobDetails)">
      Save
    </button>
  </ion-toolbar>
</ion-footer>
