
<div padding>

    <div class="row" >

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">Project Code</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{projectCode}}</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">Project Description</label>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{projectDescription}}</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">WBS Code</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{wbsCode}}</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">WBS Description</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{wbsDescription}}</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">Position</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{displayGross}}</label>
        </div>

<!--        <div class="col-md-6 col-sm-6 col-xs-6 padding0">-->
<!--            <label class="control-label">Activity Id</label>-->
<!--        </div>-->

<!--        <div class="col-md-6 col-sm-6 col-xs-6 padding0">-->
<!--            <label class="control-label">{{activity}}</label>-->
<!--        </div>-->


        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">Gross Amount</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{gross}}</label>
        </div>

    </div>

  <div class="row" >
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form [formGroup]="siteDetailsForm" novalidate>
        <div class="row form-group">

            

               <ion-item class="border" *ngIf="isNewEmployee" >
                   <ion-label  text-capitalize class="client-label trequired" text-left>Branch:</ion-label>
                   <select-searchable class="searchable-select"
                                      item-content
                                      [items]="branches"
                                      formControlName="branchCode"
                                      itemValueField="elementCode"
                                      itemTextField="element"
                                      [canSearch]="true"
                                      (onChange)="getProjectByBranch($event)">
                   </select-searchable>
               </ion-item>

               <ion-item class="border" *ngIf="selectedBranch !=null">
                   <ion-label  text-capitalize class="client-label trequired" text-left>Project:</ion-label>
                   <select-searchable class="searchable-select"
                                      item-content
                                      formControlName="projectCode"
                                      [items]="projects"
                                      itemValueField="elementCode"
                                      itemTextField="element"
                                      [canSearch]="true"
                                      (onChange)="getWBSByProject($event)">

                   </select-searchable>
               </ion-item>

               <ion-item class="border" *ngIf="selectedProject!=null">
                   <ion-label  text-capitalize class="client-label trequired" text-left>WBS:</ion-label>
                   <select-searchable class="s"
                                      item-content
                                      formControlName="wbsId"
                                      [items]="wbsList"
                                      itemValueField="elementCode"
                                      itemTextField="element"
                                      [canSearch]="true"
                                      (onChange)="getEmployees($event)">
                   </select-searchable>
               </ion-item>

                <!-- <div class="col-md-12 col-sm-12 col-xs-12 padding0" *ngIf="selectedWBS!=null" >
                    <ion-item>
                        <ion-label class="label-text trequired" stacked>Position</ion-label>
                        <ion-select interface="popover" (onChange)="pgOnChange($event)" formControlName="position">
                            <ion-option *ngFor="let pg of positionAndGrossList;let i=index"   [value]="pg.positionId" > {{pg.positionId}} - {{pg.positionDesc}} - {{pg.grossAmount}}</ion-option>
                        </ion-select>
                    </ion-item>
                </div> -->

<!--                <div class="col-md-12 col-sm-12 col-xs-12 padding0" *ngIf="selectedWBS!=null">-->
<!--                    <ion-item>-->
<!--                        <ion-label class=" label-text trequired" >Position</ion-label>-->
<!--                        <ion-select style="max-width: 70%; min-width: 70%" interface="alert" formControlName="position">-->
<!--                            <ion-option *ngFor="let position of positionAndGrossList;let i=index" [value]="position" (ionSelect)="pgOnChange(position)" >{{position.positionId}} {{position.positionDesc}} - {{position.activity}} - {{position.grossAmount}}</ion-option>-->
<!--                        </ion-select>-->
<!--                    </ion-item>-->
<!--                </div>-->

            <ion-item class="border" *ngIf="selectedWBS!=null">
                <ion-label  text-capitalize class="client-label trequired" text-left>Position:</ion-label>
                <select-searchable class="s"
                                   item-content
                                   formControlName="position"
                                   [items]="positionAndGrossList"
                                   itemValueField="positionId"
                                   itemTextField="text"
                                   [canSearch]="false"
                                   (onChange)="pgOnChange($event)">
                </select-searchable>
            </ion-item>

                <div class="col-md-12 col-sm-12 col-xs-12 padding0" *ngIf="selectedWBS!=null" >
                    <ion-item>
                        <ion-label class=" label-text trequired" >Gross</ion-label>
                       <ion-label style="max-width: 70%; min-width: 70%" class="grossAmount">{{gross}}</ion-label>
                    </ion-item>
                </div>

           </div>
      </form>
    </div>
  </div>
</div>

