<div padding>

    <div class="row" >

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">Project Code</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{projectCode}}</label>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">Project Description</label>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{projectDescription}}</label>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">WBS Code</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{wbsCode}}</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">WBS Description</label>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 padding0">
            <label class="control-label">{{wbsDescription}}</label>
        </div>

    </div>

  <div class="row" >
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form [formGroup]="siteDetailsForm" novalidate>
        <div class="row form-group">

            <div class="col-md-6 col-sm-6 col-xs-6 padding0" >
                <label class="control-label">Designation No. </label>
                <input class="form-control" type="text" formControlName="position">
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                <label class="control-label">Gross. </label>
                <input class="form-control" type="text" formControlName="gross">
            </div>

               <ion-item class="border" >
                   <ion-label  text-capitalize class="client-label" text-left>Branch:</ion-label>
                   <select-searchable class="searchable-select"
                                      item-content
                                      [items]="branches"
                                      formControlName="branchCode"
                                      itemValueField="elementCode"
                                      itemTextField="element"
                                      [canSearch]="true"
                                      (onChange)="getProjectByBranch($event)">
                   </select-searchable>
               </ion-item>

               <ion-item class="border" *ngIf="selectedBranch !=null">
                   <ion-label  text-capitalize class="client-label" text-left>Project:</ion-label>
                   <select-searchable class="searchable-select"
                                      item-content
                                      formControlName="projectCode"
                                      [items]="projects"
                                      itemValueField="elementCode"
                                      itemTextField="element"
                                      [canSearch]="true"
                                      (onChange)="getWBSByProject($event)">
                   </select-searchable>
               </ion-item>

               <ion-item class="border" *ngIf="selectedProject!=null">
                   <ion-label  text-capitalize class="client-label" text-left>WBS:</ion-label>
                   <select-searchable class="searchable-select"
                                      item-content
                                      formControlName="wbsId"
                                      [items]="wbsList"
                                      itemValueField="elementCode"
                                      itemTextField="element"
                                      [canSearch]="true"
                                      (onChange)="getEmployees($event)">
                   </select-searchable>
               </ion-item>
           </div>
      </form>
    </div>
  </div>
</div>

