<div class="gc-container" ng-init="initLoad()">
	<div class="success-message hidden"></div>


    <!--<div class="row TopButtonsCon">-->
        <!--<div class="col-md-8">-->
            <!--&lt;!&ndash;<h2 class="title">Jobs</h2>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="col-md-4 txt-align-rgt">-->
            <!--<button ui-sref="add-job"  ng-class="{active: $state.includes('admin')}" has-authority="ROLE_ADMIN" class="btn btn-success align-left"> <i class="material-icons padding-right5">add</i>ADD<div class="ripple-container"></div></button>-->
            <!--<button ng-click="refreshPage()" class="btn btn-warning align-left"> <i class="material-icons padding-right5">refresh</i>Reload<div class="ripple-container"></div></button>-->
        <!--</div>-->
    <!--</div>-->


    <div class="row">

       <!-- <div class="col-md-12">
            <div class="panel panel-default TabsContainer">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-pills-warning">
                        <li class="active"><a href="" data-toggle="tab"
                            data-target="#pill2" aria-expanded="false" ng-click="jobType('MAINTENANCE')"> R & M</a></li>
                        <li class=""><a href="" data-toggle="tab"
                            data-target="#pill3" aria-expanded="false" ng-click="jobType('HOUSEKEEPING')"> HK</a></li>-->
                       <!--  <li class=""><a href="" data-toggle="tab"
                            data-target="#pill1" aria-expanded="true">Material</a></li>
                        <li class=""><a href="" data-toggle="tab"
                            data-target="#pill4" aria-expanded="false">Summary</a></li> -->
                    <!--</ul>
                </div>
            </div>
        </div>-->
        <div class="col-md-12">
            <div class="card TableCard">
                <div class="card-content">

                    <div class="SearchTable">

                        <form name="searchForm" ng-submit="loadJobs()">

                            <table class="table no-padding-tblCon" border="0">
                                <tr class="filter-row gc-search-row">
                                    <td width="85%">
                                        <div class="form-group" ng-init="loadProjects();loadAllSites();loadAssets()">
                                            <div class="col-xs-4 col-md-3">
                                            	<div class="form-group">
					                            <label class="label-control">Job date</label>
					                            <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
					                            <input type="text" class="form-control datepicker"  id="selectedJobDate"  placeholder="{{selectedJobDate | date:'dd-MMM-yyyy'}}"/>
											</div>
                                            </div>
                                            <div class="dropdown col-xs-4 col-md-3">
                                                 <div class="dropdown">
						                            <label class="label-control">Select Client</label>
						                            <select class="form-control " ng-model="selectedProject" ng-change="loadSites()" ng-options="project as project.name for project in projects" >
						                                <option value="">Select Client...</option>
						                            </select>
						                        </div>

                                            </div>
                                            <div class="dropdown col-xs-4 col-md-3">
                                                <div class="dropdown ">
						                            <label class="label-control">Select Site</label>
						                            <select class="form-control " ng-model="selectedSite" ng-change="loadEmployees()" ng-options="site as site.name for site in sites">
						                                <option value="">Select Site...</option>
						                            </select>
						                        </div>
                                            </div>

                                            <div class="dropdown col-xs-4 col-md-3">
                                                <div class="dropdown ">
						                            <label class="label-control">Select Employee</label>
						                            <select class="form-control " ng-model="selectedEmployee"  ng-options="emp as emp.fullName for emp in employees">
						                                <option value="">Select Employee...</option>
						                            </select>
						                        </div>
                                            </div>


                                        </div>
                                    </td>
                                    <td>
                                        <div class="floatL form-group">

                                            <button type="submit" class="btn btn-circle blue-clr" ng-disabled="searchForm.$invalid">
                                                <i class="material-icons">search</i>
                                            </button>
                                            <button ui-sref="add-job" has-permission="Job:Create"  ng-class="{active: $state.includes('admin')}" class="btn btn-circle green-clr">
                                                <i class="material-icons">add</i>
                                            </button>
                                            <button ng-click="refreshPage()" class="btn btn-circle orange-clr">
                                                <i class="material-icons">refresh</i>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
								<tr class="filter-row gc-search-row">
                                    <td width="85%">
                                        <div class="form-group" ng-init="loadProjects();loadAllSites();loadAssets()">
                                        		<div class="dropdown col-xs-4 col-md-3">

                                                <div class="dropdown ">
						                            <label class="label-control">Select Status</label>
						                            <select class="form-control " ng-model="selectedStatus"  ng-options="status as status for status in statuses">
						                                <option value="">Select Status...</option>
						                            </select>
						                        </div>
                                            </div>
                                        </div>
                                    </td>
                                 </tr>
                            </table>

                        </form>

                    </div>
                    <div class="panel panel-default TabsContainer mar10px jobType">
                        <div class="panel-body pad0px">
                            <ul class="nav nav-pills nav-pills-warning mar0px">
                                <li class="active"><a href="" data-toggle="tab"
                                    data-target="#pill2" aria-expanded="false" ng-click="jobType('')"> All</a></li>
                                <li class=""><a href="" data-toggle="tab"
                                    data-target="#pill3" aria-expanded="false" ng-click="jobType('MAINTENANCE')"> R & M</a></li>
                            </ul>
                       </div>
                    </div> 

                    <div class="table-responsive tablecard">
                        <table class="table table-striped" ng-init="search();">

                            <thead>
                            <tr>
                                <th>Job Id<a href="#">

                                    <span ng-click="columnAscOrder('id')"  class=""><i class="fa fa-caret-up"></i></span>
                                    <span ng-click="columnDescOrder('id')" class=""><i class="fa fa-caret-down"></i></span>

                                </a></th>
                                <th>Job Title<a href="#">

                                    <span ng-click="columnAscOrder('title')"  class=""><i class="fa fa-caret-up"></i></span>
                                    <span ng-click="columnDescOrder('title')" class=""><i class="fa fa-caret-down"></i></span>

                                </a></th>
                                <th>Start Time<a href="#">

                                    <span ng-click="columnAscOrder('plannedStartTime')"  class=""><i class="fa fa-caret-up"></i></span>
                                    <span ng-click="columnDescOrder('plannedStartTime')" class=""><i class="fa fa-caret-down"></i></span>

                                </a></th>
                                <th>Employee<a href="#">

                                    <span ng-click="columnAscOrder('employee.name')"  class=""><i class="fa fa-caret-up"></i></span>
                                    <span ng-click="columnDescOrder('employee.name')" class=""><i class="fa fa-caret-down"></i></span>

                                </a></th>
                                <th>Status<a href="#">

                                    <span ng-click="columnAscOrder('status')"  class=""><i class="fa fa-caret-up"></i></span>
                                    <span ng-click="columnDescOrder('status')" class=""><i class="fa fa-caret-down"></i></span>

                                </a></th>
                                <th>Project<a href="#">

                                    <span ng-click="columnAscOrder('project.name')"  class=""><i class="fa fa-caret-up"></i></span>
                                    <span ng-click="columnDescOrder('project.name')" class=""><i class="fa fa-caret-down"></i></span>

                                </a></th>
                                <th>Site<a href="#">

                                    <span ng-click="columnAscOrder('site.name')"  class=""><i class="fa fa-caret-up"></i></span>
                                    <span ng-click="columnDescOrder('site.name')" class=""><i class="fa fa-caret-down"></i></span>

                                </a></th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="job in jobs">
                                <td>{{job.id}}</td>
                                <td>{{job.title}}</td>
                                <td><label ng-bind="job.plannedStartTime | date:'dd-MMM-yyyy hh:mm a'"/></td>
                                <td>{{job.employeeName}}</td>
                                <td>{{job.status}}</td>
                                <td>{{job.siteProjectName}}</td>
                                <td>{{job.siteName}}</td>

                                <td class="text-right">

                                    <a ng-click="getCheckInDetails(employee.id)" ui-sref="view-job({ id: job.id })"   class="btn btn-simple btn-info btn-icon like"><i class="material-icons">remove_red_eye</i></a>

                                    <a  ng-class="{active: $state.includes('admin')}" has-permission="Job:Edit" ui-sref="edit-job({ id: job.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                    <a ng-class="{active: $state.includes('admin')}" ng-click="deleteConfirm(job)"  onClick="$('#deleteModal').modal()" data-target="#myModal"   class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>


                                </td>

                            </tr>



                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->

    <div class="card margin-TB-5 txt-align-center" ng-hide="jobs">

        <div class="card-content">
            <div class="" style="text-align:center;padding: 10px 0;" ng-hide="jobsLoader">
                <div loader-css="ball-pulse"></div>
            </div>

            <h3>No data Found</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-md-4"></div>
         <div class="col-md-8 text-right">
        <ul class="pagination pagination-warning">

            <li class="paging-first" ID="first">
                <a href="#" id="first" ng-click="first()">
                    <i id="first" class=" fa fa-step-backward"></i></a>
            </li>
            <li class="prev paging-previous" id="previous">
                <a id="previous" href="#" ng-click="previous()"> prev</a>
            </li>

            <li ng-class="{active: number == pages.currPage}" class="paging" ng-repeat="number in numberArrays" ng-click="clickNextOrPrev(number)">
                <a href="#" style="cursor:pointer">{{number}}</a>
            </li>
            <li class="next paging-next" id="next">
                <a id="next" href="#" ng-click="next()" >next</a>
            </li>
            <li class="paging-last" id="last">
                <a id="last" href="#" ng-click="last()"><i id="last" class="fa fa-step-forward"></i></a>
            </li>

        </ul>
    </div>

    </div>




	<div class="row">

		<div id="deleteModal" data-backdrop="false" class="modal fade"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="delete-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Are you sure to delete the job?<br>
					</div>
					<div class="delete-footer">
						<button type="button" ng-click="deleteJob()"
							class="btn btn-danger-outline text-danger" data-dismiss="modal">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>
