<div class="gc-container" ng-init="initList();">
	<div class="success-message hidden"></div>


    <!--;loadAssets()-->
    <div class="row" ng-init="loadProjectsList();loadProjects();loadDepEmployees()">
        <div class="col-md-6 txt-align-lft">

            <!--<button class="btn btn-info add-btn margn-tb0" data-toggle="modal" data-target="#basicFilter" tabindex="0">-->
                <!--<i class="material-icons">filter_list</i> Basic Filter-->
                <!--<div class="ripple-container"></div>-->
            <!--</button>-->
            <!--<button class="btn btn-success add-btn margn-tb0" data-toggle="modal" data-target="#advancedFilter" tabindex="0">-->
                <!--<i class="material-icons">filter_list</i> Advanced Filter-->
                <!--<div class="ripple-container"></div>-->
            <!--</button>-->


            <button class="btn btn-success add-btn margn-tb0" ng-click="filterModal1()" tabindex="0">
                <i class="material-icons">filter_list</i>Filter
                <div class="ripple-container"></div>
            </button>
            <button class="btn btn-warning add-btn margn-tb0"  ng-click="refreshPage()" tabindex="0">
                <i class="material-icons">refresh</i> Clear Filter
                <div class="ripple-container"></div>
            </button>
            <button class="btn btn-info  add-btn margn-tb0" ng-show="isDashboard"  ng-click="backToDashboard()" tabindex="0">
                <i class="material-icons">keyboard_return</i>Dashboard
                <div class="ripple-container"></div>
            </button>

        </div>
        <div class="col-md-6 txt-align-rgt">



            <button class="btn btn-success add-btn margn-tb0"  ui-sref="add-job" has-permission="Jobs:Create" ng-class="{active: $state.includes('admin')}" tabindex="0">
                <i class="material-icons">add</i> Add
                <div class="ripple-container"></div>
            </button>

            <!--<button ng-show="jobs.length" class="btn btn-success add-btn margn-tb0 ld ld-over-inverse" ng-class="{'running':(downloader && typeMsg=='html')}"  title="Export HTML"  ng-click=exportAllData('html') tabindex="0">
                <i class="material-icons">description</i> Export HTML
                <i class="ld ld-ring ld-spin" ng-show="downloader"></i>
                <div class="ripple-container"></div>
            </button>-->

            <button ng-show="jobs.length" class="btn btn-info add-btn margn-tb0 ld ld-over-inverse" ng-class="{'running':downloader}"   title="Export Excel"  ng-click=exportAllData('xlsx') tabindex="0">
                <i class="material-icons">file_download</i> Export Excel
                <i class="ld ld-ring ld-spin" ng-show="downloader"></i>
                <div class="ripple-container"></div>
            </button>

            <span ng-if="exportMsg()=='Download'">
                 <a class="download-btn" href="{{exportFile()}}" download target="_self" ng-click="clsDownload()" ng-hide="downloaded">{{exportMsg()}}</a>
                 <div class="downloaderMd" ng-show="downloader"></div>
            </span>
            <span ng-if="exportMsg()!='Download'">
                 <a class="download-btn" href="javascript:void(0);">{{exportMsg()}}</a>
            </span>
             <div class="downloaderBig" ng-show="downloader"></div>

        </div>
    </div>
    <div class="AppliedFilterCon" >
            <span class="AppliedFilterTxtCon" ng-show="!searchCriteria.findAll || localStorage">
                <span
	            class="tag label label-info" style="margin-right: 10px"
	            ng-show="searchCriteras.projectId !=0 && searchCriteras.projectId !=null">
					Client: {{searchCriteras.projectName}}
			    </span>

			    <span class="tag label label-info" style="margin-right: 10px"
	                  ng-show="searchCriteras.regionId !=0 && searchCriteras.regionId !=null">
					Region: {{searchCriteras.region}}
				</span>
				 <span class="tag label label-info" style="margin-right: 10px"
		                  ng-show="searchCriteras.branchId !=0 && searchCriteras.branchId !=null">
				    Branch: {{searchCriteras.branch}}
				</span>

                <span class="tag label label-info" style="margin-right: 10px"
	                  ng-show="searchCriteras.siteId !=0 && searchCriteras.siteId !=null">
					Site: {{searchCriteras.siteName}}
			    </span>

                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.checkInDateTimeFrom">
                    From: {{searchCriteras.checkInDateTimeFrom | date:'dd/MM/yyyy'}}
                </span>
                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.checkInDateTimeTo">
                    To: {{searchCriteras.checkInDateTimeTo | date:'dd/MM/yyyy'}}
                </span>
                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.employeeId !=0 && searchCriteras.employeeId !=null">
                    Employee: {{searchCriteras.employeeName}}
                </span>
                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.jobStatus !=null && searchCriteras.jobStatus !='-- ALL STATUS --'">
                    Status: {{searchCriteras.jobStatus}}
                </span>
                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.jobId">
                    Id: {{searchCriteras.jobId}}
                </span>
                <span class="tag label label-info"  style="margin-right: 10px" ng-show="searchCriteras.jobTitle">
                    Title: {{searchCriteras.jobTitle}}
                </span>

            </span>
    </div>
    <div class="row">

       <!-- <div class="col-md-12">
            <div class="panel panel-default TabsContainer">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-pills-warning">
                        <li class="active"><a href="" data-toggle="tab"
                            data-target="#pill2" aria-expanded="false" ng-click="jobType('MAINTENANCE')"> R & M</a></li>
                        <li class=""><a href="" data-toggle="tab"
                            data-target="#pill3" aria-expanded="false" ng-click="jobType('HOUSEKEEPING')"> HK</a></li>-->
                       <!--  <li class=""><a href="" data-toggle="tab"
                            data-target="#pill1" aria-expanded="true">Material</a></li>
                        <li class=""><a href="" data-toggle="tab"
                            data-target="#pill4" aria-expanded="false">Summary</a></li> -->
                    <!--</ul>
                </div>
            </div>
        </div>-->
        <div class="col-md-12">
            <div class="card TableCard">
                <div class="card-content">
                    <div class="panel panel-default TabsContainer mar10px jobType">
                        <div class="panel-body pad0px">
                            <ul class="nav nav-pills nav-pills-warning mar0px">
                                <li class="active"><a href="" data-toggle="tab"
                                    data-target="#pill2" aria-expanded="false" ng-click="jobType('')"> All</a></li>
                                <li class=""><a href="" data-toggle="tab"
                                    data-target="#pill3" aria-expanded="false" ng-click="jobType('MAINTENANCE')"> R & M</a></li>
                                <li class=""><a href="" data-toggle="tab"
                                    data-target="#pill3" aria-expanded="false" ng-click="jobType('HOUSEKEEPING')">House Keeping</a></li>
                            </ul>
                            <div class="pull-right">
                                <!-- Material switch -->
                                 <div class="switch">
                                    <span>Show Job Schedules</span>
                                    <label>
                                        <input type="checkbox" ng-model="showJobSchCheck" ng-click="searchFilter();">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="pull-right">
                                <!-- Material switch -->
                                <div class="switch">
                                    <span>Show Inactive Jobs</span>
                                    <label>
                                        <input type="checkbox" ng-model="showInActive" ng-click="searchFilter();">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                       </div>

                    </div>
                    <div class="table-responsive tablecard">
                        <table class="table table-hover withSortingIcons">
                            <thead>
                            <tr>
                                <th>Id
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('id')" ng-class="isActiveAsc == 'id' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('id')" ng-class="isActiveDesc == 'id' ? 'active' : ''">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>Site
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('site.name')" ng-class="isActiveAsc == 'site.name' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('site.name')" ng-class="isActiveDesc == 'site.name' ? 'active' : ''">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>Title
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('title')" ng-class="isActiveAsc == 'title' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('title')" ng-class="isActiveDesc == 'title' ? 'active' : ''">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>Employee
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('employee.name')" ng-class="isActiveAsc == 'employee.name' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('employee.name')" ng-class="isActiveDesc == 'employee.name' ? 'active' : ''">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <th>Actual Start Time
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('plannedStartTime')" ng-class="isActiveAsc == 'plannedStartTime' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('plannedStartTime')" ng-class="isActiveDesc == 'plannedStartTime' ? 'active' : ''">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>

                                </th>
                                 <th>Actual End Time
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('actualEndTime')" ng-class="isActiveAsc == 'actualEndTime' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('actualEndTime')" ng-class="isActiveDesc == 'actualEndTime' ? 'active' : ''">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>

                                <th>Status
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('status')" ng-class="isActiveAsc == 'status' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('status')" ng-class="isActiveDesc == 'status' ? 'active' : ''">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th>
                                <!-- <th>Project
                                    <span class="sortingIcons">
                                        <span ng-click="columnAscOrder('project.name')" ng-class="isActiveAsc == 'project.name' ? 'active' : ''" >
                                            <i  class="fa fa-caret-up"></i>
                                        </span>
                                        <span ng-click="columnDescOrder('project.name')" ng-class="isActiveDesc == 'project.name' ? 'active' : ''">
                                             <i  ng-class="class" class="fa fa-caret-down"></i>
                                        </span>
                                    </span>
                                </th> -->
                                <th class="disabled-sorting">Category</th>
                                <th class="disabled-sorting">Checklist</th>
                                 <th class="disabled-sorting">Schedule</th>
                                <th class="disabled-sorting">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="job in jobs">
                                <td>{{job.id}}</td>
                                <td>{{job.siteName}}</td>
                                <td>{{job.title}}</td>
                                <td>{{job.employeeName}}</td>
                                <td><label ng-bind="job.plannedStartTime | date :'dd-MMM-yyyy @ hh:mm a'"/></td>
                                <td><label ng-bind="job.actualEndTime | date :'dd-MMM-yyyy @ hh:mm a'"/></td>
                                <td>{{job.status}}</td>
                                <td>{{job.jobType}}</td>
								<td class="hiddenCheckList" >
								 <span ng-repeat="(key, value) in job.checklistItems | groupBy: 'checklistName'">
								   <span class="leftTxt">{{ key }}  </span>
									 <span class="infoIcon" ng-if="key" data-toggle="modal"
                                           data-target="#checkListViewModal" ng-click="selectJobShowChecklist(job)"><i class="material-icons">info</i>
	                                   <div class="CheckListNewBx" ng-if="key">
	                                           <div class=""ng-repeat="checkListItem in value">
	                                               <span style="color: red;font-size: 14px" ng-if="!checkListItem.completed" class=""><i style="font-size: 16px" class="material-icons">error</i> {{checkListItem.checklistItemName}}</span>

	                                           </div>
                                               <!--<ul  ng-repeat="checkListItem in value" class="txt-align-left">
                                                   <li ng-if="!checkListItem.completed">{{checkListItem.checklistItemName}}</li>
                                               </ul>-->
	                                       </div>
	                                  </span>
								   </span>
                                  </td>
								 <td>{{job.schedule}}</td>
                                <td class="text-right">

                                <td class="text-right hoverMe">

                                    <a   title="View More Action"  class="btn btn-simple btn-info btn-icon like Viewmore"><i class="material-icons">more_vert</i></a>

                                    <div class="HoverBx">

                                        <a ng-click="getCheckInDetails(employee.id)" title="View" has-permission="Jobs:View" ui-sref="view-job({ id: job.id })"   class="btn btn-simple btn-info btn-icon like"><i class="material-icons">remove_red_eye</i></a>

                                        <a ng-if="job.status !='COMPLETED'" ng-class="{active: $state.includes('admin')}" title="Edit" has-permission="Jobs:Edit" ui-sref="edit-job({ id: job.id })"  class="btn btn-simple btn-info"><i class="material-icons">edit</i></a>

                                        <a ng-class="{active: $state.includes('admin')}" title="Delete" has-permission="Jobs:Delete" ng-click="deleteConfirm(job)"  onClick="$('#deleteModal').modal()" data-target="#myModal"   class="btn btn-simple btn-danger"><i class="material-icons">close</i></a>

                                        <!--<a title="Checklist Details" ng-if="job.checklistItems" data-toggle="modal"-->
                                           <!--data-target="#checkListViewModal" ng-click="selectJobShowChecklist(job)"> <i class="material-icons">info</i></a>-->

                                    </div>




                                </td>



                            </tr>





                            </tbody>
                        </table>

                    </div>

                    <div class="txt-align-center LoaderCon"  ng-hide="jobsLoader">

                        <div class="pad-TB-30">
                            <div loader-css="ball-pulse"></div>
                            <h3 >Loading, please wait...</h3>
                        </div>

                    </div>

                    <div class="txt-align-center pad-TB-30 noDataCon" ng-show="noData">

                        <h3>No data Found</h3>

                    </div>

                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->


    <!-- Pagination directive start -->

    <pagination-new></pagination-new>

    <!-- Pagination directive end -->




	<div class="row">

		<div id="deleteModal" data-backdrop="false" class="modal fade"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			aria-hidden="true">
			<div class="delete-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Are you sure to delete the job?<br>
					</div>
					<div class="delete-footer">
						<button type="button" ng-click="deleteJob()"
							class="btn btn-danger-outline text-danger" data-dismiss="modal">Confirm</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<!--&lt;!&ndash; BasicFilterModal &ndash;&gt;-->
<!--<div class="modal fade BasicFilterModal FilterModalCon" id="basicFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<form name="searchForm"   novalidate >-->
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                        <!--<i class="material-icons">clear</i>-->
                    <!--</button>-->
                    <!--<h4 class="modal-title">Basic Filter</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->

                    <!--<div class="row" ng-init="loadProjects();loadAssets();loadEmployee()">-->

                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<label class="label-control">Client</label>-->
                                    <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                    <!--<select class="form-control " ng-model="searchProject" ng-change="loadDepSites()" ng-options="project as project.name for project in projects"  >-->
                                        <!--<option value="">Select Client...</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="dropdown">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="label-control">Site</label>-->
                                    <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                    <!--<select class="form-control " ng-model="searchSite"  ng-options="site as site.name for site in sitesList"  ng-change="loadEmployees()">-->
                                        <!--<option value="">Select Site...</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->



                    <!--</div>-->

                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="submit" class="btn btn-success btn-simple" ng-click = "searchFilter1()" data-dismiss="modal" ng-disabled="searchForm.$invalid">Apply Filter</button>-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>&ndash;&gt;-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;  End Modal &ndash;&gt;-->

<!--&lt;!&ndash; AdvancedFilterModal &ndash;&gt;-->
<!--<div class="modal fade AdvancedFilterModal FilterModalCon" id="advancedFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<form name="searchForm1"   novalidate >-->

                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                        <!--<i class="material-icons">clear</i>-->
                    <!--</button>-->
                    <!--<h4 class="modal-title">Advanced Filter</h4>-->
                <!--</div>-->
                <!--<div class="modal-body">-->


                    <!--<div class="row">-->

                        <!--<div class="col-xs-12 col-md-2">-->
                            <!--<div class="form-group no-padding" >-->
                                <!--<div class="dropdown">-->
                                    <!--<label class="label-control">From date</label>-->
                                    <!--<span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>-->
                                    <!--<input type="text" class="form-control datepicker"  id="selectedJobDate"  ng-model="selectedJobDate" autocomplete="off" />-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                         <!--<div class="col-xs-12 col-md-2">-->
                            <!--<div class="form-group no-padding" >-->
                                <!--<div class="dropdown">-->
                                    <!--<label class="label-control">To date</label>-->
                                    <!--<span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>-->
                                    <!--<input type="text" class="form-control datepicker"  id="selectedJobDateTo"  ng-model="selectedJobDateTo" autocomplete="off" />-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group" >-->
                                <!--<div class="dropdown">-->
                                    <!--<label class="label-control">Select Employee</label>-->
                                    <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                    <!--<select class="form-control " ng-model="searchEmployee"  ng-options="emp as emp.fullName for emp in employees">-->
                                        <!--<option value="">Select Employee...</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-12 col-md-4">-->
                            <!--<div class="form-group">-->
                                <!--<div class="dropdown ">-->
                                    <!--<label class="label-control">Select Status</label>-->
                                    <!--<span class="form-control-feedback d-arrow-icon"><i class="material-icons">keyboard_arrow_down</i></span>-->
                                    <!--<select class="form-control " ng-model="searchStatus"  ng-options="status as status for status in statuses">-->
                                        <!--<option value="">Select Status...</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->

                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="submit" class="btn btn-success btn-simple" ng-click = "searchFilter()" data-dismiss="modal" ng-disabled="searchForm.$invalid">Apply Filter</button>-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>&ndash;&gt;-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;  End Modal &ndash;&gt;-->

<!-- Filter New -->

<div class="modal fade AdvancedFilterModal FilterModalCon" id="Filter"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="searchForm" role="form" ng-submit="searchFilter()"  novalidate >

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   data-target="#collapseOne" aria-expanded="true"
                                   aria-controls="collapseOne" class="collapsed">
                                    <h4 class="panel-title">
                                        Basic Filter <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseOne"
                                 class="panel-collapse collapse collapseOne in" role="tabpanel"
                                 aria-labelledby="headingOne" aria-expanded="true"
                                 style="height: 210px;">
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-xs-12 col-md-6 col-lg-6" >
                                            <div class="form-group">
                                                <div class="dropdown">
                                                    <label class="label-control">Client</label>
                                                    <span ng-show="clientFilterDisable"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                    <span ng-show="!clientFilterDisable && !client.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

				                                    <ui-select ng-model="client.selected" on-select="loadDepSitesList(client.selected);loadRegionsList(client.selected.id)" ng-disabled="clientFilterDisable">
													  <ui-select-match placeholder="Select clients..." >{{$select.selected.name}}
													     <a   ng-click="clearProject($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
														   class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
														   <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
													  </ui-select-match>
													  <ui-select-choices repeat="client in clients | filter: $select.search" ng-click="loadDepSitesList(client.selected);loadRegionsList(client.selected.id)" null-option="allClients" loose-null>

													    <span ng-bind-html="client.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-6 col-lg-6">
				                            <div class="form-group" >

				                                    <div class="dropdown">
				                                        <label class="label-control">Region</label>
				                                        <span ng-show="regionSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                        <span ng-show="!regionSpin && !regionsListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

						                                <ui-select ng-model="regionsListOne.selected" on-select="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,'');loadBranchList(client.selected.id)"  ng-disabled="regionFilterDisable || regionsLists.length == 1">
														  <ui-select-match placeholder="Select region...">{{$select.selected.name}}
															  <a   ng-click="clearRegion($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
															   class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
															   <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
														  </ui-select-match>
														  <ui-select-choices repeat="regionsListOne in regionsLists | filter: $select.search" ng-click="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,'');loadBranchList(client.selected.id)" null-option="allRegions" loose-null>
														    <span ng-bind-html="regionsListOne.name | highlight: $select.search"></span>
														  </ui-select-choices>
														</ui-select>
														<span ng-if="regionsLists.length == 1"><p class="error-msg margin0">No region</p></span>
				                                    </div>
				                            </div>
				                        </div>
                                   </div>

                                   <div class="row">
                                   		<div class="col-xs-12 col-md-6 col-lg-6">
                                   		   <div class="form-group" >
				                            <div class="dropdown">
				                                <label class="label-control">Branch</label>
				                                 <span ng-show="branchSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                 <span ng-show="!branchSpin && !branchsListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

					                                <ui-select ng-model="branchsListOne.selected" on-select="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,branchsListOne.selected.name)"  ng-disabled="branchFilterDisable || branchsLists.length == 1">
													  <ui-select-match placeholder="Select branch..." >{{$select.selected.name}}
													     <a   ng-click="clearBranch($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
														   class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
														   <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
													  </ui-select-match>
													  <ui-select-choices repeat="branchsListOne in branchsLists | filter: $select.search" ng-click="getSitesBYRegionOrBranch(client.selected.id,regionsListOne.selected.name,branchsListOne.selected.name)" null-option="allRegions" loose-null>
													    <span ng-bind-html="branchsListOne.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
													<span ng-if="branchsLists.length == 1"><p class="error-msg margin0">No branch</p></span>
											 </div>
				                            </div>
				                        </div>


                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="label-control">Site</label>
                                                    <span ng-show="siteSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
				                                    <span ng-show="!siteSpin && !sitesListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

				                                    <ui-select ng-model="sitesListOne.selected" on-select="loadDepEmployees()"  ng-disabled="siteFilterDisable || sitesLists.length == 1">
													  <ui-select-match placeholder="Select site...">{{$select.selected.name}}
													      <a   ng-click="clearSite($event)" ng-show="$select.selected.name" ng-class="{'ui-select-allow-clear': $select.selected.name}" aria-label="Select box clear" style="margin-right: 10px"
														   class="btn btn-xs btn-link pull-right clsBtn"  aria-hidden="false">
														   <i class="glyphicon glyphicon-remove" aria-hidden="true"></i></a>
													  </ui-select-match>
													  <ui-select-choices repeat="sitesListOne in sitesLists | filter: $select.search" ng-click="loadDepEmployees()" null-option="allSites" loose-null>
													    <span ng-bind-html="sitesListOne.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
													<span ng-if="sitesLists.length == 1"><p class="error-msg margin0">No sites</p></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h4 class="panel-title">
                                        Advanced Filter
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">


                                    <div class="row">

                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <label class="label-control">From date</label>
                                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                    <input type="text" class="form-control datepicker" onkeydown="return false" placeholder="DD/MM/YYYY"  id="searchJobDate"  ng-model="searchJobDate" autocomplete="off" tabindex="1" />

	                                                 <p class="help-block" style="color:maroon"
	                                                   ng-show="searchForm.employee.$error.required">
	                                                    Required

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group no-padding" >
                                                <div class="dropdown">
                                                    <label class="label-control">To date</label>
                                                    <span class="form-control-feedback calender-icon"><i class="material-icons">date_range</i></span>
                                                    <input type="text" class="form-control datepicker" onkeydown="return false" placeholder="DD/MM/YYYY"  id="searchJobDateTo"  ng-model="searchJobDateTo" autocomplete="off" tabindex="2" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-4">
                                            <div class="dropdown" >
                                                <div class="form-group">
                                                    <label class="label-control">Select Employee</label>

                                                    <span ng-show="empSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!empSpin && !empListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

                                                    <ui-select ng-model="empListOne.selected"  ng-disabled="empLists.length == 1 || empLists == null || employeeFilterDisable">
													  <ui-select-match placeholder="Select Employee..." allow-clear="true">{{$select.selected.name}}</ui-select-match>
													  <ui-select-choices repeat="empListOne in empLists | filter: $select.search" null-option="allEmp" loose-null>
													    <span ng-bind-html="empListOne.name | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
                                                    <span ng-if="empLists.length == 1"><p class="error-msg margin0">No Employee</p></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="dropdown">
                                                <div class="form-group">
                                                    <label class="label-control">Select Status</label>

                                                    <span ng-show="statusSpin"  class="form-control-feedback d-big-arrow-icon orange-color"><i class="ld ld-ring ld-spin" ></i></span>
                                                    <span ng-show="!statusSpin && !statusListOne.selected" class="form-control-feedback d-big-arrow-icon "><i class="material-icons">keyboard_arrow_down</i></span>

                                                    <ui-select ng-model="statusListOne.selected" >
													  <ui-select-match placeholder="Select Status..." allow-clear="true">{{$select.selected}}</ui-select-match>
													  <ui-select-choices repeat="statusListOne in statusLists | filter: $select.search" null-option="allStatus" loose-null>
													    <span ng-bind-html="statusListOne | highlight: $select.search"></span>
													  </ui-select-choices>
													</ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <label class="label-control"></label>
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           placeholder="Job id"
                                                           ng-model="searchJobId" tabindex="3"
                                                    />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group" >
                                                <div class="dropdown">
                                                    <label class="label-control"></label>
                                                    <input type="text"
                                                           class="form-control border-bottom-input"
                                                           placeholder="Job title"
                                                           ng-model="searchJobTitle" tabindex="4"
                                                    />

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal" tabindex="5">Cancel</button>
                    <button type="submit" class="btn btn-success btn-simple"   tabindex="6">Apply Filter</button>
                    <!--<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>-->
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal right  fade ViewModal" id="checkListViewModal" role="dialog"

     aria-labelledby="ViewModal12" ng-if="selectedJob.checklistItems">
    <div class="modal-dialogNew" role="document" ng-init="">
        <div class="modal-content" ng-init="">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="ViewModal12">View Check List Details</h4>
                <h3> {{selectedJob.block}} - {{selectedJob.floor}} - {{selectedJob.zone}}</h3>
            </div>

            <div class="modal-body ViewContentPageCon">

                <div class="row margn-top30">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                            <div class="panel-body" style="min-height: 320px;">

                                <div class="table-responsive">

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th>Checklist Item </th>
                                            <th>Remarks</th>
                                            <th>Status</th>
                                            <th>Images</th>
                                        </tr>
                                        <tr ng-repeat="checklist in selectedJob.checklistItems">
                                            <td ng-if="!checklist.completed"><span  style="color:red">{{checklist.checklistItemName}}</span>
                                            </td>
                                            <td ng-if="!checklist.completed">
                                                <span ng-if="checklist.remarks">{{checklist.remarks}}</span>
                                                <span ng-if="!checklist.remarks">No remarks</span>
                                            </td>
                                            <td ng-if="!checklist.completed">
                                                <span class="label label-success" ng-if="checklist.completed">Completed</span>
                                                <span class="label label-warning" ng-if="!checklist.completed">Not Completed</span>
                                            </td>
                                            <td ng-if="!checklist.completed">
                                                <span ng-if="!checklist.imageUrl_1">No image</span>
                                                <a ng-if="checklist.imageUrl_1" onClick="$('#myModal').modal()" data-target="#myModal" data-dismiss="#myModal" ng-click="loadCompletedJob(checklist.imageUrl_1)" >
                                                    <img ng-src="{{checklist.imageUrl_1}}" width="80px" height="80px">
                                                </a>
                                                <a ng-if="checklist.imageUrl_2" onClick="$('#myModal').modal()" data-target="#myModal" data-dismiss="#myModal" ng-click="loadCompletedJob(checklist.imageUrl_2)" >
                                                    <img ng-src="{{checklist.imageUrl_2}}" width="80px" height="80px">
                                                </a>
                                                <a ng-if="checklist.imageUrl_3" onClick="$('#myModal').modal()" data-target="#myModal" data-dismiss="#myModal" ng-click="loadCompletedJob(checklist.imageUrl_3)" >
                                                    <img ng-src="{{checklist.imageUrl_3}}" width="80px" height="80px">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="myModalLabel">Job Photo</h5>
            </div>
            <div class="modal-body">

                <div class="txt-align-center">
                    <img id="photoStart" style="width:300px;height:300px" />
                </div>


            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger btn-round" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>



<!-- -->


