<div class="crud-form"
	data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="initPage()">
	<div class="">
		<div class="row">
        	<div class="col-md-12">

                <div class="titleCon">
                    <!--<h3>View Job</h3>-->
                </div>

				<div class="form-container table-container">
					<form ng-show="!success" name="form" role="form" novalidate
						class="form-horizontal">




                        <div class="row">

                            <div class="col-md-4">

                                <div class="panel panel-default">
                                    <div class="panel-heading">Job Details</div>
                                    <div class="panel-body">


                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Title</td>
                                                    <td>{{job.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Description</td>
                                                    <td>{{job.description}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Checklist</td>
                                                    <td>
                                                        <ul class="checkList">
                                                            <li ng-repeat="checklist in checklists">
                                                                {{checklist.name}}
                                                            </li>
                                                        </ul>
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <td>Site </td>
                                                    <td>
                                                        {{job.siteName}}
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <td>Location</td>
                                                    <td>{{job.locationName}}</td>

                                                </tr>
                                                <tr>

                                                    <td>Employee</td>
                                                    <td>{{job.employeeName}}</td>

                                                </tr>
                                                <tr>

                                                    <td>Asset</td>
                                                    <td>{{job.assetTitle}}</td>

                                                </tr>


                                                </tbody>
                                            </table>
                                        </div>



                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4">

                                <div class="panel panel-default">
                                    <div class="panel-heading">Plan</div>
                                    <div class="panel-body">


                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Start date</td>
                                                    <td>{{job.plannedStartTime}}</td>
                                                </tr>
                                                <tr>
                                                    <td>End date</td>
                                                    <td>{{job.plannedEndTime}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Hours</td>
                                                    <td>
                                                        {{job.plannedHours}}
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <td>Status </td>
                                                    <td>
                                                       {{job.jobStatus}}
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <td>Type </td>
                                                    <td>
                                                        {{job.jobType}}
                                                    </td>

                                                </tr>
                                                <tr>

                                                    <td>Comments </td>
                                                    <td>
                                                        {{job.comments}}
                                                    </td>

                                                </tr>



                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <div class="col-md-4">

                                <div class="panel panel-default">
                                    <div class="panel-heading">Actual </div>
                                    <div class="panel-body">

                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>Start date</td>
                                                    <td>{{job.actualStartTime}}</td>
                                                </tr>
                                                <tr>
                                                    <td>End date</td>
                                                    <td>{{job.actualEndTimee}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Hours</td>
                                                    <td>
                                                        {{job.actualHours}}
                                                    </td>

                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>


						<div class="row">
							<div class="col-md-2" ng-repeat="image in job.images">
								
								<a id="{{ 'jobPhoto-' + $index }}" href="#" onClick="$('#myModal').modal()" data-target="#myModal" data-dismiss="#myModal" ng-click="loadImages(job.employeeEmpId,image.photoOut, $index)">
									<img data-ng-src="/api/employee/{{job.employeeEmpId}}/checkInOut/{{image.photoOut}}" width="30px" height="30px"/>
								</a>
							</div>
						
						</div>	



                        <!--<div class="titleCon">-->
                            <!--<h5>Actual Start and End</h5>-->
                        <!--</div>-->






						<!-- Start of hidden inputs -->
						<!-- End of hidden inputs -->

						<div class='small-loading hidden' id='FormLoading'>Loading,
							saving data...</div>

						<div class="form-group">
							<div id='report-error' class='report-div error bg-danger'
								style="display: none"></div>
							<div id='report-success' class='report-div success bg-success'
								style="display: none"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 txt-align-rgt">

								<button class="btn btn-default " type="button"
									ui-sref="jobs" id="cancel-button">
									<i class=""></i> Back
								</button>
							</div>
						</div>
					</form>
					<script type="text/javascript">
					$('.form-control').attr('readonly',true)
					</script>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="myModalLabel">Job Photo</h5>
            </div>
            <div class="modal-body">


                <table >
                    <thead>
                    <tr >
                        <th style="text-align: center">START</th>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <th style="text-align: center">STOP</th>
                    </tr>

                    </thead>
                    <tr>
                        <td><br/></td>
                    </tr>
                    <tr>
                        <td>
                            <img id="photoStart" style="width:250px;height:250px" />
                            		
                        </td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <img id="photoStop" style="width:250px;height:250px" />
                        </td>
                    </tr>
                </table>


            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger btn-round" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>
