<div class="crud-form"
	data-unique-hash="a2ad475d60b22954085c657a73309b8f" ng-init="initPage()">
	<div class="container">
		<div class="row">
        	<div class="col-md-12">

                <div class="titleCon">
                    <!--<h3>View Job</h3>-->
                </div>

				<div class="form-container table-container">
					<form ng-show="!success" name="form" role="form" novalidate
						class="form-horizontal">

						<div class="form-group ">
							<label class="col-sm-3 control-label">Title </label>
							<div class="col-sm-5">
								<input id='jobName'
									ng-model="job.title"
									class='form-control'
									name='jobName'
									type='text' value=""
									readonly />

							</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Description </label>
							<div class="col-sm-5">
								<textarea
									ng-model="job.description"
									class='form-control'
									name='jobDesc'
									readonly
									 ></textarea>


							</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Checklist </label>
							<div class="col-sm-5">
								<ul class="listOfActions list-group">

                                		<li class="list-group-item justify-content-between" ng-repeat=" item in job.checklistItems" ng-bind-html-unsafe="item.text">
                                    		{{item.checklistItemName}}
                                		</li>
                            		</ul>


							</div>
						</div>

                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Location </label>
                            <div class="col-sm-5">
								<input
                                    ng-model="job.location"
                                    class='form-control'
                                    name='jobLocation'
                                    readonly>

                            </div>
                        </div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Site </label>
							<div class="col-sm-5">
							<div class="dropdown">
								<input type="text"
									class="form-control"
									name='siteName'
									ng-model="selectedSite"
									readonly />
							</div>
						</div>
						</div>
						<div class="form-group ">
							<label class="col-sm-3 control-label">Employee </label>
							<div class="col-sm-5">
							<div class="dropdown">
								<input type="text"
									class="form-control"
									name='employeeName'
									ng-model="selectedEmployee"
									readonly
									/>

							</div>
						</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Planned Start Date</label>
							<div class="col-sm-5">
								<p class="input-group">
									<input
									ng-model="job.plannedStartTime"
									class='form-control'
									name='plannedStartDate'
									readonly
									/>

								</p>



							</div>
						</div>
						<div class="form-group ">
							<label class="col-sm-3 control-label">Planned End Date</label>
							<div class="col-sm-5">

								<p class="input-group">
									<input
									ng-model="job.plannedEndTime"
									class='form-control'
									name='plannedEndDate'
									readonly
									/>

								</p>

							</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Planned Hours</label>
							<div class="col-sm-5">
								<input
									ng-model="job.plannedHours"
									class='form-control'
									name='plannedHours'
									type="number"
									readonly
									 ></textarea>

							</div>
						</div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Status</label>
							<div class="col-sm-5">
								<input
								required
								name="jobStatus"
								ng-model="job.jobStatus"
								class="form-control searchable-input floatL"
								readonly/>
							</div>
						</div>

                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-5">
                                <input
                                    required
                                    name="jobType"
                                    ng-model="job.jobType"
                                    class="form-control searchable-input floatL"
                                    readonly/>
                            </div>
                        </div>

						<div class="form-group ">
							<label class="col-sm-3 control-label">Comments</label>
							<div class="col-sm-5">
								<textarea
									ng-model="job.comments"
									class='form-control'
									name='jobComments'
									ng-maxlength='2500'
									readonly
									 ></textarea>

		                    </div>

						</div>

                        <!--<div class="titleCon">-->
                            <!--<h5>Actual Start and End</h5>-->
                        <!--</div>-->


                      <div class="row">

                          <div class="col-md-4">

                              <div class="form-group ">
                                  <label class="">Actual Start Date</label>
                                  <div class="">
                                      <p class="input-group">
                                          <input
                                              ng-model="job.actualStartTime"
                                              class='form-control'
                                              name='actualStartDate'

                                              readonly/>

                                      </p>

                                  </div>
                              </div>

                          </div>
                          <div class="col-md-4">

                              <div class="form-group ">
                                  <label class="">Actual End Date</label>
                                  <div class="">
                                      <p class="input-group">
                                          <input
                                              ng-model="job.actualEndTime"
                                              class='form-control'
                                              name='actualEndDate'
                                              readonly />

                                      </p>

                                  </div>
                              </div>

                          </div>
                          <div class="col-md-4">

                              <div class="form-group ">
                                  <label class="">Actual Hours</label>
                                  <div class="">
                                      <input
                                          ng-model="job.actualHours"
                                          class='form-control'
                                          name='actualHours'
                                          type="number"
                                          readonly
                                      ></textarea>

                                  </div>
                              </div>

                          </div>

                      </div>




						<!-- Start of hidden inputs -->
						<!-- End of hidden inputs -->

						<div class='small-loading hidden' id='FormLoading'>Loading,
							saving data...</div>

						<div class="form-group">
							<div id='report-error' class='report-div error bg-danger'
								style="display: none"></div>
							<div id='report-success' class='report-div success bg-success'
								style="display: none"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-7">

								<button class="btn btn-default " type="button"
									ui-sref="jobs" id="cancel-button">
									<i class=""></i> Back
								</button>
							</div>
						</div>
					</form>
					<script type="text/javascript">
					$('.form-control').attr('readonly',true)
					</script>
				</div>
			</div>
		</div>
	</div>

</div>
